[2015-03-02 18:43] vishr opened #1 "Sync pool resetting context"
- [x] Store
- [x] Status code

[2015-03-06 21:17] vishr opened #2 "Serving static file"
Create a mechanism for serving static files

[2015-03-09 05:03] vishr opened #3 "Error out for already registered route"

[2015-03-10 17:16] #2 closed, assigned to nobody

[2015-03-15 01:01] vishr commented on #3
- [ ] Already registered route
- [ ] Params greater than max param

[2015-03-27 13:09] naoina opened #5 "Router cannot find a handler"
I'd try bolt as router, and encountered unexpected behavior to me.

Code:

[code]

Output:

[code]

Is this the intended behavior?

[2015-03-27 15:27] vishr commented on #5
The routes you specified are conflicting, in this case the first one gets picked. If you look up for /alice it will work.

This should be fixed at router level. I will work on that.

PS: Will keep the issue open.

[2015-03-29 20:46] vishr commented on #5
Tracked with #3

[2015-03-29 20:46] #5 closed

[2015-03-31 18:02] tekknolagi opened #9 "Param returning empty string"
I modified the example project a bit, adding this:

[code]

Except `u.Name` is for some reason always the empty string. What am I doing wrong? I've looked at the `context.go` source and it looks like it should work.

[2015-03-31 18:26] vishr commented on #9
From the example, createUser handler doesn't accept param.

[2015-03-31 18:35] tekknolagi commented on #9
I've modified the handlers like so:

[code]

but now get a `Method Not Allowed`. If I comment out the `/users/:id` route, it works.

[2015-03-31 18:36] patrickdappollonio opened #10 "Per-route middlewares"
This should be an enhancement. It is useful for a few of us out here that a router + middleware would allow _per-route middlewares_. Say you have a small admin panel and you want to use the http-auth middleware in just that route, but you don't want to apply it to all the other routes declared, currently, looks like it's not possible without something like [alice](https://justinas.org/alice-painle

[2015-03-31 18:43] vishr commented on #9
Can you send paste the full code and the how you are making the call?

[2015-03-31 18:58] tekknolagi commented on #9
https://gist.github.com/e168fc8fe9be985901fd

[2015-03-31 20:49] saml opened #12 "Reverse url"
Needs a function that behaves as follows:

[code]

[2015-03-31 22:24] vishr commented on #9
[code]
With current implementation, above is registered as conflicting routes, so if you change from :name to :id it should work. Let me know your thoughts.

Conflicting routes are captured in #3

[2015-03-31 22:26] tekknolagi commented on #9
Is it possible to do this without a pretty URL?

[2015-03-31 22:41] vishr commented on #9
Based on this example https://golang.org/pkg/net/url/#example_URL
[code]

[2015-03-31 23:33] tekknolagi commented on #9
@vishr I'm not sure what you are trying to say.

I meant that in most other frameworks, those two routes are distinct.

I unfortunately still get an empty string.

[2015-03-31 23:33] tekknolagi commented on #9
https://gist.github.com/471fb336acb72f02d726

[2015-03-31 23:59] vishr commented on #9
Just realized, it won't work. I will work on fixing the implementation to accommodate this scenario.

[2015-04-01 02:09] tekknolagi commented on #9
Including the duplication of routes?

[2015-04-01 15:06] #9 closed

[2015-04-01 15:07] vishr commented on #9
Duplicate routes like below will be covered in #3
[code]

[2015-04-01 16:35] vishr commented on #10
Thanks for your feedback. I have this in plan but wanted more detailed discussion before implementing.
In the example below, we have a couple of choices ```/admin```:
- inherit all middleware from parent and execute in this order
``` mw1 > mw2 > mw3 > mw4 > h3```
- don't inherit any middleware from parent and executes in this order
``` mw4 > h3 ```
[code]

Let me know your thoughts.

[2015-04-01 18:17] tekknolagi commented on #9
Now I just cannot connect to port 8080 (with the same code).

[2015-04-01 18:31] vishr commented on #9
I tried your original code https://gist.github.com/e168fc8fe9be985901fd

[code]
Did you update Echo to latest?

[2015-04-01 19:53] patrickdappollonio commented on #10
I don't know clearly. What I could see from other routers + middleware combinations is that you first append site-wide routes and then you take care of the special routes. That means `mw1 > mw2 > mw3 > mw4 > h3`.

This produces obviously another problem: what if I don't want to chain a middleware to the stack and then I want to remove it? From what I saw, it's just a matter of be well organized an

[2015-04-01 20:25] zbindenren commented on #12
+1

[2015-04-01 20:43] patrickdappollonio commented on #12
+1! This, while it looks like nothing, could make a huge difference maintaining big websites, and you can be confident that any route change you won't need to go through your entire code base to see what to change...

[2015-04-01 20:45] fundon commented on #12
+1 url path helper

[2015-04-02 04:43] jrobn commented on #10
I would take the later of the two options of not inheriting any middleware from parent. This gives maximum flexibility without (imho) the added complexity of adding `e.Abadon()` to the API. I would also change the method to `e.Group()` instead, since `e.Sub()` implies inherited hierarchy of some kind.

[code]

[2015-04-02 05:14] vishr commented on #10
Thanks for your feedback. I am almost ready with the implementation, just need few more inputs to close on this.

[2015-04-02 05:41] patrickdappollonio commented on #10
I like the idea of `e.Sub()` (as full inheritance) and `e.Group()` (as no inheritance). Adding a boolean just gave me the feel that the result will not be verbose.

[2015-04-02 09:05] fundon opened #13 "Router Match Rules"
The router maps below:

[code]

I think the `/controller/action` path should be matched, but not.

[2015-04-02 09:42] fundon opened #14 "port echo'router to node.js"
Just notify. :)

https://github.com/trekjs/router
And I will refactor trekjs'router system.

Thanks. Great work! :+1:

[2015-04-02 09:52] #14 closed, assigned to nobody

[2015-04-02 21:42] #10 closed

[2015-04-03 02:33] vishr commented on #13
[code]
Above conflicts with other two routes. Router should panic in this case. Captured in #3.

[2015-04-03 02:33] #13 closed

[2015-04-03 03:07] prabirshrestha opened #16 "/users/new and /users/:id doesn't seem to work correctly"
If I have this program. It does navigate to `/user/new` route but says not found for `/users/:id` route.

[code]

For express to work it needs to be in order but for hapijs it can be any order and it will automatically match with the stricter first.

[2015-04-03 15:50] jrobn opened #18 "Have Bind() handle application/x-www-form-urlencoded"
Currently `Bind()` only handles decoding JSON in the body of the request. It would be handy to have this handle url encoded form bodies as well. I patched this for myself real quick using the [gorilla/schema] decoder. Not sure what you think about external dependencies.

[gorilla/schema]: http://www.gorillatoolkit.org/pkg/schema

[2015-04-03 19:19] manucorporat opened #20 "The pool leaks contexts if the handlers panics."
If the handler panics, the context is never released in the pool
https://github.com/labstack/echo/blob/de6644a17bbf0b29cfd63c3220b961ebe6cc1448/router.go#L234

[2015-04-04 07:23] prabirshrestha opened #21 "support for context.Render"
Would be awesome if there was a `Render` function in context similar to rendering `JSON`.

Having this `RendererFunc` interface would allow to use any renderer. Would also be good to have `html/template` as a default Render. This is similar to how `http.Handler and http.HandlerFunc` is implemented.

[code]

gin use `... interface{}` for `data`. Also should we also pass `*http.Request` to `Render`

[2015-04-04 09:34] fundon opened #22 "nested resources and named params problem"
I have the nested resource routes,
below case will be failed:

[code]

Tree
[code]

[2015-04-04 12:12] fundon commented on #22
Maybe nedd a recursion function likes `printTree`

[2015-04-04 14:50] vishr commented on #22
This test doesn't do much, I am working on to add conflicting routes and priority order to get picked up - it's not done yet. I am not sure that would even be possible without giving up on the performance of the router. #16.

[2015-04-04 14:53] fundon commented on #22
I'm looking forward. :+1:

[2015-04-05 09:36] vishr commented on #21
I was planning to use ```c.Render(code int, i interface{})``` to select one of JSON, XML ... based on content negotiation and default to html. Somehow I not able to understand how interface would help here as I think these bind/render are just helper functions. If someone wants to use there own renderer or binder its just so simple to write one, although we should have most of them.

I also plan t

[2015-04-05 21:22] vishr commented on #21
9d44f49ccccc77605f8539a491c0b58bfff0d6e4

[2015-04-05 23:45] #20 closed

[2015-04-06 03:55] prabirshrestha commented on #21
@vishr I'm not sure auto content negotiation would be ideal.

I was sort of expecting Render to render based on the `RendererFunc` (view engine). My above Render and RenderFunc could had been over-enginnered. RenderFunc would be more than enough.

[code]

RenderFunc can then read the template in `view/person.html` and pass the person model. This would be the default Render.

Then anyone can go and

[2015-04-06 04:24] vishr commented on #21
In the above example it looks like e.RenderFunc is global, wouldn't it be a problem if I want to mix and match different renders?

[2015-04-06 04:50] prabirshrestha commented on #21
`e.RenderFunc` is per `echo` instance - `e` rather than global `echo`.

This was sort of what I was thinking of.

[code]

Here is how one could render.

[code]

[2015-04-06 05:07] vishr commented on #21
RenderFunc will be be serving all kind of formats. Now I was thinking how do we identify JSON or XML in the RenderFunc.

[2015-04-06 05:18] prabirshrestha commented on #21
That is where the `req *http.Request` parameter comes in. The `RenderFunc` can look at the headers and do the negotiation. But I think this is a bad idea.

I was thinking that `RenderFunc` should only render html style contents and not json, xml, protobuf. That should be a different api. Most likely `NegotiateFunc` and `c.Negotiate`

The reason is the difference in api. Notice that render takes th

[2015-04-06 05:21] prabirshrestha commented on #21
Also if you want to mix `Render` and `Negotiate` I think NancyFx does it in an interesting way. This allows the devs to switch models based on the content negotiation. (Need to find an idiomatic way to do this in go)

Here is an example in c#.

[code]

[2015-04-06 05:48] vishr commented on #21
Thinking out loud: In ```c.Render(200, "doc.md", &model{})``` or ```c.Render(200, "doc.html", &model{})``` since we already know that its html or md, can't we just do ```c.Markdown()``` or ```c.HTML()``` without hitting the function?

[2015-04-06 17:10] benpate commented on #16
+1 Looking for a fast router that solves this!

[2015-04-06 19:27] fundon commented on #22
Do you have plain to fix this?

[2015-04-06 19:57] vishr commented on #22
Deferred it until few more releases - it's getting complicated.

[2015-04-06 20:22] fundon commented on #22
Okay, I also try to fix this in my Node version. There are some cases http://guides.rubyonrails.org/routing.html.
I think we should support them.

[2015-04-06 20:27] vishr commented on #22
Sure, thanks.

[2015-04-06 20:29] prabirshrestha commented on #21
For `c.HTML` I expect a **html text** something like `<div>Prabir Shrestha</div>`.

[code]

But for `c.Render` I expect a **template text** something like `<div>{{firstName}} {{lastName}}</div>`

[code]

And it is the responsibitliy of the `RenderFunc` to convert the template and the model to html text that could be used by `c.HTML()`.

Also I don't think having `c.Markdown()` is good idea to put

[2015-04-07 00:31] vishr commented on #21
So primarily this render function is for templates and html. Can you think of any other types? I think ```c.Render``` implies any kind of data be it JSON, XML, HTML or any other type. Do you think we shoujld call it ```TemplateFunc``` and ```c.Template```? Let me know your thoughts and we will discuss it further.

[2015-04-07 03:12] prabirshrestha commented on #21
Yes. It is only for templates and html.

Render is a pretty common terminology in the MVC/web world. So I think it suits better. `c.Template` sounds awkward for me.

Samples for `c.Render`

* Expressjs uses `render` function. http://expressjs.com/4x/api.html#app.render
* Ruby on Rails uses `render` http://guides.rubyonrails.org/layouts_and_rendering.html
* Backbone http://backbonejs.org/#View-rend

[2015-04-07 03:27] vishr commented on #21
Thanks for the detailed description and links. I will have a look at them and come up with an API to discuss further.

[2015-04-07 15:02] dashaus commented on #12
+1

[2015-04-07 15:04] vishr commented on #12
I would like to know some practical example of this case. Please point me to some frameworks API supporting it.

[2015-04-07 15:17] saml commented on #12
One practical use case is when I want to write a RESTful API with hyperlinks.
For example, using [HAL](http://stateless.co/hal_specification.html) ,  I would want resource representation to include various links to other states client can go from here.

Of course I can write methods for calculating urls for various resources. But it involves duplicate work. If I change route, I need to change my r

[2015-04-07 15:19] patrickdappollonio commented on #12
Here's another framework who has this functionality: http://laravel.com/docs/5.0/routing#named-routes

[2015-04-07 18:49] vanng822 commented on #12
It is convenient to bind this kind of method to request/router but there is a drawback when you have small applications/services which need those urls. We had some extra implement/workaround to make thing work. I tried to fix it just providing a route manager https://github.com/vanng822/r2router/blob/master/example/routemanager.go
Maybe something?

[2015-04-07 20:03] vishr commented on #10
https://github.com/labstack/echo/blob/master/echo.go#L95

[2015-04-07 20:13] vishr commented on #21
@prabirshrestha This is what I have thought so far. What do you think?
[code]

[code]

[2015-04-07 21:04] fundon commented on #22
I think we can convert any `:param` to `:$1` first, below like this:
[code]
Convert the original path to format path and store the param keys.

[2015-04-07 22:47] prabirshrestha commented on #21
Looks awesome.

Not related to this but would be awesome to have. Most likely a different issue. Since we now have a bunch of functions like `HTML`, `JSON` and `render` returning error. It would be awesome to support `func serveXYZ(w http.ResponseWriter, r *http.Request) error { ... }` in `wraphH`.

Source: https://sourcegraph.com/blog/google-io-2014-building-sourcegraph-a-large-scale-code-search-

[2015-04-08 00:25] prabirshrestha commented on #21
`RenderFunc` seems to be private in `Echo`.

[code]

[2015-04-08 00:34] vishr commented on #21
12bd049b0d624ab6cffc222dc43ab31b90e5db16

[2015-04-08 21:01] dlsniper opened #23 "Decouple router from context usage"
Hi,

I'd like to know if there's a way to have the router decoupled from the context.
My use case is that I'd like to use the routing part but without all the other context stuff as I have a custom context already built.
What do you think?

[2015-04-09 05:20] vishr commented on #22
@fundon This is an interesting point, I never noticed it. I will implement it at next opportunity.

[2015-04-09 17:00] mDomingues opened #24 "Run middleware from middleware chain and context access"
Hi guys,

I being use Echo a while and there are two things to discuss with you, I guess it would be a nice have.
1) If I 'Use' a middleware of mine, is it possible to Run that Middleware for a given route ?
I mean:
...
echo.Use(middlewareA)
echo.Use(middlewareB)
...
echo.Get("/home"), func(c *echo.Context) {
		echo.Execute(middlewareA)
})

echo.Get("/root"), func(c *echo.Context) {
		echo.Execute

[2015-04-09 18:10] vishr commented on #23
Do you mean something like below?
[code]

[2015-04-09 19:15] fundon commented on #22
@vishr I implement a version, and haven't been optimized.

See
* https://github.com/trekjs/router/blob/refoctor/src/router.js
* https://travis-ci.org/trekjs/router/builds/57849152

[2015-04-09 19:44] vishr commented on #21
@prabirshrestha I am planning to change RenderFunc to Renderer interface{} it's more idiomatic to Go.
[code]
Then echo will have a property like echo.Renderer = `your renderer`

[2015-04-09 19:50] vishr commented on #24
1) You can do it using groups. There are two flavors of echo.Group - check it out in example/main.go

2) I am trying to understand you question

[2015-04-09 21:03] prabirshrestha commented on #21
LGTM

[2015-04-09 21:37] markbates opened #25 "Parent middleware is not being applied to sub-groups"
Middleware that gets added to a parent route is not being applied to any of the groups created off that route.

Here is a reproducible example:

[code]

If you were to run that code and the `curl http://localhost:3000/group/search` you will see that the logging middleware was never triggered.

To get the desire effect one has to change the application to explicitly add the desired middleware to th

[2015-04-09 21:49] vishr commented on #25
It's working for me, can you check if you have the latest code? Earlier Group implementation was like that.

[2015-04-09 21:52] markbates commented on #25
That was it. I pulled the latest code down earlier this week, so it must've been fixed between then and now. Sorry about the false alarm. :)

[2015-04-09 21:52] #25 closed

[2015-04-09 21:53] vishr commented on #25
No problem.

[2015-04-10 08:50] mDomingues commented on #24
Thank you @vishr.
1) I'll check it up!
2) its all about accessing Context through Echo instance, i.e., echo.Context. ... I think it could be helpful to have this.

[2015-04-10 15:31] mDomingues opened #26 "Catch route with regex"
This will allow catching a bad route using regex for situations where route is bad written.
Main route: "/home"
Bad route: "/hhome"

If I could declare a route e.Get("/* ") or e.Get(" [a-zA-Z0-9]+ ") I could work over the response Header.

Many thanks

[2015-04-10 18:19] Ralvke opened #27 "I can use echo in Google Cloud Platform?"
I try this, but routes not work (response 404 page)

[2015-04-10 18:24] vishr commented on #27
Can you provide more details?

[2015-04-10 18:27] Ralvke commented on #27
Code:
[code]

After run this project at Cloud Platform all handlers response 404 page.

[2015-04-10 18:43] vishr commented on #27
I don't have a setup for Google App Engine. Don't you have to put ```http.Handle("/", Server)``` inside init function?

[2015-04-10 18:48] Ralvke commented on #27
No changes
Have to abandon Google App Engine

Thanks

[2015-04-10 19:47] vishr commented on #27
In your code it looks like you have hijacked root route. Try code below, it works for me.

[code]

[2015-04-10 20:00] Ralvke commented on #27
Thanks. This works
Close issue

[2015-04-10 20:00] #27 closed

[2015-04-11 09:27] fundon commented on #22
@vishr I refactor the `find()` method. See https://github.com/trekjs/router/blob/refoctor/src/router.js#L281
Improve performance.

I found the `has` key is unused in `find` method.

[2015-04-11 10:50] vishr commented on #22
@fundon Great!
Has property gives us node information without looking up into findEdge function. Are you talking about improvement in the mentioned cases in the issue or in general - the current implementation of the router?

Also can you elaborate on what all features you have your implemented so far in your router?

[2015-04-11 11:23] fundon commented on #22
Supports features:
* Convert param key to special key, likes: `/:username/:repo/issues/:id` => `/:$0/:$1/issues/:$2`
* named param multi aliases, likes: `/users/:id` , `/users/:userId/photos/:id` => `/users/:$0`, `/users/:$0/photos/:$1`

Full cases https://github.com/trekjs/router/blob/master/test/router.test.js

[2015-04-11 11:28] vishr commented on #22
@fundon Excellent, I never realized it was just a step away. I would like to incorporate these changes into the router - I already did some. How do you compare your router to other nodejs routers? Have you done any comparison?

[2015-04-11 11:31] fundon commented on #22
Compare with below:
* path-to-regexp
* route-recognizer
* route-trie
* routington

https://github.com/trekjs/router/blob/master/benchmarks/index.js

[2015-04-11 11:32] fundon commented on #22
@vishr See this https://travis-ci.org/trekjs/router#L710

[2015-04-11 11:39] vishr commented on #22
Cool, you should publish your results in nodejs forum, https://www.reddit.com/r/node etc.

[2015-04-11 11:57] fundon commented on #22
Yes, I should. haha
Looking forward to your implementation in Go.

[2015-04-11 12:00] fundon commented on #22
BTW, I do not use `has` key in `find` method, maybe is not needed。

[2015-04-11 12:01] vishr commented on #22
Yup, I am gonna take some time and refactor the router based on our discussion - that will cover the cleanup and other goodies ;)

[2015-04-11 15:35] fundon commented on #22
@vishr I fixed a bug.

You can see this change via: https://github.com/trekjs/router/compare/d702c01826771302156a5e949bdc66a75992d431...master?diff=unified&name=master

[2015-04-11 17:13] vishr commented on #16
Conflicting routes work in order static > param > catch-all
4c8797f09eea6744eaf1332894b35405baad9fe5

[2015-04-11 17:13] #16 closed

[2015-04-11 17:14] vishr commented on #3
Fixed in #16 16

[2015-04-11 17:14] #3 closed

[2015-04-11 17:15] vishr commented on #22
#16

[2015-04-11 17:28] fundon commented on #22
@vishr

The bug is below:

[code]
/users/:id
/users/:id/edit

r.find('/users') // will match `/users/:id`.
[code]

[2015-04-11 17:39] vishr commented on #22
I will look into it. Can you try the below routes?
[code]

[2015-04-11 17:49] fundon commented on #22
Yes, it will match `/users/:id`.

[2015-04-11 17:57] vishr commented on #22
Wouldn't it go to new? as n comes first in the search?

[2015-04-11 18:23] fundon commented on #22
Should match `/users/:id`.

[2015-04-11 19:02] prabirshrestha commented on #16
Tried it out. It works. Thanks.

[2015-04-11 20:11] vishr commented on #22
@fundon I tried below code, it returns empty.
[code]

[2015-04-11 20:24] fundon commented on #22
Yes, it's a bug. I'm thinking. How to fix this?

[2015-04-11 20:25] vishr commented on #22
I need some time to fix it.

[2015-04-11 20:26] fundon commented on #22
I'm too. Good catch! Hah

[2015-04-12 20:26] vishr opened #29 "Create website with documentation"

[2015-04-12 20:56] fundon commented on #22
Wow, nice! :+1:

[2015-04-12 22:33] fundon commented on #22
I tried the latest Echo, I found a small bug.

[code]

[2015-04-13 13:07] pmcgrath opened #30 "context reset"
Should the context.reset method also reset the context's params and store fields so we do not have data from servicing a previous http request ?

Should this data be available when servicing the current request and could it not contain data from a previous request ?

I can create a PR, just want to clarify before doing so

See https://github.com/labstack/echo/blob/d97cb44d82607ae0db8cc45cdd8fe2bb7

[2015-04-13 20:15] vishr commented on #30
Thanks for your feedback. It's already captured in #1. If you think any additional fields need to reset please comment in #1.

[2015-04-13 20:15] #30 closed

[2015-04-15 18:37] jbub opened #31 "Create changelog or history file"
It would be nice if we could see the past versions and changes in time :) Great job on the project :) Thank you.

[2015-04-15 18:40] vishr commented on #31
Thanks for your feedback. I will incorporate it, at the next opportunity.

[2015-04-16 17:33] swenson opened #32 "`*` doesn't match an empty string"
I would expect `*` in a route to match any string, including the empty string. It doesn't, though:

[code]

Prints `<nil>, <nil>`.

[2015-04-18 04:12] prabirshrestha commented on #21
@vishr Seems like you removed the status code. Can we have it back? Useful when rendering errors.

[code]

Also if I pass status code 0 I think it shouldn't write the head. Same for other methods like `JSON` that writes.

[code]

[2015-04-18 23:48] vishr commented on #21
@prabirshrestha I have put it back - I completely missed on rendering errors. Verifying status code is nice but I then I think we should be doing it for all invalid codes - which is a lot of work, I believe, lets assume users are adults :wink:

I looked into the URL you posted about handlers returning errors and I liked the idea. Now the default HandlerFunc returns error. 381fbae

[2015-04-18 23:48] #21 closed

[2015-04-18 23:52] vishr commented on #31
I will be using GitHub releases to maintain the change-log.

[2015-04-18 23:52] #31 closed

[2015-04-19 10:50] #29 closed

[2015-04-20 19:25] vishr commented on #22
@fundon How have you implemented param name alias?
Thanks

[2015-04-20 19:30] fundon commented on #22
@vishr Yes, I implemented it.

https://github.com/trekjs/router/blob/master/src/router.js#L87-L121

[2015-04-21 20:58] wunki opened #33 "Custom context supplied with a method"
Hi,

I want to supply some application wide context to my echo handlers by making my handlers a method on `AppContext`. A struct containing some pointers to storage engines etc. As an example:

[code]
Now, the strange thing is that if I place this method in my `main.go`, everything works fine. However, as soon as I place it in a separate file (same package) it gives me the error `panic: echo: unkn

[2015-04-21 21:36] vishr commented on #33
Can you share some code, so I can reproduce the issue?

[2015-04-22 05:12] #12 closed

[2015-04-22 05:31] vishr commented on #12
Let me know how it works for you.

[2015-04-22 10:54] wunki commented on #33
I wrote a small demo app in Go and the problem was not there. So, can't reproduce. Must be some lib files which got missed up. Sorry for wasting your time.

[2015-04-22 10:54] #33 closed

[2015-04-24 14:45] #22 closed

[2015-04-24 14:45] vishr commented on #22
Thanks @fundon

[2015-04-24 20:56] vishr commented on #24
@mDomingues I would like you to explain me in detail as I am not able to understand what you are trying to do. Echo context is created for each request.

Do you want to use echo.Context in external handlers? echo.Context is only available if you use `echo.HandlerFunc` but Echo lets you use external middleware in the request chain.

[2015-04-24 22:29] newoga commented on #12
@vishr, Just submitted a pull request with a couple more tests. It seems like this has some issues when the handlers are paired with a group. Was the API meant to work this way?

[2015-04-24 22:42] newoga commented on #12
Also, a couple of other suggestions...

1. Maybe rather than the `URI()` method accepting a `...string`, how about it accepts `...interface{}`

This way we can pass any type of value and determine how it should become a string. For example, we should be able to determine if the interface that was passes implements the `Stringer` interface. That way if you pass a `UUID` object to to the reverse rou

[2015-04-24 23:19] newoga commented on #12
Okay, I closed my original pull request and created a new one #37, this one actually fixes the issue when you call the `URI()` method on the right instance of `*Echo`.

That being said, I think it would be useful to maintain some kind of link between instances of `*Echo` and child `*Echo` when created by calling `Group()`. Not quite sure what the right API would be for this, but it would be nice i

[2015-04-25 20:38] pindamonhangaba opened #38 "Parameters mixed up between routes"
Looks like the parameters and getting mixed up when two routes share the same url, but not the same parameters.

[...]
e.Get("/list", test)
e.Get("/list/:limit", test)
[...]
func test(c *echo.Context) {
	fmt.Println(c.Param("limit"))
}

`/list` -> prints nothing
`/list/100` -> prints "100"
`/list` -> prints "100"

Looks like the limit parameter persists when it shouldn't.

[2015-04-26 05:32] #38 closed

[2015-04-26 19:44] #32 closed

[2015-04-26 22:04] swenson commented on #32
Thanks!

[2015-04-27 03:14] y1 opened #42 "Installation giving error"
go version go1.1.2 linux/386

Install by `go get github.com/labstack/echo` will give below error

    # github.com/labstack/echo
    /root/go/src/github.com/labstack/echo/context.go:17: invalid recursive type Echo
    /root/go/src/github.com/labstack/echo/echo.go:30: undefined: sync.Pool
    /root/go/src/github.com/labstack/echo/router.go:305: r.echo.pool undefined (type *Echo has no field or meth

[2015-04-27 03:44] vishr commented on #42
You Go is old, Echo requires 1.4.x.

[2015-04-27 07:55] y1 commented on #42
Thank you very much

[2015-04-27 07:55] #42 closed

[2015-04-27 14:47] vishr commented on #24
Closing for now.

[2015-04-27 14:47] #24 closed

[2015-04-27 15:02] vishr commented on #23
Inactivity closing for now.

[2015-04-27 15:02] #23 closed

[2015-04-28 13:16] y1 opened #43 "Example of template sets?"
I've tried to load template sets based on documentation but still have no idea how.
Below is example using plain `Go`. I'm trying to make this using `echo` and output on browser.

`server.go`:

    package main

    import (
    	"fmt"
    	"os"
    	"text/template"
    )

    type Person struct {
    	Name, Age string
    }

    func main() {

    	p := Person{Name: "Mary", Age: "35"} //define an

[2015-04-28 14:09] vishr commented on #43
You can look at this [examples/web](https://github.com/labstack/echo/blob/master/examples/web). It should be pretty simple you just need to set `echo.Renderer(r Renderer)` where Renderer is an interface defined  here https://github.com/labstack/echo/blob/master/echo.go#L42

[2015-04-29 04:25] tve opened #44 "runtime error: index out of range in router Find"
Test code:
[code]

Failure demo:
[code]

[2015-04-29 06:12] #44 closed

[2015-04-29 08:52] y1 commented on #43
I got it.
Thanks a lot

[2015-04-29 08:52] #43 closed

[2015-04-30 21:42] vishr commented on #26
Current implementation doesn't support regex but you can declare a route like `/members/*` which will match anything starting with `/members/`

[2015-04-30 21:42] #26 closed

[2015-04-30 21:51] CaptainCodeman opened #46 "Static handler broken"
`e.Static()` seems to have broken. With a very simple setup to serve an index page and script it no longer works and returns 'not found' for requests that should be served by the static handler. If the e.Index method is commented out then it works so some interaction with how the routes are built up or searched (?)

    e.Index("public/index.html")
    e.Static("/scripts", "public/scripts")

[2015-05-01 14:33] CaptainCodeman commented on #46
Digging into this a little more, it seems _any_ route using the 'match any' wildcard has stopped working (e.g. "/somepath/*param"). The Static handler adds the "/*" part to the route.

[2015-05-01 14:48] vishr commented on #46
Did you try with the latest code? I tried to fix it.

[2015-05-01 17:44] tekknolagi commented on #9
I thought I did update, but I could be wrong. How should I go about updating?

[2015-05-01 17:49] vishr commented on #9
http://labstack.github.io/echo/guide/#installation

[2015-05-01 17:54] tekknolagi commented on #9
Alright, I've upgraded. With the same code, though, I get an empty string when supplying data like so:

`curl -X POST --data "{'name':'maxwell123'}" localhost:8081/users`

Perhaps I am doing this wrong.

[2015-05-01 17:58] CaptainCodeman commented on #46
Looks like that fixed it - many thanks !! :thumbsup:

Not sure if this is a related issue or I'm just using it wrong but I noticed that the following works ok:

    api.Get("/folders", folders)
    api.Get("/folders/*", folder)

... but if the first path has a trailing slash then it causes an error, i.e.

    api.Get("/folders/", folders)
    api.Get("/folders/*", folder)

[code]

I'm totally fine

[2015-05-01 18:05] CaptainCodeman commented on #46
BTW: The reason for having the trailing slash is simply convenience as it's the angular default. so it saves having to add `$resourceProvider.defaults.stripTrailingSlashes = true;` in the client code.

[2015-05-01 18:31] vishr commented on #46
I am aware of the problem and that's the reason issue is still opened. Thanks for your input, I will work on it at next opportunity.

[2015-05-01 19:17] CaptainCodeman commented on #46
Thanks @vishr - really love this package (after trying *every* golang web framework, LOL) so let me know whenever you need me to test anything out.

I also discovered that the `NotFoundHandler` doesn't seem to be working right too - the overridden handler never gets called (returns '404 page not found' no matter what) and if the request _doesn't_ contain a '/' then it causes a panic.

[2015-05-01 19:26] vishr commented on #46
@CaptainCodeman Cool

[2015-05-03 18:21] redaready opened #48 "caddy support?"
https://github.com/mholt/caddy

[2015-05-04 20:17] CaptainCodeman commented on #48
Maybe more of an explanation of what form of "support" you are referring to?

My first impression of Caddy is that is't something along the lines of NGINX and would sit in front of your website serving static files and proxying your Go app (?)

Does a Go app need to be integrated into it somehow?

[2015-05-04 20:27] vishr commented on #46
fcbdaae62028bac97d00ce6c966ab603afa44072
@CaptainCodeman Fixed routes you mentioned in the example. Custom not found handler test passes. FYI http://labstack.github.io/echo/guide/#customization. I am still working on providing an option to strip trailing slash.

[2015-05-04 20:54] CaptainCodeman commented on #46
Thanks @vishr - I'll try it out and report back

[2015-05-04 21:27] vishr commented on #9
@tekknolagi I see in your curl command you are not sending Content-Type header, context.Bind currently only supports JSON. I am not sure but looks like JSON also needs to be in double quotes. Below is the working example

[code]

[code]

[2015-05-04 21:43] tekknolagi commented on #9
Ah, okay. This looks like it should work now. Thank you!

[2015-05-04 21:59] CaptainCodeman commented on #46
All seems to be working great :thumbsup:

[2015-05-04 21:59] #46 closed

[2015-05-05 02:30] tve commented on #44
I pulled the latest code (ace1453931ddebce5b8f5ab8e0472599687b2e5f) and while the first error case is fixed, the second still produces the same panic:
[code]

[2015-05-05 02:36] tve opened #49 "context doesn't capture "Group" params"
The request params that are part of the Group prefix are not captured correctly. Here's a test program:
[code]
and a simple test:
[code]
You can see that the 'acct' param is empty, but in the context the value of the param was captured but not the name. Am I doing something wrong?

[2015-05-05 02:47] vishr commented on #44
@tve Adding path parameter in a group will have unpredictable results. Change the group path to `/acct/a` and it will work.

[2015-05-05 02:52] vishr commented on #49
@tve Let me think over it, I never thought this way ;)

[2015-05-05 02:53] vishr commented on #44
#49

[2015-05-05 04:45] tve commented on #49
Cool, thanks for fixing!
You still have a problem with a trailing slash:
[code]

[2015-05-05 11:22] olliephillips opened #50 "Middleware documentation/examples"
Any documentation/advice on creating own middleware for Echo? There are things that I see to be different to other frameworks - no need to pass control to the next middleware in the chain for one?

I'm writing a simple basicauth middleware - it partially works but returns and flow passes to the route handler's function, so I get double output:-  a 401 then the route's func handler response. How sh

[2015-05-06 05:16] vishr commented on #50
The project is pretty new and I haven't got time to write all the documentation, but I am working on it.

You can do something like below, with this all HTTP error handling is centralized http://labstack.github.io/echo/guide/#customization.

[code]

[2015-05-06 10:04] olliephillips commented on #50
Hi, really appreciate you taking the time to reply. Thank you for the steer and commit
I had this:
[code]
which I've been able to refactor to this using the new echo.HTTPError return , which feels much cleaner

[code]

Thanks again. Hope your Echo project is a big success!

[2015-05-06 10:04] #50 closed

[2015-05-06 16:17] matrika commented on #50
😊

On Wednesday, May 6, 2015, Ollie Phillips <notifications@github.com> wrote:

[2015-05-08 17:58] raphael opened #51 "Help testing middleware"
echo currently makes it hard/impossible to initialize a context outside of an actual HTTP request handling (the "response" field is private for example). This makes testing echo middleware tricky as one cannot just mock a context. It would be good if echo exposed a way to create arbitrary contexts. To make things more concrete here is an example of what I'm trying to achieve:
[code]

[2015-05-08 18:21] #51 closed

[2015-05-08 18:24] vishr commented on #51
Let me know if this helps.

[2015-05-08 18:26] raphael commented on #51
Thanks for the quick response! Something else that doesn't work though is then trying to use `c.Set()` and `c.Get()` in tests as it tries to write to a nil hashmap.

[2015-05-08 18:29] vishr commented on #51
I think providing a `NewContext` function should solve this?

[2015-05-08 18:46] raphael commented on #51
Yup that would be perfect!

[2015-05-08 19:15] tve commented on #49
Can you ack this issue or do I need to fork & fix myself? Thanks!

[2015-05-08 20:00] vishr commented on #49
I tried to fix it but it opened a can of worms. I am gonna give it a shot over the weekend, just hang on.

[2015-05-08 20:44] vishr commented on #51
Please verify b416efc71cf9d0fa15846a658164debcae456a0b

[2015-05-08 21:28] raphael commented on #51
Thank you this helps. One last thing that is still not possible is to specify the response status and size because they are private fields of the Response struct. I'm using these fields in the middleware so being able to set them would help testing.

[2015-05-08 21:46] vishr commented on #51
Check https://github.com/labstack/echo/blob/master/context_test.go#L26. WriteHeader and Writer should set status and size on response.

[2015-05-08 21:54] raphael commented on #51
Yup calling `c.Response.Write()` worked, thanks! in case you're curious: https://github.com/rightscale/go_middleware

[2015-05-08 22:06] vishr commented on #51
Great!

[2015-05-10 05:14] vishr commented on #49
c58ec742a98c83724811d0846db175dc9c905a50

[2015-05-10 05:14] #49 closed

[2015-05-10 15:13] mholt commented on #48
Hi - I happened upon this issue as I was looking at potential routers for a new Caddy feature.

I also fail to see how echo could support Caddy - if you could elaborate I'd be interested to know!

[2015-05-10 16:10] vishr commented on #48
@mholt Just to be more specific, do you want to know how you can use just the router?

[2015-05-10 16:48] mholt commented on #48
@vishr Sorry - no, I know how to use echo :+1: I was asking for more details about @redaready's original question, just in case I could help somehow. My only guess about the original question is maybe this: Caddy has a suite of middleware that use the function signature `ServeHTTP(http.ResponseWriter, *http.Request) (int, error)` which is not currently supported by echo. However, at this point, I

[2015-05-10 17:02] vishr commented on #48
@mholt Got it, thanks!

[2015-05-12 17:24] tmaiaroto opened #52 "Allow log warning to be controlled for Response.committed"
https://github.com/labstack/echo/blob/04cdefb2a6dc7f400d4bb77ac5690a768a7a65a1/response.go#L24

I'm trying to stream a JSON response, which works just fine but I get warning messages logged.

For example:
[code]

If there was a way to set something to ignore warnings or disable logging or something that'd be great. Thanks!

[2015-05-12 20:19] vishr commented on #52
Wouldn't writing directly to `Response.Writer` help? Regardless, I have a plan to put log level control as part of configuration, so you may benefit from it later.

[2015-05-12 21:19] ivoviz opened #53 "NotFoundHandler: panic: echo: unknown handler"
The following code fails with `panic: echo: unknown handler` line 16: `e.NotFoundHandler(index)`

	package main

	import (
		"net/http"
		"github.com/labstack/echo"
	)

	func index(c *echo.Context) {
		c.HTML(http.StatusOK, "<html></html>")
	}

	func main() {
		e := echo.New()
		e.NotFoundHandler(index)
		e.Run(":1234")
	}

I have an older version of echo (54d2f7236826e28baf1d41db77dfc162e27246cf)

[2015-05-12 21:28] vishr commented on #53
It's not a bug, support for `fun(*echo.Context)` was dropped lately to encourage use of `echo.HandlerFunc` which focuses on centralized HTTP error handling using `echo.HTTPErrorHandler`

[2015-05-12 21:32] tmaiaroto commented on #52
I couldn't seem to get it to flush then. To clarify, you mean if I do, ```c.Response.Writer.Write(bytes)`` ??

[2015-05-12 21:41] vishr commented on #52
Yes, `c.Response.Writer` is http.ResponseWriter so you should be able to do anything as you will do with `http.HandlerFunc`. I am also open to accept Streaming API design/ideas and incorporate in the library.

[2015-05-12 21:44] ivoviz commented on #53
Even if I use `echo.HandlerFunc` it throws the exact same error for me.

[2015-05-12 21:51] vishr commented on #53
If you get the latest, it should work. `echo.HandlerFunc` was refactored in https://github.com/labstack/echo/releases/tag/v0.0.12

[2015-05-12 21:51] tmaiaroto commented on #52
Yes, I thought I followed that back and saw the struct used ```http.ResponseWriter```. Just making sure. Strange I can't get it to Flush() then when writing.

I used to use go-json-rest and I'm basically using that as a guide. https://github.com/ant0ine/go-json-rest#streaming

I have no real ideas for a streaming API, though it would be much appreciated. I stopped using go-json-rest because I want

[2015-05-12 22:19] ivoviz commented on #53
I must be dumb, but even with that release it doesn't work. :)

I've checked `echo_test.go` and I saw it uses `func(c *Context) *HTTPError` for `NotFoundHandler`. Changing the code to

    func index(c *echo.Context) *echo.HTTPError {
        return c.HTML(http.StatusOK, "<html></html>")
    }

makes it work, but I'm just not sure anymore if this is the right way.

[2015-05-12 22:29] vishr commented on #53
This is the right way, by doing so you don't have to deal with errors as it's taken care by `echo.HTTPErrorHandler` (which can be customized) - all you do is return them as `echo.*HTTPError`. For concrete examples, you can explore examples directory in the repository.

[2015-05-12 22:30] ivoviz commented on #53
Okay, thanks!

[2015-05-12 22:30] #53 closed

[2015-05-13 02:35] vishr commented on #52
@tmaiaroto Appreciate your feedback and interest. Can you provide me practical example where you would like to stream JSON response to the client, I just want to get an idea about streaming API.

[2015-05-13 03:26] tmaiaroto commented on #52
I'm just building an API where I'm streaming some messages out is all. There's always paging of course for many tasks, but streams make better sense for many of the analytics I do. Think about aggregate data in smaller chunks to manage performance. Or client applications for real-time graphing, messaging, etc.

On the front-end, I'll use things like Oboe.js for working with the data that's coming

[2015-05-13 06:12] vishr commented on #52
Thank you for providing detailed information. May be for now you can live with the warning message and later I will put an option to disable logs. I will also work on designing a streaming API - I just want to make sure this decision takes care HTTP2 spec as well. I will keep this issue open for that.

[2015-05-13 19:04] #18 closed

[2015-05-13 22:43] vishr opened #55 "Serving static files also list directory when opened at root."

[2015-05-14 06:12] vishr commented on #46
18dcc4bcca34db7a302f73647c007153e611d7be

[2015-05-14 06:12] vishr commented on #49
18dcc4bcca34db7a302f73647c007153e611d7be

[2015-05-14 09:42] pavlik opened #57 "Mistake in Response section of guide"
Serving favicon
echo.Favicon(file string) serves default favicon - GET /favicon.ico. For example, code below serves favicon from file public/favicon.ico.

**e.Index("public/favicon.ico")**
but need **e.Favicon("public/favicon.ico")**

[2015-05-14 15:24] #57 closed

[2015-05-14 17:36] vishr opened #58 "Support for streaming API"
#52

[2015-05-14 20:36] mDomingues opened #59 "CORS and concurrency"
Hi guys,
I've been using echo for a while and its awesome. Congratz. :+1:

My bundle has a front-end application that requests data from an API with echo. When the load of requests is too high, sometimes I receive a HTTP 502 error due a >> No 'Access-Control-Allow-Origin' header is present on the requested resource. <<
I use rs/cors middleware as found in the docs.

The headers are well-formed as

[2015-05-15 15:15] #48 closed

[2015-05-17 08:05] alehano opened #63 "Panic-Recover Middleware"
Hi. How can I write Panic-Recover Middleware? 500 error in case of panic.

[2015-05-17 08:09] #63 closed

[2015-05-17 08:10] alehano commented on #63
I did it, but it would be useful to include that mw to a package by default.

[2015-05-18 05:59] vishr commented on #63
https://github.com/labstack/echo/pull/64

[2015-05-18 11:55] Nomon opened #65 "Middleware chain no longer traversed if no route found"
73fa05f826ca05535ee986503e6807d843684617 (https://github.com/labstack/echo/blob/master/echo.go#L323) makes ServeHTTP skip all middlewares if no matching route is found.
This breaks among other things logging of 404 requests with logger middleware, also other middlewares we use like CORS/preflight for options requests do no longer work as we have no matching Options routes. Is this intended (and fu

[2015-05-18 15:34] vishr commented on #65
It's a bug.

[2015-05-18 18:36] #65 closed

[2015-05-18 19:12] tve opened #67 "why HTTPError as return from HandlerFunc?"
Why did you make the breaking change to require HandlerFunc to return *HTTPError instead of error? Why not make HTTPError implement the Error() method and then it can be passed as error? This way a handler could either return a plain error or an HTTPError.

[2015-05-18 19:43] vishr commented on #67
You can read more here http://blog.golang.org/error-handling-and-go. In short, I wanted to have a proper error type as convention instead of a generic error. The error object can still be set inside `HTTPError` struct and checked against in `HTTPErrorHandler`.

[2015-05-18 19:50] mschewe opened #68 "Echo response that implements http.Hijack"
I could just copy that issue: https://github.com/go-martini/martini/issues/45

It's almost the same problem. I am new to go and working on my first small project. I am now almost done and wanted to add [websockets](https://github.com/gorilla/websocket).

But I ran into this error ```websocket: response does not implement http.Hijacker```.
I guess I could just rewrite some parts and use Martini or

[2015-05-18 20:02] tve commented on #67
Isn't the blog saying exactly what I'm saying, which is to leave `error` in the signature and pass a more specific type when appropriate? Being able to return err in handlers was one of the niceties of echo IMHO and now it becomes a cumbersome `&echo.HttpError{Code:500, Message: ..., C: c}` thing. If `HTTPError` implemented Error() then it could be passed as `error` but it wouldn't be required whe

[2015-05-18 20:35] vishr commented on #67
The above statement holds true in this case as well. I am not against anything it's just that I wanted returning `HTTPError` to be the convention. You can even just return `&HTTPError{}`.

[2015-05-18 20:35] #67 closed

[2015-05-18 21:12] tve commented on #67
Not sure what you're quoting. I guess I get to fork your repo then. What I proposed still would allow you to use HTTPError everywhere you want but doesn't force it. Too bad.

[2015-05-18 21:19] vishr commented on #67
@tve It's from the same blog post. As caller of the handlers is ServeHTTP which should only be understanding `HTTPError` gives it more meaning. Also, project is already using *HTTPError from past couple of weeks and changing now will definitely break many people's code.

[2015-05-18 21:22] vishr commented on #68
Can you share the code?

[2015-05-18 22:22] mschewe commented on #68
I have created a minimal example that reproduces the problem: https://gist.github.com/mschewe/47b08668e6b81f3d4b4f

[2015-05-19 00:28] vishr commented on #68
Please verify - https://github.com/labstack/echo/pull/70

PS: I have a plan to add web socket to the API in future.

[2015-05-19 00:28] #68 closed

[2015-05-19 00:35] vishr commented on #52
ef6440051f3b073b37999da1ddfb40c76a556048

[2015-05-19 07:10] mschewe commented on #68
As far as I can see it does now work perfectly. Thank you very much!

[2015-05-19 11:07] orangesoup opened #71 "Json Web Token middleware"
Hey!

Any plans to have a built-in jwt middleware?

[2015-05-19 15:37] vishr commented on #71
Yes, soon.

[2015-05-19 16:32] alehano opened #72 "Stable API"
Hi. Thank you for this project, it's great. I want to ask when do you plan to release stable api to use in production. Is there a lot things to do which can break backward compatibility?

[2015-05-19 18:00] vishr commented on #72
Probably in a month's time. As of now, most of the APIs are stable and should not change but there could be some experimental features which needs more thought might get dropped or changed.

[2015-05-19 18:00] #72 closed

[2015-05-19 22:28] vishr commented on #59
@mDomingues I doubt it to be an issue with Echo, do you want to try with standard http package and see?

[2015-05-20 05:49] jpillora opened #74 "Documentation Generation"
I'm thinking of using echo for a large project and one of the requirements will be extensive documentation, it would be nice to automatically keep the code and docs in sync with something like:

[code]

Then the user could convert the structures into:
* a https://apiary.io/ API blueprint
* a http://swagger.io/ spec
* a https://github.com/mashery/iodocs spec

Thoughts?

[2015-05-20 06:02] vishr commented on #74
Absolutely!

[2015-05-20 07:50] raphael commented on #67
@vishr I think you're missing the point. From the article you are referring to:

The handlers should return error, then user code can check for `*HTTPError` with an assertion and use that if needed. There's a lot of benefit deriving from using built-in types especially for error handling. For example every single implementation of an echo app is going to have to implement some `Error()` functiont

[2015-05-20 15:33] vishr commented on #67
@raphael If you look at the end of the post, the author mentions about returning appError in cases like this:

[code]

With `HTTPError` in the signature handler signature it brings a good convention. For instance, if all handlers start sending any error (As they don't know about `HTTPError`) then the default centralized HTTP error handler won't be of much use, turning everything into `500`.

Retur

[2015-05-20 17:13] raphael commented on #67
Thank you for the pointer, I understand the reference now. I guess I still don't see the benefit, it would be easy for echo to check whether the error is an `HTTPError` and if so use that to build the response otherwise call a generic error handler. The way it is now I have to wrap all errors in `*HTTPError` (like [this](https://github.com/rightscale/self-service-plugins/blob/master/gdo/droplet_ac

[2015-05-20 17:20] vishr commented on #67
How about if I add support for `func (*echo.Context) error`?

[2015-05-20 17:34] raphael commented on #67
That would certainly help - I do wonder about how having two ways of defining handlers affects the usability of the framework though (you'd have to explain why there are two ways - when to use one vs. the other etc.). Probably something to ponder before making any change.

[2015-05-20 18:11] markbates opened #75 "panic: echo => unknown middleware"
This morning I pulled down the latest version of echo and when I try to use the new middleware I get the following panic:

[code]

Here is a simple, reproducible (for me at least), bit of code to demonstrate the issue.

[code]

[2015-05-20 18:46] vishr commented on #75
There was a recent change to factor in options for the middleware. It should work if you change `e.Use(middleware.Recover)` to `e.Use(middleware.Recover())`

[2015-05-20 20:57] markbates commented on #75
That worked.  Thanks.

[2015-05-20 20:57] #75 closed

[2015-05-20 23:18] vishr commented on #67
Fixed in https://github.com/labstack/echo/pull/76.

[2015-05-20 23:20] raphael commented on #67
Nice! thank you.

[2015-05-21 05:36] vishr commented on #68
@mschewe FYI, I have added support for WebSocket in the latest version, here is a small example:

[code]

You can also access path parameters from the context.

[2015-05-21 08:46] mschewe commented on #68
Great, this make Echo even more useful!

[2015-05-21 09:28] Nomon opened #78 "NewHttpError does not assign given message to HTTPError struct"
https://github.com/labstack/echo/blob/master/echo.go#L123 if no msgs is given, http.StatusText is used, if one is given it is ignored.

[2015-05-21 11:08] mDomingues commented on #59
You're right. I had a problem in my code that was panic'ing the server.
Sorry about this. Congratz for the work done with Echo :)
Many thanks.

[2015-05-21 11:08] #59 closed

[2015-05-21 11:39] jpillora commented on #74
Once this is ready, ill work on a module for converting what you provide into an [Apiary API Blueprint](https://apiblueprint.org/) :smile:

[2015-05-21 15:20] vishr commented on #59
Thanks!

[2015-05-21 15:55] #78 closed

[2015-05-22 06:02] alehano commented on #71
For me, it's quite exotic. And you can do it by yourself if needed.

[2015-05-24 07:29] y1 opened #79 "c.Request.Header.Get("Referer") — not works on latest Echo release"
This codes works on previous Echo release, but not works on the latest Echo release:

    package main

    import (
    	"github.com/labstack/echo"
    	"github.com/snowplow/referer-parser/go"
    	"net/http"
    )

    func main() {
    	e := echo.New()

    	e.Get("/users", func(c *echo.Context) error {
    		refererURL := c.Request.Header.Get("Referer")
    		r := refererparser.Parse(refererUR

[2015-05-24 09:03] leighmacdonald commented on #79
Try the following:

    c.Request().Header.Get("Referer")

[2015-05-24 09:09] y1 commented on #79
Thanks a lot

[2015-05-24 09:09] #79 closed

[2015-05-24 19:29] benpate opened #80 "Add interface that unifies *echo.Router and *echo.Group"
Since Groups were recently split from the main echo.Router class, it's difficult for my application to work on these two classes simultaneously: 1) root level router (defined as *echo.Router), or 2) a sub-group (defined as *echo.Group)

It should be simple to make an interface that covers the common parts of both APIs, then calling applications could just expect that to be passed in instead.

Does

[2015-05-25 05:00] vishr commented on #80
Are you using echo as router or web framework? I am having little difficulty understanding your situation. If you can explain it with some examples, it will help.

`Echo.Group` was separated from `Echo` to limit API. It should have minimum impact to most of the users.

[2015-05-26 12:26] alioygur commented on #71
@alehano +1

[2015-05-26 12:31] alioygur commented on #71
i just using labstack/eho for its simplicity. if you want a fullstack framewrok then you can use [revel](https://revel.github.io/) or [beego](http://beego.me/)

[2015-05-26 12:43] alioygur opened #81 "route Group documentation"
i want to use group route for adding middlewares to specific routes. but i have not any idea for how to use that.

[2015-05-26 12:52] orangesoup commented on #71
Well in that case we could also just delete the basic auth middleware as well. I really wouldn't think JWT is such an exotic thing and I also wouldn't think it would make performance worse.

[2015-05-26 12:58] alioygur commented on #71
i think the basic auth mid. should be deleted. there are lot of middlewares out of box.

[2015-05-26 13:36] alehano commented on #81
E.g. https://github.com/labstack/echo/blob/master/examples/website/server.go

[2015-05-26 13:42] alioygur commented on #81
great.

[2015-05-26 15:14] alehano opened #82 "Adding header parameters into e.Static()"
Please, let me add "Cache-Control" and other parameters to the Header before serve Static(). It's very important for browser caching.
Or just add ability to use .Static in groups. It will be possible then to apply middleware only to static.

[2015-05-26 15:22] alehano commented on #82
Or just add ability to use .Static in groups. It will be possible then to apply middleware only to static.

[2015-05-26 16:02] vishr commented on #82
I will look into adding options to various APIs including `Echo.Static`.

Group was recently separated from `Echo`. Adding more APIs to `Group` is still open and suggestions are welcome.

[2015-05-26 21:16] runningmaster opened #83 "e.Static() vs./or e.ServeDir()"
I suggest to rename e.Static() in e.ServeDir() or to do e.ServeDir() as wrapper (syntactic sugar) for e.Static().

IMHO, in this case the code like below will be more readable and understandable
[code]
[code]

Every little helps :)

[2015-05-26 21:39] runningmaster opened #84 "Disable log colors by default (?)"
Maybe should to disable log colors by default? If I have my log.SetOutput(filename) then I getting (when I'm using logger middleware) something like this:
[code]

[2015-05-27 01:19] benpate commented on #80
I’m using echo mostly as a router.  Here’s my use case:  In my app, there’s a function that adds most of the routes into the echo router.  That makes it difficult for this function to add routes simultaneously to both the root level via echo.Get() and to a sub-group via group.Get().  It’s working fine for now, because everything is just pointing to a group (and not the root level).  But, one nice

[2015-05-27 04:39] vishr commented on #83
.

[2015-05-27 21:12] vishr commented on #83
`Echo.Static` is more conventional but I have exposed `ServeDir` which is called by `Static`

[2015-05-27 21:12] #83 closed

[2015-05-27 21:15] vishr commented on #82
To me, exposing `Static` from `Group` made for sense 4159cef81e137bf85868a7729dcdcabcf158a0ee. May be later, if required, we will add options to static content APIs.

[2015-05-27 21:15] #82 closed

[2015-05-27 21:15] #81 closed

[2015-05-27 21:17] vishr commented on #80
Ben, to me it's a very specific case, I will just create an interface myself and use it.

[2015-05-27 21:17] #80 closed

[2015-05-27 21:19] vishr commented on #55
4159cef81e137bf85868a7729dcdcabcf158a0ee

[2015-05-27 21:19] #55 closed

[2015-05-27 23:58] benpate commented on #80
Yes.  That makes sense.  I wasn’t thinking that I could just make my own interface.  Thanks!

[2015-05-28 04:24] jrobn commented on #71
@alehano +1. Usually, auth is a very app specific thing anyway and there are already go specific libraries for OAuth or JWT.

[2015-05-28 05:19] alehano commented on #82
+1

[2015-05-28 05:32] alehano opened #87 "Don't log when using ServeDir with Group"
If I use:
[code]
Static files serve well with my middleware, but in the console I don't see a log of static files.
[code]

[2015-05-28 07:44] vishr commented on #87
If you call `Group` with middleware it overwrites parent middleware, so in this case use `Group.Use`.

[2015-05-28 08:13] #87 closed

[2015-05-28 10:35] runningmaster commented on #83
Thank you. Now we have a little harmony between e.ServeFile() and e.ServeDir() by analogy with http.Dir() from stdlib.

[2015-06-03 15:30] vishr commented on #58
a6260b39a071c5667e3bf7e09106c89ff7f57262

[2015-06-03 15:30] #58 closed

[2015-06-03 15:35] vishr commented on #52
@tmaiaroto I have included an [example](https://github.com/labstack/echo/blob/master/examples/stream/server.go) to showcase streaming JSON. Let me know your views.

[code]

[2015-06-03 15:35] #52 closed

[2015-06-03 15:58] tmaiaroto commented on #52
Looks nice. I like how context handles all that. If an error is returned will there be a 5xx status or anything?

[2015-06-03 16:04] vishr commented on #52
Thanks. All errors are captured via centralized HTTP error handler - which can be customized, its a nice pattern. We have introduced gitter chat, do you mind joining it?

PS: Link for gitter can be found on README.

[2015-06-03 16:26] tmaiaroto commented on #52
Sounds good.

[2015-06-03 17:50] alehano opened #88 "New benchmark request"
Gin https://github.com/gin-gonic/gin now also have zero memory allocation. Could you please update benchmarks?

[2015-06-03 18:58] #88 closed

[2015-06-03 19:00] vishr commented on #88
Echo still shines :+1:  can somebody shout about it?

[2015-06-03 23:58] manucorporat commented on #88
There was a very important regression bug in Gin, it is fixed. I will run the performance tests again. thank you guys.

[2015-06-04 00:07] manucorporat commented on #88
@vishr @alehano

[code]

[2015-06-05 17:42] alehano opened #89 "Disable http2 by default"
I think, it's better to disable http2 by default. Not everybody need it. It consumes more memory also.

[2015-06-05 17:44] ernado opened #90 "HTTP2 is enabled by default"
Why?

It is enabled [here](https://github.com/labstack/echo/blob/master/echo.go#L154) and configured [here](https://github.com/labstack/echo/blob/master/echo.go#L443)

Maybe it is more expected to enable http2 when TLS key pair is present, because http2 without TLS is unusable in current implementation?

[2015-06-05 17:45] ernado commented on #90
dub of #89

[2015-06-05 17:47] vishr commented on #89
Will make it disabled by default.

[2015-06-05 17:51] #89 closed

[2015-06-05 17:53] ernado commented on #90
Proposal:
Use http2 by default only with TLS
If user specifies explicitly to use http2, use it http mode as well as https
If user specifies explicitly to not use http2, dont use it at all.

[2015-06-05 17:59] vishr commented on #90
@ernado Thanks for your suggestions, I will consider them while making the change. In general, I am not very convinced about not allowing HTTP2 over TCP, there is already a PR pending but looks like it won't make it to the library. I would like to see HTTP2 being used for internal services where TLS is not needed.

For reference:

https://github.com/bradfitz/http2/issues/59
https://github.com/brad

[2015-06-05 18:08] ernado commented on #90
@vishr I would realy like to use h2c too.
I think that h2c can make it to the library, but it will be not enabled by default. There is no reason to  forbid using HTTP2 over TCP at all.

[2015-06-05 18:20] vishr commented on #90
Perfect, will do the changes at next opportunity.

[2015-06-07 15:54] vishr opened #93 "Update website"
- [x] Group
- [x] Middleware
- [x] Examples
   - WebSocket
   - Streaming
   - Graceful shutdown
- [ ] Routes API
- [ ] Reverse URL
- [ ] Directory listing #100
- [x] XML for binder and render API
- [x] ColoredLog API
- [ ] HTTP2 API
- [x] JSONP
- [x] File

[2015-06-08 03:39] vishr commented on #93
0edb31b3bd14519db22f10beb0fc2c7ffcf43877

[2015-06-08 17:05] pkieltyka opened #94 "Returning an error"
Hello,

Good work on echo. How come handlers return errors...? what happens to those errors?

[2015-06-08 17:14] vishr commented on #94
All errors are collected and processed by centralized HTTP error handler - which can be customized, and definitely returning `echo.HTTPError` makes more sense.

You can read more here http://labstack.github.io/echo/guide/#error-handling.

[2015-06-08 18:28] #94 closed

[2015-06-09 11:39] denro commented on #71
For anyone who wants a JWT-middleware its very easy to implement one, eg:
https://gist.github.com/denro/9e190d6b59923b9d0338

[2015-06-09 12:32] alehano opened #95 "Gzip() middleware download non existing pages"
When using Gzip() middleware, pages download in case of 404 error.

[2015-06-09 13:06] alehano opened #96 "Strange behavior with groups + mw"
I have several groups and some groups use specific middlewares.
But I noticed that in some combination of mw some groups start using middlewares from another groups.

For example:

files:
[code]

code:

[code]

So, if you open http://127.0.0.1:8085/static/test.txt
You'll see "Admin" in console. It means that /static/test.txt use another middleware which is in "/admin" group.

But if I remove e.Use

[2015-06-09 16:16] #95 closed

[2015-06-09 16:38] vishr commented on #96
@alehano I don't see this behavior after I fixed #95, can you confirm?

[2015-06-09 17:23] alehano commented on #96
Yes, it's still there.

[code]

[2015-06-09 22:25] #96 closed

[2015-06-10 03:07] #71 closed

[2015-06-10 10:15] deoxxa opened #97 "I made a thing!"
I made [this logrus middleware](https://godoc.org/fknsrs.biz/p/echo-logrus) - you might like to link to it somewhere. I wonder how much other cool echo middleware is out there?

[2015-06-10 17:48] vishr commented on #97
Thank you for your contribution. I have a plan to create a section in README.md and put all echo extensions created by contributors :+1:  I will keep this issue open for it.

There are some built-in generic middleware we have written

http://labstack.github.io/echo/guide/#middleware
https://github.com/labstack/echo/tree/master/middleware

Contrib
- https://godoc.org/fknsrs.biz/p/echo-logrus
- http

[2015-06-15 13:32] pandex opened #98 "*echo.HTTPError in Hello, World! example"
I'm getting these errors:

    echo.HTTPError.Error is a field, not a method
    cannot use c.String(http.StatusOK, "Hello, World!\n") (type *echo.HTTPError) as type error in return     argument:
	    *echo.HTTPError does not implement error (missing Error method)

in the handler

    func hello(c *echo.Context) error {
        return c.String(http.StatusOK, "Hello, World!\n")
    }

Not sure rela

[2015-06-15 15:06] vishr commented on #98
Looks like version mismatch, can you try to upgrade the library?

[2015-06-16 01:24] pandex commented on #98
That was it. Thanks.

[2015-06-16 01:28] #98 closed

[2015-06-18 09:45] pandex opened #99 "c.Bind(&json) not getting Context.request"
I have a simple example of trying to get at the json POSTed and bind it to a struct, like so:

    package main

     import (
	    "fmt"
	    "github.com/labstack/echo"
	    "net/http"
    )

     type Reg struct {
	     User string `json:"user"`
	     Pass string `json:"pass"`
    }

     func main() {
	     e := echo.New()

	     getJson := func(c *echo.Context) error {
		     var reg Reg

[2015-06-18 11:37] pandex commented on #99
My bad, accidentally commented out line in the POSTing html doc was sending out **JSON.parse('{"user":"joe", "pass":"123"}')** instead of just **'{"user":"joe", "pass":"123"}'** in the Ajax **data:** property. All's well.

[2015-06-18 17:21] #99 closed

[2015-06-19 20:08] syntaqx opened #100 "Defaulting to index.html"
Hey guys, pretty new to working with echo. Loving everything I'm seeing so far, but I ran into a very interesting issue that I thought might be worth taking a look at.

Consider the following:

[code]

Then, visiting http://localhost:8080 , you get a `Forbidden` response, only seeing the correct value when you visit http://localhost:8080/index.html

Maybe it's just my naive understanding of the pr

[2015-06-19 20:38] vishr commented on #100
Can you check how is it different then `examples/website`? Exposing API gives us flexibility to use any file name and location. Echo internally uses `http.FileServer` to server all static files which most likely behaves like apache and similar servers. We intentionally disabled directory listing in Echo to prevent unnecessary to prevent listing files incase index file is not present, hence this be

[2015-06-19 20:47] syntaqx commented on #100
Ah, so the error actually occurs from an additional line on my end (sorry for not including it in the initial example) - Here is the full snippet:

[code]

The issue here is actually specific to the `e.Static`, reproducible by just using:

[code]

So, I guess what I would change my issue to is:

The `examples/website` serves the `public/scripts` directory specifically, but there's a lot of cases w

[2015-06-19 21:52] vishr commented on #100
I got your point. I will modify API to return `index.html` incase directory requested.

[2015-06-19 21:59] syntaqx commented on #100
Awesome! Sorry for the over elaboration, I don't comment on GitHub too much so I wasn't sure if I was being clear. Excited to see this!

[2015-06-19 23:58] benpate commented on #100
Thanks for making progress on this.  I've been using echo for an app in development for a while, and a recent change with the static file hosting has broken my project.  I believe your latest commit is working on this issue, but I'm still having trouble with static files.

Here's my scenario.  Calling **http://servername/foldername** still responds with the index.html from the root level, *not fro

[2015-06-20 00:03] syntaqx commented on #100
@benpate Totally agree with what you. I was hoping the fix that happened would fix that sort of behavior, but did not have that particular type of issue on my end (only working with a root index). Hopefully @vishr can come up with something clever.

[2015-06-20 00:16] syntaqx commented on #100
@vishr Seems like this is fixed by changing

https://github.com/labstack/echo/blob/master/echo.go#L341

To:

[code]

[2015-06-20 00:25] benpate commented on #100
Yes.  This is working for me, too.  Thanks for digging in and finding the solution to this!

[2015-06-20 01:07] vishr opened #102 "Use fixtures for testing instead of examples"

[2015-06-21 01:43] benpate opened #103 "Error retrieving context.P()"
Howdy,

I've just run into a bug.  I'm not sure when it crept in, but my code *was* working fine before, and now I'm getting errors.

Here is some code from my application.  It scans the context parameters to find the last sequential route parameter that's present in the current Context.
[code]

Now, I'd much rather be able to ask Echo what the last parameter is, but that's a whole other issue.  F

[2015-06-21 01:44] benpate commented on #103
It looks like there may be a similar issue in the Param() function beginning on line 60 as well.

[code]
The "if" statement should probably read `if (n == name) && (i < l) {`

[2015-06-21 01:58] vishr commented on #103
That's correct, I shouldn't go beyond index. I will fix it. How about exposing API to return map of param name > value or differently slice of param values and param names?

[2015-06-21 07:27] #103 closed

[2015-06-21 13:27] benpate commented on #103
Thanks Vishal. Yes, exposing an API with more information about parameters would be awesome. I'd love to see that added in. It should be a pretty efficient thing to do, yes?

Sent from my iPhone

[2015-06-23 18:11] Taik opened #104 "Net.context support"
Hi!

Since echo ships with its own context, would it be possible for it to implement https://godoc.org/golang.org/x/net/context ?

[2015-06-24 22:49] syntaqx opened #107 "Using if in favor of switch"
Not entirely sure why this is the case, but based on my findings and the experiment listed below, I would consider replacing https://github.com/labstack/echo/blob/master/middleware/logger.go#L28-L35 with an if/else block for a *slight* performance increase.

If you agree with this change, please let me know and I will be happy to send a pull request (and also replace other switches found such as i

[2015-06-24 23:01] vishr commented on #107
I just got 1 ns diff - not worth it.
[code]
`echo.wrapMiddleware` and `echo.wrapHandler` uses type switch and they are not on critical path - just run once.

[2015-06-24 23:03] syntaqx commented on #107
Fair enough. It wasn't a huge deal, but I did notice that part of the sale for echo is the speed at which it runs compared to others, as well as the 0b memory footprint. Thought micro optimizations may be worth.

Interesting that you got the Switch to go faster on your though. I've ran it a bunch and have never seen Switch perform better.

Thanks!

[2015-06-24 23:03] #107 closed

[2015-06-24 23:07] vishr commented on #107
Cool!

[2015-06-25 00:01] syntaqx commented on #100
Looks like this fix doesn't work out for golang on Windows

![windows](http://imgur.com/XbCDbMA.png)

Still digging into as to what the issue is, but figured it was worth re-opening this until it can be diagnosed.

[2015-06-25 04:25] syntaqx opened #110 "Windows and WebSockets"
Seems that `golang.org/x/net/websocket` doesn't have great support for Windows, and/or the implementation within Echo does not pass when tested on windows:

![Imgur](http://i.imgur.com/ukdL55V.png)

From what I can tell by Googling, there's plenty of historical problems with the package doing well. Perhaps it's worth considering using something like `github.com/gorilla/websocket` to see if the sam

[2015-06-25 04:35] #100 closed

[2015-06-25 05:39] vishr opened #111 "Pretty print error on debug mode"

[2015-06-27 08:28] biosed opened #112 "Logger View IP address of request"
Have the requesters IP displayed in log.

[2015-06-27 11:32] pengux opened #113 "Support RPC services"
The websocket handler would work great together with RPC services (e.g. JSON-RPC), but currently, the standard lib for JSON-RPC doesn't support contexts or JSON-RPC v2. Would be great if echo could add support for it.

[2015-06-27 20:25] mertenvg opened #114 "Server func on Echo API"
I was looking into using this package in combination with https://github.com/facebookgo/grace. I'd like to send in a pull request with the necessary (trivial) updates which include adding a Server method to Echo struct and refactoring the Run methods to eliminate code duplication.

If you have any additional thoughts, bring em on! Thanks

[2015-06-27 20:36] vishr commented on #114
@mertenvg Would it be a hard dependency on `grace` package? We want to keep `Echo` as minimal as possible without loosing much features and still provide APIs to plug-in third party packages, thats the reason why functions like `Echo.SetBinder` / `Echo.SetHTTPErrorHandler` exists.

Refactoring `Echo.Run` might have a breaking change, we can discuss about it.

[2015-06-27 20:46] mertenvg commented on #114
@vishr `Echo` would have no additional dependencies. The intention is purely to allow the `http.Server` pointer to be exported and given to `grace` by whoever is using Echo.

I will make the changes and submit a pull request for review. I don't believe it would be a breaking change but you would be a better judge on that.

[2015-06-27 20:49] vishr commented on #114
Sure, go ahead.

[2015-06-27 22:13] mertenvg commented on #114
@vishr Pull request #115 is ready to rock. Thanks

[2015-06-28 04:49] vishr commented on #114
07c0cf21f00a1434aa4d2336e677a4fb07f8ef99

[2015-06-28 04:49] #114 closed

[2015-06-28 04:50] vishr commented on #114
@mertenvg: If you can create examples for graceful shutdown and send me PR, it would be great!

[2015-06-28 12:54] #90 closed

[2015-06-28 22:11] mertenvg opened #118 "Host based routing"
I use host based routing / grouping in quite a few of the projects I work on. Have you had any thoughts about routing based on Host (or possibly even other headers)? I've set up a rudimentary alternative using middleware but might be better in the router itself.

[2015-06-28 23:13] vishr commented on #118
@mertenvg I have limited knowledge here, can you provide some examples or how is it done in other libraries or servers?

[2015-06-29 18:17] axdg commented on #118
From what I can see most other libraries aren't implementing this functionality themselves. The same issue has been brought up for both Goji ([here](https://github.com/zenazn/goji/issues/55)) and httprouter ([here](https://github.com/julienschmidt/httprouter#multi-domain--sub-domains)) - the solution seems to be to put some sort of hosts handler in front of the router. In Echo, this would be somet

[2015-06-29 18:27] vishr commented on #118
@axdg Thank you! It's probably better to keep it outside the router.

[2015-06-29 18:27] #118 closed

[2015-06-29 19:30] axdg commented on #113
@pengux The [JSON-RPC v2 spec](http://www.jsonrpc.org/specification) is a two minute read. The protocol seems like it would be relatively trivial to implement server side, to the extent that I'm not sure you would even want to use a library for it. That being said, the [Gorilla toolkit ](http://www.gorillatoolkit.org/pkg/rpc) has a package for dealing with JSON-RPC v2 over http that could easily b

[2015-06-29 19:41] pengux commented on #113
@axdg The problem is not in the spec or implementation, but in the standard lib itself. It's not possible to use websocket together with contexts in the registered RPC methods and the Gorilla package only support HTTP. As there is a websocket handler in echo, it would be nice if it could handle RPC services somehow (not necessarily just JSON)

[2015-06-29 19:55] axdg commented on #93
@vishr You've listed JSON web token handler from the built-in auth middleware. I assume the '?' means that you're not sure whether this should be part of the package. I use JWTs, but this is only one possible authentication mechanism - I'm not sure that it should actually be part of a 'micro' framework, and I see that some others feel the same way ([#71](https://github.com/labstack/echo/issues/71)

[2015-06-29 20:12] vishr commented on #93
@axdg You understanding is correct. I want to minimize external dependency as much as possible and turn them into recipes aka examples.

[2015-06-29 20:47] mertenvg commented on #118
Thanks @axdg. I'm happy with that solution also

[2015-06-30 02:17] ceram1 opened #119 "How can I test rest apis with middleware?"
Do I need to initialize whole router for each test?
I has multiple middlewares and multiple entities/entry point.

http.NewServer() accepts http.Handler

[2015-06-30 02:27] vishr commented on #119
Can you show us some code you are testing?

[2015-06-30 03:41] ceram1 commented on #119
Sorryfor delay. I want to test this

https://github.com/appcore-poc/authagain/blob/e94d8cc67e41a38dfcd524534bcf231fd57fe0e9/registry/namespace/v1.go

This requires golang appengine sdk..

[2015-06-30 05:26] vishr commented on #119
May be something like below

[code]
For details, have a look at `echo_test.go` and `router_test.go`.

I am curious to know how you are using echo router, as these handlers won't be acceptable.

[2015-06-30 05:57] ceram1 commented on #119
As all apis should be explicitly namespaced or root-only namespaced, I wrapped all apis with [appcore-poc/acapi](https://github.com/appcore-poc/acapi) on [server/routes.go](https://github.com/appcore-poc/authagain/blob/master/server/routes.go)

and I initlaize context.Context with [appengine.NewContext](https://godoc.org/google.golang.org/appengine#NewContext)

I think this issue can be closed, th

[2015-06-30 05:57] #119 closed

[2015-07-01 14:48] axdg opened #120 "Repo organization - difference between examples and recipes?"
@vishr I'm a bit confused about about the repository's structure since your latest push. There's now one folder for examples, and another for recipes. /examples contains usage examples for Echo (of which only hello/server.go is currently on the homepage). /recipes contains some 'recipes' for working with external dependencies (like gracehttp), but also has some files that only use Echo / Go standa

[2015-07-01 15:44] vishr commented on #120
Eventually, the examples folder will be be moved to recipes. I have already started the process. You can work on sub-domain and jwt and send me a PR. I was just thinking on calling it virtual hosts instead of sub-domain, what do you think? Feel free to update any other markdown in the website, adding more information is always better. Currently, the markdown I wrote for recipes doesn't have much t

[2015-07-01 15:49] vishr commented on #120
FYI, we want to have self-created content as much as possible ;).

PS: There is a gitter chat on README.md for discussion (you can also send a private message).

[2015-07-01 15:53] axdg commented on #120
Ok, structure makes sense now - Ignore the question in the PR I just sent.

I called the recipe subdomains (can change this if you want), virtual hosts is probably a more accurate term, but it seems like sub-domains / multiple domains is the common terminology used by [other routers](https://github.com/julienschmidt/httprouter#multi-domain--sub-domains).

[2015-07-01 15:53] #120 closed

[2015-07-02 10:09] xyproto opened #122 "New middleware for echo"
Hi,

[permissions2](https://github.com/xyproto/permissions2) and [permissionbolt](https://github.com/xyproto/permissionbolt) now supports echo as well.
Please look over the echo example and see the code is relatively ideomatic code for middleware for echo. Feel free to add it to a list of supported echo middleware, if you have such a list.

Thanks for creating echo, it feels snappy!

[2015-07-03 18:51] #97 closed

[2015-07-03 18:51] #122 closed

[2015-07-03 18:52] vishr commented on #122
Thank you!

[2015-07-05 02:58] danqing opened #124 "Easy way to get GET request query"
Is there a way to quickly get the query in a GET request (just as getting `Param`?) It seems that now we have to do
[code]
which is a bit tedious, esp. I'm not sure if I should consider the possibility that request or url is nil. Maybe they never will, but that seems to be something that Echo has knowledge about.

Thanks!

[2015-07-05 18:09] #124 closed

[2015-07-06 03:46] danqing commented on #124
:thumbsup: :heart_eyes:

[2015-07-12 07:10] panjunjie opened #131 "echo 渲染 json string 等出现乱码 - Use utf-8 encoding for bind and render API"
echo 渲染 json string html 等出现乱码，比如：
c.String(http.StatusOK, "你好，世界！\n")
c.Json(http.StatusOK, map[string]interface{}{"name":"中文"})
等方法均出现乱码。是不是 c.response.Header() 需要指定编码，如 utf-8;

另外，获取中文参数 c.Query("title") 也应该会出现以上乱码问题。

[2015-07-12 15:29] #131 closed

[2015-07-12 21:32] syntaqx opened #132 "Linting Errors"
Although these aren't code-breaking or anything, a lot of the points mentioned by `golint` are pretty good for overall compatibility with the go ecosystem. Here's a simple dump of what has come up:

[code]

I'll start working on crunching some of these out when I get some time later today, but thought I'd bring them to your attention.

[2015-07-13 01:19] CaptainCodeman commented on #84
I found another issue cause by the log colors so I'd be _strongly_ in favour of removing them or at least making them optional. I don't know exactly what is causing the issue but it breaks local AppEngine development (on a mac, I haven't tested it on a live environment yet).

On AppEngine all the services, including logging, are accessed through the context associated with a request, e.g.:

    fu

[2015-07-13 04:40] #84 closed

[2015-07-13 05:09] axdg commented on #132
Most (or almost all) of these seem to be problems with the comments. One the things that I think the website and docs really need at the moment is a more comprehensive [guide](http://echo.labstack.com/guide/) (method reference), so fixing up the comments (for use with godoc) is something that I've been keen to start.

@vishr what's your opinion of this approach?
@syntaqx happy to coordinate with y

[2015-07-14 03:28] vishr commented on #132
Let's fix the the comments and golint issues first.

[2015-07-14 06:22] fanbuchi opened #135 "Query parameter"
我按照文档指示
写下代码

package main
import (
	"github.com/labstack/echo"
	"github.com/labstack/echo/middleware"
	"net/http"
)
func main(){
	e:= echo.New()
	e.Use(middleware.Logger())
	e.Get("/",helloyou)
	e.Run(":8080")
}

type user struct {
	ID int `json:"id"`
	Name string `json:"name"`
}
func helloyou(c *echo.Context) error {
	name:=c.Query("name")
	return c.JSON(http.StatusOK,user{1,name})
}

启动服务

第一次访

[2015-07-14 06:36] #135 closed

[2015-07-14 06:37] vishr commented on #135
Please verify.

[2015-07-14 15:55] panjunjie opened #136 "增加 template 处理功能建议"
能不能增强 echo 的 template 功能呢，比如 Context.HTML(status,template_path,map,layout) ，类似 github.com/unrolled/render 库的处理方式；还有就是内置一些 template 常用的 函数和自定义template 函数。

Echo 构思和用法非常好，感谢作者 @vishr   的付出和努力。谢谢。

[2015-07-14 15:58] fundon commented on #136
@panjunjie 你还是用英文发问吧

[2015-07-14 16:04] vishr commented on #136
@fundon Thanks, I have been translating Chinese using google translator. I need a bit of more context and example.

[2015-07-14 16:18] vishr commented on #136
@panjunjie We use `Context.Render` to template stuff. You can have a look at `examples/website`

[2015-07-14 20:07] #1 closed

[2015-07-14 21:57] chrisseto opened #137 "Make Redirect return an error"
if `Context.Redirect` returned an error you could write a handler as:
[code]
rather than
[code]

I'd be happy to PR this if you'd like.

[2015-07-14 22:12] vishr commented on #137
IC, it would be something like `Context.NoContent` returning nil error always. PR is welcomed.

[2015-07-14 23:34] chrisseto commented on #137
I'll submit a PR tonight!

[2015-07-15 01:42] chrisseto commented on #137
https://github.com/labstack/echo/pull/138

[2015-07-15 03:19] fanbuchi commented on #135
已验证。正确。楼主迅速。

[2015-07-15 07:37] pandex opened #139 "Setting Response Headers in handlers"
Little confused about setting **response**  headers with c.Context. The following:

	func main() {
		e := echo.New()

		tokenize := func(c *echo.Context) error {
				c.Response.Header().Set("Authorization", "Bearer " + "eyJhbGciOiJSU0E…")
				c.Response.WriteHeader(201)
				return c.JSON(http.StatusCreated, "Tokenized")
		}

		e.Post("/secure", tokenize)

		e.Run(":8000")
	}

gives me, not unpredi

[2015-07-15 09:20] pandex commented on #139
Sorry, very tired. Forgot it's **c.Response()**  and not c.Response, as in :

    c.Response().Header().Set("Authorization", "Bearer " + "eyJhbGciOiJSU0E…")
    c.Response().WriteHeader(201)

Solved, thanks.

[2015-07-15 14:34] #139 closed

[2015-07-15 15:02] #137 closed

[2015-07-16 01:45] localhosted opened #140 "panic: echo => unknown handler"
Code to reproduce:

    package main

    import (
    	"github.com/labstack/echo"
    )

    func main() {

    	e := echo.New()
    	e.Use(Middle())
    	e.Get("/", ans)

    	// Start server
    	e.Run(":8080")
    }

    func Middle() echo.MiddlewareFunc {
    	return func(h echo.HandlerFunc) echo.HandlerFunc {
    		return func(c *echo.Context) error {

    			return nil
    		}
    	}
    }

[2015-07-16 01:57] vishr commented on #140
Handler should be:

[code]

[2015-07-16 01:57] #140 closed

[2015-07-16 08:35] lon-yang opened #141 "echo.Bind() Error"
At line 183 of echo.go. The code `strings.HasPrefix(ct, ApplicationJSON)` always return false,if my content-type is `application/json`. I think it's the `ApplcationJson = "application/json; charset=utf-8"` at line 94 cause it.And ifound the old version's ApplicationJson is `"application/json"`,why change it?

[2015-07-16 10:21] pandex commented on #141
Yes, I noticed this too with c.Bind() from json body. Totally borks json input.

[2015-07-16 15:05] #141 closed

[2015-07-16 15:06] vishr commented on #141
The changes were made to fix #135.

[2015-07-17 00:57] lon-yang commented on #141
There has a another problem. When the request.body has no content , the echo.bind() will throw a exception of `EOF`. Maybe should to return it if `err != nil && err != io.EOF`.

[2015-07-17 01:56] vishr commented on #141
We should not call bind when there is no body :smile: but yea, it should be handled gracefully. I will take care of it.

[2015-07-17 02:00] lon-yang commented on #141
thanks :）

[2015-07-17 02:15] vishr commented on #141
I think the default behavior is correct, it's the error returned, which should be handled by handler or more idiomatically by centralized http error handler.

[2015-07-17 02:26] lon-yang commented on #141
Yes, I think you are right. Thanks any way!

[2015-07-17 06:05] pandex commented on #141
A bit confused here, what exactly is the current status of this?
Whether my json request is

    contentType: "application/json; charset=utf-8" or
    contentType: "application/json"

For **err := c.Bind(myStruct)**,  I still get:

    err: echo ⇒ unsupported media type

and c.Bind(myStruct) is empty.

[2015-07-17 06:12] vishr commented on #141
It should work in both cases, can you show some code to reproduce the issue?

[2015-07-17 06:48] pandex commented on #141
I updated *github.com/labstack/echo* two minutes ago, again, now it's working. Thanks.

[2015-07-17 20:42] vishr commented on #136
http://echo.labstack.com/guide/#response

[2015-07-17 20:42] #136 closed

[2015-07-18 03:35] syntaqx opened #144 "Undefined color.Disable"
Just pulled down the latest version of the codebase, and I got this error when running an app:

[code]

[2015-07-18 03:38] syntaqx commented on #144
Nevermind. Seems as though `gommon` didn't update correctly.

[2015-07-18 03:38] #144 closed

[2015-07-18 23:50] vishr commented on #84
cd111b826ce1df29dd0ab1f8538eaa92c447a053

[2015-07-19 17:05] aleSuglia opened #145 "Unable to get POST parameters from request"
I've updated my echo code using the suggested command (*go get -u github.com/labstack/echo*) and I'm having some problems using the method *Form()* for the **Context** structure.
In particular, when I try to get the parameters' values from the current context they are always not parsed correctly, in fact the resulting map in the request is always empty.

I don't know why this happens but the reque

[2015-07-19 17:29] vishr commented on #145
Below code gets me form parameter correctly. Do you want to try it?

[code]

[code]

[2015-07-19 17:31] aleSuglia commented on #145
This code works.
I'll try to see why from my html the request is not sent.

[2015-07-19 18:19] vishr commented on #145
I think you need to explicitly parse the form, which will fill the form. I would recommend to write a validator function because anyways you would need to validate all the form fields? You can also look at http://www.gorillatoolkit.org/pkg/schema which takes care of decoding form into struct.

[2015-07-19 18:31] aleSuglia commented on #145
Maybe you could provide an alternative *Form()* method which has a *Decoder* parameter which will let us to obtain the parsed arguments from the request automatically.

What do you think?

[2015-07-19 19:24] vishr commented on #145
I think codec for `form` is out of scope for now. You can easily call `Request.ParseMultipartForm` which populates `Request.Form`.

[2015-07-20 14:06] alioygur opened #146 "extensible Context"
i think the Context should be extensible. it will be very useful.

[2015-07-20 14:31] vishr commented on #146
Can you provide some context and use case?

[2015-07-20 16:16] panjunjie opened #147 "use session"
have a question,Echo use session, which session class library recommended?

[2015-07-20 16:50] axdg commented on #147
[Gorilla](https://github.com/gorilla/sessions) has a pretty flexible package for dealing with sessions - with implementations for several different stores (Redis, MySQL, Bolt)

Writing a custom middleware using [Response.SetCookie()](http://golang.org/pkg/net/http/#SetCookie) and [Request.Cookie()](http://golang.org/pkg/net/http/#Request.Cookie) seems like it would probably be the most idiomatic w

[2015-07-20 20:23] kris-runzer opened #148 "http.Handler passthroughs?"
I'm working with a library that returns a http.Handler from it's NewRouter() method.  This handler is setup with all the wired endpoints for that library.

In gorilla, I can wire up to my router (without specifying methods) using:

r := otherlib.NewRouter()
router.PathPrefix("/").Handler(r)

This wires up all the appropriate methods and routes as expected.

I can't seem to achieve the same logic i

[2015-07-20 22:39] #145 closed

[2015-07-21 00:15] vishr commented on #148
Echo's router is based on HTTP `method` and `path` combination which it uses to lookup handler. So using just the path won't be possible.

[2015-07-21 00:34] #148 closed

[2015-07-21 01:15] panjunjie commented on #147
@axdg Thank  you.

[2015-07-21 01:15] #147 closed

[2015-07-21 10:53] aleSuglia opened #150 "Context parmeters missing after redirect or render page"
I wrote a simple server which lets users to sign up and login. In particular, after the sign up or the login phase, I need to redirect my user to a specific page of my website.

Now suppose that we are in this scenario:
- User goes to *http://mywebsite.com/login*
- User inserts its credentials and press *Login*
- Webserver redirect to *http://mywebsite.com/profile*

This is the function in which t

[2015-07-21 12:17] axdg commented on #150
@aleSuglia I think that you may have misunderstood what *echo.Context is actually doing. Context is stored only for the duration of the request-response cycle. It is designed to persist only throughout the execution of each middleware, and is freed after a response is sent. It is not stored between requests;

 - In `Login()`, you send a response when you call `c.Redirect()`, this response instruct

[2015-07-21 13:56] aleSuglia commented on #150
Following your suggestion I've found *gorilla/sessions* package which handles in a very simple way session values. What it's not clear to me is how to manage the redirect.
I've tried using *c.Redirect* but the browser doesn't receive any request and remains in the same page.

       func Login(c *echo.Context) error {
            // other code...

           // set correctly the cookie for the cur

[2015-07-21 14:21] #150 closed

[2015-07-21 14:29] axdg commented on #150
@aleSuglia The problem is that you are passing in the wrong status code. If you want to trigger a redirect in the browser you should be using at code in the 300-307 range. Some thing like:

[code]

Will do the trick.

You should check out the [net/http](http://golang.org/pkg/net/http/#pkg-constants) constants, although I think that 303 is the appropriate code for this situation.

[2015-07-21 14:30] axdg commented on #150
Oh, you removed that last code sample.

[2015-07-21 14:57] alioygur commented on #146
well, the context has a bind method, it is good. maybe should have a Validate() method that validates the request. so maybe have a BindAndValidate() method.

[2015-07-21 15:57] dzaytsev opened #151 "panic when do request with invalid HTTP method provided"
Trying out echo-framework found problem with HTTP methods - if we send some invalid HTTP method it leads to empty reply from server and exceptions in log.

request 1:
[code]
log:
[code]

request 2:
[code]
log:
[code]

It might be better to handle these cases and reply with some appropriate HTTP code. I can actually send PR for this, let me know what you think.

[2015-07-21 16:13] vishr commented on #151
@dzaytsev
- Let's figure out what's the appropriate HTTP code to return
- Send me a PR

[2015-07-21 17:42] dzaytsev commented on #151
@vishr

well, I was thinking about:
400 (StatusBadRequest) or 501 (StatusNotImplemented)

400 seems to be more relevant as problem happens with non standard HTTP verb

[2015-07-21 19:45] vishr commented on #151
@dzaytsev Just realized, this is already handled and return 404 but I need to take care of index out of bound.

[2015-07-21 19:47] #151 closed

[2015-07-22 09:49] pandex opened #152 "Custom HTTP error messages"
When using

    func someFunction(c *echo.Context) error {
    	msg := "myCustomMessage"
    	return c.JSON(http.StatusOK, msg) // HTTP:200
    }

is it possible to send a custom message and not the standard (HTTP StatusOK =) "OK" message? *On the browser side, data received in the Ajax .done isn't my "myCustomMessage".*

If it's not possible to pass custom messages with HTTP error code using **c.

[2015-07-22 11:00] vishr commented on #152
Above code should return your `msg`. Can you try with `curl`?

[2015-07-22 11:07] pandex commented on #152
On debug, in certain sequences, multiple JSON responses are sent (two in a row in rapid succession). I'll report back if this is an obvious problem in my code (which looks like it) or some other thing.

[2015-07-22 11:45] aleSuglia commented on #150
@axdg Thank you for your support. I've solved that problem too so I've decided to close the issue which is not directly related to echo!

[2015-07-22 23:59] ssl1 opened #154 "c.String response"
[code]
Response `Hello, 100%!R(MISSING)eal World!` looks not good.

[2015-07-23 00:10] syntaqx commented on #154
c.String is using `Sprintf` goodies, so you'd want something like:

[code]

[2015-07-23 13:22] xxxcat opened #155 "Default Binder error If ContentType contains uppercase letters"
Such as "application/json; charset=UTF-8",
Now I just change the line 188 of "echo.go" to:
`ct := strings.ToLower(r.Header.Get(ContentType))`
it's OK?

[2015-07-23 14:03] vishr commented on #155
@xxxcat For performance reasons, we haven't used `ToLower` the right way is to to create a middleware which modifies the `Content-Type` header to lowercase. Something like below (not tested):

[code]

[2015-07-23 14:11] vishr commented on #155
@xxxcat Did you try the latest? You should not have that problem anymore. Below is the code snippet:

`strings.HasPrefix("application/json; charset=UTF-8", ApplicationJSON)`

where `ApplicationJSON = "application/json"`

[2015-07-23 14:44] pandex opened #156 "Binding json POSTed to a struct"
I have this json POSTed via Ajax in this valid format:

    var payload = '{"x":1,"y":2,"z":3…}';

I assume the only way to get **payload** in echo (either as string or json) is via **c.Bind()**. I tried

    type Payload struct {
        S string
    }

    var pLoad Payload
    c.Bind(&pLoad)

but that doesn't work: **pLoad** or **pLoad.S** is empty.

I can't break out each json item in the stru

[2015-07-23 19:13] xxxcat commented on #155
@vishr Yes, I update to latest? It work fine,  thanks.

[2015-07-23 19:27] #155 closed

[2015-07-24 19:18] willf opened #158 "JSONP API in Context"
It would be convenient to have a application/javascript response type in addition to application/json, for Javascript callbacks to web pages.

I've modified a local version to provide this, and will provide a pull request if you like. It's just a little bit of code.

[2015-07-24 19:23] vishr commented on #158
Sure

[2015-07-24 19:24] vishr commented on #151
4dcb57d42aff8f320f04e9bac038e265a7719fa8

[2015-07-24 19:31] willf commented on #158
See https://github.com/labstack/echo/pull/159

[2015-07-24 19:52] vishr commented on #156
I don't think you can decode a string with no key into go struct. Looking into http://stackoverflow.com/a/7487892/197473, using just a string as JSON payload is not valid. You can send your request as `text/plain` and read request body into a string, like below:

[code]

[2015-07-24 19:52] #156 closed

[2015-07-24 19:59] #154 closed

[2015-07-24 23:26] vishr commented on #158
9257875cb7db7b0d1ca21fb8fe2430bfe15d4486

[2015-07-24 23:26] #158 closed

[2015-07-25 00:50] danqing opened #160 "Template location question"
Hi-

I have two questions regarding template location:

1. Can I have a template under not a top level folder? Say I have `/admin/templates` as the root template folder. Can I then do the following to use it?
[code]

2. It looks like currently Echo uses paths relative to the root dir. But our tests are relative to their own dir and that results in a conflict - either tests won't pass, or the serve

[2015-07-25 01:46] vishr commented on #160
I think it's a general problem using templates in Go. I open to make changes to the API or introduce new if that helps in someway.

[2015-07-25 09:33] pandex commented on #156
Thanks for the **b, err := ioutil.ReadAll(c.Request().Body)** tip.
That works and as I was exploring different Postgres types like *bytea* and *json*, I also used

    var b map[string]int16

[2015-07-26 09:55] ssl1 commented on #154
It's not a question. Framework doesn't have methods for sending of string or []byte without side effects.

PS. 2All, please don't give stupid advice like
[code]

[2015-07-26 16:24] vishr commented on #154
I added `Sprintf` like functionality for connivence but if it's getting error prone we can remove it.

[2015-07-27 07:49] cgyy opened #162 "panic error when use wildcard route and not found"
This is my code:

package main

import (
	"github.com/labstack/echo"
	mw "github.com/labstack/echo/middleware"
)

// Handler

func main() {
	e := echo.New()
	e.Use(mw.Logger())
	e.Use(mw.Recover())
	e.SetDebug(true)

	e.Get("/:id", func(c *echo.Context) error {
		return c.String(200, ":id...")
	})

	e.Run(":1323")
}

[2015-07-27 07:50] cgyy commented on #162
this is log:
echo => panic recover
 runtime error: invalid memory address or nil pointer dereference
 stack trace 1998 bytes
 goroutine 5 [running]:
github.com/labstack/echo/middleware.func·006()
	/Users/cherry/gowork/src/github.com/labstack/echo/middleware/recover.go:20 +0xb8
github.com/labstack/echo/middleware.func·007(0xc208030600, 0x0, 0x0)
	/Users/cherry/gowork/src/github.com/labstack/echo/mi

[2015-07-27 15:43] #162 closed

[2015-07-27 18:09] danqing opened #163 "c.Bind() crashes when body is nil?"
Relevant code:

[code]

Maybe a good idea to have some safeguards.

[2015-07-27 19:26] vishr commented on #163
@danqing Do you know when `Body` could be nil?

[2015-07-27 19:40] caarlos0 opened #164 "Save log in a file"
To deploy it to Amazon Elastic BeanStalk, we have to set a folder where the logs must be.

As far as I look in the code, there is no way of doing that right now...

Am I right? If yes, any plans of doing it? (I can help, I guess)

[2015-07-27 20:24] vishr commented on #164
Echo uses global log object, you can set it to write to a file using http://stackoverflow.com/questions/19965795/go-golang-write-log-to-file. In future version, Echo will have API to set logger.

[2015-07-27 20:33] danqing commented on #163
I'm not entirely sure actually. I was stealing your test function for my testing, but that may not really happen in production:

[code]

Here if it's a `POST` request and `body` is `nil` as in your original file, then it will crash.

[2015-07-27 20:46] vishr commented on #163
From https://github.com/golang/go/blob/master/src/net/http/request.go#L135
[code]

[2015-07-27 20:50] vishr commented on #160
You can have a look at https://github.com/GeertJohan/go.rice

[2015-07-27 20:55] danqing commented on #163
I see. Seems that it's only a test issue then. Thanks for the info!

[2015-07-27 20:55] #163 closed

[2015-07-28 04:03] cgyy opened #165 "can not handle error when echo.renderer return error"
I write some code like this is handler:
//go code
return c.Render(200, "taxonomies/show", map[string]interface{}{
		"taxonomy": taxonomy,
	})

And, this renderer function like this:
func (r *renderer) Render(w io.Writer, name string, data interface{}) error {
  .....
   return errors.New("some error")
}

[2015-07-28 05:33] vishr commented on #165
If any of the response functions including `Context.Render` returns error, the framework doesn't send http error as the response header is already written. The http error handler do get called but currently we are not logging the message - probably we will! Let me know your thoughts.

[2015-07-28 05:51] #165 closed

[2015-07-28 15:22] dre1080 opened #166 "Embedded assets"
What would be the best way to integrate Echo with a package like [go.rice](https://github.com/GeertJohan/go.rice) for embedded assets?

[2015-07-29 01:57] lestrrat opened #167 "Cookie related functions?"
Hi! I started porting some of my webapp stuff to Echo, and came up to a few places where it was using cookies. Upon grepping for the word cookie in the source code, nothing came up, so it left me bewildered for a moment, then I realized I should just do what the stdlib is doing... so I did.

I guess I can just bring all that stuff over to my project, but how about implementing the cookie read/writ

[2015-07-29 02:06] cgyy opened #168 "Serve static without middleware"
Hello, I want to serve static file with no middleware, such as log, session ..

Now, I write code like this:

public := admin.Group("/public", func(c *echo.Context) error { return nil })
public.Static("/", "public")

I wonder If there is a more elegance to handle this

[2015-07-29 08:12] lestrrat commented on #146
I'm not sure if this is in same line as the original issue, but I do find myself wanting to add more methods to the context, but all the function receiver types are specified as concrete `*echo.Context` types, so I'm having difficulties doing that.

Would it perhaps make sense to change `Context` to an interface instead of a concrete type?

[2015-07-29 08:26] cgyy opened #169 "Missing handle middleware"
If middlware's type is echo.MiddlewareFunc, the returned error can not be used

	admin.Use(func(h echo.HandlerFunc) echo.HandlerFunc {
		return func(c *echo.Context) error {
			fmt.Println("cause middle ware")
			if err := h(c); err != nil {
				c.Error(err)
			}
			return errors.New("middware error") // this can not cause error handling
		}
	})

[2015-07-29 08:41] cgyy commented on #169
And, this type middleware can not set header, for example:
	admin.Use(func(h echo.HandlerFunc) echo.HandlerFunc {
		return func(c *echo.Context) error {
			if err := h(c); err != nil {
				c.Error(err)
			}
			c.Response().Header().Set("X-Request-Id", "value111")
                // this can not write to response header
			return nil

		}
	})

[2015-07-29 15:00] vishr commented on #168
- You can remove logger middleware.
- Or use a group
[code]

[2015-07-29 15:10] vishr commented on #146
@lestrrat If APIs are more generic we can definitely include them in `Context`. I also wonder how interface will help without changes to it.

[2015-07-29 15:50] vishr commented on #169
- I do see error getting caught by http error handler and with the latest code its printing the log message too.
- To set response header, you have to call it before `h(c)`. As it's recursive chain, your code gets executed after sending the response.

[2015-07-29 16:02] vishr commented on #167
IMHO, it will be an overkill to wrap cookie read & write functions via `echo.Context`. They are so simple, doesn't even need processing or a trick.

Set cookie `http.SetCookie(c.Response(), cookie)`
Get cookie `username, _ := c.Request().Cookie("username")`

[2015-07-30 01:15] cgyy commented on #168
Thank you ,I got it

[2015-07-30 01:28] #168 closed

[2015-07-30 03:13] cgyy commented on #169
Then, this middleware can not used?
https://github.com/rightscale/go_middleware/blob/master/request_id.go
because it set header after the handler called

[2015-07-30 03:20] vishr commented on #169
Does it work as expected?

[2015-07-30 03:59] cgyy commented on #169
No, it can not work

[2015-07-30 03:59] vishr commented on #169
I think you should report it to the author.

[2015-07-30 04:08] cgyy commented on #169
OK , I also have a question, I want to write some thing like cookie header, code like this if a good idea?
....

type SessionWriter struct {
	session *session
	http.ResponseWriter
}

func (sw *SessionWriter) WriteHeader(code int) {
	s := sw.session
	if s.Written() {
		err := s.Session().Save(s.request, s.writer)
		if err == nil {
			s.written = false
		} else {
			log.Printf(errorFormat, err)
		}

[2015-07-30 23:55] lestrrat commented on #167
I think getting the cookie was obvious, but being able to do SetCookie(c.Response()) wasn't (now that you mentioned, duh!). Maybe I'll get you a doc patch later :D

Otherwise, understood,  so closing.

[2015-07-30 23:59] lestrrat commented on #146
@vishr I was thinking along the lines of (note: only thought about it, so I don't know if it *really* works)

[code]

[2015-07-31 00:02] lestrrat commented on #146
I forgot to mention: My use case for this is to add my app-specific routines to the context. The above `DoInterestingStuff()` would be interesting to *my* app, but not for Echo in general, so I don't want to add stuff to `*echo.Context` per se.

[2015-07-31 00:39] lestrrat commented on #146
And here's a proof-of-concept that *should* allow me to do what I want, described in https://github.com/labstack/echo/issues/146#issuecomment-126524303 . https://github.com/lestrrat/echo/tree/context-as-interface

[2015-07-31 02:32] vishr commented on #146
@lestrrat Interesting, quite similar to https://godoc.org/golang.org/x/net/context. Just wondering about the impact of this change ;) otherwise it's a good idea.

[2015-07-31 03:10] #169 closed

[2015-07-31 03:16] #164 closed

[2015-07-31 03:39] vishr commented on #146
@lestrrat Working on this branch https://github.com/labstack/echo/tree/context-as-interface

[2015-07-31 04:00] lestrrat commented on #146
@vishr Yeah, I know re: impact of this change.

I'm sure it will break stuff for a lot of people, so I will totally understand if you can't accept it. In which case it would be awesome if you can think about it when you *can* make backwards incompatible changes.

[2015-07-31 04:13] caarlos0 commented on #164
@vishr oh, right...

thanks!

[2015-07-31 05:26] vishr commented on #146
@lestrrat How about exposing an API in `Context` to set extension object? or simply use `Context.Set` to save custom context? `Custom.Set` stores any interface{}, should be good.

[2015-07-31 05:44] lestrrat commented on #146
@vishr I am using `Context.Set` that right now :) So it's not like I can't go on with the current `*echo.Context` stuff.

I'm okay if you want to punt it for now, but I do think in the future changing `echo.Context` to an interface is the right way. Who knows, maybe I will want to put some wrappers around `c.String` for debugging. In that case using interfaces is the only way.

[2015-07-31 10:30] aleSuglia opened #174 "Manage complex POST request with Echo"
I'm trying to manage with echo a POST request that I make using JQuery:

      $.post("/my_path", {
        data : {
            "info" : infoObj,
            "discounts": discounts
        },
    })

I've mapped that path to this function:

       func ModifyWineInformation(c *echo.Context) error {
	     if err := c.Request().ParseForm(); err == nil {
		   params := c.Request().Form
	 	   log.Pri

[2015-07-31 11:48] pandex commented on #174
What's your Ajax **contentType**?

[2015-07-31 11:50] aleSuglia commented on #174
I haven't specified one so it's the default: application/x-www-form-urlencoded

Changing it could improve the situation?

[2015-07-31 11:55] pandex commented on #174
If you're sending key:value pairs, I've had no problems sending them with **application/json** and using **c.Bind(&yourStruct)** to get individual keys.

[2015-07-31 15:31] aleSuglia commented on #174
Where can I found an example?

[2015-08-02 17:51] vishr commented on #74
@jpillora As we have decided to keep the framework minimal and flexible, I am open for suggestions that would help to generate docs using any framework or libraries and not tied to any particular, it might imply that we will be just providing the interfaces something like `echo.Binder` or `echo.Renderer`.

[2015-08-02 22:35] jpillora commented on #74
No worries. Since creating this I'm just using a simple wrapper around httprouter.

[2015-08-02 22:35] jpillora commented on #74
Thanks anyway :)

[2015-08-02 22:35] #74 closed

[2015-08-03 01:50] cgyy opened #176 "Suggestion: add before hook in echo.Response?"
Before allows for a function to be called before the ResponseWriter has been written to. This is
useful for setting headers or any other operations that must happen before a response has been written

[code]

For, example, If want to save session in middleware, could write code like this:

[code]

[2015-08-03 19:05] gernest commented on #166
I am using echo for a project of mine that uses embed assets(  both templates and the static files.) Regarding templates. Echo supports a sustom renderer which implemets the echo.Renderer interface.

This is how I implemented. Assuming you have created a packate template(containing theemeded templates.

[code]

Now in our case above you can set our Rednder implementation to be th default one like

[2015-08-04 09:50] benyu opened #177 "runtime error: invalid memory address or nil pointer dereference"
With two text type fields and a file type input in the form, and set the form to enctype="multipart/form-data" .

The process handler looks like:

[code]

[2015-08-04 15:32] vishr commented on #177
If you skip calling `c.Form` the form is not parsed and `File` is nil. Either use `c.Form` or parse the form explicitly using `req.ParseMultipartForm`. Here is the recipe http://echo.labstack.com/recipes/file-upload/

[2015-08-05 21:34] #152 closed

[2015-08-05 21:35] #177 closed

[2015-08-05 22:50] dre1080 opened #178 "Group middlewares"
I'm currently having an issue with per-group middlewares. I'm not getting the desired outcome.

Here is some example code:

In server.go:

[code]

In package router:

[code]

Now, when I start the server & navigate to `/auth/login`.
I get a "Need User" response when I shouldn't be getting any response & instead show the login page.

The same thing happens vice-versa, if I define `user` & its middl

[2015-08-05 23:59] vishr commented on #178
With the code below, I got login handler for `/auth/login`

[code]

[2015-08-06 16:24] dre1080 commented on #178
Sorry for the trouble. Found out the issue was with one of my middlewares.

[2015-08-08 16:36] benyu commented on #177
Thanks!
BTW, i think here is a demand that would get the post data likes it's original format?

[code]

[code]

[code]
And now the photo must be an array, not a plain key/value !

I new in golang, so i may be lost the best practice!

[2015-08-11 07:37] jbub commented on #110
+1 for gorilla/websocket support

[2015-08-11 08:18] panjunjie commented on #110
+1 for gorilla/websocket support

[2015-08-11 08:20] mayowa opened #179 "Should middleware functions be called twice?"
I have a middleware function defined as

[code]

I have noticed that the middleware function is called twice per GET request, before and after.
Is this the normal behavior? (I cant find documentation for it and im still a go newbie) and if this is indeed the normal behavior, how do i differentiate between when the function is being called before the the request and after.

Thanks

[2015-08-11 11:46] mayowa commented on #179
My bad! the middleware function isnt being called twice, it was the subsequent request for favicon.ico that confused me.
changing the log call to:
`log.Info("MW SessionMgr...: %s", c.Request().URL.String())`
quickly cleared up the issue.

[2015-08-11 11:46] #179 closed

[2015-08-11 17:42] tossp commented on #110
+1 for gorilla/websocket support

[2015-08-18 16:00] tossp opened #181 "how can I get the query array"
hi,
the url like `/?id=123&isok=true&ft=1.2&ol[0]=1&ol[1]=2&ul[]=str&ul[]=array&user.Name=aaaa`

How can I get the param`ol` add `ul`
[code]

go a step further
[code]

[2015-08-18 16:13] vishr commented on #181
We don't have a helper function to return query array. As per Go's doc

So you can get you do something like below:

[code]

[2015-08-18 18:35] tossp commented on #181
@vishr I found something

in https://github.com/astaxie/beego/blob/master/context/input.go#L338

[code]

[2015-08-19 08:45] jackielii opened #182 "How can I register one handle to match all HTTP methods (e.g. both GET and POST)"
Do I have to use
[code]
Should we have a:
`e.Any("/", handler)`

[2015-08-19 15:30] engine07 opened #183 "golang variable"

[2015-08-19 15:31] #183 closed

[2015-08-19 17:55] vishr commented on #182
`e.Any` doesn't look idiomatic to me. I would go with a wrapper to cover all the methods.

[2015-08-20 02:27] dre1080 commented on #104
:+1:

[2015-08-20 02:41] vishr commented on #104
@dre1080 @Taik Before implementing it,  we would like to see some sample use cases. It will help us to write it well.

[2015-08-20 18:06] laicosly commented on #49
Potentially a similar issue, I'm seeing group middleware with an wildcard group.Get match return the wrong url segment in the param value.

[code]

[2015-08-20 18:57] vishr commented on #49
@laicosly Looks like an issue when used with wildcard, it's the same even without using a group e.g. `e.Get("/v1/:thing/*, Handle)`. Can you create a separate issue?

[2015-08-20 19:00] laicosly opened #184 "Issue getting c.Param("urlParam") when using wildcard route matching."
The ":thing" param ends up being returned incorrectly when using wildcard routes.

[code]

[2015-08-20 19:02] #174 closed

[2015-08-20 19:03] #160 closed

[2015-08-24 15:19] vishr commented on #182
Reconsidering.

[2015-08-24 15:50] axdg commented on #182
[express.js](http://expressjs.com/api.html#app.all) has a method to register a route against all http methods - I've never really understood where it would be used (except possibly in development). But I do think that (as per the OP's original question), it would be useful if there was a convenience function to register multiple methods - I frequently end up repeating code where I want an endpoint

[2015-08-24 16:08] dre1080 commented on #182
`e.Handle` like `net/http`

[2015-08-24 16:10] dre1080 commented on #178
I get this issue when I use 5 or more global middlewares.

[2015-08-24 17:09] vishr commented on #178
@dre1080 It will help if you can post some code to reproduce and debug further.

[2015-08-24 17:35] vishr commented on #182
Few choices below:

`e.Any(... method string ...)` or `e.All(... method string ...)` // For all methods
`e.Many(... methods []string ...)` or `e.Some(... methods []string ...)` // For some methods

`e.Handle(... methods ...string ...)` Passing `methods` will register handler for those HTTP methods, skipping it will register for all methods.

[2015-08-24 17:55] dre1080 commented on #104
@vishr @Taik I added an integration package [here](https://github.com/dre1080/econtext).

[2015-08-24 21:22] dre1080 commented on #178
[code]

[2015-08-26 03:37] #182 closed

[2015-08-26 11:09] axdg commented on #182
@vishr awesome, thanks. That (.Any and .Match) is a much nicer API than the one that I proposed or .Handle.

[2015-08-27 06:34] se77en opened #187 "Have I must specify a HTTP Status Code at reponse?"
But How can I confirm which http status code should I choice?

[2015-08-29 04:35] vishr commented on #187
@se77en Can you explain you problem?

[2015-08-29 05:04] se77en commented on #187
eg: `c.JSON(code, v)` but I don't know which code I should choice? 200 or 500?

[2015-08-30 08:40] vishr commented on #187
You should read about HTTP status codes.

[2015-08-30 08:40] #187 closed

[2015-08-31 16:18] laicosly commented on #178
I'm seeing an error where nested group middleware doesn't execute unless I add at least two mw.  Pseudo example below.

first := e.Group("/first")
second := first.Group("/:second")
third := second.Group("/third")
third.Use(func (c *echo.Context) error {
  // need this otherwise the second middleware doesn't execute
  return nil
})
third.Use(func (c *echo.Context) error {
  // do some stuff
  retur

[2015-08-31 16:30] laicosly commented on #178
Does an echo.Group's parent middleware run when it is executed?

[2015-08-31 17:11] vishr commented on #178
@laicosly Can you provide a working code with comments? It helps us to debug faster.

[2015-08-31 17:47] laicosly commented on #178
I'll try, but it seems as if sibling groups are polluted by one another's middleware in my scenario.

[2015-08-31 18:31] dre1080 commented on #178
@laicosly that is the same issue I'm having

[2015-08-31 18:56] laicosly commented on #178
@dre180  I'm working around this by using the .Group secondary arg to define middleware for siblings groups,  declaring mw this way, instead of using .Use seems to prevent this from happening

[2015-08-31 20:16] hasty opened #190 "StripTrailingSlash doesn't affect routing"
What's the purpose of StripTrailingSlash? It makes changes to Request().URL.Path, but that's after routing is complete, so it doesn't affect the chosen handler. It doesn't alter the Response at all either, so why does it exist?

Is there some way to have middleware that runs prior to routing?

[2015-08-31 20:38] vishr commented on #190
StripTrailingSlash middleware activates during runtime, it strips trailing slash so it can match to your handler which is registered for a path without trailing slash. For example, request `GET /hello/` should match the following route:

[code]
 Isn't it working like this?

[2015-08-31 23:10] hasty commented on #190
No, it's too late. Echo.ServeHTTP calls router.Find before any middleware executes (for obvious reasons, as the middleware may differ depending on route), but that means StripTrailingSlash doesn't get a chance to affect routing. So, not sure how it ever worked.

To fix it, I'd think you'd want a separate set of middleware that was a pre-routing filter of some kind.

[2015-08-31 23:20] vishr commented on #190
Interesting, nobody uses it :smile:. It should be exposed as an option.

[2015-09-01 15:07] vishr commented on #190
Fixed in 507c69ec80e6a6d8417231b4db93f7d9554e09cc

[2015-09-01 15:09] #190 closed

[2015-09-01 21:48] olliephillips opened #193 "Multisite hosting"
The subdomain examples lead me to ask if sites could be hosted on entirely different domains on a single Echo server - not just subdomains.

[2015-09-02 15:31] laicosly opened #195 "Group Handler Render Template"
Trying to render templates only works when I register the handler on the root *Echo struct.
works:
[code]

If I attempt to render a template from a group handler it throws the following error.
doesn't work:
[code]

Is there a way to render templates inside of a group handler?

[2015-09-02 15:38] pandex opened #196 "Is it possible to prevent c.Request().Body from containing the Auth Header?"
When I read the request data like so:

[code]

However, when I json.Marshal(s), I also get, specifically, the Authorization Bearer header (but not another custom header I also POSTed in the same request, for instance):

[code]

a) Why is this happening?
b) Is there a way to alter c.Request().Body so I do NOT get the Auth Header when I json.Marshal(s)? (I just want the json Posted Marshaled and not

[2015-09-02 15:39] laicosly commented on #195
Adding the SetRenderer method on *Group seems to work.  Any reason why this shouldn't be done?
[code]

[code]

[2015-09-02 15:46] laicosly commented on #195
Ah nvm, I see that I was setting the renderer too late. e.SetRenderer needs to be called before creating Groups.

[2015-09-02 15:46] #195 closed

[2015-09-02 22:57] hasty commented on #190
So, that works... but perhaps a more generic solution would be good? [I wrote one up](https://github.com/currantlabs/echo/commit/8dcdac5c5b05740f7245406c19eb98f9e98aeade); it's just a new property of filters that run prior to routing, which let you muck with the request as much as you'd like. I use it to authenticate the cookie for all requests, so I can have a user-customized 404 page.

[2015-09-02 23:21] vishr commented on #190
Can't you do that in a middleware? If no route is match, echo calls HTTPErrorHandler.

[2015-09-03 03:52] hasty commented on #190
Yeah, seemed like that wasn't working, but it was just bug #96. I'll comment over there with a proposed fix, although there are several ways you could do it.

On this one, seemed like the generic approach was more powerful. You could bring back RedirectToSlash, for example.

[2015-09-03 03:58] hasty commented on #96
This is because Group is relying on unreliable behavior in append. When a new group is created, it makes a copy of the parent echo; this is a shallow copy, though, so g.echo.middleware still points to the parent middleware. That's fine if you don't add any new middleware.

If you do, though, then it's dependent on whether or not the slice has capacity for the new middleware. If it doesn't, then ap

[2015-09-06 03:40] jatlee opened #198 "Cookie Session"
How to use cookie and Session?
and, Do you have Echo's api document?

[2015-09-08 08:22] axdg commented on #193
@olliephillips Yes, entirely different domains could be hosted on the same Echo server. Echo (and most other http frameworks written in go, node.js, ruby etc.) does not inherently know which domain names / subdomains are pointing to the IP at which the server is running. The subdomain example is actually just checking to see which domain name directed a client to the server (via DNS) and executing

[2015-09-08 08:28] olliephillips commented on #193
Thanks for the clarification @axdg hoped that might be the case!

[2015-09-08 08:28] #193 closed

[2015-09-08 13:14] axdg commented on #198
@jatlee Echo does not provide any API for dealing with cookies or sessions itself. If you'd like to use session cookies for authentication of client identification, you should look the [net/http's SetCookie](https://godoc.org/github.com/labstack/echo).

The [Echo website](http://echo.labstack.com/) contains a guide and recipe, and there API docs are on [godoc](https://godoc.org/github.com/labstack

[2015-09-08 13:30] axdg commented on #196
@pandex I think the question is a little confusing. If `s` is a net/http Request.Body (which it should be if you are retrieving it with c.Request().Body) It should not contain an auth header (or any other header). To retrieve an auth header you would want to look through c.Requests().Header.

I'd need to see more of the code to be sure, but from the look of it, you are a POST request containing so

[2015-09-11 08:45] jimwei opened #199 "JWTAUth function has argument error"
.\auth.go:75: cannot use func literal (type func(*jwt.Token) (interface {}, error)) as type jwt.Keyfunc in argument to jwt.Parse

the returned first type is []byte in JWT.keyfunc

[2015-09-13 15:29] #198 closed

[2015-09-13 15:30] #181 closed

[2015-09-13 15:53] axdg commented on #199
Where is this error - Is this referring to the JWT authentication recipe? Or @jimwei' - is this in your own code.

JWT.parse does expect a function with [this signiature](http://godoc.org/github.com/dgrijalva/jwt-go#Keyfunc) as the second argument.

[2015-09-13 15:56] vishr commented on #199
@axdg I haven't checked it, it was marked as a bug based on comments.

[2015-09-13 16:10] axdg commented on #199
@vishr Ok, I've taken a look, can't replicate any error with the JWT-auth recipe, and the is no jwt in the core auth middleware anymore. I'll wait for a response from @jimwei - but I don't think this is a bug in Echo or it's examples.

[2015-09-14 07:41] utrack opened #203 "Retrieving router's path from middleware"
Any way to retrieve router path from the middleware without path params included?

it would be very useful for monitoring, i.e. if there's request on router's path `/users/by-id/:id`, `c.Request().URL.Path` returns `/users/by-id/123`, and it would create separate metric for every user's page while logging request timings.

`users/by-id/:id` and dictionary like `{"id":"123"}` would be way more usef

[2015-09-14 18:22] vishr commented on #203
Not sure if I have completely understood your problem, you might want to have a look into these APIs

`Echo.URI`
`Echo.Routes`

[2015-09-15 02:41] husobee opened #204 "RFC 2616 10.4.6 Compliance - Method Not Allowed On Resources Method isn't Specified"
Hello,

I have noticed that the router isn't compliant with RFC 2616, in that currently it returns a 404 (not found) when a resource is requested with an http method that isn't specified in the application code.  I believe this is incorrect, because the resource may actually exist under different methods.  Due to the per Method radix tree structure of the router, it would be impossible with the cu

[2015-09-15 09:24] utrack commented on #203
@vishr: Echo.URI does almost the opposite :) And both of them couldn't be used from middleware.
Here's example:
[code]
I want to retrieve handler's path from context without interpolated path params - which would enable sane logging by handler's path instead of path with parameters.

[2015-09-15 10:58] temark commented on #184
@vishr Tell me please, when this bug will be fixed?

[2015-09-15 15:34] #184 closed

[2015-09-15 15:34] vishr commented on #184
Please verify.

[2015-09-15 15:38] vishr commented on #203
Okay, I don't think it would be hard to expose it through an API, but before we start considering, I would like you to create a proposal mentioning the use cases and API design.

cc @syntaqx, @axdg

[2015-09-15 16:27] axdg commented on #203
I guess logging seems like a reasonable use-case for such an API.

I'm not sure that the 'dictionary' data structure is necessary, as Context.pnames and Context.pvalues provide a mechanism to access and log key value pairs (or even just values given that keys are available in the matched route, but I guess this depends on the format of the logs).

I'm pretty sure the simplest implementation would

[2015-09-15 19:25] hasty commented on #178
This is fixed in the #197 pull request.

[2015-09-15 19:48] vishr commented on #178
Guys, I have been busy, will get to it soon.

[2015-09-16 09:42] temark commented on #184
Thanks a lot! It's working.

[2015-09-16 21:23] vishr opened #207 "Route with static and match-any for a path, always goes to match-any handler."
[code]
`GET /` return /* (It should return /)
`GET /users` returns /*

[2015-09-17 00:52] caarlos0 commented on #166
@dre1080 please check #208 , thanks!

[2015-09-17 02:42] #207 closed

[2015-09-17 03:59] vishr commented on #199
Haven't heard back, closing for now.

[2015-09-17 03:59] #199 closed

[2015-09-17 10:03] rvdwijngaard opened #210 "serving static files are not working anymore"
since f251eead67d85f738e2082bb98e6515072e78f03 service static files are not working as expected.

[code]

my /api/current is a folder which contains swagger stuff. The code above works fine if I comment out the second Get route.
[code]

A get on /apidocs/ returns the same html content for each request:
localhost:8080/apidocs
localhost:8080/apidocs/swagger-ui.js -> returns the content of index.html

[2015-09-17 15:20] #210 closed

[2015-09-17 15:20] vishr commented on #210
Thank for reporting, please verify the fix.

[2015-09-17 15:25] axdg commented on #210
Was playing around with this earlier - fix is good.

[2015-09-17 17:17] hasty commented on #178
Just copying over the explanation from the previously filed issue on this:

This is because Group is relying on unreliable behavior in append. When a new group is created, it makes a copy of the parent echo; this is a shallow copy, though, so g.echo.middleware still points to the parent middleware slice. That's fine if you don't add any new middleware.

If you do, though, then it's dependent on wh

[2015-09-17 17:34] rvdwijngaard commented on #210
yep, the fix is ok; thanks for the quick response.

[2015-09-18 08:17] cgyy opened #213 "Panic error when use Group to handle static"
[code]
When Get http://localhost:1323/, it panic error
2015/09/18 15:58:57 http: panic serving [::1]:55031: runtime error: invalid memory address or nil pointer dereference
goroutine 7 [running]:
net/http.func·011()
	/opt/go/src/net/http/server.go:1130 +0xbb
github.com/labstack/echo.(*Router).Find(0xc2080100e0, 0xc20800b090, 0x3, 0xc20800b094, 0x1, 0xc2080428a0, 0x40fcf8, 0x0)
	/Users/cherry/gowor

[2015-09-18 09:42] axdg commented on #213
The problem is not with e.Static() or g.Static(). It is occurring whenever a group has been created and a request is made to the root path (localhost:1323/) - unless a handler for that path has been explicitly declared using e.Method:

[code]

[2015-09-18 18:13] vishr commented on #112
Fixed in #214

[2015-09-18 18:13] #112 closed

[2015-09-20 15:28] mayowa opened #215 "Contrib: Use Pongo2 templates in echo"
Hello,  [echo-pongo2](https://github.com/mayowa/echo-pongo2) is a striaght forward implementation of the echo.Renderer interface for [pongo2](https://github.com/flosch/pongo2) templates

I use it in my own projects, and I thought I'd make it available as a contribution.

[2015-09-21 00:19] rbucker opened #216 "rootfs or gobindata"
echo is a nice project but has a few weaknesses. Whether or not to be able to specify the root folder (probably not he best idea.). But being able to binddata into the executable would be a great idea... and if not that then at least a callback or a plugin.

[2015-09-21 02:39] Retired opened #217 "Handler conflicts with Static file server."
The following is how I'm invoking Echo.

[code]

Inside the `public` folder, I have three files. Their names and content are described below.

1. `a.html` > `The 'a' html.`
2. `b.html` > `The 'b' html.`
3. `android.html` > `Android!`

If I go to `http://localhost:1323/a`, I get `This is the 'a' handler.` so we know that the handler is working correctly.

__However, the problem is that the route se

[2015-09-21 03:04] Retired opened #218 "StripTrailingSlash results in a handler mismatching the root route."
This is how I'm calling Echo.

[code]

Going to `http://localhost:8000/user` brings up the expected string. __However, the handler seems to be also triggering on `http://localhost:8000`.__

__Commenting out the `e.StripTrailingSlash()` line appears to fix this.__

[2015-09-21 03:09] fundon commented on #217
Try this:

[code]

[2015-09-21 03:48] Retired commented on #217
@fundon I appreciate the suggestion, however, I have already tried that and the problem persists.

[2015-09-21 04:20] #218 closed

[2015-09-21 04:43] vishr commented on #217
@Retired Can you try with this version eef157496916d8b21441d66b70bc69f0d2ef8117?

[2015-09-21 05:05] vishr commented on #217
This is an interesting case, somehow I always thought it got covered :wink:

[2015-09-21 10:04] fundon commented on #217
@vishr Very interesting. haha

[2015-09-21 13:17] Retired opened #219 "StripTrailingSlash prevents an index file from being routed."
The following code should be sufficient to illustrate the issue.

[code]

Assuming that `index.html` exists within a `public` folder in the same directory as the Go file containing the code above, going to `http://localhost:8000` returns a `404` instead of `index.html`.

[2015-09-21 13:26] Retired commented on #217
@vishr That appears to be a commit from 6 days ago and since I have just started with Echo (did a `go get` for it yesterday), the code I'm using should include that revision.

Do you mean that I should try using exactly that revision (without any newer commits)? If so, I'm not entirely sure how to do a `go get` for the repository at a particular commit. Can I just go into the appropriate folder in

[2015-09-21 13:27] Retired commented on #219
Doh, I was still using revision def4886 instead of the latest one. Upon updating, this scenario doesn't appear to be an issue anymore.

[2015-09-21 13:27] #219 closed

[2015-09-21 13:48] vishr commented on #217
@Retired I tried on earlier versions and the problem persists, it's a bug.

[2015-09-21 16:02] #178 closed

[2015-09-21 16:06] vishr commented on #178
@hasty Thanks for the explanation, the PR is merge - I just flipped the condition. @laicosly @dre1080 please verify.

[2015-09-22 23:32] woniu369 opened #220 "Render can not modify the http state code"
[code]
https://github.com/labstack/echo/blob/master/context.go#L118

[2015-09-23 19:28] cristiangraz commented on #104
@vishr [Kami](https://github.com/guregu/kami) uses ```x/net/context``` and has some nice examples for using it to create a base context for all requests. It also makes it easy to swap out starting contexts for unit testing or different environments (i.e. database/sql pool, mock objects/api clients, etc). Also simplifies using something like app engine:

[code]

[2015-09-24 07:14] cgyy commented on #213
@axdg Is this is a bug?

[2015-09-24 07:26] axdg commented on #213
Yes, I believe it is - but not with echo.static, it's it is with either echo.group or echo.router. There is also [another similar bug](https://github.com/labstack/echo/issues/217) - It should be tracked down and fixed soon.

[2015-09-24 16:36] sulnedinfind opened #222 "Segfault when trying to GET /foo/bar/ without .StripTrailingSlash()"
The setup:
GET routed on `/foo/bar` and `/foo/bar/:param`,
trying to GET `/foo/bar/`.

This results in a segfault in `router.go`.

Calling `(*echo.Echo).StripTrailingSlash()` seems to suffice as a workaround.

[2015-09-24 17:54] axdg opened #223 "Buggy behaviour in Router.findTree"
r.findtree(method string) is switching on the first byte in the method (then the second if that methods begins with a 'P') and then hashing the method string into an integer and checking it against a known value. Since this is being done without a loop, r.findTree will both attempt to index out of range (where some invalid method begins with the same letter as a valid method but is a shorter strin

[2015-09-24 18:32] vishr commented on #220
I haven't understood the issue but the right way to use templates can be found in this [example] (https://github.com/labstack/echo/blob/master/examples/website/server.go) or the [project guide](http://echo.labstack.com/guide)

[2015-09-24 21:14] #222 closed

[2015-09-24 21:15] vishr commented on #223
@axdg I will come back to this post fixing some critical bugs and documentation.

[2015-09-25 00:19] woniu369 commented on #220
[code]
status code is always 200 and not 500

[2015-09-25 00:27] vishr commented on #220
I just tested with the following code and it is returning 500.

[code]

Am I missing something?

[2015-09-25 00:44] woniu369 commented on #220
Thank you, forgive me for my bad English.

[code]

[2015-09-25 04:51] cgyy commented on #213
@axdg  , I see this bug has been fixed. thank you!

[2015-09-25 05:11] #213 closed

[2015-09-25 20:17] vishr commented on #220
Well, in second code snippet it will always be 200, because that's what you are setting.

[2015-09-26 01:29] woniu369 commented on #220
Thank you for your patience.

[2015-09-26 01:29] #220 closed

[2015-09-30 00:43] syntaqx opened #225 "Template HTTP Errors"
Heyo!

[code]

In this code example, there isn't a way to properly error out to a user in the event of a render failure. Because the `c.Render` is setting `http.StatusOK`, `Template.Render` isn't able to propagate the error. Without calling the templates render function manually, and then piping the response of that into a `c.HTML` I'm not sure of an elegant way of handling this.

Are there curren

[2015-10-02 15:20] vishr commented on #225
I have come across this earlier. It is true with any `Context`  response rendering function. The error do get caught in `HTTPErrorHandler` but the response is overridden by user's call. I will into this later in the day.

[2015-10-02 18:25] #225 closed

[2015-10-04 08:44] mandeepbrar opened #228 "CORS middleware on router group"
CORS middleware does not seem to work when used on router group. It only works when used on the main router. I do not want to expose all APIs on my server for CORS.

[2015-10-05 03:16] vishr commented on #228
Can you provide some code explaining actual and expected behavior?

[2015-10-05 14:21] mandeepbrar commented on #228
I am trying to setup a server where only a few APIs ( the ones used for auth) are enabled for CORS. The APIs are being consumed from angular client.

If i setup the server like:

	router := echo.New()
	router.Use(mw.Logger())
	corsMw := cors.New(cors.Options{
				AllowedOrigins:   allowedOrigins,
				AllowedHeaders:   []string{"*"},
				ExposedHeaders:   []string{"X-token"},
				AllowCredentials:

[2015-10-05 16:32] vishr commented on #228
Tried the following code and looks like it works as expected:

[code]

`/auth`

[code]

`/others`

[code]

[2015-10-05 18:55] mandeepbrar commented on #228
Did some more testing. Turns out that the difference is in how it processes an OPTIONS request. Use the same program as above and execute

    curl -X OPTIONS http://localhost:1323/auth

It says Not found

Change the above program from

        rga.Use(corsMw)

to

        router.Use(corsMw)

The same curl command will work.

[2015-10-06 13:56] vishr commented on #228
@mandeepbrar As it goes through a critical path, this issue is being fixed in a different branch - https://github.com/labstack/echo/tree/issue-228, once stabilizes I will merge it back to the master. This fix will also address #204 and #223. For now all test are passing, can you trying to pull from this branch and test?

[2015-10-06 17:12] mandeepbrar commented on #228
The same case is still not working.

Just the error got changed. Instead of "Not found",  its saying 405 "Method Not allowed" in case of rga.Use(corsMw).

Same thing works when using router.Use(corsMw)

[2015-10-06 18:05] vishr commented on #228
Can you try now?

[2015-10-06 19:58] mandeepbrar commented on #228
The behavior just reversed. Not working for router.Use(corsMw) -- (Method not allowed). Working for rga.Use(corsMw)

[2015-10-06 20:58] vishr commented on #228
I am using the following code to test, can you double check? (I have a new commit, which should not have impacted this logic - I have removed 405 handling for now)

[code]

[2015-10-07 08:10] syntaqx opened #229 "Inability to redirect from a POST to a GET"
[code]

I whipped up that example pretty quickly, so I'm not entirely sure it works PERFECT, but the case that it makes hold true. For situations where you would want to redirect from a POST to a GET (for example, POST to a login form, and then redirect them back to the index), `echo.Redirect` fails. The redirect actually redirects to `POST /` instead of the expected `GET /`

I found [some resourc

[2015-10-07 10:49] nkev opened #230 "Facebook Graceful shutdown example doesn't work"
The second example at http://labstack.com/echo/recipes/graceful-shutdown produces the following error in the terminal window when a request is issued from Chrome browser with **http://localhost:1323** (note no HTTPS):

[code]
Macbook Pro 10.11 El Capitan, Go 1.5.1

[2015-10-07 15:40] vishr opened #231 "Add maintainers for recipes"

[2015-10-07 23:51] vishr commented on #231
/cc @axdg @mertenvg @willf

c60f2072795c966b823601a78df46732aff5c2b2
560d72496c069a5f1d361476a23cce4fdd41ea8c

[2015-10-07 23:51] #231 closed

[2015-10-08 00:18] vishr commented on #231
/cc @CaptainCodeman

[2015-10-08 00:19] axdg commented on #231
@vishr, No worries

[2015-10-08 00:31] willf commented on #231
Thanks!

[2015-10-08 13:55] CaptainCodeman commented on #231
What's the question?

[2015-10-08 14:02] vishr commented on #231
Not a question, I just wanted to share that recipes on the website/docs now have maintainers information - so please maintain it :smile:

[2015-10-08 14:22] vishr commented on #230
@mertenvg can you look into this?

[2015-10-08 15:14] rbucker commented on #216
duplicate of #143 moving my request there

[2015-10-08 15:14] #216 closed

[2015-10-08 15:14] rbucker commented on #146
echo is a nice project but has a few weaknesses. Whether or not to be able to specify the root folder (probably not he best idea.). But being able to binddata into the executable would be a great idea... and if not that then at least a callback or a plugin.

[2015-10-08 15:40] vishr commented on #146
@rbucker I would like to get some idea about the requirements, expected API and some references.

[2015-10-08 15:46] vishr commented on #146
@rbucker Have you looked into these projects

- https://github.com/jteeuwen/go-bindata
- https://github.com/GeertJohan/go.rice

There is also a pull request open https://github.com/labstack/echo/pull/208/files

[2015-10-08 17:14] rbucker commented on #146
@vishr I have used them before. Given the robustness of the echo API I thought there may be a place for it in the API.

[2015-10-08 20:15] CaptainCodeman commented on #231
Ah I see - that makes sense, I didn't see the app engine one when I looked and was waiting for the merge. I'll check it's still up-to-date.

[2015-10-08 22:13] mertenvg commented on #230
Sure, I'll have a look.

[2015-10-08 22:21] nkev commented on #230
If you need me to test anything on Windows and/or Mac, I can help.

[2015-10-08 22:33] nkev commented on #230
Sorry @mertenvg , it's not the second example, it's the first Facebook Grace example that doesn't work:
[code]

I need to specifically use the Facebook one because it offers graceful restart as well as graceful shutdown.

Also, I just realised that Facebook Grace doesn't work on PC by nature so I can only help with testing on Mac.

[2015-10-08 22:46] mertenvg commented on #230
Thanks @nkev , I'm using a Mac as well. If I recall correctly, at the time of creating the recipes both worked without a problem. It's possible that more recent updates are causing issues but will investigate. Thanks again.

[2015-10-09 18:27] syntaqx commented on #229
Bump - Anyone have any thoughts on this?

[2015-10-09 19:18] vishr commented on #229
I just played around with redirect codes and found the following information:

`307` was introduced to allow servers to make it clear to the user agent that a method change should not be made by the client when following the Location response header.

http://stackoverflow.com/a/2068504/197473

So you in this case you should use 301 or 302?

[2015-10-09 20:01] vishr commented on #228
This is merged into master, do we sitl have this issue?

[2015-10-10 00:42] syntaqx commented on #229
Makes sense actually. Looks like this works if using `http.StatusFound` - Kinda unexpected behavior, but not the fault of Go.

Thanks!

[2015-10-10 00:42] #229 closed

[2015-10-10 03:16] nkev commented on #230
@mertenvg This might help you find the bug. Doing it like this works fine:
[code]

[2015-10-11 19:59] vishr commented on #228
Closing as there is no response from the OP.

[2015-10-11 19:59] #228 closed

[2015-10-11 23:57] mandeepbrar commented on #228
Sorry for the delay. This is still not working. In the program that you had used. Just changed

//rga.Use(cors.Default().Handler)
router.Use(cors.Default().Handler)

This doesnt work for me with the latest build from github.

[2015-10-12 00:18] vishr commented on #228
IC, if you move up `router.Use(cors.Default().Handler)` next to logger middleware it should work.

[2015-10-12 04:29] mandeepbrar commented on #228
Yes it does. Thank you. This is fixed.

[2015-10-12 08:43] wangyun commented on #230
svr := e.Server(":50080")
svr.TLSConfig = nil
gracehttp.Serve(svr)

temp hack ...

[2015-10-12 09:02] wangyun commented on #230
https://github.com/bradfitz/http2/blob/f8202bc903bda493ebba4aa54922d78430c2c42f/server.go#L141

[2015-10-12 12:15] mertenvg commented on #230
Thanks @wangyun, After a bit of investigating it seems the http2 is enabled by default again when using echo.New(). There is currently no means to disable http2 by default so @wangyun 's example is the most is currently the only/best way to work around this while maintaining existing behaviour. I will add this to the recipe.

@vishr I would like to propose the addition of a echo.NewHTTP2 function

[2015-10-12 12:31] mertenvg commented on #230
Updates in PR #233. Awaiting merge if accepted.

[2015-10-12 17:32] vishr commented on #230
Thanks guys.
@mertenvg HTTP2 is enabled by default as eventually it will reside in the standard Go library. I will accept the recipe fix for now and once HTTP2 is part of Go library, we will reiterate on this.

[2015-10-12 17:33] vishr commented on #230
Fixed in #233

[2015-10-12 17:33] #230 closed

[2015-10-13 02:19] vishr commented on #223
This is fixed in #228

[2015-10-13 02:19] #223 closed

[2015-10-16 07:53] gentee opened #237 "Bug: Using "path" package instead of "path/filepath""
File: context.go
You have to import
**spath "path/filepath"** instead of **spath "path"**
You use
*dir, file := spath.Split(path)*
on 201 line
but it doesn't work on Windows systems with '\' slash.
It works correctly with importing **spath "path/filepath"**.

[2015-10-16 10:21] gentee opened #238 "Bug: File descriptor is not closed"
File: echo.g - serveFile function
Add **defer f.Close()**
[code]
For example, the file cannot be deleted without this closing.

[2015-10-16 14:51] #238 closed

[2015-10-16 14:51] #237 closed

[2015-10-18 03:53] #166 closed

[2015-10-22 10:45] Gouthamve opened #241 "How to send a 204 Response?"
[code]

gives this in the console:
```2015/10/22 16:11:04 http: request method or response status code does not allow body```

While it is harmless, I was hoping there would be a better way to send a 204.

[2015-10-22 13:44] vishr commented on #241
You can use `c.NoContent(204)`

[2015-10-22 14:02] Gouthamve commented on #241
Yep! Works, thanks!

[2015-10-22 14:02] #241 closed

[2015-10-25 19:58] rand99 opened #244 "crud sample missing index handler"
[code]

[2015-10-27 01:39] Puffton opened #245 "Recipe improvement suggestions"
Hello, I'm new to Echo! How would I go about this? Should I treat www as a subdomain and implement a general redirect rule?

[2015-10-27 02:14] vishr commented on #245
For reference, you should look at this recipe http://labstack.com/echo/recipes/subdomains and do a `http.Redirect` when host is `www.example.com`.

[2015-10-29 04:19] benpate opened #246 "GZip middleware breaking error reports?"
When I include the GZip middleware in my echo configuration, any HTTP errors are returned to the browser as gibberish.  Luckily, removing it from the mix fixes things, so I'm pretty certain that the issue is limited to GZip.

Is it possible that it's not encoding/decoding error messages correctly?

[2015-10-30 11:44] ipfans commented on #93
[http://labstack.com/echo/recipes/graceful-shutdown](http://labstack.com/echo/recipes/graceful-shutdown) example code have mistake:

graceful with grace example and grace with graceful example.

[2015-10-30 18:38] Puffton opened #247 "JSON Decoder in Echo context"
In migrating from httprouter I have gotten rid of most helpers (yay!), but I still have this one left:

[code]

It may seem superfluous, but there are at least two ways of decoding JSON in the Go standard library, and I ended up using both by accident. Then I read up on it: I think the one I'm using (above) is the most performant in f.eg. JSON API's.

I'm thinking of adding it to the Echo context,

[2015-10-30 19:05] vishr commented on #247
There is already a helper to decode body into JSON. Have a look at `Context#Bind` and this http://labstack.com/echo/recipes/crud

[2015-10-30 19:28] Puffton commented on #247
Oh damn, how could I miss that... This framework is pretty damn neat!

[2015-10-30 20:00] #247 closed

[2015-10-30 20:05] Puffton commented on #245
Thanks! This can be a good example to add to the subdomain recipe!

[2015-11-03 19:01] clanstyles opened #249 "Render override Content-Type"
How would I override the Content-Type while still rendering a template. IE Content-Type application-javascript

[2015-11-03 19:05] vishr commented on #249
It would be helpful if you can provide some code for debugging?

[2015-11-03 22:00] vishr commented on #246
Can you post some code to debug?

[2015-11-04 17:54] dre1080 opened #250 "What is the best way to handle dynamic subdomains?"
An example is if you wanted users to have their own subdomains like GitHub Pages: `{username}.github.io`

[2015-11-04 18:10] axdg commented on #250
If the use case that you're actually thinking of is actually like the example (github pages), then the username would be a parameter that you might want to have accessible in your handlers, so that you can do a db lookup using the username, together with the path parameters, then figure out the response.

Given the design of echo (and every other major framework in go - httpRouter, gin, goji etc.)

[2015-11-06 16:09] Puffton commented on #245
Also in the future, a recipe of how to get echo working with moz-ssl (https://letsencrypt.org/) would be very cool!

[2015-11-06 21:45] runningmaster opened #251 "Yet another recipe for using "/debug/*" handlers"
This is not a bug. This is yet another recipe for using "/debug/*" handlers. Also see https://github.com/echo-contrib/echopprof

[code]

[2015-11-08 18:42] rand99 opened #253 "recipe: rate limiting"
it would be great if there was a recipe for using rate limiting.
just read http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api

would be great if echo included this functionality
with returning headers like
X-Rate-Limit-Limit
X-Rate-Limit-Remaining
X-Rate-Limit-Reset

[2015-11-09 23:35] ClanStyles commented on #104
I would like this as well. It makes implementation harder with other services since we have to support echo's specific context.

[2015-11-09 23:51] vishr commented on #104
@ClanStyles Can you show us the expected API design?

[2015-11-10 17:16] #204 closed

[2015-11-11 01:53] danqing commented on #217
I have a similar issue:

[code]

Then anything starting with `a` cannot get to the second case.

[2015-11-11 23:55] hhh0pE opened #254 "Unicode symbols in url"
Hello.
Tried to use your framework but have trouble with routing.
As I see routing expects only Latin symbols and all code are written only for it.
Is it hard to improve routing to accept unicode in urls ?
It means to use utf8 package and functions like DecodeRune to get unicode symbol and its length as I understand it.

[2015-11-12 00:12] vishr commented on #254
Can you provide some code for debugging?

[2015-11-12 01:11] hhh0pE commented on #254
https://github.com/hhh0pE/labstack-echo-unicode-routing-problem/

[2015-11-12 16:08] vishr commented on #254
In current implementation of router it assumes everything is ascii and that's the reason for this behavior. Before I start investigating further, can you double check how it works in popular web frameworks like django, rails etc?

[2015-11-12 16:19] vishr commented on #254
So setting routes like below should work:
[code]

[2015-11-12 18:59] hhh0pE commented on #254
Yes, it works!
Interesting solution :) You can just add url.QueryEscape inside the Get method of the router and it will works.

I think in other languages there isn't problem like this just because they manipulate of unicode strings in another way. Just use 2 bytes for each symbols in string by default. Only Go does another, more correctly(each symbol can fill 1 or 2 or 4 or 8 bytes) but more diff

[2015-11-12 19:26] vishr commented on #254
That's good, but I still have a doubt as `Request.URL.Path` get the decoded version, which I am using in the router, can do some more testing?

[2015-11-12 19:45] hhh0pE commented on #254
http://www.w3schools.com/tags/ref_urlencode.asp

What kind of testing do you want?

[2015-11-12 19:51] vishr commented on #254
Adding and testing more Unicode routes, probably in a loop. You can check router_test.go

[2015-11-12 21:22] diiimo2k11 opened #255 "Log unfavorably solved"
Hi, I'm testing just echo for a new project. This logging is unfavorable.
log.Printf(…) can not be redirected to a file.
This is not possible: $ echo-server > /var/log/echo/access.log
Gin instead takes fmt.Fprintf(….) so the redirection works.

So you can replace "log" with "fmt" or minimum a possibility for a file handle create.
The next problem is the logger middleware.

    if err := h(c); err

[2015-11-12 21:37] vishr commented on #255
Can't you set `log.SetOutput()`?

[2015-11-12 21:52] diiimo2k11 commented on #255
That's all right, but this is true for all loggers.
So I think it's better

    e.Use(mw.Logger(os.File))
    ….
    ….
    log.Println("My log entry")

[2015-11-12 21:57] vishr commented on #255
It is global, yes. I have a plan to expose an API to set custom logger something like `e.SetLogger(logger io.Writer)` This should fix this issue, let me know otherwise.

[2015-11-12 22:02] diiimo2k11 commented on #255
Yes sounds very good.

[2015-11-12 22:03] vishr commented on #255
Cool, for now may be you can live with `log.SetOutput` and once API is thought through and ready, switch over.

[2015-11-12 22:09] diiimo2k11 commented on #255
No problem, have written their own middleware for logrus.
Remember the other problem, the handler should not automatically log.

[2015-11-12 22:50] ab3 opened #256 "Marcheling struct to json ignores field tag"
The following snippets uses tag fields to encode lowercase keys for the json from a marshalled struct.

    card struct {
		ID     int    `json:"id"`
		Code   string `json:"code"`
		Serial int    `json:"serial"`
		Owner  string `json:"owner"`
	}

And later on:

    func updateUnit(c *echo.Context) error {
	u := new(unit)
	if err := c.Bind(u); err != nil {
		return err
	}
	id, _ := strconv.Atoi(c.P

[2015-11-12 23:04] #256 closed

[2015-11-13 01:54] #215 closed

[2015-11-13 03:17] vishr opened #257 "Moving middleware into the router"
#254
#190

[2015-11-13 04:25] #203 closed

[2015-11-13 15:37] Puffton opened #259 "Context.Path() always empty string"
Context.Path() is always an empty string for me. I'm binding my paths different from the test cases, I don't know if it could cause issues with the newly added Context.Path():

[code]

And accessing the paths:
[code]

Doesn't matter if it's in the group "/api/r" or not:
[code]

[2015-11-13 15:39] vishr commented on #259
@Puffton Can you provide me some code which I can directly run to reproduce the bug?

[2015-11-13 15:44] Puffton commented on #259
[code]

[2015-11-13 15:58] #259 closed

[2015-11-15 19:30] #257 closed

[2015-11-17 03:24] vishr opened #261 "API to register a callback which gets invoked in Echo#ServerHTTP as a first statement."

[2015-11-18 23:36] polds opened #262 "Possible to completely override the Response Writer?"
In response.go I see the function `SetWriter()` and I've tried to use it to some success as follows:

[code]

This approach *mostly* works. Due to the fact I'm taking the writer from the Context and redefining it the `Write()`, `Header()` and `WriteHeader()` functions are actually called twice.

I'm wondering if it's possible to completely override the writer so I can use my own unique `Write` fun

[2015-11-19 00:05] vishr commented on #262
Is your writer static or unique for each request/response?

[2015-11-19 15:40] #261 closed

[2015-11-19 18:35] byron-janrain opened #263 "logger middleware typo"
How did the test not catch this?

https://github.com/labstack/echo/blob/master/middleware/logger.go#L49

[2015-11-19 18:37] #263 closed

[2015-11-19 23:32] vishr commented on #262
Don't know if you are still interested but there is new API `Echo#Hook` to alter request/response objects.

[2015-11-19 23:32] #262 closed

[2015-11-21 03:31] #255 closed

[2015-11-21 20:13] rand99 commented on #255
@diiimo2k11 could you share your logrus middleware with us? :)
maybe it could be included in this project

[2015-11-22 07:33] Gouthamve opened #265 "Wrong error being returned"
Hi, when we have both ```/route``` and ```/route/:something```. Navigating to ```/route/``` is throwing ```method not allowed``` which is wrong.

It should either redirect to ```/route``` or show not found.

Code to reproduce:

[code]

Going to ```/stages``` and ```/stages/hello``` is showing ```Hello, World!``` but going to ```/stages/``` is showing ```Method Not Allowed``` and throwing the follo

[2015-11-22 08:35] diiimo2k11 commented on #255
@rand99
Is similar to the variant by: https://github.com/deoxxa/echo-logrus
Will take a fork and incorporate my changes.

@vishr
Nice work, I like it. The logger can be used also for other.

    // System logger
    sLog := log.New("sys")
    sLog.SetOutput(s.logOut)
    sLog.SetLevel(s.sysLogLevel)

I will build the logger as a middleware based on current time. As an idea as it could be.

[2015-11-22 09:44] diiimo2k11 commented on #255
@rand99 Can look at it. https://github.com/diiimo2k11/echo-logrus
Use:

    import "github.com/diiimo2k11/echo-logrus"
    …
    wlog := logrus.New()
    wlog.Level = logrus.InfoLevel
    wlog.Out = os.Stdout

    // wlog.Formatter = new(logrus.JSONFormatter)

    e.Use(echologrus.LogrusLogger("wlog", wlog, time.RFC3339))
    …

[2015-11-22 11:18] PierreZ opened #266 "Status of HTTP/2 with echo"
Hi,

Huge fan of Echo over here. I'm interesting in HTTP/2 stuff and I would love to use Echo with it. I didn't find any info on your website or README. In fact, I had to dig into the code to find some information. Having a small page about it in your website'll help!

[2015-11-22 14:47] rand99 opened #267 "using prometheus.Handler()"
Hi,

i'd like to use prometheus (https://github.com/prometheus/prometheus) to see some stats.
usin the golang lib it should be pretty easy (github.com/prometheus/client_golang)

[code]
Unfortunately the prometheus.Handler() returns a http.Handler which doesn't work with echo.
So this doesn' work (flate: read error at offset 5: unexpected EOF, but should be a text)
[code]
diving in these are the in

[2015-11-22 17:26] #265 closed

[2015-11-22 17:42] vishr commented on #267
Below code works for me, please re-open the issue, if needed.

[code]

[2015-11-22 17:42] #267 closed

[2015-11-22 17:59] vishr commented on #266
@PierreZ `HTTP2` is enabled by default, earlier there was an option to disable it but it's not there anymore. Echo is not doing anything special but just enabling it. I think from Go 1.6 it will be enabled by default.

[2015-11-22 17:59] #266 closed

[2015-11-22 18:11] rand99 commented on #267
Thank you!
You helped me find the problem.

It is
[code]
prometheus doesn't seem to like it.
hm, I still would like to use gzip for everything but prometheus.
Do you have an idea?

[2015-11-22 18:16] vishr commented on #267
You can use groups and separate middleware. Look into documentation and test files.

[2015-11-22 18:37] #104 closed

[2015-11-23 12:29] rand99 commented on #253
This might do the trick
https://github.com/valyala/fasthttp
and would give echo another boost
"Currently fasthttp is successfully used in a production serving up to 1M concurrent keep-alive connections doing 50K qps from a single server.
"... up to 10 times faster than net/http ..."

* Server provides the following anti-DoS limits:
    * The number of concurrent connections.
    * The number of co

[2015-11-24 13:23] joeybloggs commented on #146
@rbucker @vishr here's another you could try https://github.com/go-playground/statics

however I don't think that having statics built into the API would be a good idea, as embedding files is usually a very custom, project by project, venture.

[2015-11-24 13:33] rbucker commented on #146
@joeybloggs WTF? Isn't the point of echo to provide some other implementation of the golang http standard library? So it's already project by project. While I agree that in some multi-tier projects the deployment of the static assets is usually put closer to the client entry point to reduce the amount of duplication there are many use-cases where storing the assets in the executable is also a good

[2015-11-24 13:49] joeybloggs commented on #146
@rbucker you are taking what I said way out of context...I agree with all your points about embedding static assets; never said it wasn't a good idea I do it myself.

What I said if you read closely is that I don't believe it should be part of the echo API as it's not echo's job or responsibility to generate or embed them, just use/serve them and already has all of the tools to do so.

[2015-11-24 14:17] rbucker commented on #146
@joeybloggs I disagree; (a) it's not what you said and (b) it's a perfect place for it. echo already provides a File() API that serves static content; serving content from go-binddata is not much of a leap from there.

[2015-11-24 15:27] diiimo2k11 opened #268 "Gorilla-Websocket"
I would like to use the gorilla websocket.
I need the response writer. Where can I find the context?
Here an example of gin.

    func WsConnectHandler(c *gin.Context) {
        if err := wsHandler(c.Writer, c.Request); err != nil {
            …..
        }
    }

    func wsHandler(w http.ResponseWriter, r *http.Request) error {
        ……
    }

[2015-11-24 15:57] vishr commented on #268
@diiimo2k11 I just tried example below, hope it helps.

[code]

[2015-11-24 16:01] vishr opened #269 "Create recipes"
Please mention you recipe request in the area.
- [x] WebSocket
  - [x] net/websocket
  - [x] Gorilla - #268
- [ ] #253 - rate limiting
- [ ] #251 - "/debug/*" handlers

[2015-11-24 16:04] vishr commented on #253
Closing to mention in  #269.

[2015-11-24 16:04] #253 closed

[2015-11-24 16:05] vishr commented on #251
Closing to mention in #269.

[2015-11-24 16:05] #251 closed

[2015-11-24 16:20] rand99 commented on #269
support for https://github.com/valyala/fasthttp :-)

[2015-11-24 16:40] diiimo2k11 commented on #268
That works for me, thanks...
cors for websocket with CheckOrigin:

[code]

[2015-11-24 16:42] vishr commented on #268
Closing to mention in #269

[2015-11-24 17:36] #254 closed

[2015-11-24 20:02] diiimo2k11 commented on #268
@vishr
Is still a bug with CheckOrigin.
When one submits a close event by the client, the following error:
2015/11/24 20:58:36 http: response.WriteHeader on hijacked connection
2015/11/24 20:58:36 http: response.Write on hijacked connection
ERROR|echo|websocket: close 1005
INFO|echo|::1 GET /ws 500 1.474592306s 0

[2015-11-24 21:40] ansel1 opened #270 "Add pointer to Route to Context"
For statistics aggregation, it would be nice to know which route matched a request.  We have middleware recording response times.  We want to tag the metric with the path, but not the actual path in the request (like /users/12345), but rather the route path ( /users/:id ).

Seems like having the Route struct in the Context might be useful to other middleware as well (e.g. Logging).

[2015-11-24 22:10] vishr commented on #270
There is an API for that `Context#Path` https://github.com/labstack/echo/blob/master/context.go#L63

[2015-11-25 00:01] diiimo2k11 commented on #268
The problem is: return err
The error handler does not understand the error.
Better solution that works:

[code]

[2015-11-25 02:24] ansel1 commented on #270
Wow, this project moves too fast...thanks!

[2015-11-25 02:24] #270 closed

[2015-11-25 03:35] peppage commented on #154
This is coming up on c.HTML. I'm allowing user input (and parsing the markdown) and if they enter a URL with spaces that are %20. Any ideas? Thanks.

[code]

[2015-11-25 04:23] vishr commented on #154
@peppage This has been fixed by removing formatter from `Context#HTML()` & `Context#String()`. Please get the latest and verify.

[2015-11-25 04:56] peppage commented on #154
Thanks!

[2015-11-25 04:59] goldalworming opened #271 "website example in url /welcome return error"
parsing template return error
ERROR|echo|html/template: "welcome" is undefined

[2015-11-25 05:06] goldalworming commented on #271
sorry, my mistake

I should change line 107 to
templates: template.Must(template.New("").Delims("[[", "]]").ParseFiles("public/views/welcome.html")),

[2015-11-25 05:06] #271 closed

[2015-11-25 09:54] goldalworming opened #272 "handle angularjs post in echo"
hi, how to handle angularjs post?

curl -X POST -H "content-type: application/json" http://localhost:1323//users -d '{"id" : 1", "value":"testing"}'

[2015-11-25 15:20] vishr commented on #272
You an look at https://github.com/labstack/echo/blob/master/recipes/crud/server.go#L27

[2015-11-25 21:03] vishr commented on #268
Cool, closing now.

[2015-11-25 21:03] #268 closed

[2015-11-25 22:16] polds opened #273 "context.Set() doesn't lock the map for writing"
So I'm sure this was done on purpose for speed issues but recently ran into an issue where we had a middleware issuing unique Request IDs and saving them using `context.Set()`. Under high concurrency we found that requests began to start sharing request ids and found it was caused by the underlying map for the store not locking.

[2015-11-25 23:35] vishr commented on #273
Each request runs in a separate goroutine so unless you introduce goroutines within, there shouldn't be any problem. Further the underlying map get reset for every new request.

[2015-11-26 06:26] iktakahiro opened #274 "rs/cors does not provied echo compatible handler"
Sample code at http://labstack.com/echo/recipes/website

[code]

This handler does not seem to be used.

[code]

For reference..

[code]

Was the latest document wrong? Is my mistake?

Of course, It's cors's issue. However, echo is an good Application. So I think there is also option to own-implement like a [contrib/cors](https://github.com/gin-contrib/cors).

[2015-11-26 14:48] AlekSi commented on #255
You can `$ echo-server 2> /var/log/echo/access.log`

Personally I'm not a fan of logging to stdout – stderr is for logs, stdout for "normal" output (and daemon shouldn't have any).

[2015-11-26 15:35] diiimo2k11 commented on #255
Is correct. Is also a question of definition. More importantly, that you flexibly stdout or stderr or file handle can pass.

[2015-11-26 17:22] iktakahiro commented on #244
+1

[2015-11-27 09:42] goldalworming commented on #272
it works, thank you
curl -X POST -H "content-type: application/json" http://localhost:1323/users -d '{"ID" : "1", "Name":"testing"}'

[2015-11-27 09:42] #272 closed

[2015-11-28 03:57] orangesoup opened #276 "Get the actual port the server is listening on"
Hey!

AFAIK there is no way to know what port the server is listening on when it's started on port 0. At least not with http.ListenAndServe/TLS. Would it be possible to use listen + serve and export the address field somehow?

[2015-11-30 18:17] polds commented on #273
That must have been my problem then. We were introducing additional goroutines within a request. What was happening was the goroutine for Request 1 was receiving the request ID assigned by the middleware of Request 2.

[2015-11-30 18:27] vishr commented on #273
In that case, you must acquire a lock while accessing `Context#Set` and `Context#Get` APIs.

[2015-11-30 21:06] polds commented on #273
With the storage being unexported and no mutex added to the struct how would you recommend to obtain the lock without creating a copy of the Context?

[2015-11-30 21:43] vishr commented on #273
For an incoming request, a `sync.Mutex` should be created and used to access the storage in `Context`. This lock could be part of `Context` itself, stored in `golang.org/x/net/context`. For reference: http://labstack.com/echo/guide/request

[2015-12-01 21:22] vishr opened #277 "Implement auto reload when files changes"
- Hard reload for server side changes
- Soft reload using live reload for client side

[2015-12-02 02:51] Puffton commented on #269
My misc suggestions in #245.

[2015-12-02 02:52] Puffton commented on #245
Closing for tracking in #269.

[2015-12-02 02:52] #245 closed

[2015-12-02 08:46] ahmet commented on #277
:+1:

[2015-12-02 16:57] vishr opened #279 "[Breaking change]: Removing getter API and directly exporting fields."
- [ ] `Context#Request()` to `Context#Request`
- [ ] `Context#Response()` to `Context#Response`
- [ ] `Response#Writer()` to `Response#Writer`
- [ ] Update docs
- [ ] Update recipes
- [ ] and much more...

Vote up/down welcome!

[2015-12-02 16:58] olebedev commented on #277
Wow, I think it's not Echo issue. Hot reloading already advanced and flexible in frontend. And hot code reloading for Go already implemented too.
Please keep Echo clean and simple to understand for new developers. It is the most important, IMO.

[2015-12-02 16:59] iktakahiro commented on #279
+1

[2015-12-02 17:03] vishr commented on #277
You meant as some library?

[2015-12-02 17:09] joeybloggs commented on #279
:-1: it would make changes like issue #146 Context as an interface problematic. Correct me if I'm wrong but Go inlines these function calls at compile time so I don't see a real performance benefit.

[2015-12-02 17:11] olebedev commented on #277
Yeah, but not only. For example [here](https://medium.com/@olebedev/live-code-reloading-for-golang-web-projects-in-19-lines-8b2e8777b1ea#.gok9azrg4) I am showing how to do hot reloading without any special library. And [here](https://github.com/olebedev/go-starter-kit) is full example with totally hot reloaded React app, rendered at server with Echo.

[2015-12-02 17:14] vishr commented on #279
@joeybloggs It's mostly for convenience and even I am not sure how Go handles it.

[2015-12-02 18:38] vishr commented on #277
@olebedev Thanks for the links, I definitely don't want to repeat what is already done or can be done easily. Probably it's a candidate for recipe/example.

[2015-12-02 21:59] aboukirev commented on #279
I'd say don't rush it.  I argued earlier on Reddit that it is something I'd like in Echo.  However, I am all for careful consideration before an action is taken.  What I'd like to see more than that is having response writer accessible directly from context rather than through intermediate response, i.e. `c.Writer()` rather than `c.Response().Writer()`.  Primarily because it is shorter and mimics

[2015-12-02 22:03] vishr commented on #279
@aboukirev So you are the one :smile:. Now I am considering #146 as @joeybloggs mentioned.

[2015-12-02 22:55] polds commented on #273
Using the withValue seems to work. I'm wondering now what the difference in using the store in the `echo.Context` vs storing things in the `net.Context`?

example:

What's the difference between:

[code]
and
[code]

[2015-12-02 23:00] vishr commented on #273
`net/Context` was added recently. The only difference now is that internal storage for `echo.Context` is a map, so you can store multiple key/val pair but with `net/Context`, by default its just one key val, although val can be a map again :smile:. There is another solution as I mentioned earlier, have a synchronized map and store it in `net.Context`.

[2015-12-02 23:46] polds commented on #273
Appreciate the responses. Closing this.

[2015-12-02 23:46] #273 closed

[2015-12-03 06:38] olebedev commented on #277
@vishr it would be great!

[2015-12-03 12:15] pandex opened #280 "Referencing static files"
I have a site structure like so:

    mySite
        file1.html
        file2.html
        img
            image1.png
            image2.png
        myApp.go

I also have an embedded link in an email:

    myURL.com/abc/xyz

when that link is clicked, myApp parses it:

	e.Get("/abc/:x", serveSomeFile)
	…
	func serveSomeFile(c *echo.Context) error {
		xval := c.P(0)
		[do stuff with xval to figure

[2015-12-03 16:12] vishr commented on #280
You should have a look at `Context#File` API.

[2015-12-03 16:37] pandex commented on #280
Earlier, I'd tried **c.File("file1.html")** above, but it gives me *(type *echo.Context has no field or method File)*. Obviously, I'm not getting the signature correctly.

[2015-12-03 16:40] vishr commented on #280
Probably you don't have the latest version.

[2015-12-03 16:46] pandex commented on #280
No, I'm a couple months behind. Before I switch, is **return c.File("file1.html")** good enough in that flat hierarchy above, in the new version?

[2015-12-03 17:02] vishr commented on #280
It is suppose to work. Just be careful about the path, with absolute path - no problem but the relative path should be from the location you are running your binary.

[2015-12-03 17:08] pandex commented on #280
OK, great, thanks.

[2015-12-04 01:28] vishr commented on #146
5cd194b6b073541a5ab6c80d7ba8162be373d007

[2015-12-04 01:33] dxvgef opened #281 "About router parameter separator"
Please support a non path separator as a router parameter separator, because it is friendly to search engines.
Like this:
/file-:param1-param2-param3
/path/file-:param1-other-:param2

[2015-12-06 16:10] CaptainCodeman commented on #274
I'm using similar code to the above and it's working fine:

    c := cors.New(cors.Options{
        AllowedOrigins:   []string{"*"},
        AllowedHeaders:   []string{"Origin", "Accept", "Content-Type", "Authorization"},
        AllowCredentials: true,
        Debug:            false,
    })
    e := echo.New()
    e.Use(c.Handler)

There are some issues with browsers when running on localhost so

[2015-12-07 03:56] iktakahiro commented on #274
@CaptainCodeman Thank you for your comment.

It seems the same issue as https://github.com/labstack/echo/issues/228

I tried using your code, but cors did not work.

response:

[code]

Postman I'm using requests to localhost:8080. I will look into that a little.

[2015-12-07 04:50] vishr commented on #280
Closing now.

[2015-12-07 04:50] #280 closed

[2015-12-08 06:40] jatlee opened #282 "unsupported type: map[string]interface {}"
hi, why unsupported type: map[string]interface {} to gen xml response

[2015-12-08 15:40] vishr commented on #282
Please explain me the complete story.

[2015-12-10 14:37] monoflash opened #284 "How to disable the built-in logging?"
I use my logging and because of this double log data through middleware and through the built-logger.
I would like to be able to completely disable the built-in caching.

[2015-12-10 14:44] vishr commented on #284
Can you remove the `Logger()` middleware?

[2015-12-10 14:56] monoflash commented on #284
I'm not pointing "e.Use(Logger())"
But in the case of 404 I see console logs.

import (
	"github.com/labstack/echo"
)

func NewHandler(cnf *configuration.ServersStruct) (hndl *echo.Echo) {
	hndl = echo.New()

	hndl.Static("/", cnf.DocumentRoot)
	hndl.AutoIndex(true)
...

curl http://127.0.0.1:8080/123123123 (non existing URL)

Result on console:
"ERROR|echo|Not Found"

[2015-12-10 15:00] vishr commented on #284
This is getting generated from the default HTTP error handler https://github.com/labstack/echo/blob/master/echo.go#L200.
You can set your own `Echo#SetHTTPErrorHandler()` and handle the errors.

[2015-12-10 15:22] monoflash commented on #284
Not certainly in that way. You connect an outside logger which is integrated into the default HTTP error handler.
This is evident on the code and when I connect a my logger.

1 [             log|github.com/labstac][7790    ] (N:5): ERROR|echo|Not Found {github.com/labstack/gommon/log/log.go:107, func: (*Logger).Error()}
2 [         handler|application/server][7790    ] (W:4): 127.0.0.1 404 GET /12

[2015-12-10 15:22] #284 closed

[2015-12-14 09:02] mertenvg opened #286 "Routing based on Header values"
I have a use case where I would like to attach multiple handlers to the same path but select the correct handler based on a selected Header value. Does something exist (recipe or feature) for this already. If not, would this be considered part of the echo scope if I add it and create a pull request?

[2015-12-14 10:21] goldalworming opened #287 "big project file.structure"
hi, can you give recommendation of file structure to separate router and handler.

because I don't really understand to separate files because variable only known in main function

[2015-12-14 10:24] goldalworming commented on #287
hi, can you give recommendation of file structure to separate router and handler.

because I don't really understand to separate files because variable only known in main function

[2015-12-14 15:47] vishr commented on #286
The handler is matched entirely based on request method and path. This is a very specific case and I would consider it to be handled outside of the framework.

[2015-12-14 19:15] CaptainCodeman commented on #287
There's some hints on how to go this in the app-engine recipe.

I tend to have an echo instance in a package setup as a variable (so initialized first) and the handlers for a REST endpoint in a single file which register their routes in an init() function in the same file. It seems to keep things neat and tidy.

[2015-12-14 19:17] CaptainCodeman commented on #286
That doesn't sound like a generally-useful feature for the router to have ... maybe you can explain your use case more - what are the differences in the handlers? It may be that you can do what you need with some middleware instead.

[2015-12-14 20:18] mertenvg commented on #286
The case I'm thinking of in particular is for XMLHttpRequests. The function of the endpoint remains the same but the handling of such a request (in particular the response) may be very different.

I've considered using middleware to modify the route when a specific header is encountered but if I'm not mistaken the handler is selected before the middleware is fired so modifying the path at this poi

[2015-12-14 20:48] CaptainCodeman commented on #286
You still haven't provided much of the actual use case, just a hint at the format which may be irrelevant - how is it handled differently and what header changes it and why? Why does it need to be a different handler and not something within the handler? It really comes down to this: at what point should it really be a different handler (that the client requests).

You could have a single endpoint

[2015-12-14 21:31] mertenvg commented on #286
Ok some details. I have a form that will be submitted either through standard http request or when javascript is enabled be handled through an XMLHttpRequest (to the same form action endpoint). This sends me a "X-Request-With" header that I would like to match so that a different handler can be used for the ajax request.

In the case of the standard http request I need to create a context (for the

[2015-12-14 23:24] CaptainCodeman commented on #286
That sounds like it's mostly 'content negotiation' to decide the format for the response (with the slight complication of having more to render for the full html rendered page I'm guessing ?).

A good pattern for making this neat and avoiding duplications and lots of if / then blocks is the hexagonal / ports and adapters / onion architecture / clean code structure (yeah, it's known by many names).

[2015-12-15 04:17] goldalworming commented on #287
ok, I'll try it. thank you captain

[2015-12-15 08:31] mertenvg commented on #286
Thanks @CaptainCodeman. I'll definitely take a look at the structure you mentioned. It's possible I've used it before without realising but don't recognise the name(s) you mentioned. It's google time :smile:

[2015-12-15 08:31] #286 closed

[2015-12-15 16:06] xperimental opened #288 "No possibility to inject a path parameter into Context for testing?"
I am currently trying to write a test for a handler which expects a parameter in the `Context` passed to it. I have seen that you can create a new Context using a Request and ResponseWriter (or ResponseRecorder for testing) using the `NewContext` function, but that one does not provide any options for setting the parameters and the slices for the parameters are private so they can not be modified

[2015-12-15 16:32] vishr commented on #288
You set  `Request.URL.Path` to any value and it will be parsed by the router.

[2015-12-15 16:53] xperimental commented on #288
So the idea is to test the complete router with every request?

[2015-12-15 17:13] vishr commented on #288
As those fields are not exported, you have to rely on `Router#Find()` to fill up the path parameters. For reference https://github.com/labstack/echo/blob/master/context_test.go#L234. In version 2, `Context` will be an interface - making things quite easy.

[2015-12-15 22:33] BrandonRomano opened #289 "Param names can be overwritten by other HTTP Verbs"
Look at the example code here:

[code]

I would suspect the output for `[GET] http://localhost:5555/example/hello` would be:

[code]

But the output is actually:

[code]

If you comment out the starred line and run again, you get the expected output.

[2015-12-16 02:34] mickgardner commented on #217
Just writing to note that I have run into this same issue also. Hoping there's a fix :-)

[2015-12-16 10:43] xperimental commented on #288
Thanks for the link, I must have missed that somehow, because I already had a look at that file. Will try it out with my own tests.

[2015-12-16 10:43] #288 closed

[2015-12-16 16:36] vishr commented on #289
Looks like a bug. For now, you can use `Context.P` and fetch parameter by index.

[2015-12-16 17:20] valyala opened #290 "Add fasthttp support"
It would  be great if support for [fasthttp](https://github.com/valyala/fasthttp) will be added to echo. Fasthttp provides http server optimized for speed. So it outperforms net/http both in [synthetic benchmarks](https://github.com/valyala/fasthttp#http-server-performance-comparison-with-nethttp) and [in production](https://github.com/valyala/fasthttp#fasthttp).

[2015-12-16 17:58] BrandonRomano commented on #289
Yup, it's not effecting any of my work as of now, so no rush on my end.

[2015-12-16 18:30] vishr commented on #290
@valyala It's in the roadmap for v2. The idea is to make using of interfaces and support multiple HTTP engine.

[2015-12-17 18:45] medzin opened #291 "More context information in defaultHTTPErrorHandler"
Current implementation of defaultHTTPErrorHandler does not log any information about the context in which the error occurred. It should log at least request data (method and path) that caused the error, so it will be easier to debug the problem.

[2015-12-20 07:14] Gouthamve opened #293 "How does echo.Router Work?"
I was trying to setup other ways of testing and I spent considerable time getting this to work

[code]

Does the Router have the existing echo routes? And is it working?

[2015-12-20 07:32] Gouthamve commented on #293
Sorry, had another look at the docs, realized, that I needed to do, ```e.Router()``` to get the router. I got it working. Thanks

[2015-12-20 07:32] #293 closed

[2015-12-21 23:39] vishr opened #294 "Echo v2 proposal"
https://github.com/labstack/echo/tree/v2

- [x] `Echo.Context` as interface #146
- [x] `Request`, `Response` and their fields as interface
 - Enables easy testing and loading context with your own functions.
- [x] Decoupling from standard HTTP API which allows you use any HTTP engine underneath, for example, fasthttp. #290
- [x] Drop `Context#JSONIndent` and `Context#XMLIndent` and use formatting

[2015-12-21 23:48] vishr opened #295 "Who's using Echo?"
If you are using Echo in your personal projects or at work, please consider getting it listed on README.

- Synack
- Software Motor
- https://cozy.io

PS: Just mention as a comment.

[2015-12-21 23:53] CaptainCodeman commented on #294
While we're discussing interfaces ...

Would it make sense to remove the JSON | XML "Indent" methods and have a switch within the regular method instead (maybe based on the debug flag?). That way the output can be switched globally rather than making code changes in the app.

The times I use the neat formatting is mostly just development and it would simplify the API surface slightly.

[2015-12-21 23:57] CaptainCodeman commented on #295
Work in progress: http://showchampions.photoserve.co

Going to also hopefully switch a personal site from Python -> Go (Echo) over the xmas break (I'll post a link when it's up - get's about 1.5m page views a month)

[2015-12-22 01:59] eyberg commented on #295
we have some middleware for it https://github.com/deferpanic/dpecho - which website were you talking about?

[2015-12-22 02:31] vishr commented on #295
@eyberg Actually `README.md`

[2015-12-22 02:40] caarlos0 commented on #295
@vishr yes, some personal projects and one project at work too. I think the only one open for the world today is http://antibody.elasticbeanstalk.com .

[2015-12-22 05:12] chrisseto commented on #295
@vishr we use it to power a fake version of our authentication server, for local development.
https://github.com/CenterForOpenScience/fakecas

[2015-12-22 05:19] olebedev commented on #295
@vishr sorry for PR above. [go-starter-kit](https://github.com/olebedev/go-starter-kit) is using Echo.

[2015-12-22 14:00] eolexe commented on #295
We are using echo at seesawlabs.com cc @raphaeljlps

[2015-12-22 16:42] polds commented on #295
Personal project: Using Echo as an API layer for an image sharing service called imgget (OSX App to be released soon)

Work projects:
  **Company**: www.kyani.net
  - Echo is used as the low level router for our internal microservices, new project that already powers thousands of requests.
  - Echo powers the geolocation router that sits at our root www.kyani.net and forwards users to the appropri

[2015-12-22 18:19] BrandonRomano commented on #295
@vishr -- We use echo at my company Carrot Creative.  We have a pretty specific stack for building out Go API's, and we have our base here: https://github.com/carrot/burrow (warning, this is super opinionated).

The root of burrow is echo.

[2015-12-22 20:51] benpate commented on #295
We’re using Echo to build eurekametrics.com - which is currently in private beta testing.

[2015-12-23 09:23] 01walid commented on #295
@vishr we're using it in [coursella](http://www.coursella.com/) for our notification system (Server Sent Events). I also switched to Echo for my personal projects.

[2015-12-24 00:33] Puffton commented on #294
I understand if it's not top priority, but:
- Estimated release date for v2.
- An upgrade guide from v1.x to v2.

[2015-12-24 08:45] PascalLeMerrer opened #297 "Display response body in logs"
Is there any way to add the response body to logs, when in debug mode?

[2015-12-24 18:11] vishr commented on #297
Not in the default statement but you can alway override default HTTP error handler and print what you wish to. For reference: http://labstack.com/echo/guide/customization/

[2015-12-24 18:12] vishr commented on #297
@PascalLeMerrer Please consider #295.

[2015-12-25 15:52] lukashes opened #298 "Will it include validation?"
Echo has json-binding abilities. Will it have binding validation options, or I need to use other libs?

[2015-12-25 17:03] scofieldpeng opened #299 "Add matched route path in *echo.Context may be more convenient"
hello, I try to echo as api server. when I do it, i want to make authentication for every api request after match route. I want to checkout the path is support the method of user request, have access to request or filter some routes which are not needed to auth. Now *echo.Context is not exist the matched route name,if this field is added, I think it's more convenient to apply such needs when use i

[2015-12-25 17:06] scofieldpeng commented on #299
maybe group can do it, but I think it's not a good way. use middleware is better  :)

[2015-12-25 20:27] PascalLeMerrer commented on #295
I use echo for a personal project, [Bleu Vanille](http://bleuvanille.fr/)
It will be an application (in french only, sorry) to answer to a major question: what do we eat?

[2015-12-26 07:45] patrickdappollonio commented on #295
My company, [ImPlaces](http://www.implaces.com/) uses Echo not only for our main product (on both Backend and APIs) but we've managed to use it as well in our consultancies as part of improvements.

[2015-12-27 00:32] nwjlyons commented on #295
I just finished building a personal project using echo. It's called [gomoku](http://gomoku.thoughtsfromplac.es/). It's a two player game where you need to get five stones in a row to win.

Very simple game that reloads player 2's page using websockets whenever player 1 has put down a stone.

Colophon
- Go
- echo
- gForms
- pongo2
- websockets

[2015-12-28 02:25] joeybloggs commented on #298
It looks like having the ability to hook a validation library may be included in the future see here https://github.com/labstack/echo/blob/master/echo.go#L71 but I don't see it being called anywhere yet.

The approach looks very similar to gin which should be very extensible. If you are interested in a library that would fit into the future bind & validate logic and can still be used separately ri

[2015-12-29 06:08] impronunciable opened #301 "Apply middleware on specific routes (not based on prefixes)"
Hi! I'm building github.com/impronunciable/hackdash-api and I want to, for example, apply a middleware for restrict some routes for logged in users only. For example:

[code]

I'm doing

[code]

But it seems the restrict middleware is being applied for all routes. How can I just apply the middleware for the specific routes?

Thank you!

[2015-12-31 00:09] gelidus commented on #276
I tried to dig into this and this is the result:
- you can get the port from `Listener.Addr().String()`
- Echo is using http package which provides Server
- `Server.ListenAndServe()` creates new listener as a local variable and does not distribute it back to the *Server* structure

Based on this, Echo can provide the copy of the *ListenAndServe* method from the *http* package, store the listener a

[2015-12-31 01:29] GeorgeErickson commented on #295
[DrinkIn's](https://drinkin.com/) uses echo for the main shopping API.

[2015-12-31 03:02] ianwalter commented on #301
:+1:

[2015-12-31 04:04] vishr commented on #301
From https://godoc.org/github.com/labstack/echo#Echo.Group

So you will create a group like

[code]

As your group is empty, I don't know the exact behavior. I would suggest to try with named group and we can debug it further.

[2015-12-31 04:11] ianwalter commented on #301
My Group is not empty:
[code]
Also tried using the `restricted.Use` interface.

[2015-12-31 04:13] ianwalter commented on #301
Pretty sure this is a bug, but even if it isn't, I think `group_test.go` should be modified to test for this case.

[2015-12-31 04:15] vishr commented on #301
This is covered here https://github.com/labstack/echo/blob/master/echo_test.go#L322

[2015-12-31 04:21] vishr commented on #301
Here is the working example

[code]

[2015-12-31 04:30] ianwalter commented on #301
It doesn't work for us most likely because our root path is the same between the base and restricted routes while the root path is different in your example. I think this is a fairly common use case, but maybe it shouldn't be handled by groups?

[2015-12-31 04:48] vishr commented on #301
This is a case at route level and groups won't work at that detail. I would suggest to have a function which get called from each of such routes.

[2015-12-31 11:47] impronunciable commented on #301
I tried with a non-empty group and didn't work either. We ended up using a function wrapping tje handlers for the protected groups.

Thanks for the response :)

[2015-12-31 11:47] #301 closed

[2015-12-31 16:52] scofieldpeng commented on #299
sorry,i find *echo.Context contain the matced route,use *echo.Context.Path() can get it,tks :)

[2016-01-03 01:56] lming opened #304 "Option to replace embedded logger with glog?"
I have used a couple other Go web frameworks before and for my latest project I chose Echo because of its simplicity and speed. The only inconvenience for now is the embedded logger:
- It uses tty colors. This is good for local testing, but for production server, the color encoded log provides nothing more than inconvenience when do grep.
- I don't see how the logger handles file rotation if outpu

[2016-01-04 05:40] whidbey opened #305 "Form validate feature request.."
support validate like revel.

[2016-01-05 00:26] CaptainCodeman commented on #304
I still have a partial implementation of automatic logging support on AppEngine so I'd be interested in any interface that could be used to swap the logger implementation.

[2016-01-07 18:28] diiimo2k11 opened #307 "Many dependencies"
If you installed with GVT or glide echo, half Internet with downloaded.
Are all necessary?
Faith as the dependencies of the recipes with are.

$ gvt fetch github.com/labstack/echo
2016/01/07 19:20:47 fetching recursive dependency github.com/GeertJohan/go.rice
2016/01/07 19:20:49 fetching recursive dependency github.com/daaku/go.zipexe
2016/01/07 19:20:51 fetching recursive dependency github.com/dg

[2016-01-07 20:42] aboukirev commented on #307
No,  Various packages, besides main package code, have examples, recipes, etc, that import a lot of 3rd party packages.  Unfortunately `gvt`, `glide`, and like tools are dumb enough to scan everything and bring in all these dependencies, where actually used or not.  Not `echo` fault.  I stopped using `glide` because of that issue.

[2016-01-07 22:00] vishr commented on #307
I have seen this and I am with you. Probably need to separate recipes/example to a different repo.

[2016-01-07 22:07] diiimo2k11 commented on #307
Can you make. It would however also work with the flag -no-recurse. For GVT and glide.

[2016-01-08 03:48] montanaflynn opened #308 "Examples for testing simple middleware"
Hi, thanks for the awesomeness that is echo!

So I'm making some basic middleware but don't know how to test it. Even after looking at the included middleware tests I'm left confused with how to check something as simple as the response headers.

Here's an example using a very barebones CORS middleware:

[code]

Here's my super hacky test that while it works, I believe there's a better way:

[code

[2016-01-08 08:18] polaris1119 commented on #304
I agree. I have the problem, too.

[2016-01-08 10:23] jonny-improbable opened #309 "Naming Wildcard Param"
With the following router configuration:

[code]

I would like to be able to retrieve the value captured by the wildcard, ie:

[code]

Thanks!

[2016-01-08 10:26] jonny-improbable commented on #309
Aha! No sooner than asking, I found the solution, although I'm not sure if this is documented or encouraged as part of the public API :)

[code]

It might be worth moving `_*` into a publicly exported constant, ie: `echo.WILDCARD_PARAM`?

[2016-01-08 10:51] jonny-improbable commented on #294
Consider adding method chaining to the API, especially for groups, use case:

[code]

compared to:

[code]

[2016-01-08 16:06] vishr commented on #309
Glad you found it.

I will keep this open:

- [ ] Update documentation
- [ ] May be, move it to a constant

PS: If you are using Echo in your projects, please consider it adding to the list #295.

[2016-01-08 16:10] jonny-improbable opened #310 "Request: Pass echo Context in echo.Render"
It would be awesome if `echo.Renderer` implementations had access to the `echo.Context` object so they can retrieve common data from it required for rendering (eg: The active user session).

[2016-01-08 16:12] vishr commented on #308
You can use `httptest.ResponseRecorder`, https://github.com/labstack/echo/blob/master/middleware/logger_test.go#L53.

[2016-01-08 16:21] vishr commented on #310
@jonny-improbable When you call `Context.Render` you can pass any data to the function.

[2016-01-08 16:25] jonny-improbable commented on #310
Sure, but this results in duplication amongst all of my http handlers which would be easy to miss when modifying / adding a new handler.

[2016-01-08 20:01] montanaflynn commented on #308
Thanks, I saw the same thing in the middleware tests, I guess this is causing me the confusion:

[code]

I don't understand how to test the middleware without sending an actual request.

[2016-01-09 17:44] #307 closed

[2016-01-09 19:55] jonnyreeves commented on #309
Two pull requests raised - one for each point above.  Feel free to pick and choose.  Thanks for your hard work on this framework :+1:

[2016-01-10 05:54] #287 closed

[2016-01-11 16:10] xialvjun opened #315 "will echo support regex url param"
like the title

[2016-01-11 18:45] vishr commented on #315
I doubt, but you can use match any `*` and use regex inside the handler to forward requests.

[2016-01-13 14:35] localhosted opened #316 "How to use middleware to manage handler's error output?"
I want to make a middleware that catches all handler's errors and formats them according to error type and request content-type. I'm not sure exactly how middleware works, if it catches the handler or is called before they run, has anyone done something similar yet?

[2016-01-13 14:49] whidbey opened #317 "any recipes or example for using databases?"
thanks

[2016-01-13 15:20] vishr commented on #316
Middleware is run before handler but all handler return error which is caught by a centralized `HTTPErrorHandler`, you can also provide your own and deal with the errors. For reference, http://labstack.com/echo/guide/customization.

[2016-01-13 16:25] localhosted commented on #316
Ah, true. Thanks!

[2016-01-13 16:25] #316 closed

[2016-01-13 22:01] dc0d opened #318 "Question: Handle "Any" HTTP Verbs under a Group"
Is is possible to handle all HTTP Verbs under a `*echo.Group`?

Currently I use:

[code]

The problem is, now, I can't use middlewares (via `.Use`; or I do not know how to do that).