[2017-03-16 17:52] #880 closed

[2017-03-17 02:08] imroc commented on #857
thx

[2017-03-17 02:08] #857 closed

[2017-03-17 08:00] bsed opened #882 "message":"interface conversion: jwt.Claims is *router.jwtCustomClaims, not *handler.jwtCustomClaims"
//自定义claims
	config := mw.JWTConfig{
		Claims:     &jwtCustomClaims{},
		SigningKey: []byte("secret"),
	}

	j := e.Group("/api/v1", mw.JWTWithConfig(config))
	j.GET("/hello", handler.HelloHandler)

[2017-03-17 08:47] bsed commented on #882
只能在当前.go 文件中写入 HelloHandler 方法， 如果 放到其他包里，就会出现上面的文图

[2017-03-17 20:54] ellisonleao opened #883 "Oauth2 middleware?"
### Description

Hey guys i am trying to implement a simple oauth2 middleware on echo. Is there any examples i can use as reference?

[2017-03-18 04:01] xoviat opened #884 "url_for equivalent in templates"
Is there a `url_for` equivalent for the templates that allows avoiding having to hardcode handler paths, like that found in rails or flask?

[2017-03-19 17:48] LemonRuss opened #885 "Testing route with jwt [question]"
Writing test for echo server with jwt. Getting error

in  `user := c.Get("user").(*jwt.Token)`
When starting the server - all is fine.
Seems i should somehow connect JWT middleware in test suite, but i can't get how.
I looked here, but still in trouble.
[https://github.com/labstack/echo/blob/master/middleware/jwt_test.go](url)
Can someone give me a clue?

Code from test suit:
`e := echo.New()`
`re

[2017-03-20 05:27] bsed commented on #882
[code]
 写到同一个包下是可以的， 不同包下 就出问题
同一个包下，调试的时候出现claims 乱码

j.GET("/hello", HelloHandler1)改为 j.GET("/hello", handler.HelloHandler1) 就出问题

[2017-03-21 17:30] rof20004 commented on #871
Hi, can I save all the logs to database instead stdout?

I see in documents that needs an io.Writer but I want to save in my database.

[2017-03-23 06:19] hexadecy opened #886 "Html5 mode with Static middleware cannot mix with Static function in v3"
### Description
In Html5 mode with Static middleware cannot mix with Static function from another directory at the same level. Was working in v2, but not in v3

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
If file is found in ./public or ./node_modules serve it.
Else serve index.html

### Actual behaviour
Only serve file

[2017-03-23 08:27] VICTOR-LUO-F opened #887 "How to contribute Chinese translation?"
I'm very interested in echo, and want to contribute Chinese doc translation, how to do it ?

[2017-03-23 15:28] hexadecy commented on #886
As a workaround I mixed a part of v2 static middleware with v3.
[code]

[2017-03-23 15:50] vishr commented on #887
@VICTOR-LUO-F Thanks for your interested in Echo and support offer. I am looking into https://gohugo.io/content/multilingual documentation on multilingual. I will get back to you soon..

[2017-03-23 16:00] vishr commented on #885
You need to set JWT in your request, something like below:

[code]

[2017-03-23 16:19] VICTOR-LUO-F commented on #887
thanks. I’will be very glad, if could do some contribution.
在 2017年3月23日，下午11:50，Vishal Rana <notifications@github.com<mailto:notifications@github.com>> 写道：

@VICTOR-LUO-F<https://github.com/VICTOR-LUO-F> Thanks for your interested in Echo and support offer. I am looking into https://gohugo.io/content/multilingual documentation on multilingual. I will get back to you soon..

—
You are receiving th

[2017-03-23 16:20] VICTOR-LUO-F commented on #887
thanks.

[2017-03-23 18:30] vishr commented on #887
@VICTOR-LUO-F Please use this branch to continue working on translation. Each `*.md` file needs a counter `*.cn.md` file with Chinese content in it. Good luck!

[2017-03-23 18:34] VICTOR-LUO-F commented on #887
ok

[2017-03-23 18:40] vishr commented on #887
@VICTOR-LUO-F Please note that changes also need to be done in `config.toml` file.

[2017-03-23 19:12] LemonRuss commented on #885
Thank you, i tried! There was something more. I took "httpexpect" library, it helps.

[2017-03-23 19:12] #885 closed

[2017-03-23 23:28] rv-rsouza opened #888 "Return the original error when binding a json payload"
I need to treat some binding errors, like invalid time format when unmarshaling json from the payload.

It wold be nice to have a property on the echo.HTTPError with the original error reference. Something like `InnerError` (inner exception, as in .Net) or `OriginalError`.

This would be useful to know what caused the HTTPError aside from looking at the error message. Eg:

[code]

[2017-03-23 23:29] rv-rsouza opened #889 "dVentures34"
### Description

### Checklist

- [ ] Dependencies installed
- [ ] No typos
- [ ] Searched existing issues and docs

### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Working code to debug

[code]

### Version/commit

[2017-03-23 23:33] rv-rsouza commented on #889
Sorry. This was an accident.

[2017-03-23 23:33] #889 closed

[2017-03-24 02:14] VICTOR-LUO-F commented on #887
Ok. I already learned the HUGO yesterday, I will try my best, thank you .

[2017-03-24 03:18] vishr commented on #887
I have done the basic setup for translation in the configuration, you can read more here https://gohugo.io/content/multilingual. Now all we need is the Chinese content via `*.cn.md` and you can browse the website at `http://localhost:1313/cn`.

[2017-03-24 11:14] dalliard opened #890 "Skip Middleware only for GET Route"
I use the `Skipper` to skip the JWT Middleware for `/login` and `/signup`. Is it possible to additionally skip also for example a GET Request on Route `/users`? Any ideas how I can realise that? Thank you!

[2017-03-24 12:12] dinoboff commented on #630
Would disabling logging and using a custom HTTPErrorHandler works?

The issue is the Echo Logger interface is not compatible with app engine logger (which require a golang 1.6 Context). Echo need to either let a middleware set a Logger for each request or change the Logger interface methods to have a Echo Context parameter.

[2017-03-24 14:07] bsed commented on #882
没人回答，关闭l

[2017-03-24 14:08] bsed commented on #882
没人回答，关闭l

[2017-03-24 14:08] #882 closed

[2017-03-24 14:47] vishr commented on #890
In skipper you can check for request method and path?

[2017-03-24 18:40] #884 closed

[2017-03-24 19:23] #890 closed

[2017-03-26 11:58] trtstm opened #891 "Bind form to slice."
Is there a reason why the default binder can't bind to an array from a form submit but can when using json?

E.g it can bind to

    []struct {
        A int
        B int
    }

from

    [{a: 1, b: 1}, {a: 2, b: 2}]

but not from

    <input name="[][a]" value="1" />
    <input name="[][b]" value="1" />
    <input name="[][a]" value="2" />
    <input name="[][b]" value="2" />

Related code: http

[2017-03-26 19:50] NeutronStein commented on #891
Did you tried with this code?
[code]

[2017-03-26 20:50] trtstm commented on #891
Yes, that gave me the same problem. Which makes sense looking at the code I linked. If you don't pass in a struct it doesn't work.

[2017-03-27 03:15] #833 closed

[2017-03-27 09:13] countstarlight opened #892 "Internationalization and Localization"
How to achieve Internationalization and Localization with echo？Some simpler way, such as ready-made packages available?

[2017-03-28 22:10] amrnt commented on #844
@vishr Why `Echo#Logger.SetOutput` would work if I pass `logrus.Logger#Out` which implements `io.Writer`: https://github.com/sirupsen/logrus/blob/master/logger.go#L13

[2017-03-29 14:28] dinoboff commented on #630
To log the http error in app engine (you would use build flags to handle both standard http server or app engine server):
[code]

[2017-03-30 07:56] VICTOR-LUO-F commented on #887
Thank you! I already start working.

[2017-03-30 16:19] vishr commented on #887
Great!

[2017-03-31 02:29] siredwin commented on #891
Have you tried:

    []struct {
    A int `json:"first" form:"first"`
    B int  `json:"second" form:"second"`
    }

Then in forms

    <input name="first" value="1" />
    <input name="second" value="2" />

I have not tried this solution but i think it is pointed in the right direction and i have one similar like this.

[2017-03-31 08:38] trtstm commented on #891
I tried this:

    params := []struct {
        Start time.Time `json:"start" form:"start"`
        End   time.Time `json:"end" form:"end"`
        Title string    `json:"title" form:"title"`
    }{}

    err := ctx.Bind(&params)

With this form data:

    start:2017-03-31T00:00:00+02:00
    end:2017-03-31T10:29:44+02:00
    title:31/03/2017
    start:2017-03-30T00:00:00+02:00
    end:2017-03-30T2

[2017-03-31 21:08] cesardevera opened #895 "question: use Auto TLSwith auto-scaling"
I tested the Auto TLS example from Cookbook and it worked fine. :)

but I'm not sure if I could use that simple approach with an auto-scallable application, where I would add more front-end (internet facing) servers on demand. I imagine that when I scale up, each new server will ask for a new certificate.

considering I don't exceed Let’s Encrypt rate limits, is it a problem if each server has its

[2017-04-01 15:23] Rasarts commented on #877
Maybe you can try OPTIONS method for send cors headers from server?

[2017-04-01 16:18] vishr commented on #895
@cesardevera I had a similar setup and I achieved it using a shared directory. If you are not going to hit the limit than you can also have a certificate for each server - not a problem.

[2017-04-01 16:18] #895 closed

[2017-04-01 16:22] vishr commented on #892
@countstarlight You can look into this project https://github.com/nicksnyder/go-i18n. Let us know if you need any help to make it work with Echo.

[2017-04-01 16:22] #892 closed

[2017-04-04 07:38] TianDaGe commented on #523
Hello,
So did this issue solve in the past? I get this issue right now and am trying to solve this for few days.
but I didn't. How can I do?
I have just do by using https://github.com/sebdeckers/express-history-api-fallback
But I want to listen and serve by using echo framework in golang. please support me asap.

[2017-04-04 11:57] hexadecy commented on #523
Yes it was fixed , but I have a small issue related to it #886.

[2017-04-04 15:42] TianDaGe commented on #886
very nice! @hexadecy
Then, when I use go-bindata-assetfs, how can I use your method?

[code]

Then this method is not working with NotFound(404) page. Did you check that on your side?

[2017-04-05 04:00] hexadecy commented on #886
You have to fork and modify around this line:
https://github.com/Code-Hex/echo-static/blob/master/static.go#L56
[code]

[2017-04-05 06:41] TianDaGe commented on #886
[code]
How to set "Root" parameter to configure static?

[2017-04-05 07:06] TianDaGe commented on #886
Thanks, @hexadecy
How is Not Found(404) page?

[2017-04-05 09:10] dalliard opened #897 "JWT with RS256 not Working for me"
### Description
I tried to implement JWT with the RS256 Algorithm, but it doesn't work for me. I found already [this Issue](https://github.com/labstack/echo/issues/633) where an example is provided. And the jwt.io Debugger says, that the generated Tokens are valid. But it seems that the JWT Middleware doesn't accept my Tokens, because my Router is never touched.

### Checklist

- [x] Dependencies

[2017-04-05 12:45] painhardcore commented on #843
@vishr whats wrong with
echo: http: TLS handshake error from 172.16.113.222:52573: acme: identifier authorization failed
echo: http: TLS handshake error from 172.16.113.222:52642: acme/autocert: missing certificate
echo: http: TLS handshake error from 172.16.113.222:52647: acme/autocert: missing certificate
I used example on https://echo.labstack.com/cookbook/auto-tls

[2017-04-05 13:17] hexadecy commented on #886
It's not a real 404 page, it's a http code from the context.

[2017-04-06 07:36] dalliard commented on #897
Nevermind, I changed back to HS256 cause signing and verifying happens on the same Server, so in my opinion I don't need RS256. But I still think there is maybe somewhere a bug here, not sure. I will close this because it doesn't affect me anymore.

[2017-04-06 07:36] #897 closed

[2017-04-07 02:33] bsed opened #898 "sometimes inexplicable garbled problem, and ready to restart the gogland"
![echo error](https://cdn.gnux.cn/errors/golang_echo_error.png)

[2017-04-07 04:26] hexadecy commented on #898
Don't think it's related to echo...

[2017-04-07 05:14] bsed commented on #898
an occasional on debug

[2017-04-07 06:28] bsed commented on #898
[](https://cdn.gnux.cn/errors/golang_echo_error02.png)

[2017-04-07 06:37] bsed commented on #887
good~

[2017-04-07 06:59] homina commented on #269
@SlavaBobik
can you show me how to add limiter in echo v3?

[2017-04-07 11:15] hexadecy commented on #898
Gogland is a beta ide

[2017-04-08 00:17] siredwin commented on #843
Two things i would recommend
1. Make sure you have .cache folder in your main folder. You might have to create it manually if it is not present when you get that error. Please check that!
2. Redirect all traffic to use HTTPS
        `e := echo.New()`
        `e.AutoTLSManager.Cache = autocert.DirCache(".cache")`
	`e.Pre(middleware.HTTPSRedirect())`

That is how i got it to work with mine.

[2017-04-08 00:53] siredwin opened #899 "package context: unrecognized import path "context""
### Description
My server  hosted in PaaS uses the default provided Go version 1.5.2 . Until recently it ran well and then i started getting the above errors.

### Problem Origin
Problem arises from the `golang/crypto package` which requires Go 1.7+. See below commit from 6 days ago.
https://github.com/golang/crypto/commit/88915ccf7aeb91e9324fe7cf3eddd1531ced61ea?_pjax=%23js-repo-pjax-container

F

[2017-04-09 15:52] vishr commented on #843
Make sure the cache directory is writable. Do you see a certificate in your cache directory?

[2017-04-10 02:18] bsed opened #900 "能否支持下NoRoute设置"
能否支持下NoRoute设置
[code]

[2017-04-10 23:53] vishr commented on #899
Yes Go 1.7+ is recommend.

[2017-04-10 23:54] vishr commented on #887
@VICTOR-LUO-F Any progress?

[2017-04-11 09:06] weisd commented on #900
不是有个NotFoundHandler吗？路由找不到会返回ErrNotFound， 可以设置echo.HTTPErrorHandler 在这处理所有错误

[2017-04-11 09:18] Wilfred commented on #654
FWIW using echo v2 I did something similar:

[code]

Where `isRouted` is custom code to look up the URI in a route map I've defined.

[2017-04-11 15:49] VICTOR-LUO-F commented on #887
give me a week more :)

[2017-04-11 16:09] vishr commented on #887
Sure!

[2017-04-12 10:23] IlyaSemenov opened #901 "Twitter Cookbook is missing source code of server.go"
### Description

[Twitter Cookbook](https://echo.labstack.com/cookbook/twitter) is missing the source code of `server.go`

### Checklist

- [x] Searched existing issues and docs

### Expected behaviour

[Twitter Cookbook](https://echo.labstack.com/cookbook/twitter) includes the source code of `server.go`

### Actual behaviour

[Twitter Cookbook](https://echo.labstack.com/cookbook/twitter) is missi

[2017-04-12 10:57] dalliard commented on #901
It is actually here on GitHub: https://github.com/labstack/echo/blob/master/cookbook/twitter/server.go
But you're right, it is not included in the Echo Docs.

[2017-04-12 16:08] #901 closed

[2017-04-12 18:52] hasit commented on #269
@vishr @SlavaBobik

I'm very interested in the rate limiting recipe as well. Any update on that front?

[2017-04-13 01:13] bsed commented on #900
好的 谢谢~

[2017-04-13 01:13] #900 closed

[2017-04-13 01:15] bsed opened #903 "c.Bind(u) error not bingding data struct"
[code]

c binding does not work，debugging found inside the input data is empty

[2017-04-13 01:17] bsed commented on #898
i  use  vscode  debug have the same problem yet

[2017-04-13 02:43] siredwin opened #904 ""Invalid csrf token" for POST Request"
I am unable to rid that error.

The settings:
`e.Use(middleware.CSRFWithConfig(middleware.CSRFConfig{
		Skipper:      middleware.DefaultSkipper,
		TokenLength:  32,
		TokenLookup: "form:csrf",
		ContextKey:   "csrf",
		CookieName:   "_csrf",
		CookieMaxAge: 86400,
	}))`

i am getting csrf this way:
`csrf = c.Get("csrf").(string)`

form method is POST:
`<input type="hidden" name="csrf" value=" {{ c

[2017-04-13 09:48] schwarmco commented on #875
Echo **did** better but somehow lost this feature on version >= 2

[2017-04-14 13:22] rskumar opened #905 "Multiple file upload by single html input"
### Description
Handling multiple files uploaded in same html input field

### Checklist

- [*] Dependencies installed
- [*] No typos
- [*] Searched existing issues and docs

### Expected behaviour
There should be method in context to return `[]*multipart.FileHeader`
For example -
[code]

### Actual behaviour
No such method available. The provided one  `c.FormFile("file")` returns single FileHeade

[2017-04-14 14:24] dignifiedquire commented on #904
I am seeing the same issue, sending the correct values as in the tests, but it always fails

[2017-04-14 14:58] dignifiedquire commented on #904
Never mind, not setting the cookies in the client properly

[2017-04-14 22:49] siredwin commented on #600
@vishr , why is e.POST not secure? On  a comment commented on Jul 15, 2016 your `e.POST` did not carry any csrf data. Is that the way it is supposed to be setup? My POST methods definitely fail and i am wondering if i should split it into 2 parts like yours for POST & GET?

[2017-04-15 15:42] #899 closed

[2017-04-15 15:52] siredwin commented on #904
After a week of trying and failing, i was able to get it to work finally using the example here.
[https://github.com/labstack/echo/issues/600#issuecomment-233098970](url)

You guys need to update the documentation on  CSRF. For example POST requests always fail with CSRF by default -- so one needs to separate the POST and GET Request logic.

[2017-04-15 15:52] #904 closed

[2017-04-15 17:07] siredwin commented on #905
c.MultipartForm()

[https://github.com/labstack/echo/tree/master/cookbook/file-upload/multiple](url)

[2017-04-16 00:45] #905 closed

[2017-04-16 20:56] MyTotoro opened #906 "Parrallelization of handlers"
I'm relatively new to Echo and I'm trying to use a fan-in pattern inside a POST handler:

[code]

My question is:

Does each new HTTP request spawn a new goroutine for my handler - so if I call runtime.Goexit() from the main handler, it will not disrupt any other http requests?

[2017-04-17 02:59] zouhuigang opened #907 "How to bind ajax post data?"
$.ajax({
		  type: 'POST',
		  url: "/ts/write/xml",
		  data: {"data":array},
		  dataType: "json",
		  success: function(){
        		alert("解析成功");
     		 }
		});

array:
data[0][0][a]="a"
data[0][0][b]="b"
data[0][1][m]="c"
data[0][1][n]=="d"
data[1][0][n]=="d"

go:

type (
	Json struct {
		Data []string `json:"data"`
	}
)
	if err := ctx.Bind(j); err != nil {

	}

So invalid

[2017-04-17 07:12] zouhuigang commented on #907
This is a test example， https://play.golang.org/p/GSKi1_ORbR，but with the bind function can not bind..

[2017-04-17 07:13] zouhuigang commented on #907
This is a test example， [https://play.golang.org/p/GSKi1_ORbR](https://play.golang.org/p/GSKi1_ORbR)，but with the bind function can not bind..

[2017-04-17 07:21] zouhuigang commented on #907
![http://img.51tywy.com/startup/project/abc.png](http://img.51tywy.com/startup/project/abc.png)

[2017-04-17 07:22] zouhuigang commented on #907
[http://img.51tywy.com/startup/project/abc.png](http://img.51tywy.com/startup/project/abc.png)

[2017-04-17 17:45] vishr commented on #907
What about `dataType: "json",` shouldn't it be `application/json`?

[2017-04-17 23:29] #907 closed

[2017-04-26 14:28] chrisprobst opened #911 "Support pointer in default bind()"
I would like to support pointers in struct binding, just one line could fix this:

[code]

What do you think?

The use case is like a third state for a bool (*bool). So like true/false/not set.

We are developing a REST API and this is a very useful feature.

[2017-04-26 15:31] vishr commented on #911
Feel free to send a PR with test coverage.

[2017-04-26 16:53] vishr opened #912 "Implement key based authentication middleware"

[2017-04-26 16:54] vishr commented on #912
Fixed 412823eabb0f1e4c0b93fcf7a26232099469938d

[2017-04-26 16:54] #912 closed

[2017-04-26 17:00] vishr opened #913 "Implement request ID middleware"

[2017-04-26 17:00] vishr commented on #913
Fixed in 1963e270704e8adb76521fe57dca1f8e1608cb26

[2017-04-26 17:00] #913 closed

[2017-04-26 17:02] vishr opened #914 "Context#RealIP() to fetch the first IP"

[2017-04-26 17:02] vishr commented on #914
Fixed in ac0a38d995f1a9075e970be40c71b3fc595dcfee

[2017-04-26 17:02] #914 closed

[2017-04-28 01:25] junweiyang opened #917 "Can echo support session middleware?"

[2017-04-28 07:23] #917 closed

[2017-04-29 07:06] hvarga opened #918 "Runtime error using the Go test package"
### Description

I am experiencing a runtime error with the message "invalid memory address or nil pointer dereference" when running the simple handler test. The issue is present from commit 0dfcb31d9ef356492d6dc33e5c83af53100db3ec. Details below.

### Checklist

- [ x ] Dependencies installed
- [ x ] No typos
- [ x ] Searched existing issues and docs

### Expected behaviour

Running test:
[code]

[2017-04-29 18:02] #911 closed

[2017-04-29 18:03] #918 closed

[2017-04-29 18:04] vishr commented on #918
@hvarga Thanks for reporting, I have updated the docs to use `httptest.NewRequest` https://echo.labstack.com/guide/testing#testing-handler.

[2017-05-01 23:49] leoxnidas opened #919 "Hello, i got a simple question about echo."
**exists** any nginx and echo boilerplate?

[2017-05-03 17:45] hexadecy commented on #749
https://github.com/jessfraz/binctr/blob/master/vendor/github.com/docker/docker/pkg/term/term_windows.go

enableVirtualTerminalProcessing = 0x0004

[2017-05-05 07:24] furkanmustafa commented on #58
Sorry for commenting in a 2 years old closed issue.

@vishr Do you plan to handle requests in a streaming way too? or is it already possible?

[2017-05-05 08:04] Anjmao commented on #903
Can you try it with error handling like this
[code]
This will show what is wrong

[2017-05-05 19:10] krzysztofantczak commented on #692
Same question guys. I need to store original POST data sent to the server within the struct on which binder is working. So simple binding is not enough here. How can i approach this?

[2017-05-05 21:32] chrislewispac commented on #438
i get the following err with this

e.SetBinder undefined (type *echo.Echo has no field or method SetBinder)

[2017-05-05 22:18] vishr commented on #438
@chrislewispac In Echo v3, the property is directly exposed. So you do `e.Binder = `

[2017-05-06 18:07] durango commented on #917
Well, can it?

[2017-05-07 22:02] krzysztofantczak commented on #692
Ok, problem solved. For future reference (God bless You for request().SetBody()):
[code]

From this point on, i can use binder as usual and attach "raw" to my struct ;-)

[2017-05-08 09:41] mujdatcicek opened #920 "About some laravel features"
Hi everybody,

I have just started to work with echo and I'm coming from laravel.

As you know in laravel we can hide and/or append fields in models,
for example: I have a user model and I want to hide id field when model return as json and I can append hid field using hashids.

so, question is: how can I those things in echo or golang?

The other question is:
anybody knows how I use transforms li

[2017-05-08 10:03] Anjmao commented on #920
One thing I can think of is omitempty
[code]
If ID is not filled then you will not see this field in json response at all, not sure if this is hat you want.

[2017-05-08 10:09] mujdatcicek commented on #920
Hi @Anjmao, thanks for your anwser,

I tried this, before return i filling ID as empty, but this isn't what i need. I have hundreds of models and field like this.

I want to define all hidden fields in their model file or something like that.

[2017-05-09 02:55] bsed opened #922 "don't not support like this request param"
[code]

`:captchaId.png` style like this

[2017-05-09 08:49] Limoli opened #923 "Missing possibility to custom JWT middleware response"
### Description

How could I customise the response from a JWT middleware?

[code]

In case of missing JWT in the request header I will have this response:
[code]

**If I want to change the structure of response keeping the error message?**

[2017-05-09 21:15] vishr commented on #923
All error messages go to centralized http error handler, which is customisable via `Echo#HTTPErrorHandler`. In that function you can check for `Missing or invalid jwt in the request header` message and act. Ideally we should be return pre-declared error messages - I will keep this bug open for that.

[2017-05-09 23:38] vishr commented on #58
@furkanmustafa there is nothing special to handler a streaming response, you can look into this recipe https://echo.labstack.com/cookbook/streaming-response

[2017-05-09 23:39] vishr commented on #917
https://github.com/labstack/echo/issues/498

[2017-05-10 08:34] Anjmao commented on #922
@bsed Can you describe what is the problem with this, is it related to any security issue? I tested this case and it works fine.

[2017-05-10 10:57] Limoli opened #924 "Context logger doesn't keep configuration"
### Description

I am trying to save the logs from Echo into a file.
This is the simple code and it works.

[code]

What about logger from a context?
It seems that **c.Logger()** returns a different instance of logger (not configured).
So, this log is not stored in the file.

[code]

[2017-05-10 13:46] Anjmao commented on #924
1) This works for me, I get logs to output, but json format is incorrect, it should be array.
[code]
1) Have you checked for err, because your code panics for me, I'm on windows so I used path with no starting slash `/`

[code]

[2017-05-10 13:48] Limoli commented on #924
Yeah, I am on OSX.
How could it work for you and not for me?

[2017-05-10 13:53] Anjmao commented on #924
I'm still not sure if you checked for err response of os.Create, your code example is not showing it, so it is a bit confusing :)

[2017-05-10 14:08] Limoli commented on #924
OK, find the problem!
The file was already closed, so the Echo Logger cannot write on it.

[2017-05-10 14:30] Anjmao commented on #924
I also tested it on docker with linux debian:jessie image and I logs has been written to /tmp/log.json successfully.

[2017-05-10 17:28] vishr opened #925 "Debug mode not setting log level to debug"

[2017-05-10 17:28] #925 closed

[2017-05-11 05:05] vishr opened #926 "Move cookbook and website to a separate repo to reduce the core dependencies"

[2017-05-11 07:50] Limoli commented on #924
As @Anjmao said, there is a problem with the JSON format of created logs.
[code]
**Comas miss between each block.**
It is impossible to work easily on a file in this way. It would be better add a coma at the end of each block when you set logger output different form Standard (Out/Err).

[2017-05-11 08:13] Anjmao commented on #924
I looked at other implementations and this seems ok, usually you want to log to stdout and have some service which will get these logs, parse and put to storage like elastic search. When you choose log to file you just get the same output.  @Limoli I think this issue can be closed :)

[2017-05-11 08:27] Limoli commented on #924
Ok. I thought that it was automatic since the log is in JSON format and "there was" the possibility to write on file. I will do manually, but sincerely this "output feature" seems not so useful.

[2017-05-11 08:27] #924 closed

[2017-05-11 15:22] vishr commented on #926
Fixed 33b4940cba2aaa82812d6bb48414337040f07843

[2017-05-11 15:22] #926 closed

[2017-05-11 17:38] vishr commented on #922
Closing due to insufficient information about the issue.

[2017-05-11 17:38] #922 closed

[2017-05-12 04:02] vishr commented on #829
Closing as dep works in the master branch.

[2017-05-12 04:02] #829 closed

[2017-05-12 05:49] #903 closed

[2017-05-12 14:35] Gobonoid opened #928 "Option to hide startup banner"
### Description
I would like to disable colorer messages (colored logs in terminal) after creating new echo. Is there possibility to do it or I have to configure whole echo structure myself?

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
I would like to have colorer disable switch

### Actual behaviour
I can't find colore

[2017-05-12 14:42] Gobonoid commented on #928
Or even to be more flexible in terms of production logging I would change "⇛ http server started on %s\n" message in StartServer method to use defined logger or even delete them.

[2017-05-12 15:32] vishr commented on #928
You can typecast `Echo#Logger` back to `gommon/log#Logger` and call `DisableColor(). To completely disable logs set the log level to `OFF`. Logger is an interface, so you can definitely extend it to use any external logging library. You also have an option to write your own start server function and pick what you like to display during startup. If you have more ideas don't hesitate to comment.

[2017-05-12 15:40] Gobonoid commented on #928
@vishr I don't want to turn off logs. I want to log to STDOUT logs relevant to my business logic with a logger that I am using also in different part of service (I use echo asynchronously).

According to the code in echo repository:
[code]

colorer is a private value of echo structure and is created always logger doesn't have anything common with it.

My code:
[code]

I can't see how to do it. Cou

[2017-05-12 15:45] vishr commented on #928
`Echo#colorer` is only used to display the banner/info during the startup. Apart from that all the colors you see are probably from logger instance. Colors get automatically for non-terminal output i.e. writing for a file or terminals that don't support it. Did you try to call `DisableColor()` on logger after typecasting?

[2017-05-12 16:02] Gobonoid commented on #928
@vishr Yes I am talking only about initial setup color logs.

[2017-05-12 17:38] #928 closed

[2017-05-12 17:44] vishr commented on #928
@Gobonoid You can use `Echo#HideBanner` to disable the startup message.

[2017-05-12 21:41] Crizstian opened #929 "Testing Route with JWT"
### Description
I want to test my functions that has restricted routes with jwt, the test can reach the route, but when the functions are executed inside i try to decode the token, but i am receiving the following error:

[code]

Its like the token is not present on the headers but set it up.

### Checklist

- [X] Dependencies installed
- [X] Searched existing issues and docs

### Test Code
[code]

[2017-05-13 20:19] vishr commented on #929
This is expected as in your test flow JWT middleware is not invoked.

[2017-05-13 20:35] vishr commented on #843
`acme` library has been under active development, please retry with the latest code. Closing for now, feel free re-open.

[2017-05-13 20:35] #843 closed

[2017-05-13 23:37] vishr commented on #906
Yes

Looking at the definition of `runtime.Goexit()` you should be fine, but I would advise you run your tests to confirm it.

[2017-05-13 23:37] #906 closed

[2017-05-15 09:58] zanjs commented on #900
@bsed 路由找不到吗

[2017-05-15 10:03] bsed commented on #900
@zanjs 对啊。 问我现在用的是自定义错误 解决的
![image](https://cloud.githubusercontent.com/assets/10845087/26052675/d4ed5a46-3998-11e7-834d-435b5cbdd83f.png)

[2017-05-15 10:19] zanjs commented on #900
@bsed  哦 这是 重写 HTTPErrorHandler  右边  `handler.HTTPErrorHandler`  你是怎么写的呀

[2017-05-15 10:23] bsed commented on #900
你可以看看知乎上某位童鞋写的[对 echo 框架进行统一的自定义错误处理 ](https://zhuanlan.zhihu.com/p/26300634)， 我的是在他 基础上修改的，希望对你有帮助。
![image](https://cloud.githubusercontent.com/assets/10845087/26053421/5e99950a-399b-11e7-9286-688321473c34.png)

[2017-05-15 10:25] bsed commented on #900
![image](https://cloud.githubusercontent.com/assets/10845087/26053532/d0142ad8-399b-11e7-943b-d51886899462.png)
![image](https://cloud.githubusercontent.com/assets/10845087/26053537/d7e5823e-399b-11e7-860e-45211b77f0ce.png)

[2017-05-15 10:26] bsed commented on #900
差不多 就这些了。

[2017-05-15 10:27] zanjs commented on #900
@bsed 谢谢啦🙃

[2017-05-15 10:28] bsed commented on #900
客气，客气、 @zanjs  (*^__^*) ……

[2017-05-15 14:41] Crizstian commented on #929
How can i inject the user manually in the echo context ?

i need to test the following code and i depend on the jwt value.

[code]

[2017-05-15 16:40] jorbs opened #930 "Ability to list routes in command line"
What do you guys think to have a utility to list the routes used in the user application? This would be something like Rails `rake routes`.

[2017-05-16 00:04] vishr commented on #929
You need to parse your token and set in the context, see https://github.com/labstack/echo/blob/master/middleware/jwt.go#L142

[2017-05-16 04:41] vishr commented on #930
Have you looked into https://godoc.org/github.com/labstack/echo#Echo.Routes?

[2017-05-16 23:11] jorbs commented on #930
Very nice. Even though the user must implement the listing of the routes by himself. What I meant is to have a ready tool.

[2017-05-16 23:13] vishr commented on #930
Echo doesn't come with a cli; however, you are free to expose a private endpoint or output it to a file. I am working on updating the docs to cover it.

[2017-05-16 23:13] #930 closed

[2017-05-17 02:11] vishr commented on #317
You can look into this recipe https://echo.labstack.com/cookbook/twitter

[2017-05-17 02:13] vishr commented on #317
Tracking in https://github.com/labstack/echox/issues/21

[2017-05-17 02:13] #317 closed

[2017-05-17 02:14] vishr commented on #516
Tracking in https://github.com/labstack/echox/issues/22

[2017-05-17 02:14] #516 closed

[2017-05-17 02:16] vishr commented on #277
Tracking in https://github.com/labstack/echox/issues/23

[2017-05-17 02:16] #277 closed

[2017-05-17 02:18] vishr commented on #269
Tracking in https://github.com/labstack/echox/issues/24

[2017-05-17 02:18] #269 closed

[2017-05-17 02:30] vishr commented on #354
I believe this is already implemented https://echo.labstack.com/guide/routing#list-routes

[2017-05-17 02:30] #354 closed

[2017-05-17 02:32] vishr commented on #734
Closing due to inactivity.

[2017-05-17 02:32] #734 closed

[2017-05-17 05:44] yashsriv commented on #920
How about this:

[code]

[2017-05-18 13:25] hsluoyz opened #931 "Add an authorization middleware based on Casbin"
Hi, I'm the author of [Casbin](https://github.com/casbin/casbin), a Go library for authorization based on access control policy. Casbin supports multiple access control models like ACL, RBAC, ABAC. The access control rules can be persisted into files, DB.

Echo has a middleware named basic_auth, but it is mainly authentication instead of authorization. Authorization is about managing permissions i

[2017-05-18 14:34] vishr commented on #919
Please follow https://github.com/labstack/echox/issues/19

[2017-05-18 14:34] #919 closed

[2017-05-19 16:15] Crizstian commented on #929
Thanks for helping, injecting it manually works.

[2017-05-19 16:15] #929 closed

[2017-05-19 18:57] victorct commented on #860
I'm having the same issue, the http  response is not redirected to the https one, making it unable to use http and https at the same time.

Any update on this bug?

[2017-05-19 19:28] victorct commented on #860
So I have managed to solve this, it's not possible in go to bind the http and https interfaces to the same port, in the case of golang you have to run two servers with a go routine, on the ports 80 and 443, if you do it in different ports it will fail because echo will try to redirect the http connection to the https interface on the same port of the http, and it doesn't exist, example:
if you hav

[2017-05-19 20:15] #860 closed

[2017-05-19 22:43] montanaflynn commented on #730
@ghost did you ever figure how out how to do this?

[2017-05-19 22:44] montanaflynn commented on #658
@heynemann did you ever get this working? We are looking for the same thing.

[2017-05-19 22:54] heynemann commented on #658
Not really... I just keep track of status codes as part of a context in the request now

[2017-05-19 23:17] vishr commented on #730
Sometime back there was request to add a response hook. It will be triggered before writing the response, may be that can help?

[2017-05-20 01:00] montanaflynn commented on #730
@vishr yeah that would be helpful, we would probably use the hook to add the response to the context? Basically we want to log the response body for non 200 responses.

[2017-05-20 01:04] montanaflynn commented on #658
@heynemann for the status code we just use `c.Response().Status()` in the middleware. We're capturing errors and putting them in context so we can log them but we also want the response body in the logs for easier debugging and to correlate that with our frontend.

[2017-05-22 04:10] henrynet opened #933 "Cookie Attribute "HttpOnly" is "HTTPOnly" on Guide/Cookies"
Cookie Attributes "HTTPOnly" on
https://echo.labstack.com/guide/cookies

using it like

[code]

Error when go build

`
cookie.HTTPOnly undefined (type *http.Cookie has no field or method HTTPOnly, but does have HttpOnly)
`

[2017-05-22 09:39] lavenderx commented on #923
Hi @vishr , I have the same questtion, I notice the source code about `jwt.go#JWTWithConfig`:
[code]

`token, err = jwt.ParseWithClaims(auth, claims, config.keyFunc)`, the results of JWT token validation are multiple, e.g. `ValidationErrorExpired`. In my view, I want to return error instead of `echo.ErrUnauthorized`. Although I customise error handling and `jwt.StandardClaims`, caused by `return e

[2017-05-22 15:09] chrislewispac opened #934 "Binder does not support empty time.Time"
### Description
c.Bind does not support empty time strings in json data.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
empty string would bind to struct with type null.Time (or some variant) as null

### Actual behaviour
err =  message=parsing time """" as ""2006-01-02T15:04:05Z07:00"": cannot parse """ as "2006"

[2017-05-22 15:48] #933 closed

[2017-05-22 16:10] chrislewispac commented on #934
For my purposes I changed my struct tag to *time.Time and then made sure I was sending null instead of an empty string from the client.

I'm not sure this is something echo should actually handle but it might be a quick fix that will help someone in the future.

[code]
then just make sure your client is sending null, not an empty string

[2017-05-22 16:39] vishr commented on #934
Empty string can't be parsed to `time.Time`, the error is clear and originates from Go JSON parser. It should work if you don't send `updated_at` in the payload.

[2017-05-23 07:21] bsed opened #935 "static resources in this format are not supported"
[code]
`3+3.js` static resources in this format are not supported

[2017-05-25 06:08] Bplotka commented on #267
Just bumped into this issue. Updating provided here information with up-to-date state:
* It seems that `prometheus.Handler()` is not recommended anymore (see [here](https://godoc.org/github.com/prometheus/client_golang/prometheus#Handler)). Use [`promhttp.Handler()`](https://godoc.org/github.com/prometheus/client_golang/prometheus/promhttp) instead. Note that `promhttp` is NOT instrumented (does n

[2017-05-26 17:45] Crizstian opened #936 "JWT Decode Problem"
I am receiving  the next error when i try to get a value from the token, i have been injecting the token manually to successfully pass my test, but since i update echo to the version 3.1.0 i am getting the error:

[code]

My testing setup is the following

[code]

And when i print the context i am getting the following
[code]

Therefor i am unable to do `user := c.Get("user").(*jwt.Token)`

[2017-05-26 17:47] c-Monster opened #937 "How to avoid graceful shutdown"
### Description
Writing a web server that handles a persistent key-value store. Echo runs in one goroutine while other goroutines collect data to be written to the store. I need to control how the program handles the SIGINT (control C) interrupt so I can safely close the store and other connections. Sometimes, however, Echo listens for the same interrupts and calls ```os.Exit()``` in the package `

[2017-05-26 18:18] #937 closed

[2017-05-26 18:19] c-Monster commented on #937
Oops. Turns out echo just exits and sometimes my goroutine could beat it, other times no. Two-line fix. Case closed.

[2017-05-26 18:36] vishr commented on #936
You need to create `*jwt.Token` from your token string https://github.com/labstack/echo/blob/master/middleware/jwt.go#L142

[2017-05-26 19:24] Crizstian commented on #936
Solution is to create the token and dont sign it, set the context

[code]

[2017-05-26 19:24] #936 closed

[2017-05-27 07:07] hyacinthus opened #938 "KeyAuthValidator should return error as last item."
### Description
It's great to see KeyAuthValidator have got a "echo.Context" param, and returned an error.

Like:
KeyAuthValidator func(string, echo.Context) (error, bool)

But now, golint will say:

error should be the last type when returning multiple items...
😭

[2017-05-27 10:11] #938 closed

[2017-05-27 10:45] hyacinthus commented on #938
Thank you!

[2017-05-27 17:43] #934 closed

[2017-05-30 18:32] tiabc opened #940 "JWT middleware should support "raw" AuthScheme"
Hi,

I'm developing an application that should support [the same jwt authentication scheme as DreamFactory does](http://wiki.dreamfactory.com/DreamFactory/API#Session_Token) for compatibility purposes, namely, this:
[code]

However, setting up JWT middleware this way got me nowhere:
[code]

And further investigation of echo sources has shown that this format is not supported at all.

However, auth

[2017-05-30 22:15] vishr commented on #940
@tiabc I am not able to understand the problem. Who creates the token? What type of token X-DreamFactory-Session-Token is?

[2017-05-31 02:09] bsed commented on #935
no answer, close.

[2017-05-31 02:09] #935 closed

[2017-05-31 02:09] #898 closed

[2017-05-31 03:10] tiabc commented on #940
@vishr, in DreamFactory the token is issued by [POST query to /user/session](http://wiki.dreamfactory.com/DreamFactory/Tutorials/Logging_in) and should be provided in `X-DreamFactory-Session-Token` to restricted endpoints.

The application I'm writing must do the same thing and also handles GET queries to `/user/session` and issues a JWT token and should expect the issued token in the same header.

[2017-05-31 03:13] vishr commented on #940
@tiabc So is it just a matter of extra space? e.g. " TOKEN"

[2017-05-31 03:28] tiabc commented on #940
When I provide empty AuthScheme, it takes the default value, i.e. Bearer and it takes no effect. Providing space also didn't work but maybe I haven't tried so hard. Anyway, extra space is an unreliable solution as a consumer may or may not add a space after the header colon and it must work correctly anyway.

[2017-06-03 00:52] vishr opened #942 "Implement reverse proxy middleware"

[2017-06-03 17:34] hsluoyz commented on #931
Issue solved.

[2017-06-03 17:34] #931 closed

[2017-06-03 19:12] b3ntly opened #943 "Cookbook example shows unsafe usage of a Map"
The cookbook [here](https://echo.labstack.com/cookbook/google-app-engine) uses unsafe RW access to a map.

[2017-06-04 16:44] luckcolors opened #944 "Echo is not logging"
### Description
I'm trying to get a debug log for every request but the server is not outputting anything. (Echo just writes the standard startup message and that's it)
e.Logger.Debug(e.Start("0.0.0.0:80"))
### Checklist

- [X] Dependencies installed
- [X] No typos
- [X] Searched existing issues and docs

### Expected behaviour
The server to start logging every request.
### Actual behaviour
It jus

[2017-06-05 10:25] manfredmann opened #945 "Feature request: middleware handlers for statics paths."
For example. I need to check cookies. Now i do it this way:

[code]

[2017-06-05 21:53] iKonrad opened #946 "Check if static gzip exists before compressing?"
### Description

Is there a way to check if .gz file exists before compressing the file with echo? I'm using webpack to compress the files and I'd like to keep it this way to save resources. As far as I can tell, echo's `gzip middleware` compresses files on the fly and it doesn't check for existing .gz files.

[2017-06-07 03:33] leoxnidas commented on #944
Hi.. =)..

u forgot to use logger middleware..

[code]

[2017-06-07 10:49] aenario opened #948 "[Regression] Path parameters with queryescaped value were broken."
### Description

I believe this is caused by https://github.com/labstack/echo/commit/bd96cc3c15dbd1d4c321d4aa713285649288215f#diff-252e46e448f4e037d84d69193c8fdf79L545

I have the following routes
[code]

Given the underlying storage system, the `docid` parameter can contains a "/".
The client  escape this slash in its requests

`GET localhost:8080/data/io.cozy.events/with%2Fslash`

Before the abo

[2017-06-07 12:36] rcousens opened #949 "Confused about alternative echo repository?"
I was led to an alternative echo repository by the following repo:

https://github.com/didip/tollbooth/tree/master/thirdparty/tollbooth_echo

Which directed me to here:

https://github.com/webx-top/echo

I see it is actively maintained as well and the author of labstack/echo @vishr contributed to its development earlier on.

I want to submit a middleware implementation for tollboth that supports l

[2017-06-07 14:24] vishr commented on #949
@rcousens Probably https://github.com/webx-top/echo is a fork of Echo v2 maintained by someone. If you would like to submit a PR for external middleware use the official https://github.com/labstack/echo-contrib repo.

[2017-06-07 15:04] rcousens commented on #949
Thanks, will hopefully get a chance to implement at work tomorrow and submit. Cheers!

[2017-06-07 15:04] #949 closed

[2017-06-07 15:23] #948 closed

[2017-06-08 08:40] aenario commented on #948
Thanks !

[2017-06-08 17:33] luckcolors commented on #944
Well then the documentation here then is wrong https://echo.labstack.com/guide. :)
So then the working code becomes:
[code]

[2017-06-08 18:10] luckcolors commented on #944
Thanks for your help though! :)

[2017-06-08 18:55] #944 closed

[2017-06-09 00:51] nebiros commented on #871
Don't know why, it just saves INFO logs, here's the file:

[code]

But, here's the standard output, it logs the types, like ERROR or DEBUG

[code]

My config:

[code]

[2017-06-09 16:14] FrankIT60 opened #950 "Simulate httputil.DumpResponse"
Hello, I'm new to echo.
I can simulate or use httputil.DumpResponse in echo?

Thanks in advance
Franco

[2017-06-10 15:01] vishr commented on #950
Looking at https://golang.org/pkg/net/http/httputil/#example_DumpResponse, yes you can. Are you using it for testing?

[2017-06-10 21:56] FrankIT60 commented on #950
I write this example.
DumpRequest works but DumpResponse go in panic.
Can you help me with example of middleware for print DumpRequest and DumpResponse?

T.i.a.
Franco

    package main
    import (
        "fmt"
        "net/http"
        "net/http/httputil"

        "github.com/labstack/echo"
        "github.com/labstack/echo/middleware"
     )

     func hello(c echo.Context) error {
        du

[2017-06-11 00:04] vishr commented on #950
I don't think you are doing it right. What do you want to achieve? I think `DumpRequest` is for servers to debug incoming request and likewise `DumpResponse` is for clients. You already know what response you are sending to the client?

[2017-06-11 06:17] FrankIT60 commented on #950
Yes I know. I can save a copy of response. But in case of controversy with the client regarding the content it is better to have a track produced by an effective API rather than something written by me.

[2017-06-11 16:35] vishr commented on #950
Related https://github.com/labstack/echo/issues/658

[2017-06-11 21:01] montanaflynn commented on #950
@vishr we're already doing this with our own middleware for the request body to use it in logging middleware, all of our json request and response data is small and would fit in a 1kb limit so I don't think it would affect memory terribly.

[2017-06-12 06:33] FrankIT60 commented on #950
I think the better is exposing  `Context#Received()` & `Context#Sent()` with parameter for include o esclude body.  When there are disputes with other vendors using APIs at the same customer, it is important to be able to demonstrate what is actually being transmitted. Not always but often happens.
Now we use Apache with mod_dumpio.
But if we want to replace with microservices written in Go we hav

[2017-06-12 20:41] vishr commented on #950
I am not wrong the main idea of this requirement is to log messages with request and response body, so make a change to logger middleware should do it? I am planning to include optional `request_body` and `response_body` tags to the template and if they are set, dump the body via logger to the output.

[2017-06-12 22:15] Anon-Penguin commented on #950
Although adding tags to the logger would be handy, it could easily become an issue:

- Formatting issues, since HTTP bodies take up more than 1 line
- stdout seems to be limited on some systems in terms of speed (compared to writing straight to disk)

Although I'm not against adding these tags, I feel like doing this in custom middleware might be more useful to most people.

Should we add somethin

[2017-06-12 22:50] vishr commented on #950
@Anon-Penguin If people are using body tags then I would expect them to redirect logs to a file or external system and not display on the terminal. Custom middleware is also an option.

Yes, about 500 users / day.

[2017-06-13 06:26] FrankIT60 commented on #950
The logging system is as good as it is.
I vote for a specific and dedicated middleware.

[2017-06-13 14:47] vishr commented on #950
I am ok with a new middleware, it is just that there may be overlap of some of the fields/tags.

Questions:

- Middleware name (BodyDump, DumpIO, DumpBody???)
- What information do we want to capture (request body, response body???)
- JSON format is OK?

[2017-06-13 18:01] Anon-Penguin commented on #950
Maybe it could be named `Interceptor`?

****

Proposal for implementation:

The configuration for the middleware is this a "handler" function (such as `func(c echo.Context, requestBody, responseBody []byte)`). The user could print to stdout, or do a log, or whatever they want inside the handler.

[2017-06-13 22:40] vishr commented on #950
Interceptor is a very generic name. Shouldn't it be like logger middleware? With ability to set the writer.

[2017-06-14 00:44] siredwin commented on #942
Could you please update the proxy example? It would be nice if the example example showed real life example where the proxied url is given a route in main web page.

[2017-06-14 00:50] siredwin opened #951 "Documentation or example for proxy as a route"
It looks like proxy was updated 11 days ago.
Does anyone care to provide an example where a proxy url becomes a route for the main site?

[2017-06-14 00:55] vishr commented on #942
@siredwin Have you looked at https://echo.labstack.com/cookbook/reverse-proxy?

[2017-06-14 01:33] vishr commented on #951
Please ask questions in the [forum](https://forum.labstack.com)

[2017-06-14 01:33] #951 closed

[2017-06-14 02:22] siredwin commented on #942
Yes, i did. It does not work. The struct params changed.

[2017-06-14 02:32] vishr commented on #942
It works with the latest code. Please share the error details.

[2017-06-14 03:13] siredwin commented on #942
It does work with latest echo. I had not bothered to update echo since i installed it about two weeks ago.

[2017-06-14 03:14] vishr commented on #942
Glad to hear.

[2017-06-14 03:14] #942 closed

[2017-06-14 06:12] FrankIT60 commented on #950
name: DumpBody or ReadBody.
Ok for JSON format.
OK for @Anon-Penguin "handler" function.

[2017-06-14 15:14] tossp opened #953 "Fake source IP with header information"
Hi,guys

## Description
I'm not sure it's a bug.
If there is no reverse proxy. End users can forge a  `X-Real-IP` or  `X-Forwarded-For`, which will lead to ' context. RealIP() ' method fails.

Sorry, my English is poor, so I paste the code 😅

## Solutions

which one is better?

### Programme 1

[code]

[code]
### Programme 2

[code]

[code]

[2017-06-14 15:21] tossp commented on #953
### case1:

[2017-06-14 17:04] siredwin commented on #942
@vishr, the example provided works but it takes over the entire server. How do i get these results --

https://localhost:1323 = my proxy server home
https://localhost:1323/url1 = proxy website 1
https://localhost:1323/url2 = proxy website 2

Thanks.

[2017-06-14 17:21] vishr commented on #942
Why do you have proxy and backend servers into one?

[2017-06-14 17:25] vishr commented on #953
Please ask questions in the [forum](https://forum.labstack.com).

[2017-06-14 17:25] #953 closed

[2017-06-14 17:29] siredwin commented on #942
Think about this situation where i have my main website i.e
https://localhost:1323  -- my main website.
Let's say i have WordPress or another server running my blog. In this situation i want my blog to appear as a link from my main website or appear as part of my main site i.e

https://localhost:1323/blog -- where blog is another server somewhere.

[2017-06-14 17:34] vishr commented on #942
I got it but before I comment further please move this discussion to the forum.

[2017-06-14 17:41] siredwin commented on #942
Yes, i will

[2017-06-14 20:50] gambol99 opened #954 "Routing Behaviour"
### Description
The route doesn't appear to fallback into alternative routes. Using the following routes
[code]
### Expected behaviour
you would expect /api/v0/events/1000 would be caught by /*, instead the route is never matched and thus handler and middleware never called. Indeed if I as to call /api/v0 it hits but v0/aq does not
[code]
### Steps to reproduce
Taking at the below snippet of code

[2017-06-14 22:29] vishr commented on #954
@gambol99 The current implementation doesn't fallback in multiple levels, you need to register a route like `/api/v0/events/*`. Also you can use `Echo#Any()` to register all methods.

[2017-06-14 23:30] #954 closed

[2017-06-14 23:31] vishr commented on #954
Pleaser verify.

[2017-06-15 06:04] vishr commented on #950
@FrankIT60 Please verify from master branch.

[2017-06-15 06:04] #950 closed

[2017-06-16 07:22] FrankIT60 commented on #950
@vishr Thanks!!!

[2017-06-19 17:53] s4l1h opened #956 "Access Custom Context in the Renderer."
### Issue Description
we cant access custom context in the Renderer
### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour

### Actual behaviour
echo: http: panic serving [::1]:64814: interface conversion: echo.Context is *echo.context, not *main.CustomContext
goroutine 5 [running]:
net/http.(*conn).serve.func1(0xc4200a4b40)
### S

[2017-06-19 23:28] vishr commented on #956
@s4l1h This is happening as there is no way to pass `CustomContext` to `Render()`, however you can extend your custom context to define your own `Render` function, look into https://github.com/labstack/echo/blob/master/context.go#L384. Something like below:

[code]

[2017-06-22 06:18] vishr commented on #498
https://github.com/labstack/echo-contrib/tree/master/session

[2017-06-22 06:18] #498 closed

[2017-06-22 06:19] vishr commented on #607
We don''t support fasthttp now. For Echo v3, see: https://github.com/labstack/echo-contrib/tree/master/session

[2017-06-22 06:19] #607 closed

[2017-06-22 07:28] skyflyer commented on #582
@vishr, I believe this ticket can be closed?

For others, searching for information on how to use CSRF protection:

1. Register the CSRF middleware (the example below expects the POST-ed form to contain a form field with the name `csrf` and the value of csrf token.
[code]
1. Get the value of current CSRF token. The value of csrf token can be extracted from the `echo#Context`: `csrf_value := ctx.Ge

[2017-06-22 10:20] dxvgef opened #961 "Why does the HTTPErrorHandler function automatically output WARN messages?"
I set the log.SetLevel (log.DEBUG), and I define a function `handler(err error, ctx echo.Context){}` and assigned to the `HTTPErrorHandler`.
When a 404 error occurs, the message is printed:
`WARN context.go:484 response already committed`
This problem does not occur if HTTP Error Handler is not defined.

[2017-06-22 17:37] vishr commented on #961
Please use forum to ask questions https://forum.labstack.com

[2017-06-22 17:37] #961 closed

[2017-06-22 17:49] vishr commented on #582
Thanks @skyflyer

[2017-06-22 17:49] #582 closed

[2017-06-23 03:42] dxvgef opened #962 "Compatibility issues with a session packages"
### Issue Description
I use the `github.com/alexedwards/scs` package in Echo, and if I export anything to the browser in the `HTTPErrorHandler` function of Echo, the Echo of logger will print such warning messages:
`Level:WARN, file:context.go, line:484, message:response, already, committed.`

### Working code to debug

[code]

### Version/commit
3.2.1

[2017-06-23 04:45] vishr commented on #962
You middleware is writing to response somewhere in the path - you need to debug that. You see this warning message due to youR log level set to DEBUG, unset it or set it to INFO and you should be good.

[2017-06-23 04:45] #962 closed

[2017-06-23 04:55] vishr commented on #962
https://forum.labstack.com/t/compatibility-issues-with-a-session-packages/248

[2017-06-23 15:21] nebiros commented on #871
@vishr any help with https://github.com/labstack/echo/issues/871#issuecomment-307265763?

[2017-06-23 15:33] vishr commented on #871
@nebiros Can you trim down your code to a minimal working example for debugging?

[2017-06-23 16:01] nebiros commented on #871
@vishr ofc

[code]

[2017-06-23 18:16] vishr commented on #871
You have a couple of logging system here:

- Logger middleware for which you are setting up the output `loggerConfig.Output = f`
- `e.Logger` which defaults to stdout, you need to set its output to `f` as well.

[2017-06-24 14:39] es-lab opened #963 "Static middleware with html5 enabled breaks all other declared routes"
### Issue Description
Static middleware with html5 enabled breaks all other declared routes.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
Have an SPA being served on `/*` and also an api on `/api`, and maybe other routes in future.

### Actual behaviour
When adding the SPA like this:
[code]
All other declared routes are

[2017-06-24 16:50] #963 closed

[2017-06-27 08:05] lunemec opened #964 "GZip middleware only for certain content-types"
Hello,

I've ran into same issue as #444 when streaming data, I've resolved this by implementing skipper that simply skips gzip compression for the one handler. However, I think it would be awesome, if we could detect the content-type in the response, and decide if it is worth it to compress the data anyways (text is great with gzip, but jpeg not so much).

This is done here: https://github.com/wi

[2017-06-28 17:05] #444 closed

[2017-06-28 17:05] #964 closed

[2017-06-28 17:05] vishr commented on #964
@lunemec Please verify.

[2017-06-28 17:31] vishr commented on #946
You can use `Skipper` function in the middleware to add exception for `gz`. Check for file extension in request path.

[2017-06-28 17:31] #946 closed

[2017-06-28 17:40] vishr commented on #831
May be related https://github.com/labstack/echo/issues/176

[2017-06-29 00:01] #176 closed

[2017-06-29 00:01] #831 closed

[2017-06-29 07:05] lunemec commented on #964
Thanks! this looks good for fixing #444, but my suggestion was to gzip **only certain** content-type responses. Those that are known to be compressable (text), and to don't compress jpegs, movies, zips, etc ...

[code]

[2017-06-29 15:20] vishr commented on #964
@lunemec I think skipper is meant for this purpose.

[2017-06-29 15:22] lunemec commented on #964
@vishr yes, but inside skipper you don't yet have the headers set from the handler. That is executed later (I tried that first), so for now, I use skipper for certain paths I know can't be gzipped...

[2017-06-29 16:59] vishr commented on #964
But you do it based on the file extension? I recommended similar approach here https://github.com/labstack/echo/issues/946

[2017-06-29 17:02] lunemec commented on #964
Well yes, #946 is kinda "hacky" same as directly matching the request path. I'm doing that right now, but much nicer solution would be to use the content-type. However it is just a suggestion.

[2017-06-29 17:04] vishr commented on #964
May be we can expose an option `Exclude` to accept content type to be excluded.

[2017-06-30 14:28] hesidoryn commented on #872
@adred Hi! Can you list that packages?

[2017-07-05 21:36] adred commented on #872
@hesidoryn I'm using this [https://github.com/go-playground/validator](url) together with echo's Validator interface

[2017-07-15 09:19] dhanunjay opened #969 "Build failure on App Engine standard environment"
### Issue Description
Echo fails to build on appengine because util_go18.go is excluded in the package by the build constraint
// +build go1.8

### Expected behaviour
build should succeed on appengine standard environment.
### Actual behaviour
build fails on appengine

### Fix for the issue
Just add the appengine constraint as shown below

[code]

### Version/commit
V3.2.1

[2017-07-17 16:07] MarcusMann commented on #920
I think it's a Go subject and not Echo, you can retrieve the information here.

Answer [1](https://golang.org/pkg/encoding/json/#Marshal)

Or get more information about tags.
https://github.com/golang/go/wiki/Well-known-struct-tags

[2017-07-17 16:12] MarcusMann commented on #883
You can experience integration with Twitter, as far as I know, is what you have available right now. But, you can implement your own middleware using the google lib.

Twitter -> https://echo.labstack.com/cookbook/twitter
Google -> https://github.com/golang/oauth2

[2017-07-18 11:10] pcdummy commented on #883
I'm using **OAuth** and **OAuth2** with echo

[Demo](https://ng2-satellizer.pc-dummy.net/home), [Source](https://github.com/pcdummy/ng2-ui-auth-example/blob/master/server/), [Twitter](https://github.com/pcdummy/ng2-ui-auth-example/blob/master/server/apps/auth/api_twitter.go)

[2017-07-19 13:26] Jihar opened #971 "gRPC Support ?"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

### Checklist

- [ ] Dependencies installed
- [ ] No typos
- [ ] Searched existing issues and do

[2017-07-20 02:01] #841 closed

[2017-07-20 08:02] gelidus commented on #943
I would suggest using `sync.Map` instead of default map here. As of April, this can be found within the standard packages. https://github.com/golang/sync/blob/master/syncmap/map.go

[2017-07-21 06:57] goenning opened #972 "Request: New bind property for route parameters"
### Issue Description

It is common for POST/UPDATE requests to have the resource identified sent on the URL while the content is sent on the body. It'd be useful to have the DefaultBinder to bind route parameters into the Model. Example below.

### Checklist

- [X] Dependencies installed
- [X] No typos
- [X] Searched existing issues and docs

### Expected behaviour

[code]

This would bind both N

[2017-07-21 20:57] vishr commented on #972
@goenning Should be ok

[2017-07-22 00:27] pokatomnik commented on #727
There is no reason to create a new server with same routes just for redirects from http to https, so your goroutine may contain a short code like this:
`
  go func () {
    redirectServer := echo.New()
    redirectServer.Pre(middleware.HTTPSRedirect())
    redirectServerError := redirectServer.Start(":80")
    redirectServer.Logger.Fatal(redirectServerError)
    }()
`
this code creates a web serve

[2017-07-22 22:37] michelaquino commented on #267
This works:
`e.GET("/metrics", echo.WrapHandler(promhttp.Handler()))`

[2017-07-23 11:39] mbn18 commented on #782
Have related issue

In one of my PUT request I get `EOF`

The request object is:
[code]
The binder is the default one:
[code]
And it print out:

The request is:
[code]

Tried to switch to `POST` and etc. The odd thing is that I have other `POST`/`PUT` actions that do work as expected

[2017-07-24 17:55] vishr commented on #782
`Bind()` reads request body directly from the socket and once read it can't read again, hence the EOF error. You can look into this blog post as a workaround: https://medium.com/@xoen/golang-read-from-an-io-readwriter-without-loosing-its-content-2c6911805361

[2017-07-25 16:28] mcquackers opened #976 "Context unable to bind twice"
### Issue Description
Using ```c.Bind(&exampleStruct)``` properly binds the incoming data to the struct, but then subsequently calling ```c.Bind(&differentExampleStruct)``` silently fails to bind.

Reversing the order of the bindings produces the same issue with respect to the bindings (&differentExampleStruct is the populated, but &exampleStruct is left empty)

### Checklist

- [X ] Dependencies

[2017-07-25 17:20] #976 closed

[2017-07-25 17:20] mcquackers commented on #976
I are dumb

[2017-07-25 17:38] #782 closed

[2017-07-25 17:41] vishr commented on #976
@mcquackers You can look into this  comment https://github.com/labstack/echo/issues/782#issuecomment-317503513

[2017-07-25 21:36] #972 closed

[2017-07-28 10:58] fozcode opened #977 "Default binder overwrites errors from BodyLimit middleware"
### Issue Description
The code for the default binder overwrites errors from the BodyLimit middleware.

I'm not sure if other middlewares are affected.  Looking at the code this issue affects middleware that wraps `request.Body`, but there might in theory be a similar issue for middleware that parses query parameters.

### Checklist
- [x] Dependencies installed
- [x] No typos
- [x] Searched existi

[2017-07-29 16:58] ansel1 commented on #646
Just got bit by this.  In my case, it caused a panic in Route.Find() (an index out of bounds error trying to set a value in the params array which was 0 len).

We use SetParamValues() to PathUnescape the param values in a middleware.

[2017-07-30 15:36] kieusonlam opened #978 "How to use middleware just on some request"
I just start learning go. I'm trying to make a rest api for my blog with jwt.

Everyone can get Post but only authenticated user can edit / update / or delete. Can I do it without grouping route to use middleware. Something like this:
[code]
Or what should I do, I need your advise :)

[2017-07-31 02:04] KenjiHosaka commented on #978
@kieusonlam

Please try it.

[code]

[2017-07-31 02:34] kieusonlam commented on #978
Thanks for reply @KenjiHosaka

So we can only using middleware on a group of route right? I think it's just inconvenient when we have to use different route on an api. I mean you have to make a request to `/restricted/post`

[2017-07-31 04:53] hellower commented on #859
I have same issue.

[2017-08-01 06:25] #978 closed

[2017-08-01 15:29] vishr commented on #971
Closing due to scarcity of information.

[2017-08-01 15:29] #971 closed

[2017-08-01 21:17] MarcusMann commented on #325
No more the SetHTTPErrorHandler method?

I see that you create a custom function for this
Https://echo.labstack.com/guide/error-handling

And then how does she record it for all the routes?
If a user types a route that does not exist, how do I return a custom error?

Thank you staff Echo.

[2017-08-01 21:27] MarcusMann opened #979 "How to handle custom errors?"
I was watching this topic #325

### Issue Description

No more the SetHTTPErrorHandler method?

I see that you create a custom function for this
Https://echo.labstack.com/guide/error-handling

And then how does she record it for all the routes?
If a user types a route that does not exist, how do I return a custom error?

Thanks

[2017-08-02 17:50] vishr commented on #979
Please ask questions in the forum https://forum.labstack.com

[2017-08-02 17:50] #979 closed

[2017-08-03 05:58] vishr commented on #891
Today, this is the expected behavior. You can use a custom binder http://www.gorillatoolkit.org/pkg/schema. More https://stackoverflow.com/a/34841218/197473

[2017-08-03 05:58] #891 closed

[2017-08-03 11:10] enkaypeter opened #981 "cannot find package "github.com/labstack/engine/standard"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description
cannot find package "github.com/labstack/engine/standard
### Checklist

- [x] Dependencies instal

[2017-08-03 15:00] vishr commented on #981
This package existed in version 2. You need to use a package manager to fix the version or use http://gopkg.in/echo.v2. If you are upgrading to Echo v3, you don't need this package.

[2017-08-03 15:00] #981 closed

[2017-08-06 15:59] johndeng commented on #887
@VICTOR-LUO-F Any progress?

[2017-08-07 01:43] bsed opened #983 "c.Response().Writer?"
How do I get `c.Response ().Writer? The data inside and convert to []byte

![image](https://user-images.githubusercontent.com/10845087/29009320-e1b4638e-7b54-11e7-8eb4-ea0c55b0f3e1.png)

I want to get the data inside the write

[2017-08-07 02:36] bsed commented on #983
cannot load custom data
eg:
[code]

[2017-08-08 15:14] vishr commented on #983
Please ask question in the [forum](https://forum.labstack.com)

[2017-08-08 15:14] #983 closed

[2017-08-08 20:28] vishr commented on #859
Please ask questions in the [forum](https://forum.labstack.com]

[2017-08-08 20:28] #859 closed

[2017-08-09 11:32] lunemec opened #986 "Gzip middleware doesn't automatically decompress incomming requests"
### Issue Description
Upon server receiving POST request with content-encoding: gzip set the gzip middleware doesn't decompress the data.
This causes strange errors when trying to Bind() data (for example form/multipart): `multipart: NextPart: EOF`.

When decompressing the ctx.Request().Body manually inside the handler everything works as expected.

### Expected behaviour
GzipMiddleware should? (p

[2017-08-10 15:52] jinroh opened #988 "Regression: binding a map is not allowed anymore"
### Issue Description

I think a valid use case of binding to a `map[string]interface{}` now causes the following error: `Binding element must be a struct`. I think the regression has been caused by #972.

Is this use case still valid ?

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour

Binding a `map[string]interface{}` is

[2017-08-14 04:32] bxcodec commented on #856
If you looking for example, you could see what gin does here http://godoc.org/github.com/gin-gonic/gin#Engine.NoRoute

It will return default 404  for un-registered routes 🙄

[2017-08-18 11:25] hcrgm opened #991 "A bug about Static Middleware"
### Issue Description
There is a directory named "subdir", some resource files and one index page in that directory. All the links in index page are relative. When I access "/subdir", the resources not loaded. It's Ok when I access "/subdir/". I think when there is a request to a directory, it should redirect to "directory/" first.
### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] S

[2017-08-18 15:14] hexadecy commented on #886
Fixed by https://github.com/labstack/echo/commit/83eadbad188df0d05305fce89bfb855a19ef5f21
and duplicate of #963

[2017-08-18 15:14] #886 closed

[2017-08-22 07:29] #991 closed

[2017-08-22 15:30] vishr commented on #969
@dhanunjay can you check if this https://github.com/labstack/echo/pull/993 fixed it?

[2017-08-23 22:13] splittingfield opened #994 "API Breaking Change in Minor Release: `Route.Handler` -> `Route.Name`?"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

In 3.2.2, the Route struct was changed to have a `Name` method as opposed to `Handler`.

In 3.2.

[2017-08-24 12:56] asdine opened #995 "API Breaking Change in Minor Release: `echo.NewResponse` -> ?"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

`echo.NewResponse` has been removed in 3.2.2.

### Checklist

- [x] Dependencies installed
- [x]

[2017-08-24 15:27] vishr commented on #995
@asdine thanks for reporting, reverting it back.

[2017-08-24 15:27] #995 closed

[2017-08-24 15:29] vishr commented on #994
@splittingfield thanks for reporting, we should have at least made it backward compatible - lesson learnt. If you have any suggestion to improve/fix it, please let me know.

[2017-08-24 15:37] splittingfield commented on #994
@vishr I think this is more of a process thing than anything else.  For example, the documentation for Listing Routes is now incorrect.  Going forward, (and what I have done in the past) is to have a suite of tests aimed at verifying API compatibility of exposed  structs and values.  It is so easy to make a change that is completely innocuous, but actually breaks users (such as this one ;-)

Also,

[2017-08-24 15:45] vishr commented on #994
@splittingfield Here is the complete discussion https://forum.labstack.com/t/named-routes-for-use-in-templates/241

@skyflyer might be able to talk more about it.

I will check on documentation mismatch.

[2017-08-24 15:47] splittingfield commented on #994
@vishr Thanks!  Echo is awesome by the way.  No hard feelings or big deal, just wasted some time to understand what happened.

[2017-08-24 16:31] #994 closed

[2017-08-25 05:49] skyflyer commented on #994
@splittingfield, that rename was my bad, sorry. And to answer your question:

`Name` is the same as `Handler` was before; I wrongly assumed `Handler` was even used outside of Echo since it is more-or-less an infrastructure thing.

[2017-08-25 13:59] splittingfield commented on #994
No worries my friend. As I said, easy mistake to make and one I am sure I have made myself, but in software no one used so no one noticed 👹

Keep up the great work!

[2017-08-31 13:16] ljesparis opened #998 "Spanish translation"
Hello, currently echo micro it's used a lot in latin america, but some people does not read very well english. I want to contribute with the spanish translations as well.

@vishr

[2017-08-31 16:21] vishr commented on #923
Fixed in https://github.com/labstack/echo/pull/999

@Limoli You can use set `middleware.ErrJWTInvalid` for custom message.
@lavenderx New field `Inner` added to `HTTPError` for holding external dependency error.

[2017-08-31 16:21] #923 closed

[2017-08-31 18:47] EthanG78 opened #1000 "Error within jwt.go prohibits the ability to add Middleware."
### Issue Description
There seems to been an error within the middleware package, JWT.go file.

### Expected behaviour
Adding middleware.Logger() to a group and it should run just fine, according to docs.

### Actual behaviour
Throws an error such as ``..\..\labstack\echo\middleware\jwt.go:10:2: cannot find package "github.com/dgrijalva/jwt-go"``

### Steps to reproduce

Simply add any middleware

[2017-08-31 19:02] ljesparis commented on #1000
you need to download  "github.com/dgrijalva/jwt-go" dependency

[2017-08-31 21:54] #1000 closed

[2017-09-03 23:47] Puffton commented on #705
The bug has been found in my framework and was unrelated to Echo, this issue can be closed.

[2017-09-03 23:47] #705 closed

[2017-09-03 23:49] Puffton commented on #342
I have very few bugs/recovers happening in my framework now, so I can't say for sure if this bug persists or not.

[2017-09-04 20:49] #998 closed

[2017-09-05 16:48] norx85 opened #1002 "Problem with multipart/form-data upload"
Hi,
I've a problem with multiple file uploads in multipart/form-data that was working previously.
The problem starts when i've updated echo package and now any request i do fail with a 500 error.
For me this is a very big problem because this code is running in a production service where image upload is a key feature.

These are the logs i get when i start an upload (nothing that helps investigate

[2017-09-06 01:40] mattn commented on #295
Sorry OT.

I created echo-scaffold easy to create app using echo.

https://github.com/mattn/echo-scaffold

This is based on https://github.com/dcu/gin-scaffold

have fun echo :)

[2017-09-06 07:20] norx85 commented on #1002
With echo in debug mode i've got more information to share.

If in the XHR request the "Content-Encoding" is setted manually to "multipart/form-data", the log i get are these:
[code]
If i try to make the request without setting the "Content-Type" manually (as it was when the upload was working), the browser set the header by itself with the boundary. The resulting request just hangs forever meanwh

[2017-09-06 09:35] maogx8 opened #1003 "I got error when use `CustomContext` echo.Context is *echo.context, not main.CustomContext"
[code]

### Version/v3.2.1

get error
[code]

[2017-09-06 13:13] #1003 closed

[2017-09-06 13:19] Puffton commented on #546
No longer important to me.

[2017-09-06 13:19] #546 closed

[2017-09-06 13:19] maogx8 commented on #1003
I know where I am wrong, But I still sugguest you write a full example at the following url
- https://echo.labstack.com/guide/context

[2017-09-06 14:47] vishr commented on #1003
@maogx8 Can you mention the problem you faced and how you resolved it? We can include that in the documentation.

[2017-09-06 16:01] Puffton opened #1004 "Documentation: AutoTLS support only partial"
The AutoTLS support provided by autocert is very easy to use in some cases, but not in others. If your server is behind a firewall, you would need to use the "dns-01" challenge type with a custom acme.Client. See: https://github.com/golang/go/issues/17263.

The recipe only covers the approach for machines not behind a firewall. Perhaps a short notice could be made to clarify this.

[2017-09-06 19:10] vishr commented on #1002
Have you looked into https://stackoverflow.com/a/33809474/197473?

What is your Go and Echo version? What was it before?

[2017-09-06 23:22] vishr commented on #1003
https://forum.labstack.com/t/i-got-an-error-when-using-a-custom-context/334

[2017-09-07 07:12] norx85 commented on #1002
Hi @vishr, thank you for reply.
In this stackoverflow thread the problem is that the guy sets manually the content-type to "multipart/form-data". In my case setting manually the content-type is only a test i done to resolve the problem (unsuccesful).

The go version i'm using is 1.9, the previous was 1.8.3 but i upgraded only after the problem begin (another test).
The echo version now is the 3.2.

[2017-09-07 15:07] vishr commented on #1002
@norx85 can you build a minimalist example to reproduce it?

[2017-09-07 18:13] norx85 commented on #1002
Ok i've made a little build that reproduce the bug, the sources are in the zip
[testupload.zip](https://github.com/labstack/echo/files/1285704/testupload.zip)

[2017-09-08 04:28] zouhuigang opened #1005 "StartAutoTLS doesn't support it [::]:443"
/ __/___/ /  ___
 / _// __/ _ \/ _ \
/___/\__/_//_/\___/ v3.2.1
High performance, minimalist Go web framework
https://echo.labstack.com
____________________________________O/_______
                                    O\
https server started on [::]:443

   ____    __
  / __/___/ /  ___
 / _// __/ _ \/ _ \
/___/\__/_//_/\___/ v3.2.1
High performance, minimalist Go web framework
https://echo.labsta

[2017-09-08 04:59] vishr commented on #1005
Is your IP public?

[2017-09-08 08:39] zouhuigang commented on #1005
Exposing a port on a live Docker container:

docker run -it -p 8098:80 -p 8099:443  registry.cn-hangzhou.aliyuncs.com/zhg_docker_ali_r/golang-development-anooc:1.0.1

[2017-09-08 08:42] zouhuigang commented on #1005
In the local virtual machine，exposing a port on a live Docker container:

docker run -it -p 8098:80 -p 8099:443 registry.cn-hangzhou.aliyuncs.com/zhg_docker_ali_r/golang-development-anooc:1.0.1

[2017-09-09 17:19] pzduniak commented on #1005
It must be internet-facing to automatically generate Let's Encrypt certificates.

[2017-09-10 12:56] maogx8 commented on #1003
Yes, I resoloved it just like the anwser you reply me in the last commet

[2017-09-12 05:28] Jmeyering opened #1007 "appengine: NewContext passed an unknown http.Request"
Appengine SDK will not allow me to use `c.Request()` inside of `appengine.NewContext`. I'm receiving a error message saying

From the research I've been able to do this error indicates that appengine does not consider `*http.Request` returned from `c.Request()`  to be an "in flight" request.

https://cloud.google.com/appengine/docs/standard/go/reference#NewContext

Has anyone seen this before or h

[2017-09-16 00:38] lovelly opened #1008 "how to set mime.types"
request always returns text/plain
![image](https://user-images.githubusercontent.com/13118848/30507676-66774f9e-9aba-11e7-9b32-0e9dda7cf817.png)

[2017-09-17 16:17] vishr commented on #1008
Please ask questions in the forum https://forum.labstack.com

[2017-09-17 16:17] #1008 closed

[2017-09-19 08:27] norx85 commented on #1002
Hi i've finally found an error im my code that create an infinite loop, so that's why the upload fails, so there's no bug in echo.
Anyway, thanks for your help.

[2017-09-19 08:27] #1002 closed

[2017-09-20 01:05] bsed opened #1009 "Cannot modify the response value from the middleware"
Through middleware, the response value is first obtained, and then the value of the response is modified before assigning it to the response.

resBody1' value is null

[code]

### Version/commit

[2017-09-20 01:44] bsed commented on #1009
[code]
i use the following notation also can not

[2017-09-20 14:29] Puffton commented on #817
This issue is back again, I'm not getting any error messages from the server when e.Debug = true.

Another, related bug. If I set "e.Debug = true" and then use subdomains, and also set "server.Debug = true", I'm getting HTTP ERROR NO RESPONSE rather than even the generic "Internal server error". Example:

[code]

[2017-09-21 15:46] vishr commented on #817
@Puffton  Please verify

[2017-09-21 18:56] Puffton commented on #817
Works, thanks!

[2017-09-24 17:58] linux-support opened #1011 "Group(): Routing problems"
### Issue Description

There is an issue with routing requests when utilizing the group() method. When registering routes without group() the router is working as expected.

### Expected behaviour

When registering a route in a sub-router the url path should be mapped to the registered handler method.

### Actual behaviour

See the provided example code.

### Steps to reproduce

Run the applicatin

[2017-10-02 15:28] xxbka opened #1012 "c.Bind fails with EOF on JSON POST, can't figure out why"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description
c.Bind fails with EOF on JSON POST, does not contain posted data.

### Checklist

- [x] Dependenc

[2017-10-03 08:47] kiag0 commented on #904
this link is broken https://github.com/labstack/echo/issues/600#issuecomment-233098970, how can i get the solution if link not working?

[2017-10-04 11:43] xxbka opened #1013 "echo CRUD example from website fails with EOF like #1012"
### Issue Description
https://echo.labstack.com/cookbook/crud example fails with EOF like #1012

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
working as described in example

### Actual behaviour
⇨ http server started on [::]:1323
2017/10/04 13:33:29 Json Received: {"name":"Joe Smith"}
{"time":"2017-10-04T13:33:29.645778

[2017-10-04 12:58] mewben commented on #1013
You're already reading the `c.Request().Body` here:
[code]
so the `Bind` reads nothing.
If you remove those lines, it will work as expected. Hope this helps.

[2017-10-04 13:12] #1013 closed

[2017-10-04 13:16] #1012 closed

[2017-10-05 03:51] siredwin commented on #904
Fixed.

[2017-10-05 16:09] vishr commented on #1011
Move your middleware before you define any handler and it should work.

[2017-10-05 16:09] #1011 closed

[2017-10-06 05:43] linux-support commented on #1011
Thank you for your comments.

* What do you mean when saying 'Move your middleware'?
* Do you have an idea what lines to move or what to add to the provided example?

[2017-10-06 05:45] vishr commented on #1011
You should middleware first and then any handlers. So, in your example `admin.Use` should come before `admin.GET`.

[2017-10-07 02:47] JermineHu opened #1015 "Is there a plan to support QUIC?"
**First of all, thank you very much for echo provided by labstack!**

![074150_aluq_2903254](https://user-images.githubusercontent.com/18027793/30634829-f69759e6-9e22-11e7-90d6-87c6d859d0cd.png)

**TCP needs three handshakes, and if TCP+TLS takes more time to respond, the http2.0 that supports QUIC is the solution to the performance issue from low-level.Echo a excellent web framework and expects i

[2017-10-11 01:25] vishr commented on #1015
@JermineHu Thanks for your input. I will have a look at it. Don't hesitate to discuss it further if you have any ideas on implementing it.

[2017-10-11 07:48] JermineHu commented on #1015
@vishr  _**I will continue to pay attention to this project, I believe it will become better and better !
I've tested a lot of frameworks, and Echo builds smaller files, which are great! So I chose Echo, and I hope it's getting better!**_

[2017-10-17 09:08] nazieb opened #1016 "Weird behaviour when using single "r" as route path"
### Issue Description

We're currently migrating an internal URL shortener service from PHP to Go, and one of the routes is something like this: `GET /r/{short_id}`.

However when I work on this using echo by doing something like this:

[code]

and access it with value like `GET /r/abc` it always output a very big negative number, something like `-71304012483379`.

When I change the path from "r"

[2017-10-21 10:51] Nagasir commented on #228
I'm having this problem too when sending Authorization header with "POST", the request method  automatically changes to OPTIONS. I have added echo.OPTIONS  inside AllowMethods parameters but it still gives me 405 response code, Method Not Allowed.
[code]

But when I remove the router Group, the CORS works.

[2017-10-22 12:28] rocketspacer opened #1017 "Please don't use the default echo.Logger in framework code"
As you know, logging in go is a nightmare to deal with. I already have to deal with a bunch of libraries, each using their own logging library.

Instead of logging arbitrarily using your custom echo.Logger (especially in the middleware package), I suggest defining specific Error types that can be handled centrally (using type assertion at the HTTPErrorHandler maybe?).

A good library/framework sho

[2017-10-23 20:11] weisd commented on #1017
+1

[2017-10-24 01:40] leenux opened #1018 "How to fix the error?"
### Issue Description
The app can view the static html.
But frequent log
[code]
### Working code to debug

[code]

### Version/commit
[code]

[2017-10-24 03:32] leenux commented on #1018
Fixed by missed WORKDIR

[2017-10-25 04:35] #1018 closed

[2017-10-27 20:34] s4l1h opened #1019 "Match not support route name"
### Issue Description
**Match** not support route name
### Checklist

- [x ] Dependencies installed
- [ x] No typos
- [ x] Searched existing issues and docs

### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Working code to debug

[code]

### Version/commit

this code fix the problem.

[code]

[2017-10-30 00:40] bsed commented on #1009
Nobody answered, close this link

[2017-10-30 00:40] #1009 closed

[2017-10-31 06:34] zouhuigang commented on #1017
+1

[2017-11-02 04:29] pjebs opened #1022 "Stack trace not available"
@vishr
We have migrated from negroni to echo.
In Negroni, we had a protect-at-last-resort middleware that caught panics.
In Development mode, that middleware would convert the stack trace and return it using this bit of code:

[code]

As a matter of practice we always paniced at the Controller level (but not other inside functions called by out controller) when we wanted to produce an error output

[2017-11-02 04:29] pjebs commented on #1022
@andizzle @edwardhutchison

[2017-11-02 05:45] pjebs opened #1023 "Reset() context"
I can see in the `Context` struct this line:

[code]

Does this imply to avoid a memory leak we must create a middleware at the beginning of the middleware stack and inside it call:
[code]

[2017-11-02 05:46] pjebs commented on #1023
@andizzle @edwardhutchison

[2017-11-02 12:44] pjebs commented on #1007
the guide has special instructions to work with GAE. Did you try them?

[2017-11-02 20:25] Puffton opened #1024 "Release procedure"
I don't want to use an external library, and I'm looking for the simplest release procedure possible. Do you guys have any suggestions?

Right now I'm using kill in a loop in bash, sleeping a second after every attempt, until the server is down. After that I replace the binaries and try to start my new server. This often works, but sometimes it doesn't. Could it be that the port is still hogged by

[2017-11-03 11:26] jaggerwang opened #1025 "Cannot found Shutdown method in v3.2.1 followed by "Graceful Shutdown" cookbook."
### Issue Description

As the title said.

![image](https://user-images.githubusercontent.com/1255011/32371696-d57994c8-c0cc-11e7-8f45-b55367807939.png)

![image](https://user-images.githubusercontent.com/1255011/32371184-e3e2ee12-c0ca-11e7-9716-943c6f25fb35.png)

![image](https://user-images.githubusercontent.com/1255011/32371668-b92d616e-c0cc-11e7-87cf-2a07b8739067.png)

### Version/commit

echo

[2017-11-03 11:47] jaggerwang commented on #1025
Found in v3.2.3

[2017-11-03 11:47] #1025 closed

[2017-11-04 16:40] vishr commented on #1023
@pjebs All  these functions are for low-level usage, for example, just using the router part from the framework otherwise they should be avoided. Let me know if you any questions.

[2017-11-04 16:40] #1023 closed

[2017-11-04 17:02] vishr commented on #1022
@pjebs This came up earlier as well - I think stack trace while logging, as the error is returned and later used to call the HTTP error handler from `Echo#ServeHTTP` the stack trace for handler is not available - so you understanding it correct. You can look into `Recover` middleware. Probably to fix it I would move calling http error handler logic into a middleware.

[2017-11-04 17:02] #1022 closed

[2017-11-05 03:50] pjebs commented on #1022
How about this for a change?

Then request handler looks like this:
[code]

When the request handler returns an error, at the point where the framework collects the returned error, you can record the stack trace and store it somewhere temporarily (such as the echo context) and then we can access it via the customer error handler?

[2017-11-05 16:30] vishr commented on #1022
You can't get a stack trace from the returned error. Look into this package https://github.com/go-errors/errors which adds stack trace which you can retrieve in the http error handler. I will update the guide with an example on how to use it.

[2017-11-05 17:33] pjebs commented on #1022
I didn't mean getting a stack trace from the error. Rather, when the error is returned, obtaining a stack trace at that point in time.

[2017-11-05 18:21] vishr commented on #1022
That will be all internal to the framework, are you interested in that? How does you example output look like?

[2017-11-05 19:44] rskumar opened #1026 "Add way to modify route and its handlers"
### Issue Description
Currently there is no way to achieve following after server is running (listening) -
- Add a new route (path + handler)
- Search from existing route
- Remove route (path + handler)
- Update route (change path or handler for existing entries)

[2017-11-05 20:28] pjebs commented on #1022
Yes I mean a feature request. The framework can add the stack perhaps to echo context for us to access from custom error handler.

[2017-11-05 22:09] vishr commented on #1022
I am fine with it but just trying to understand how does stack trace looks like and even how to do it - here is the location https://github.com/labstack/echo/blob/master/echo.go#L583

[2017-11-05 22:35] andizzle commented on #1022
@pjebs let's open a PR with a proposed solution.

[2017-11-06 08:46] Puffton commented on #1005
Remember to not only open up the port within the machine, but also within the firewall, if there is one (and if you use IP whitelisting from certain countries).

[2017-11-06 12:50] andizzle commented on #1022
The above PR allow us to do something like this in the custom `HTTPErrorHandler`
[code]

It produces the traceback that indicates the DB connection failed to open during the test:
[code]

[2017-11-07 07:27] mostafahussein opened #1028 "credentials check at basic auth middleware"
### Issue Description
I have a question that might be a noob question. I saw this code in [basic_auth.go](https://github.com/labstack/echo/blob/master/middleware/basic_auth.go#L81-L91), can't we replace it with this one ?
[code]
Note: `strings` needs to be imported
The way i see it that instead of looping around each character in order to look for `:` we can check it's existence using `strings` di

[2017-11-08 00:51] vishr commented on #1028
I am not sure but looks like it can handles array out of bounds.

[2017-11-08 01:31] vishr commented on #1022
@andizzle I am not able to understand how capturing stack trace within `Echo#ServeHTTP()` contains middleware/handler error details. Per your code the stack trace should look something like below:

[code]

[2017-11-08 02:17] vishr commented on #1005
I don't know your network settings but if your host is connected to the internet and port 443 is open it should work with the following changes:

[code]

[2017-11-08 02:17] #1005 closed

[2017-11-08 03:53] mostafahussein commented on #1028
@vishr , I have submitted a pr #1029

[2017-11-08 04:00] vishr commented on #887
Closing as no progress reported.

[2017-11-08 04:00] #887 closed

[2017-11-08 04:00] vishr commented on #603
Not supporting v2.

[2017-11-08 04:00] #603 closed

[2017-11-08 08:23] fanus opened #1030 "Static file glob patterns"
### Issue Description
I'm trying to use glob patterns for static file routing just like the normal GET and POST routes.

**Example:**
[code]
### Expected behaviour
Users will be able to upload files that needs to be stored in their own folder. These files should be downloadable without explicitly adding a new `e.Static` route.

### Actual behaviour
It ignores the glob patterns

### Version/commit

[2017-11-08 10:58] fanus commented on #1030
Managed to get around this issue but using GET routes that return Inline files.

See: https://echo.labstack.com/cookbook/file-download

Is this the best solution for what I am looking for? I'm slightly concerned about performance.

[2017-11-08 11:12] andizzle commented on #1022
@vishr you are right, the stack trace I was looking at was occured before `Echo#ServeHTTP`. It's not going to be easy since the middlewares are squashed into a nested function, the error trace on individual middleware calls seems to be ... impossible inside Echo.

@pjebs looks like the we are going to implement this at the middleware level on our own.

[2017-11-08 11:14] pjebs commented on #1022
@andizzle Using panics?

[2017-11-08 16:30] vishr commented on #1022
@andizzle @pjebs You might want to look into this package https://github.com/go-errors/errors which is capable to return an error with stack trace.

[2017-11-13 01:08] mewben commented on #422
Up

[2017-11-15 20:36] ansel1 opened #1032 "RemoveTrailingSlash middleware fails with go 1.9"
### Issue Description

RemoveTrailingSlash is intended to modify the request URL path before the request hits the router.  This works in go 1.8, but in go 1.9, the router may not see the modification to the request's URL.

This will only occur if some *other* middleware in the stack, which runs after the RemoveTrailingSlash, but before the router, use's http.Request.WithContext() to modify the req

[2017-11-21 18:21] siredwin commented on #891
@vishr
is there a fix for this yet ?
@trtstm ,
How were you able to fix or get a solution for this?

I need to be able to bind the following to  a struct from form body. So far it only works when payload is json.

    `{
    "message": "Task started successfully",
    "chainTaskUUID": [
        {
            "streams3": "task_f2ff20d4-1613-4dc6-9494-c4a4cb9af976"
        },
        {
            "

[2017-11-21 22:44] h00s opened #1034 "Remove hardcoded version from source code"
### Issue Description

Release version is hardcoded in echo.go file. Version 3.2.4 is released, but hardcoded version 3.2.3 is still written in echo.go file. When starting server it displays old version, but is actually running newer version. This confuses users...

### Expected behaviour

Server on start should display actual release version.

### Actual behaviour

Server displays version hardcod

[2017-11-23 02:00] vishr commented on #1034
Fixed in https://github.com/labstack/echo/commit/0473c51f1dbd83487effce00702571d19033a6e5

[2017-11-23 02:00] #1034 closed

[2017-11-23 06:25] sulthonzh opened #1035 "Golang Packages Manager"
Hi, can some one tell me about this, i have managed package with "dep" but echo folder contains engine directory, why?

[2017-11-24 01:37] vishr commented on #1035
Please ask questions in the forum https://forum.labstack.com

[2017-11-24 01:37] #1035 closed

[2017-11-24 12:55] mymtw opened #1036 "Handler running twice if return string, if return json not"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description
Handler running twice
### Checklist

- [ x] Dependencies installed
- [ x] No typos
- [ x] Searche

[2017-11-24 16:49] mymtw commented on #1036
I'm sorry, everything ok with, this is not fault of framework, my `chrome extension` that prettifying JSON - it sent 2 requests. Just have removed it

[2017-11-24 16:49] #1036 closed

[2017-11-24 22:27] Puffton commented on #1024
Ah, stupid me, this page pretty much answers it: https://echo.labstack.com/cookbook/graceful-shutdown.

[2017-11-29 18:55] RenathoAzevedo commented on #860
@vishr  sorry to comment on this closed issue, but how can I supress this error: echo: http: TLS handshake error from 192.168.10.125:59282: tls: first record does not look like a TLS handshake. And I'm not being able to get this output on my log using: e.Logger.SetOutput(lf). is there any way to supress this error or log it into a file ?

[2017-11-29 22:56] vishr commented on #860
I doubt that it is not being captured in the output you specify. Do you see other logs?

[2017-11-30 11:35] RenathoAzevedo commented on #860
Yes, I'm setting `e.Logger.SetOutput(lf)` and
[code]
Both goes to my logfile, but  this error: `echo: http: TLS handshake error from 192.168.10.125:59282: tls: first record does not look like a TLS handshake` which is not in json format goes to stdout. am I missing something ? There's a way to suppress it  ?

[2017-11-30 13:42] Puffton opened #1037 "Multicore echo"
I see that fasthttp (https://github.com/valyala/fasthttp) are recommending:
- Use reuseport listener.
- Run a separate server instance per CPU core with GOMAXPROCS=1.
- Pin each server instance to a separate CPU core using taskset.

Is this also true for echo? Has anyone tried benching for example GOMAXPROCS=4 vs setting up 4 separate processes, with one pinned to each core?

Maybe this is now obs

[2017-11-30 14:16] Puffton commented on #1024
Actually still relevant with regards to "SO_REUSEADDR"/"SO_REUSEPORT", even with graceful shutdown the port is not freed up straight away so my release script fails.

[2017-11-30 16:26] vishr commented on #860
Have you checked where your standard logs are going? Most likely you have a call to https://golang.org/pkg/log/#SetPrefix. Can you try `log.Println("test")` somewhere in the code and see where it lands?

[2017-11-30 17:27] RenathoAzevedo commented on #860
@vishr  I'm using logrus like this `log "github.com/sirupsen/logrus"` , so I'm overriding the standard log.
But anyway I'm telling to logrus log into my logfile:` log.SetOutput(lf)`. shouldn't echo log this error like the others ? I tested here fmt prints to stdout and not to my file. is Echo using fmt  ?

[2017-12-03 21:20] StarpTech opened #1038 "Echo static middleware returns wrong content type"
As titled
[code]

AssetsBuildDir

[code]
## Actual result

- app.css, Content-Type:text/css; charset=utf-8
- app.js, Content-Type:text/plain; charset=utf-8

## Expected result

- app.css, Content-Type:text/css; charset=utf-8
- app.js, Content-Type: application/javascript

[2017-12-03 22:30] vishr commented on #1038
As I am not able to reproduce it, can you provide a sample code/repo?

[2017-12-05 17:31] coelho opened #1039 "JWT graceful failure"
Would be nice if the JWT middleware had a configuration option `Required bool` (or maybe an inverse variant for backwards compatibility, can't think of a name)?

Use-case is when you do not want a route to require a JWT, but display different behavior if a JWT is there.

Example:
[code]

Currently this would throw a ErrJWTMissing
https://github.com/labstack/echo/blob/master/middleware/jwt.go#L142

[2017-12-08 22:44] lornasong opened #1040 "Preflight/OPTIONS request return 405 for groups with cors/middleware"
The 405 I am seeing happens when:
 - Making a preflight/options request to an endpoint
 - This endpoint is part of a group
 - This group has cors/middleware attached
 - The main route does not have cors/middleware

I want to acknowledge that this is very similar to https://github.com/labstack/echo/issues/228. However, it seems recently other people have commented that they are experiencing a simil

[2017-12-13 18:52] siredwin commented on #1025
I am on  v3.2.5. I cannot find it either.
![screenshot from 2017-12-13 11-45-53](https://user-images.githubusercontent.com/8451465/33956529-0ac6a6cc-dffc-11e7-95b7-706ef31c8657.png)

[2017-12-13 19:18] siredwin opened #1042 "echo#Shutdown not found on v3.2.5"
![screenshot from 2017-12-13 12-16-44](https://user-images.githubusercontent.com/8451465/33957709-a6535916-dfff-11e7-9c28-30025fc2f85f.png)
![screenshot from 2017-12-13 12-19-52](https://user-images.githubusercontent.com/8451465/33957862-112c4f22-e000-11e7-913d-5d6e6afc7f8f.png)

[2017-12-14 10:02] BruceHem commented on #1003
![screen shot 2017-12-14 at 4 58 25 pm](https://user-images.githubusercontent.com/15667259/33986555-7c1a836c-e0f0-11e7-80ec-cc31e39f2fa0.png)

@vishr Is there a way to skip the type casting?

[2017-12-14 11:39] dxvgef commented on #1017
+1

[2017-12-15 11:49] vedun commented on #1042
@siredwin look at this file [echo_go1.8](https://github.com/labstack/echo/blob/3.2.5/echo_go1.8.go#L20)

[2017-12-15 13:18] siredwin commented on #1042
Perfect!  `e.Server.Shutdown(ctx)`

[2017-12-15 13:18] #1042 closed

[2017-12-22 20:10] #1019 closed

[2017-12-22 20:11] vishr commented on #1038
Closing as no response from the OP.

[2018-01-02 20:16] lornasong commented on #1040
Hello, just wanted to follow up on this issue. Is this a valid concern? Or is there a recommended alternative approach? Thank you.

[2018-01-07 16:29] anjmao opened #1045 "App Engine Standart build errors"
### Issue Description

I was following https://echo.labstack.com/cookbook/google-app-engine to deploy simple hello world echo app to app engine standart, but with no luck.

### Expected behaviour
Deploy with no errors

### Actual behaviour
I'm getting error
[code]

### Steps to reproduce

I created simple hello world app like in the cookbook and tried to deploy it. I also tried to skip uploading v

[2018-01-09 07:26] anjmao commented on #1045
It was a problem on my side probably because I was using vendoring and go dep. I was able to fix it by creating custom GOPATH and linking GOROOT to google app engine go SDK. https://stackoverflow.com/questions/39948027/how-do-i-make-vendoring-work-with-google-app-engine/40118834#40118834. I found example https://github.com/nikolay-turpitko/x-gae-dep how to setup app engine correctly so it can also

[2018-01-09 07:26] #1045 closed

[2018-01-10 10:24] ktnyt commented on #295
I use echo to power the backend API for https://calltable.imascg.moe (*Japanese website)
https://github.com/ktnyt/imascg

[2018-01-10 17:30] vishr commented on #1045
@anjmao Can you help me updating the google app engine recipe?

[2018-01-12 09:30] anjmao commented on #1045
@vishr Sure, I can write a new wiki page with a tutorial how to setup app engine so you can run it even locally using GAE SDK.

[2018-01-13 05:26] vishr commented on #1045
@anjmao thank you!, looking forward for it.

[2018-01-15 13:08] RenathoAzevedo opened #1046 "Add a custom timestamp format option on Logger Middleware"
Would be nice if  Logger middleware had a custom time format configuration option. I would like to set my own time configuration.

it would be like:

[code]

on echo/middleware/logger.go something like that:

[code]

[2018-01-15 16:09] anjmao commented on #1045
@vishr I registered new issue for golang appengine https://github.com/golang/appengine/issues/114 becaus it looks like current solution is kind of a workaround. I'm waiting for response until I can start writing proper documentation :)

[2018-01-16 12:39] RenathoAzevedo commented on #1017
I stumbled at the same thing, I'm doing my application log:
it goes like this:

[code]
Instead of Json format,
so It annoys me having echo sending logs in json format on my log file.
Is there any workaround to it ?
Is it safe to set echo.Logger OFF and use only middleware logger? So I could set my own custom format.

[2018-01-17 21:16] siredwin commented on #873
Yep, it took me 6 hours to figure it out. I was streaming Zip file downloads and they were all corrupted when Gzip was enabled for my API. I disabled Gzip and everything worked fine. Just FYI

[2018-01-21 10:09] zxysilent opened #1047 "How to bind the default time type？"
not
type  Timestamp   time.Time

[2018-01-22 04:34] zxysilent opened #1048 "can merge gommon to echo ?"
can merge gommon to echo ?

[2018-01-24 08:59] freeant opened #1049 "session lost when use nginx proxy with echo"
[code]

[2018-01-24 09:04] #1049 closed

[2018-01-24 16:09] benyu opened #1050 "router not match!"
why e.POST("/api/v1/:sub/:id/likes",...) not works?
return 404 error.

But, follow codes works.
e.POST("/api/v1/items/:id/likes", ...)
e.POST("/api/v1/moments/:id/likes", ...)

[2018-01-24 16:10] #1028 closed

[2018-01-25 19:01] filet0fish opened #1052 "Parameter name affects route registration ordering"
### Issue Description

Routes with identical parameter names can return the wrong value if not registered in a specific order.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour

Routing documentation states "Routes can be written in any order."

### Actual behaviour

Route order does matter in this edge case.  If registered

[2018-01-25 22:20] josue commented on #295
I'm using Echo on several production API's & microservices.

My only caveat is that documentation needs to be updated pretty badly. I've spent hours looking to customize/extend parts of the framework and integrate middleware that I had to dig too deep into the actual library logic, issues & PR's - when that could have been easily solved if the documentation was more extensive and provided details/

[2018-01-25 22:32] vishr commented on #295
@josue Thanks for your feedback. I am the only core developer in the project, any help in any form is helpful to update the documentation, may be pointers.

[2018-01-27 19:06] alexaandru commented on #1050
Given

[code]

I get

[code]

It all works as expected. Could you provide some actual code and what error you get?

[2018-01-30 12:27] rvdwijngaard opened #1054 "rewrite middleware does not call next()"
### Issue Description
I want to use the rewrite middleware because my url schema has changed. Using this middleware will not forward requests to the handler functions.
### Checklist

- [x ] Dependencies installed
- [ x] No typos
- [ x] Searched existing issues and docs

### Expected behaviour
I expect this middleware to rewrite the url and forward the request to the appropriate handler.

### Actua

[2018-01-30 18:30] #1054 closed

[2018-01-30 18:31] vishr commented on #1054
Please use it as `e.Pre()` as it should trigger before router.

[2018-01-30 19:15] vishr opened #1056 "https://forum.labstack.com/t/hidebanner-and-hideport-problem/505/2"

[2018-01-31 03:00] vishr commented on #1052
This came up from a commit https://github.com/labstack/echo/commit/fd9508ca394dd5831556cb7eb5e79f2c2f12c29f towards path param aliases. I am going to revert that change as it is buggy.

[2018-01-31 03:02] #1052 closed

[2018-01-31 03:02] vishr commented on #1052
@filet0fish please verify.

[2018-01-31 20:19] filet0fish commented on #1052
Thanks, that fixed my test case.

We are still seeing some inconsistencies around registration order in our production app, but it appears to be unrelated.  I will file another bug once we rule our code, have a good test case, and confirm the issue isn't a dupe of #875.

Our current workaround is sorting routes by complexity (number of params, then number of segments) and length before registering

[2018-02-01 03:22] vishr commented on #1047
Please ask question in the forum. https://forum.labstack.com

[2018-02-01 03:22] #1047 closed

[2018-02-01 21:17] vishr commented on #1048
What do you mean?

[2018-02-02 08:05] Eloahman commented on #1017
Agree. A middleware logger is enough.

[2018-02-02 08:11] memwey opened #1059 "Middleware separated"
It's helpful that there are many middlewares well maintained in Echo, but maybe separate different middlewares into different packets will hold the project clean and modularized. Mostly, people use only a few middlewates but are forced to add a lot of things.

[2018-02-06 01:49] Eloahman commented on #1037
Fasthttp support is dropped in echo v3. I think this issue should be opened in [fasthttp](https://github.com/valyala/fasthttp)

[2018-02-07 14:54] benyu commented on #1050
An example likes :
/api/v1/moments/:id/like
/api/v1/moments/:id/:sub/:id/like

at this situation, the  rule 2 will not match and return 404 error.

as if, change the :sub name parameter to a certain value (comments) it works fine.

[2018-02-07 15:28] alexaandru commented on #1050
Still works as expected:

[code]

Gives me:

[code]

That being said, your 2nd route makes little sense: `/api/v1/moments/:id/:sub/:id/like` - you have the `:id` parameter in there twice, which can lead to unexpected/unspecified behavior. Which parameter would you expect to receive in the code? The 1st one or the 2nd? It's only one name and two instances of that name.

[2018-02-07 16:41] benyu commented on #1050
@alexaandru Thanks.
1st :id is spelling wrong.

Maybe the else routes conflicts !

[2018-02-09 10:09] wind0r commented on #1059
What do you mean with force to add a lot of things?
The final Binary only will contain the used middlewares or is this about disk space?
Spliting each middleware in a seperate repo would use more disk space (because of bootstrap files and git folder) then just having them in this Repo.

It may could be usefull to a middleware repo but i dont think it is worth it for just around 20 middlewares.
Hav

[2018-02-09 10:15] roman-vynar commented on #1017
You can easily disable the default json logger:
[code]
Then define you own LoggingMiddleware.

[2018-02-09 18:09] #1048 closed

[2018-02-11 13:57] xzyan opened #1064 "【Reverse Proxy】How to add a request header for each response 反向代理为每个响应添加请求头"
## Reverse Proxy How to add Access-Control-Allow-Origin for each response ?

反向代理如何为每个响应添加 Access-Control-Allow-Origin

[2018-02-13 18:29] alexaandru commented on #1059
I second this request, it makes a lot of sense. Benefits would include (besides the already mentioned - clean and modularized):
- smaller binary (which may matter for things like AWS Lambda or why not RaspberryPi & friends);
- eliminate name clashing (for example, right now default configs are `DefaultGzipConfig`, `DefaultLoggerConfig`, etc. whereas with separate packages, they could all be simply

[2018-02-13 18:53] vishr commented on #1059
I am in to put them into respective packages it will eliminate clutter and name clashing, as @alexaandru pointed.

The only concern is that people don't like change - even if it is for good. May be we can mark it for v4?

[2018-02-14 08:28] alexaandru commented on #1059
That makes sense @vishr we should give people plenty of heads up for breaking changes.

[2018-02-14 20:41] bigodines commented on #251
I found the simpler solution is to just use:

[code]

[2018-02-15 15:25] HouzuoGuo opened #1065 "Consider adding a function to expose the actual port being listened on"
### Issue Description

Test cases often run HTTP server without specifying a port number, in order for the server to listen on any available port. Afterwards, the test case author peeks into the listener structure to find out the actual port number, using code similar to:

    echoSrv.Listener.(*net.TCPListener).Addr().(*net.TCPAddr).Port

However, the method will not work with echo because the li

[2018-02-15 15:34] vishr commented on #1065
@alexaandru do you want to have a look at it?

[2018-02-17 19:49] alexaandru commented on #1065
@HouzuoGuo @vishr Not sure I understand what the problem is. Especially the *"run HTTP server without specifying a port number in order to listen on any"* part - could you please provide an example of such a test?

As far as I see, you cannot even run echo without a port https://github.com/labstack/echo/blob/master/echo.go#L590 in the 1st place and if you run `net/http.Server` without an address (

[2018-02-18 08:08] HouzuoGuo commented on #1065
I really should have said "specify port number 0" instead of not specifying a port number.

Here is an example of starting an HTTP server on the next available port, and then inspects the listener to find out actual port number:

https://gist.github.com/xcsrz/538e291d12be6ee9a8c7

[2018-02-19 16:09] vishr commented on #1046
Fixed in https://github.com/labstack/echo/pull/1066

[2018-02-19 16:09] #1046 closed

[2018-02-19 19:11] alexaandru commented on #1065
I also should've been more clear about the example I asked for @HouzuoGuo :) - could you please provide an example of a test case where you need to find out this port dynamically? Just trying to understand what is it that you're trying to test that you cannot simply run echo with a known port and instead need to dynamically allocate it and then dynamically find it. Being testing, I'd imagine you'd

[2018-02-20 13:12] HouzuoGuo commented on #1065
Oh, it's just a habit of making less assumption about the host system in regards to which ports might be free during test run, and when two or more echo servers need to be tested from independent packages, using randomly assigned port number saves the hassle of tracking which package uses which port.

[2018-02-20 15:26] jney opened #1067 "Echo does not quit properly if `os.Interrupt` signal is caught."
### Issue Description

Echo does not release the port if `os.Interrupt` signal is caught.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour

`control-C` should end the program properly

### Actual behaviour

The program keeps running. The port is still busy even after `kill`ing the process

### Steps to reproduce

1. run
2.

[2018-02-20 16:52] vishr commented on #1067
@alexaandru can you please have a look at it?

[2018-02-20 17:10] alexaandru commented on #1067
Will do @vishr

[2018-02-20 18:14] alexaandru commented on #1065
Thank you @HouzuoGuo that makes sense now, I can see how this can be useful. I will look into this. Cheers!

[2018-02-20 18:25] alexaandru commented on #1067
@jney Did you try (as part of your cleaning()) to close the server yourself? Not sure why you would expect the server to close itself on Ctrl-C, it's not Echo that's catching that signal after all. All you need is either `e.Close()` or `e.Shutdown(ctx)` as part of your cleanup - you can see them here: https://github.com/labstack/echo/blob/e7c89c424f0e4b0e9d5b47027701e269d4028a44/echo_go1.8.go and

[2018-02-20 18:39] vishr commented on #1067
@jney Echo as a framework doesn't handle any kind of OS signals, so I believe with `os.Interrupt` in the code you hijack the handling from go runtime.

[2018-02-21 08:19] jney commented on #1067
Adding a `e.Close()` while intercepting the signal works

[2018-02-21 09:11] alexaandru commented on #1067
Great, thanks @jney  Closing this issue then. Cheers!

[2018-02-21 09:11] #1067 closed

[2018-02-21 15:39] vishr commented on #1064
You can put a middleware just before the proxy middleware to add/modify headers?

[2018-02-21 15:45] alexaandru commented on #1064
Or even better use the CORS middleware which will add this header (and others) for free :)

[2018-02-22 13:57] AdrianLungu opened #1070 "StartAutoTLS with TLS-SNI not working"
### Issue Description

Since [TLS-SNI validation is disabled](https://community.letsencrypt.org/t/2018-01-11-update-regarding-acme-tls-sni-and-shared-hosting-infrastructure/50188) and it's currently unknown if this form of validation will be enabled again, or in what way, could we update StartAutoTLS or some middleware to use HTTP-01 (not sure how DNS-01 would work yet) ?

Right now I had to use t

[2018-02-22 20:59] alexaandru commented on #969
![echo_on_gae](https://user-images.githubusercontent.com/85237/36563692-a3e86688-1823-11e8-9176-b3a04cd50896.png)

It works now fine on GAE @vishr closing this.

Just a heads up that it wasn't exactly straightforward to deploy, see here why: https://github.com/valyala/fasttemplate/issues/8

Once I followed the step in there, it all worked, as you can see above. But that is unrelated to this story,

[2018-02-22 20:59] #969 closed

[2018-02-23 09:10] alexaandru commented on #940
@vishr @tiabc I propose to close this issue as it seems to no longer be a problem: https://github.com/dreamfactorysoftware/df-core/blob/474dd81b0f7a314b32ad52848065b821a3dd09fe/src/Http/Middleware/AuthCheck.php#L109-L112 - seems that nowadays DreamFactory supports JWT in standard/recommended way (Authorization: Bearer <jwt_token>) so the "hack" above is no longer needed.

[2018-02-23 09:50] alexaandru commented on #1065
@HouzuoGuo Sorry, I'm still not able to replicate the issue you're facing:

Given:

[code]

I get:

[code]

Seems to work as expected, no?

[2018-02-23 13:18] alexaandru commented on #1030
@fanus Behind the scenes `Static()` does the exact same thing: https://github.com/labstack/echo/blob/master/echo.go#L451

[2018-02-23 16:37] vishr commented on #940
@alexaandru thx  for looking into it, closing.

[2018-02-25 11:56] bogh commented on #1050
I happen to experience the same issue after upgrading to revision `6da048344775e2002ddf447d0dab104b119d9f1c`. I have routes like

[code]
The problem is the route "/groups/:id/detail" gives handler not found. Debugging found that the route is not matched. With version that I had before, which is `b28538b2e3f5446fe6e0e47ee34cd74b662ca2ab`, these routes worked well.

[2018-02-25 13:03] alexaandru commented on #1050
@bogh I cannot reproduce, the code above works just fine on my end, and I am on the latest master: 6da048344775e2002ddf447d0dab104b119d9f1c

Given:

[code]

I get:

[code]

Could you please provide complete code that I can run on my end in order to reproduce? Thanks!

[2018-02-25 16:42] alexaandru commented on #1065
You're most welcome @HouzuoGuo :) Cheers!

[2018-02-26 09:38] JakeXu commented on #1064
@yan-xz like this:
[code]

[2018-02-26 12:57] AdrianLungu commented on #1038
I also ran into this problem recently.

A project is working as expected on Mac, and the Content-Type is correct, however, on Windows it's giving us 'text/plain' for js files.

Mac is using Go 1.9.2.
Windows is using Go 1.10 and we're downgrading now to see if that might be the issue.

[2018-02-28 04:58] yan-xz commented on #1064
@JakeXu Browser error :
[code]
I do not have a solution

[2018-02-28 08:12] alexaandru commented on #1064
@yan-xz I cannot reproduce this.

Given:

[code]

I get:

[code]

and no error. It all works as expected.

What Echo version are you using? Could you post a sample program that exhibits this error?

[2018-03-01 23:22] vishr commented on #1070
@AdrianLungu can you try this fix?

[2018-03-02 10:52] AdrianLungu commented on #1038
Ok, so this code is enough on Windows to see the difference.

[code]

It seems that the content type on Windows is still text/plain in both cases, however, without the Secure option, it accepts the fact that it's text/plain. On Mac or Ubuntu this is not the case, the content type is application/javascript.

**With Secure on Windows**
![screen shot 2018-03-02 at 11 16 18](https://user-images.github

[2018-03-02 11:17] StarpTech commented on #1038
Please reopen

[2018-03-02 13:30] alexaandru commented on #1038
It looks like `e.Static()` uses `static()` https://github.com/labstack/echo/blob/3cdcc65b23540bffa1d271a22e77014f627de569/echo.go#L444 which uses `c.File()` which uses `http.ServeContent()` https://github.com/labstack/echo/blob/ec048ea5231ff36137b9efd41fec86759e21e553/context.go#L508

Nowhere along this chain I see echo setting up the Content-Type. The only place that I see in Echo that the Conten

[2018-03-02 15:10] alexaandru commented on #1038
Did a tiny test with this (and using http://zeptojs.com/zepto.js for testing):

[code]

Under `Linux Mint 18.3` I get:

[code]

Under `Windows 10` I get:

[code]

So far so good. Then I tried this little program:

[code]

Under Linux I get:

[code]

and under Windows:

[code]

It seems to perfectly match the earlier test, and also both seem to output an accepted content type for javascript (https:

[2018-03-03 15:34] mymtw opened #1073 "How about add header const for "X-Requested-With""
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

### Checklist

- [ ] Dependencies installed
- [ ] No typos
- [ ] Searched existing issues and do

[2018-03-03 21:51] dennypenta commented on #874
Actually problem in Binder.
You have to use bind via query, so you could add "query:some-field" tag.

[2018-03-05 10:18] djensen47 opened #1074 "Next release?"
It looks like the team here has been busy fixing issues. 👏 I'm waiting on one particular fix and although I know that I can just use master, it would be really nice to have some release notes so I can know if there are breaking changes or not.

Thanks for the great project!

[2018-03-05 15:57] vishr commented on #1073
Send me a PR. It should be an easy merge.

[2018-03-06 09:53] alexaandru commented on #1073
Created PR @vishr - https://github.com/labstack/echo/pull/1075  Cheers!

[2018-03-06 11:13] mymtw commented on #1073
@alexaandru thank you

[2018-03-06 11:52] alexaandru commented on #1073
You're most welcome @mymtw :)

[2018-03-06 18:53] vishr commented on #1074
/cc @alexaandru Do you want to draft a new release? Let me know if you need any help.

- Check for diff in the commits since last release
- Create a release notes
- Publish to social channels

[2018-03-06 19:12] alexaandru commented on #1074
Sure, I'll give it a try @vishr  Thanks! :)

[2018-03-07 15:27] vishr commented on #1074
3.3.0 sounds good.

Sent from my iPhone

[2018-03-07 15:30] #1073 closed

[2018-03-08 00:49] pjebs opened #1077 "grpc/protobuf integration"
grpc is probably the best way for micro-services to communicate with each other.
Right now it's hard to maintain a grpc endpoint and an equivalent rest api endpoint (using echo).

We would like to focus on grpc but we still need an occasional rest api endpoint sometimes.
We found a package: `https://github.com/grpc-ecosystem/grpc-gateway` which basically wraps a grpc endpoint and gives a free rest

[2018-03-10 10:08] relax-admin opened #1078 "In China, we cannot update(go get -u) echo"
### Issue Description
Echo cannot be updated（go get -u） in China because https://golang.org cannot be accessed in China, but https://github.com is very fast. Can echo refer to github code?

### Expected behaviour
https://github.com/golang/crypto
### Actual behaviour
 https://go.googlesource.com/crypto
https://golang.org/x/crypto
### Steps to reproduce

[2018-03-11 15:20] #1078 closed

[2018-03-12 09:09] danieldaeschle opened #1079 "Playground Validator doesn't work"
I follow this documentation -> https://echo.labstack.com/guide/request

My code is:

main.go
[code]

todo.go
[code]

My payload is:
[code]

My result is:
[code]
**which should not be!**

Console output:
[code]

[2018-03-12 15:28] smares commented on #1079
That is because you submitted an empty string which is the default for strings. You get the same problem if you use `required` for numbers and submit `0` or `false` in case of booleans. If you want to only make sure that the body contains the key, use `required` but your struct should be a pointer like `*string`. An uninitialized string is `""` while an uninitialized string pointer is `nil` and `n

[2018-03-12 15:31] smares opened #1080 "Output serializer based on Accept header"
With `context.Bind` we have a neat way to unmarshal the body of a request to a struct. For output however, one has to check the `Accept` header in every handler and decide between `context.JSON`, `context.XML`, etc. It would be cool if there was a built-in method that does this automatically.

[2018-03-12 20:50] alexaandru commented on #1074
@vishr Created https://github.com/labstack/echo/pull/1081 - let me know what you think of the message (and the tiny addition to the Makefile, to make tagging easier). If it looks good, I'll just reuse that message for the release itself.

Also, it looks like historically, tags were using the "v" prefix (v1.2.3) but recent tags were just the "1.2.3" alone, no "v" prefix. I assume that's the way to

[2018-03-12 21:22] alexaandru commented on #1074
The new release is available at https://github.com/labstack/echo/releases/tag/3.3.0

Closing this issue.

[2018-03-12 21:22] #1074 closed

[2018-03-13 09:13] asdine opened #1082 "Error with AutoTLSManager"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

Compile error when using Echo.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x]

[2018-03-13 09:36] alexaandru commented on #1082
You seem to have a stale `acme/autocert` library. autocert.Manager DOES currently have that method: https://godoc.org/golang.org/x/crypto/acme/autocert#Manager.HTTPHandler  I suggest a `go get -u golang.org/x/crypto/acme/...`.

[2018-03-13 09:51] asdine commented on #1082
I'm using Glide actually, the problem doesn't come from Echo but from etcd, it's forcing an old version of the `golang.org/x/crypto`.
I'm closing this issue, thank you for your time :+1:

[2018-03-13 09:51] #1082 closed

[2018-03-13 13:00] alexaandru commented on #1082
You're most welcome :) Cheers!

[2018-03-14 05:46] mymtw opened #1084 "Router not matches correctly RESTful urls when writing golang tests"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

### Checklist

- [- ] Dependencies installed
- [ -] No typos
- [ +] Searched existing issues and

[2018-03-14 11:45] alexaandru commented on #1080
This reminds me of Rails' `respond_with`/`respond_to`: https://apidock.com/rails/ActionController/MimeResponds/respond_to but even in Rails, it was eventually moved out of the framework into a standalone gem: https://stackoverflow.com/questions/6118639/rails-respond-with-how-does-it-work

Then I got curious to see how Django deals with it: http://blog.clintecker.com/post/66089491/django-multirespo

[2018-03-14 15:23] mymtw commented on #1084
my mistake. I called articlesC.Show(ctx); instead of articlesC.Index(ctx);
sorry

[2018-03-14 15:23] #1084 closed

[2018-03-15 08:25] danieldaeschle commented on #1079
then i have this:

[code]

[2018-03-15 08:30] danieldaeschle commented on #1079
Doesn't help...

My solution ist:
[code]

[2018-03-15 08:30] #1079 closed

[2018-03-15 15:24] rvdwijngaard opened #1086 "Rewrite middleware does not work on latest commit"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

### Checklist

- [X] Dependencies installed
- [X] No typos
- [X] Searched existing issues and do

[2018-03-16 01:12] jessejohnston-isp opened #1087 "AddTrailingSlash middleware no longer works"
Trailing slash middleware works correctly in v3.3.2, fails in v3.3.3

e := echo.New()
e.Pre(middleware.AddTrailingSlash())
e.POST("/myservice/v1/user/tokens/", loginHandler)

Expected behavior:

Requests to **/myservice/v1/user/tokens/** and **/myservice/v1/user/tokens** are both routed to loginHandler.

Actual behavior:
Requests to **/myservice/v1/user/tokens/** are routed correctly to loginHandl

[2018-03-16 01:50] rof20004 opened #1088 "Route Path Params bug"
### Issue Description
Routes path params not working correctly after commit b338075 - Update dummy group path to include exact prefix (Probably, I am not sure).

### Checklist

- [ X ] Dependencies installed
- [ X ] No typos
- [ X ] Searched existing issues and docs

### Expected behaviour
If I have two routes, the first is a get and seccond a delete with differents path params they need to execut

[2018-03-16 01:57] rof20004 commented on #1088
@vishr
If I use the same name for path param in both methods, it works, but with different names not.

[2018-03-16 01:59] vishr commented on #1088
@rof20004 The logic to have different name for the parameter was dropped as it created serious bugs in the router.

[2018-03-16 02:00] rof20004 commented on #1088
Humm, can you explain why?

[2018-03-16 02:01] vishr commented on #1088
You can look into this issue https://github.com/labstack/echo/issues/1052

[2018-03-16 02:04] rof20004 commented on #1088
Thanks @vishr I will read!

[2018-03-16 06:57] jayd3e opened #1089 "Echo compilation issue: AutoTLSManager.HTTPHandler undefined"
### Issue Description

Echo 3.3.3 is not compiling for me on my system.  I continue to receive the following error:

[code]

I ended up downgrading 3.2.6.  I'm using Go 1.9.

[2018-03-16 13:20] alexaandru commented on #1089
Duplicate issue: #1082   Please see the other ticket for the fix, closing this.

[2018-03-16 13:20] #1089 closed

[2018-03-16 13:32] binlihpu opened #1090 "http.ListenAndServe(":http", e.AutoTLSManager.HTTPHandler(nil)) 中 HTTPHandler不存在？"
我使用的master代码

[2018-03-16 13:33] alexaandru commented on #1090
Please see #1082

[2018-03-16 13:33] #1090 closed

[2018-03-16 15:37] vishr commented on #1088
@rof20004 I will close it, if you have any questions please reach out to us via chat/forum.

[2018-03-16 15:37] #1088 closed

[2018-03-16 16:41] jayd3e commented on #1089
Weird how that issue did not come up from a Google search.  I tried using the `go get` command to no avail, but will mess around with it.

[2018-03-16 17:01] #1086 closed

[2018-03-16 17:01] #1087 closed

[2018-03-17 03:04] vishr commented on #1080
@smares You mean something like `c.Render()` and it should pick the write function to send the response? I am ok with that but what if that content-type is not supported?

[2018-03-17 10:10] smares commented on #1080
Maybe respond with HTTP 406?

[2018-03-21 11:21] Eraac opened #1093 "method_override middleware no longer works"
### Issue Description
I use middleware method override for PATCH with my form, but with the latest version i have method not allowed error

But, with tag 3.2.6 is work correctly, after (tag 3.3.0) i have the bug

is strange because in method_override.go, if I print config.Getter(c), I get patch, the error seems to appears later in the code

### Checklist

- [ok] Dependencies installed
- [ok] No ty

[2018-03-21 17:54] AlexMain opened #1095 "How i can to write to file echo panic"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/
I have i question. How I may to write echo panic into file without using echo.HandlerFunc ?

[2018-03-21 20:20] leedstyh commented on #1070
Hello, any chance this will be fixed soon?

I'm not good at TLS/Lets Encrypt, but the example in `golang.org/x/crypto/acme/autocert` works well. Since echo is built on `acme/autocert`, why echo is not working?

[2018-03-21 20:43] vishr commented on #1070
I think this is fixed. @leedstyh What error are you getting?

/cc @alexandreStein

[2018-03-21 21:08] leedstyh commented on #1070
@vishr , it's odd, my existing code failed ( works before TLS-SNI validation is disabled ). But I try this cookbook, it works. Anything I need to change my existing code to make it work?

[2018-03-21 21:09] leedstyh commented on #1070
error message: `unable to authorize "xxxx"; tried ["tls-sni-02" "tls-sni-01"]`

[2018-03-21 21:25] leedstyh commented on #1070
Hi @vishr , those are some of my code:

[code]
`go e.StartAutoTLS(":443")` failed and got the above error message, but `e.Logger.Fatal(e.StartAutoTLS(":443"))` works.

So why will this happen?

[2018-03-21 22:08] AdrianLungu commented on #1070
I was unable to test this yet as I cannot test it in production at the moment @vishr . I'll try to set something up soon to have a go at it.

@leedstyh the error message indicates that it's not trying to authorize through http-01, so:

- is the acme package up to date ?
- is the echo package up to date ?

If the answer is yes to both, and you're using StartAutoTLS, it could be either something in

[2018-03-22 04:52] AdrianLungu commented on #1070
@leedstyh - for some reason your code does not appear in the thread but is in the email.

From what I've seen, you use e.Start(:80) before using e.StartAutoTLS, in theory, I think this is the issue since e.AutoStartTLS adds a handler on port 80 once it starts to allow Let's Encrypt to authorize using HTTP-01.

I recommend using either 80 (for local purposes) without AutoTLS or with only AutoTLS an

[2018-03-22 12:00] leedstyh commented on #1070
Thanks @AdrianLungu , my issue fixed follow your suggestion after removing e.Start(:80)

[2018-03-22 14:34] vishr commented on #1070
Cool

[2018-03-22 14:34] #1070 closed

[2018-03-26 19:28] KexinLu commented on #295
We, wide tech, is using echo for our experimental environment monitoring platform's API. We ditched Beego and went ahead with echo(there was some consideration between echo and gin). I'm very happy with the performance of Echo. Our first iteration will be closed soon and we will push out some tutorials for the following stack: echo + viper + gorm + logrus + lumberjack + redis + casbin + goi18n. Th

[2018-03-28 08:18] bogh commented on #1050
Hi,

I have found the issue for my case. The example bellow:

[code]

[2018-03-29 04:59] foolin opened #1097 "golang template for echo framework!"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

I'm write a template for echo framework, I hope it can help some one, and welcome to submit suggestions and fix bug.

repo: https://github.com/foolin/echo-template

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

[2018-03-29 13:07] javmah commented on #671
How to Get the User Input Handler Name .  like
echo.NotFoundHandler = func(c echo.Context) error {
         user_input =    ????
        // render your 404 page
        return c.String(http.StatusNotFound, "not found page :", user_input)
    }

[2018-03-30 09:25] bodokaiser commented on #1080
+1

[2018-04-04 12:17] baba2k opened #1102 "url.PathUnescape undefined after last commit"
### Issue Description
I get this error after the last commit: https://github.com/labstack/echo/commit/37f1a470efa8abb7e89ad221cb4b1cc36f7047bb

/go/src/github.com/labstack/echo/echo.go:450: undefined: url.PathUnescape
/go/src/github.com/labstack/echo/echo.go:686: e.TLSServer.Close undefined (type *http.Server has no field or method Close)
/go/src/github.com/labstack/echo/echo.go:689: e.Server.Clos

[2018-04-04 12:33] LennyPenny commented on #1102
Okay whoops this seems to have been caused by using an old go version (1.7) it's fine on 1.9

[2018-04-04 12:35] baba2k commented on #1102
Yes, 1.7 is not working (not tested on 1.8) and 1.9 works fine

[2018-04-04 17:12] abaehre commented on #875
The reason for this is the way the radix tree is created.
Running your test file the radix tree looks like such -
[code]
your 3rd test hits on `/users/:` which has no handlers associated with it since you didn't actually create a handler for that path. It just happened to be an intermediate step in the creation of the tree.

I'm not sure if this is a limitation of the radix tree, or something spec

[2018-04-05 04:08] vishr commented on #1102
Go 1.7 has been dropped.

[2018-04-05 04:08] #1102 closed

[2018-04-05 08:42] zero-master opened #1103 "Documentation Request: How to access user ID from jwt middlware"
We can access token info from the context `c.Get("user")`

But how do we get access to the user Id.

[2018-04-05 08:55] zero-master commented on #1103
Anyone looking to save time can use:

[code]

[2018-04-05 17:55] #1103 closed

[2018-04-06 16:18] s3rj1k opened #1104 "override DefaultLoggerConfig"
add ability to override  DefaultLoggerConfig in e.Logger
just like it is done for output

like e.Logger.Format

[2018-04-06 16:57] vishr commented on #1104
@s3rj1k This is the default template without message

[code]
how would you like to change it?

[2018-04-06 19:03] s3rj1k commented on #1104
@vishr Hi, in my use case i need this format

[2018-04-06 19:05] vishr commented on #1104
Ok, the logger you mentioned is different from logger middleware. If you need to modify logger middleware format see https://echo.labstack.com/middleware/logger

[2018-04-06 20:46] vishr commented on #1104
The default log format is from the `HTTPErrorHandler`, in addition to you new format for logger middleware:

[code]

You have a couple of options:

- Implement your own error handler
- Turn off the logging

[2018-04-06 20:46] #1104 closed

[2018-04-06 20:55] s3rj1k commented on #1104
this should be in docs, thanks

[2018-04-06 21:11] vishr commented on #1104
@s3rj1k Please feel free to update the docs, support from the community is highly appreciated.

[2018-04-08 14:34] eikebartels commented on #1018
Hey @leenux what do u mean with `WORKDIR`? How did you fix it?

[2018-04-10 06:35] vishr opened #1105 "Add Context#BindAndValidate()"

[2018-04-10 18:37] #599 closed

[2018-04-10 22:44] vishr opened #1107 "Directory browsing like https://github.com/zeit/serve"

[2018-04-11 04:44] mrgleeco opened #1108 "echo routing fail with dots in path parameter ...on docker"
hello!  i've an odd one here - the code works fine on native mac, but then when i run it in docker, the routing results in a 404 when i have dots in the path parameter.  In either case, the same version v.3.3.0.  Am hoping i missed something obvious....

### example test code:
[code]

### on localhost:

[code]

### in a docker container

[code]

[2018-04-11 06:57] nono commented on #1108
I think you should have the same behavior on localhost if you update echo (`go get -u github.com/labstack/echo`), as it looks like it's related to bfa14633f3e679c24a0bc647a9445a1237127f17.

We are also using echo with parameters that have dots, and the unit tests are failing today.

[2018-04-11 07:03] sdwolfe32 commented on #1108
I'm experiencing the same issue, getting it locally as well.

[2018-04-11 20:29] StarpTech commented on #295
@vishr echo is a great framework, thanks for your work. I created serveral prototypes as well as a "best-practice" project https://github.com/StarpTech/go-web

[2018-04-11 20:45] josue commented on #295
@vishr Thanks for the open invite to help, and thanks for creating Echo!

[2018-04-12 05:35] vishr commented on #1108
Fixed in #1111

[2018-04-12 05:35] #1108 closed

[2018-04-12 05:35] vishr commented on #1107
Done

[2018-04-12 05:35] #1107 closed

[2018-04-13 23:49] affne opened #1112 "how define a root router"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
Hello, i need r.GET("/:page",myhandler) ,how do it ?
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

### Checklist

- [ ] Dependencies installed

[2018-04-17 13:24] mbn18 opened #1113 "Custom Binder fail"
### Issue Description

`Echo` version is `3.3.dev`

CustomBinder fail with the error:

The code was copy pasted from the [docs](https://echo.labstack.com/guide/request#custom-binder):

[code]

I register it using:

[code]

And the check:

[code]
It seems to fail here:
https://github.com/labstack/echo/blob/master/bind.go#L193

code
[code]

If I disable the `CustomBinder` than all is working as expe

[2018-04-18 12:56] p581581 opened #1114 "Add custom handler for JWT missing or invalid"
`Echo` version is `3.1`

### Issue Description

Add custom handler for JWT missing or invalid? like ...

[code]

[2018-04-19 08:14] yangkghjh commented on #1112
Did you mean group router?

https://echo.labstack.com/guide/routing#group

or

You just use query parameters.

https://echo.labstack.com/guide/request#query-parameters

[2018-04-20 08:29] xzyan opened #1115 "日志问题：How to let the log write a new file every day ?"

[2018-04-21 04:27] posa88 commented on #1115
Try system level tools like [logrotate](https://linux.die.net/man/8/logrotate)

[2018-04-23 09:28] xzyan opened #1116 "颜：How does this code be implemented in Echo ?"
# 这个代码如何在Echo中实现？

<br>

[code]

[2018-04-26 02:50] lon9 opened #1117 "Can't unescape multi byte path parameters"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description
`c.Params` can't unescape when the parameter is a small case percent encoded string like `%e3%81%

[2018-04-27 13:02] xzyan opened #1119 "颜：How the log writes a new file every day"
# 日志如何每天写入一个新文件

下面这段代码该如何改进？

How to improve the following code?

[code]

[2018-04-29 17:15] #749 closed

[2018-05-03 02:28] p581581 commented on #1105
Any updates?

[2018-05-03 09:29] a7a2 commented on #1095
defer func() {
		if err := recover(); err != nil {
			writerFile()
		}
	}()

Your English is so poor.

[2018-05-03 09:46] a7a2 opened #1124 "I think it need to add a buf to LoggerConfig ."
If middleware.LoggerConfig.Output is "bufio *Writer" and request too more,
bufioWriter.Flush() will show "short write".

Or  add sync.Lock to " logger.go ->config.Output.Write".

I think it need a buf because if under attack the disk is so busy.

[2018-05-06 20:27] ribice opened #1125 "Router group not handling routes correctly"
I recently migrated my project from Gin to Echo [Project Link](https://github.com/ribice/gorsk). Pros and Cons aside I have an issue with Echo's grouping that worked fine under Gin.

[code]

All of the new services define groups under v1 (e.g. "/users", "/checks" etc.). Request POST "/v1/checks"/  returns 404. This worked as expected while using Gin.

[2018-05-07 09:12] yan-xz opened #1126 "Why does this not come into effect ！！！"
# Why does this not come into effect

<br>

[code]

[2018-05-08 01:12] vishr commented on #1125
@ribice Can you provide some code where I can reproduce this issue?

[2018-05-08 01:30] faisalraja opened #1127 "Middleware before writing a response and after handler"
How would I create a middleware that calls a function after a handler executes but before the response is written?

An example usage is if I create a custom context that has Session map that get's modified in a handler. Calling a sess.Save(c.Request(), c.Response()) after next(c) doesn't work. My guess is since the response has already been written by c.JSON(...).

[2018-05-08 05:29] ribice commented on #1125
Did this quite quickly, hope I did not mess something up.

v1/groupa and v1/groupb routes return 404.

[code]

[2018-05-09 00:55] vishr commented on #1127
@faisalraja Have you looked into `Response#Before()`?

[2018-05-09 01:04] vishr commented on #1126
The following works:

[code]

[2018-05-09 01:04] #1126 closed

[2018-05-09 01:07] vishr commented on #1125
@ribice Don't use slash, it should be `grB.POST("", handler)` or pass slash in the request.

[2018-05-09 01:13] faisalraja commented on #1127
@vishr can you point me to it's docs? I can't seem to find it. Thanks

[2018-05-09 01:15] vishr commented on #1127
The issue is still open https://github.com/labstack/echox/issues/35. It is simple to use https://sourcegraph.com/github.com/labstack/echo/-/blob/response.go#L40, just pass the function you want to execute.

[2018-05-09 02:09] #1127 closed

[2018-05-09 02:48] faisalraja commented on #1127
It worked. Thank you.

[2018-05-09 03:32] vishr commented on #1125
Sure, closing for now, feel free to update.

[2018-05-09 03:32] #1125 closed

[2018-05-09 03:40] ribice commented on #1125
This was one of the problems I had (this worked fine in Gin, e.g. creating groups with same name).

[code]

[2018-05-09 03:43] ribice commented on #1125
In this case, only GET (/v1/groupb/:id) and PATCH (/v1/groupb/:id) work (groupA and groupC routes do not work).

[code]

[2018-05-09 04:13] ribice opened #1128 "Registering group with same name more than once fails to register routes"
In the below example, routes GET "/group" and POST "/group" do not work.

[code]

[2018-05-09 04:36] ribice commented on #1116
[code]

[2018-05-09 10:23] ghost opened #1129 "master is broken with Go 1.7.4"
### Issue Description

Pulling master with `go get -u github.com/labstack/echo` brings up multiple errors due to features not available on Go 1.7.4 being used.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour

Echo to build without failure

### Actual behaviour

[code]

### Steps to reproduce

1. Install go-1.7 from Debian

[2018-05-09 10:28] ferhatelmas commented on #1129
@mission712 https://github.com/labstack/echo/pull/1100 try vendoring.

[2018-05-09 10:32] ledongthuc opened #1130 "Application freeze after Context#SetParamValues()"
### Issue Description

I'm trying to use Echo as a main framework as a financial gateway; that manage, deliver, direct the request to correct financial services.

The problem's when I try some APIs, it freezes the API service and doesn't process any new requests.
When checking CPU, it's always 100% and earns all of the resources.

### Expected behavior

 - The service isn't freezed
 - Process new

[2018-05-09 15:01] vishr commented on #1129
@mission712 We officially don't support go 1.7 & 1.8 https://github.com/labstack/echo/blob/master/.travis.yml#L2

[2018-05-09 21:26] alaingilbert opened #1131 "Wrap routes with middleware(s)"
### Issue Description

I need a way to apply one or more middleware to a set of routes without adding a prefix to these routes.

### Expected behaviour

I expect the middleware to not be called for the routes that are not wrapped.

### Actual behaviour

The middleware is called for the routes that are not wrapped if they don't exists.

### Steps to reproduce

- Create a Group without prefix
- curl

[2018-05-10 10:36] yinheli opened #1132 "jwt dynamic `SigningKey` feature request"
JWT middleware use static SigningKey and Keyfunc field is private. In some cases, we want to use different keys.

[2018-05-10 10:45] yinheli commented on #1131
current middleware data struct not supported the case which you described.
but you can use in this way:

[code]

[2018-05-10 11:44] yinheli commented on #1130
why SetParamValues nil ?

`c.SetParamValues()` will cause `c.pvalues`'s len return 0
https://github.com/labstack/echo/blob/master/router.go#L368 `if len(pvalues) == n` result infinity loop

[2018-05-10 12:18] ledongthuc commented on #1130
@yinheli: Our gateway works like as the forwarder with some modification. When client send request to our gateway, we modify and split a request to others and send to correct services. So we reuse the request context and for other forwarder requests with different modifications.

Some actions we frequently to use is clearing path parameters, clearing post params, clearing query params.

As I comme

[2018-05-10 16:51] vishr commented on #1131
@alaingilbert Specifying empty group essentially puts the middleware at root level, hence the output. Like @yinheli mentioned, you can have a middleware at handler level to achieve what you want.

[2018-05-10 16:51] #1131 closed

[2018-05-10 16:54] vishr commented on #1132
@yinheli I am not following you. Do you mean to use different key for some cases? Have you looked at https://github.com/labstack/echo/blob/master/middleware/jwt.go#L15?

[2018-05-10 16:55] #1129 closed, assigned to nobody

[2018-05-10 18:31] alaingilbert commented on #1131
Hi guys I totally know that the current behavior (`.Group`) doesn't provide the functionality I need.

This is why I opened this discussion so maybe we can add a new feature to the framework.
I know I can add the middleware to all my routes, but if I have 40 of them, I would really appreciates to have this `.Wrap()` functionality !

I made a [proof of concept here](https://github.com/labstack/echo

[2018-05-11 04:49] yinheli commented on #1132
@vishr  yes use different key in the same middleware

[2018-05-12 14:41] mission712 commented on #1129
@vishr https://echo.labstack.com/guide/installation claims otherwise, though. Consider updating the page.

[2018-05-12 21:41] xesina commented on #1128
Same for me

[2018-05-15 12:01] yinheli commented on #1119
@yan-xz please try `lumberjack` https://github.com/natefinch/lumberjack

[2018-05-20 01:17] sdwolfe32 commented on #1128
I'm having a similar issue where it seems like the path of subsequent handlers will override that of ones created before it... For example:

[code]

Could be related?

[2018-05-20 01:19] sdwolfe32 commented on #1128
group.POST("/resource/:token") // -> will have a param "token"
group.DELETE("/resource/:id") // -> will have a param "token" when it should be "id"

[2018-05-22 17:17] austinarbor opened #1133 "Ability to Provide Custom http.Handler In Proxy Middleware"
In `proxy.go` https://github.com/labstack/echo/blob/master/middleware/proxy.go#L83 it uses `httputil.NewSingleHostReverseProxy(...)` as the `http.Handler`.  This is probably fine for most cases, however, we are reverse-proxying to an HAProxy load balancer which requires the `Host` header to be set to properly route the request.  By default, `httputil.NewSingleHostReverseProxy` strips the `Host` he

[2018-05-23 06:16] dwdcth opened #1134 "windows can't log out color"
### Issue Description
I use this to enable color
[code]
But it doesn't work.
Then I read the source ,and find that code  ```e.colorer.SetOutput(e.Logger.Output())``` in echo.go  "StartServer" function.

And the SetOutPut function is :
[code]
So in windows c.disabled will be true , and can not log out color.
### Expected behaviour
Since color package use colorable.NewColorableStdout(), it can outpu

[2018-05-24 13:52] nikolay-turpitko opened #1135 "BodyDump middleware shouldn't handle error itself"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

BodyDump middleware both handle error itself:
https://github.com/labstack/echo/blob/master/middl

[2018-05-26 13:38] jjjachyty opened #1137 "how to use captcha?"
I want to use captcha with

`github.com/dchest/captcha`
how to do?

[2018-05-26 15:17] jjjachyty commented on #1137
e.GET('/captcha',Captcha)

func Captcha(c echo.Context) error {
	id := c.Param("id")
	image := captcha.NewImage(id, captcha.RandomDigits(4), 100, 30)
	_, err := image.WriteTo(c.Response().Writer)
	return err
}`

[2018-05-26 15:17] #1137 closed

[2018-05-26 17:01] rafa-acioly opened #1138 "Package middleware not found"
### Issue Description

are (from $GOROOT)        /home/rafael/go/src/github.com/labstack/echo/middleware (from $GOPATH)

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

[code]

### Version
`3.1.0`

[2018-05-26 18:59] matjam commented on #1138
Seems like your dependency manager didn't pull it all into vendor/

if you install it with go get -u github.com/labstack/echo, what happens?

[2018-05-26 21:38] rafa-acioly commented on #1138
with "go get" works fine, i've used "go dep" before.

[2018-05-26 21:57] #1138 closed

[2018-05-28 09:41] toorop opened #1139 "Params are mixed between routes"
### Working code to debug

[code]
### Expected behaviour
```curl -X DELETE http://127.0.0.1:8080/order/toto```
- should output "toto"
- log should be: ```2018/05/28 11:24:25 params [ref]```

### Actual behaviour
- no output (foo=="")
- log is ```2018/05/28 11:24:25 params [shopid]```

=> routing is correct, the good controler was executed in both case, but params binding are from ```GET /order/:sh

[2018-06-03 06:33] sluongng opened #1141 "Improvement to Request ID"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Abstract
This is not a bug report.

This is an interest check into if Echo want to improve current `request_id.go`

[2018-06-06 13:25] jjjachyty opened #1142 "form data bind with custom date type can't insert mongodb field"
[code]
![1528291430560](https://user-images.githubusercontent.com/7439418/41042352-07bddf6a-69d4-11e8-8e20-969460eb523a.jpg)

[2018-06-07 00:44] JamesHovious opened #1143 "Rewrite middleware is not consistent"
### Issue Description

When using the rewrite middleware to rewrite a requested url, it is applied for about 20% of requests. Secondly the logic that I expect to be applied is not.

From the config with the below example program I would expect "hosts" to be printed 100% of the time.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected be

[2018-06-11 06:55] Tethik commented on #1105
I implemented this in my own project as follows:
[code]

Although I think it would make more sense to directly do the validation during the "Bind" function conditionally if the context.Validator is set.

[2018-06-16 10:03] modifMX opened #1145 "govendor fetch abnormal"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

govendor fetch github.com/labstack/echo

pull error
### Checklist

- [ ] Dependencies installed

[2018-06-19 01:41] madebyais commented on #1026
+1

[2018-06-19 03:36] nbpalomino commented on #665
Echo v3 on go-echo/echo fork is NOT in sync with main repo.

[2018-06-19 10:50] jney opened #1146 "cors middleware: set `AllowOrigins` on the fly"
Hello. I have the following configuration:
[code]
But webpage gives me the following error:
[code]
Is there a way to set `AllowOrigins` on the fly by adding the current requesting domain?

[2018-06-19 10:51] jney commented on #1146
the issue happens when using `AllowCredentials`

[2018-06-19 11:45] niklas-karlsson opened #1147 "echo.Server.Handle are overridden in StartServer()"
Hi, Im trying to enclose echo's handle function to add tracing support from OpenCensus:

[code]

But later when starting echo server by: `e.Start()`, echo again points e.Server.Handler to it self. Why do it need to do it twice?

https://github.com/labstack/echo/blob/d36ff729613dd8e825455c504bea0586c43ac03d/echo.go#L647
https://github.com/census-instrumentation/opencensus-go

[2018-06-20 12:03] niklas-karlsson commented on #1147
Made a PR to solve it: https://github.com/labstack/echo/pull/1149

[2018-06-21 08:34] oneassasin opened #1150 "Problems with fx framework"
main.go
[code]

providers/init.go
[code]

configs/init.go
[code]

echo.config.go
[code]

Console logs
[code]

and application was down. What is the trouble?
Without last line in main.go <-app.Done() nothing changing

[2018-06-25 18:14] michaeloverton commented on #1040
I am having the same issue. Requests to the grouped endpoint are failing the preflight when they shouldn't be.

[2018-06-29 03:43] vishr commented on #1039
See #1156

[2018-06-29 03:43] #1039 closed

[2018-06-29 11:46] sokolovstas commented on #1038
We run our echo in docker and use Alpine linux, and found that .json doesn't return contentType. After add `mailcap` to Dockerfile `RUN apk add --no-cache ca-certificates mailcap` contentType is returned normal.

// TypeByExtension returns the MIME type associated with the file extension ext.
//
// The built-in table is small but on unix it is augmented by the local
// system's mime.types file(s)

[2018-07-02 14:02] #1124 closed

[2018-07-03 16:45] #1146 closed

[2018-07-09 06:10] Horaddrim commented on #644
I like the idea too, serving static information as a JSON or something like that... Is this still open?

[2018-07-09 07:39] kekek commented on #1139
+1
I have met the same problem.

Bellow is my code. In the second router, the path param's name should be "id", but it get nothing. I print all the path params, there is only "tid" lefted.

package main

import (
	"fmt"
	"github.com/labstack/echo"
)

func main() {

	// Echo instance
	e := echo.New()

	e.GET("/teacher/:tid/room/suggestions", func(c echo.Context) error {

		fmt.Printf("c.ParamNames(

[2018-07-13 07:17] seedjyh commented on #1139
I met similar problem in version `3.3.dev` for echo, and `go version go1.10.3 linux/amd64` for golang.

My code is:
[code]
And when I send command of HTTPIE
[code]
in method handle.unbindAXB, the parameter is `xmode`, the parameter for method `POST`, but not `bindid`, the parameter for method `DELETE`,  which means that in code below
[code]
The data in variable `bindID` is "" but not "112233".

[2018-07-15 12:13] agentmilindu commented on #1045
@anjmao I'm having the same issue, cloud you find a clean solution than the workaround?

[2018-07-17 09:11] rou-bai commented on #743
感激

[2018-07-17 20:58] kolaente opened #1162 "[proposal] Map URL params to struct"
First of all, thank you very much for echo, I've used it in several projects and really like it so far!

For my current project I have an URL structure like this: `/some/:id/and/:more/to/:come` for some endpoints and something like `/another/:id/` where both of these endpoints use the same interface handler on a struct which then calls some functions on that struct and so on. As the handler is abs

[2018-07-18 16:20] L11R commented on #659
@heynemann sorry for necroposting, but I found more correct way, I guess:
[code]
Hope my example will help others.

[2018-07-22 06:10] IRuslan opened #1163 "[Question] Is it possible to a callback to run after any handler?"
Hi all,

I wonder if it's possible to have a callback/function to be executed right after route handler but before response is sent?
I've found After/Before funcitonaliy of [Response object](https://echo.labstack.com/guide/response) but it's impossible to modify neither on status code nor response body.

Actually what I want to achieve is return custom response from all my handlers but have a sing

[2018-07-22 15:43] vishr commented on #1163
How do you want to implement your after/before functions? If you are calling them within the handler you already have a reference to `Context` object.

[2018-07-22 15:57] IRuslan commented on #1163
The thing that I don't want to write this code in each my handler.
I want something like:

[code]

And I expect that `afterHandlerFunc` will be executed right after any handler function (e.g., `handler1` or `handler2`) but before the response has been sent.

[2018-07-22 16:08] vishr commented on #1163
I don't think this is possible at that level. At most you can externalize your common function.

[2018-07-23 09:39] tensor146 commented on #1163
Actually, @IRuslan can just use middlewares.
Something like:
[code]

In output I received:
`a
handler
b`

So, "b" - is the place which @IRuslan needs.

[2018-07-24 16:40] vishr commented on #1162
@kolaente I believe this came up earlier as well. Do you mind looking at the existing PR/issues? I don't remember what we concluded but I am open for PR and any discussion around that - if it make sense.

[2018-07-24 17:22] eduardotang commented on #1040
same issue , any news?

[2018-07-24 18:32] kolaente commented on #1162
@vishr I thought discussing this first would be better, I'll send one right away!

[2018-07-24 21:41] kolaente commented on #1162
@vishr pr is up: #1165

[2018-07-24 21:56] vishr commented on #1162
@kolaente Does it work with older issues related to a similar PR?

[2018-07-25 12:36] medzin opened #1167 "Do not log 4xx HTTP errors in DefaultHTTPErrorHandler"
Currently `DefaultHTTPErrorHandler` logs every error. This is not the best default behavior, because for example 4xx errors are not very interesting for the person maintaining the application. Basically, they simply spam logs. It seems more sensible to not log 4xx errors.

[2018-07-25 14:06] kolaente commented on #1162
@vishr I've added a test case to check for a mix of bound params and POST data (this was the issue in #989 if I understood correctly). #980 is apparantly not related to the feature.

Please tell me if I need to add other tests.

[2018-07-25 14:50] vishr commented on #1167
Which version are you using?

[2018-07-25 15:22] medzin commented on #1167
I'm using latest release - 3.3.5

[2018-07-25 15:35] vishr commented on #1167
Can pull up master can check for logs?

[2018-07-26 08:12] medzin commented on #1167
Master seems OK - I don't have any 4xx error logs now.

[2018-07-26 14:49] vishr commented on #1167
Sure, I will close this issue. You can use master or wait for the next release.

[2018-07-26 14:49] #1167 closed

[2018-07-29 07:53] ipfans opened #1168 "Add Context#WithStdContext, Context#StdContext"
### Description

Standard context will be very helpful in real development cycle. e.g. it can be used in tracing systems for microservices. It also can be used for long time operation timeout mechanism.

Although echo support `Context#Set`/`Context#Get` action for any values, but it should be fine to add standard action to support for `context.Context`. It also can be support newer feature for Go

[2018-07-29 12:31] IRuslan commented on #1163
@tensor146 seems I got the idea, Thanks a lot.

[2018-07-29 12:31] #1163 closed

[2018-07-31 04:20] ribice opened #1170 "Canceling request using context.ctx"
As you know, context.Context is used for cancellation. My biggest issue with Echo is that it does not implement context.Context

Anyway, if I pass c.Request().Context() to a call (http, db etc.) is the call canceled when original http request is canceled as well?

Should I create ctx using this function in middleware in order to achieve this?

[2018-07-31 11:35] #1168 closed

[2018-08-01 02:54] vishr commented on #1170
To me such kind of context should begin & end within the handler.

[2018-08-02 05:05] hyingreborn opened #1171 "How does gzip handle only CSS and js?"
How does gzip handle only CSS and js?
Images and font files gzip compress and get larger.

[2018-08-02 08:50] chinglinwen commented on #1018
The same question as eikebartels,  How did you fix it ? @leenux

[2018-08-02 08:53] eikebartels commented on #1018
unfortunately I cant remember. Sorry!

[2018-08-02 09:31] dselim opened #1172 "Reverse proxy for Server-Sent Events"
The Proxy middleware currently doesn't support Server-Sent Events. A HTTP request expecting a `text/event-stream` response is discarded because of [this line](https://github.com/labstack/echo/blob/master/middleware/proxy.go#L244) in `proxy.go`. I guess it may be an expected behavior, however adding support for SSE would be very nice.

To solve this, we could use a `httputil.ReverseProxy` with a `F

[2018-08-03 15:47] nmclean commented on #1038
The cause of this issue is the Windows registry. On my Windows 7 machine, `HKEY_CLASSES_ROOT/.js` has a string value named `Content Type` whose value is `text/plain`. Modifying this to `application/javascript` causes `mime.TypeByExtension(".js")` to return correctly. You can also call `mime.AddExtensionType(".js", "application/javascript")` to force overwrite the mapping the `mime` package uses.

[2018-08-07 08:01] masterada commented on #1162
I belive there was an issue with earlier implementation when binding to map or slice instead of struct. Eg: `map[string]interface{}`, `[]user`. I think you should add these test cases.  I also could not find a conclusion as to how to handle the later (slice of struct). Maybe it's worth checking how query parameters are handled in this case.

[2018-08-09 10:46] ezragultom opened #1174 "Bind Sorting(ACS) my data with map[string]interface{} type"
i post this

{
  "source": "test",
  "type": "wa",
  "payload": {
    "recipient":"6281574456418",
    "template":  {
    	"content": "mm_tp",
      "data": {
        "otp_number": "test_OTP",
        "tEST":"testzxczxczxc",
        "lol":"zzzzzz"
      }

    }

  }
}

and got this out, and my Data got sort in ACS mode.

{"source":"test","type":"wa","payload":{"subject":"","sender":"","recipient"

[2018-08-14 15:11] jney opened #1175 "acced `echo.Context.Get` from `context.Context`"
Hello, i try to use both graphql and echo, but i have the following question how to I acceed `echo.Context.Get` when only `context.Context` is available.

[code]

[code]

[code]

Any advice?

[2018-08-15 14:36] vishr commented on #1143
Fixed in #1176

[2018-08-15 14:36] #1143 closed

[2018-08-16 04:41] DarthPestilane opened #1177 "Support `jsoniter` to deal with json"
Wanted to make it like `go build -tags="jsoniter"` which will replace `encoding/json` with `github.com/json-iterator/go`.

And I can send a PR if this feature is acceptable.

[2018-08-17 01:27] tgxhenry opened #1178 "Something wrong happened when installing the latest version of echo"
### Issue Description
Something wrong happened when installing the latest version of echo, as described below.
No problem occurs before updating.
Guess some conflicts exist in the package.

Errors reported:
gopath\src\github.com\labstack\echo\echo.go:616:51: e.AutoTLSManager.HTTPHandler undefined (type autocert.Manager has no field or method HTTPHandler)

[2018-08-18 03:10] kurye1055 opened #1179 "https://www.instagram.com/cbhjiklfj/"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

### Checklist

- [ ] Dependencies installed
- [ ] No typos
- [ ] Searched existing issues and do

[2018-08-18 03:10] kurye1055 opened #1180 "https://www.instagram.com/cbhjiklfj/"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

### Checklist

- [ ] Dependencies installed
- [ ] No typos
- [ ] Searched existing issues and do

[2018-08-18 16:46] #1180 closed

[2018-08-18 16:46] #1179 closed

[2018-08-20 15:50] rvtarig7 opened #1183 "[question] Middlewares are not installed through dep ensure"
### Issue Description
Installed echo through dep using the below command -

When I'm trying to import the echo/middleware package I noticed that middleware package is missing inside the vendor directory. Then I ran this command -

Fetching sources...

Failed to add the dependencies:

  ✗ nothing to -add, github.com/labstack/echo is already in Gopkg.toml and the project's direct imports or required

[2018-08-20 16:30] rvtarig7 commented on #1183
Hi,
Please close this one. I was able to resolve the issue.

Thanks,

[2018-08-20 16:30] #1183 closed

[2018-08-22 10:06] abitrolly commented on #1178
Same here.
[code]

[2018-08-23 08:35] tomoncle commented on #1178
**The reason is that the version of crypto is too old.
You should take the following commands to solve this problem**.

* 1. `$ sudo su`
* 2. `$ cd $GOROOT/src/golang.org/x`
* 3. `$ rm -rf crypto`
* 4. `$ git clone --depth=1 https://github.com/golang/crypto.git crypto`

ok!, try again your app.

[2018-08-23 08:53] tgxhenry commented on #1178
@tomoncle
Thanks,  your solution works.

[2018-08-23 08:53] #1178 closed

[2018-08-25 11:24] im-kulikov opened #1185 "Tags are breaking after v3.2.1"
Prior to version 3.2.1 inclusive, tags had the format `v3.2.1`, which was correct and works for Dep / Go modules (vgo). After version 3.2.1 (>=3.2.2), you use a tag format `3.2.2` that is incompatible with Go modules (vgo).

If you try to use Go modules (vgo, go1.11 was released), than you see something like this:

[code]

Main changes that was done in 3.2.2, tag name:
- before `vX.Y.Z`
- after `X

[2018-08-27 09:06] llitfkitfk commented on #1185
How to get the `github.com/labstack/echo v0.0.0-20180412143600-6d227dfea4d2`

[2018-08-27 09:15] im-kulikov commented on #1185
[code]

[2018-08-27 09:47] llitfkitfk commented on #1185
Same as before `github.com/labstack/echo v3.2.1+incompatible`

Try `go get github.com/labstack/echo@6d227dfea4d2`
got `github.com/labstack/echo v3.2.2-0.20180412143600-6d227dfea4d2+incompatible`

[2018-08-27 09:48] im-kulikov commented on #1185
for example - https://github.com/im-kulikov/echo-issue-1185

[2018-08-27 09:51] im-kulikov commented on #1185
If I'm not mistaken, `helium` originally used `go/dep` and `echo@3.3.5`.
After `go mod init <project>` (to convert Gopkg.toml in `go modules`), we get the version specified in the issue header

[2018-08-27 10:05] llitfkitfk commented on #1185
remove `$GOPATH/pkg/mod/cache/download/github.com/labstack/echo`
and retry?

[2018-08-27 10:09] im-kulikov commented on #1185
## Step 2:

[code]
As you can see
[code]

[2018-08-27 10:11] llitfkitfk commented on #1185
remove `cached` echo version and `go.mod` echo version

[2018-08-27 10:13] im-kulikov commented on #1185
[code]

[2018-08-27 10:14] llitfkitfk commented on #1185
I found the reason

https://golang.org/cmd/go/#hdr-Module_compatibility_and_semantic_versioning

```Code written before the semantic import versioning convention was introduced may use major versions v2 and later to describe the same set of unversioned import paths as used in v0 and v1. To accommodate such code, if a source code repository has a v2.0.0 or later tag for a file tree with no go.mod,

[2018-08-27 10:15] llitfkitfk commented on #1185
@im-kulikov
I see.
Thanks

[2018-08-27 10:16] im-kulikov commented on #1185
This is weird. Don't you think a drastic change in tag naming could be a problem?

[2018-08-27 10:25] im-kulikov commented on #1185
## Step 3

[code]
As you can see
[code]

[2018-08-27 10:28] llitfkitfk commented on #1185
Options:
default(v3.2.1) - `go get github.com/labstack/echo`
master - `go get github.com/labstack/echo@master`
v3.3.5 - `go get github.com/labstack/echo@6d227dfea4d2`

[2018-08-29 11:02] im-kulikov commented on #1185
@vishr any updates?

[2018-08-29 13:43] vishr commented on #1185
@im-kulikov This is inline with https://semver.org (https://github.com/semver/semver/blob/master/semver.md#user-content-is-v123-a-semantic-version). I am open for discussion.

[2018-08-29 14:10] im-kulikov commented on #1185
Before 3.2.1 tag was formatted “vX.Y.Z”, and after “X.Y.Z”..
This is not work with go modules.
Maybe we can revert to old tag naming?

[2018-08-29 14:13] im-kulikov commented on #1185
In many go packages, tag naming is in form “vX.Y.Z”

[2018-08-29 14:51] kaey commented on #1185
Example: git tag v1.2.3 -m "Release version 1.2.3", in which case "v1.2.3" is a tag name and the semantic version is "1.2.3".

[2018-08-29 18:49] velut opened #1188 "Panic when trying to access static directory set at runtime"
### Issue Description

I'm building a desktop application using the browser as the gui and go+echo as the backend.
In the application, the user can select a directory and view its images in the browser.
To do this, the server waits for a request with the chosen directory and then starts serving it statically.
(Maybe my approach is wrong)

If no static directory was already being served, then the f

[2018-08-30 20:13] vishr commented on #1185
@im-kulikov We can address this in the next release.

[2018-09-01 06:28] dc0d commented on #1185
Same problem! Latest tags dropped the `v` letter.

[2018-09-01 13:07] dc0d commented on #1185
If it sounds fine, maybe two tags should be added to allow people to downgrade (just in case). For example `v3.3.5mod` (on current released `3.3.5` commit) and the next release could be `v3.3.6`.

[2018-09-01 14:52] vishr commented on #1185
@alexaandru Can you help me with a new release? We should change the tag back to prefixed with `v`.

[2018-09-02 07:35] dc0d commented on #1185
And if you see fit, `go.mod` should be added too, which helps the adoption with the new module system.

[2018-09-07 15:31] ferhatelmas opened #1190 "Method name constants"
Use method name constants from [net/http](https://golang.org/pkg/net/http/#pkg-constants) package.

[2018-09-11 03:01] alphayan commented on #1185
Is it fix now?

[2018-09-11 03:29] im-kulikov commented on #1185
Still broken..

[2018-09-11 04:45] vishr commented on #1185
Relesed https://github.com/labstack/echo/releases/tag/v3.3.6

[2018-09-11 04:45] #1185 closed

[2018-09-11 07:42] onitake commented on #1185
I think the only solution for this problem is to add v... tags for _all_ the existing ones.
This shouldn't have any negative side-effects, the old ones can be kept if necessary.

[2018-09-11 09:36] im-kulikov commented on #1185
@vishr can we do the same with gommon?

[2018-09-11 14:34] vishr commented on #1185
I did probably needs an update.

Sent from my iPhone

[2018-09-11 16:54] im-kulikov commented on #1185
Explain?

[2018-09-12 00:07] vishr commented on #1185
@im-kulikov Never mind, I misread it.

[2018-09-12 20:47] mangas opened #1195 "Support for APIGatewayProxyRequest and APIGatewayProxyResponse"
### Issue Description
To deploy a go AWS Lambda, an RPC server needs to be started for every function. With little overhead  and a tiny amount of boilerplate, the routing could be handled by Echo. To do that "out-of-the-box" a function similar to echo.ServeHTTP could be used to efficiently convert requests and responses to and from the AWS Api Gateway representations on the title

### Expected beh

[2018-09-13 12:55] alexaandru commented on #1195
There already exists a [project](https://github.com/apex/gateway) precisely for that, so all I had to do was:

[code]

Seems redundant/overkill to replicate that functionality in Echo.

[2018-09-13 15:05] mangas commented on #1195
Thanks for the response @alexaandru I wasn't aware of that project.

Works perfectly and I agree he doesn't make much sense to move it/replicate it

[2018-09-13 15:05] #1195 closed

[2018-09-13 15:14] alexaandru commented on #1195
You're most welcome! :)

[2018-09-25 03:05] pratuljain commented on #931
Hello,
I want to use Rbac of casbin in my echo golang based project.I have extracted the dynamic permissions of a user from my jwt token and now I want to apply Rbac at routing . Can I use casbin Rbac approach here

[2018-09-25 03:08] pratuljain commented on #931
In the reference doc of casbin , I have seen a csv file approach ,but how can I use it dynamically?

[2018-09-25 03:48] hsluoyz commented on #931
You can use the APIs to get/modify the permissions dynamically: https://casbin.org/docs/en/policy-management

[2018-09-25 14:18] jney opened #1198 "`OPTIONS` not allowed by default"
Hello. Is there any reason why `OPTIONS` is not allowed by default in `AllowMethods`?
https://github.com/labstack/echo/blob/master/middleware/cors.go#L55

[2018-09-28 17:02] vishr commented on #1198
@jney I am not able to recall it - this something I wrote a couple of years ago, as far I remember this is per spec. Are you facing any issues around this? Please feel free to suggest any change.

[2018-09-28 17:42] vishr commented on #888
Fixed in #1164

[2018-09-28 17:42] #888 closed

[2018-09-29 13:14] mozey commented on #1198
I also found this confusing, but usually for CORS you don't have to list OPTIONS in `AllowMethods` it is implicit

[2018-10-01 12:30] im-kulikov commented on #1198
1) https://www.w3.org/TR/cors/#preflight-reques
2) thttps://stackoverflow.com/a/44385327

perhaps this explanation will be useful?

[2018-10-07 11:58] artyomturkin opened #1202 "Extend proxy middleware"
### Issue Description
Extend proxy middleware to support more complicated workflows.

### Checklist

- [x] Forward context to ProxyBalancer on Next() call [implemented in #1203]
- [x] Expand ProxyTarget to include meta-data [implemented in #1203]
- [x] Inject selected ProxyTarget into returned Context [implemented in #1203]

### Expected behaviour
- Proxy to target based on the request context
- P

[2018-10-07 21:44] kopaygorodsky commented on #1150
@oneassasin same on my side, have you solved it?

[2018-10-08 03:16] golyu commented on #1185
```go  get github.com/labstack/echo@master```
You will be able to see
[code]

[2018-10-09 01:03] vishr commented on #1198
@jney Can we close it?

[2018-10-09 01:06] vishr commented on #1177
@DarthPestilane Before sending a PR can briefly describe potential changes in the code?

[2018-10-09 01:32] vishr commented on #1145
Closing due to missing details.

[2018-10-09 01:32] #1145 closed

[2018-10-09 01:34] vishr commented on #1119
Echo doesn't provide such feature, you might want to leverage 3rd party libraries.

[2018-10-09 01:34] #1119 closed

[2018-10-09 01:35] #1116 closed

[2018-10-09 03:43] #1202 closed

[2018-10-09 12:44] jney commented on #1198
yes, we can :)

[2018-10-09 12:44] #1198 closed

[2018-10-09 19:42] #1150 closed

[2018-10-10 01:55] DarthPestilane commented on #1177
@vishr I will add a new directory(subpackage) named "json" and change "encoding/json" to "github.com/labstack/echo/json" in `import ...`

[2018-10-10 02:13] vishr commented on #1177
I would refrain from adding a new dependency. Having said that, you can easily extend `Context` to include your custom JSON codec see https://echo.labstack.com/guide/context

[2018-10-10 02:13] #1177 closed

[2018-10-10 02:15] DarthPestilane commented on #1177
@vishr 👍

[2018-10-14 08:53] ribice commented on #1139
@vishr Is this resolved with #1201?

[2018-10-14 15:16] #1190 closed

[2018-10-15 20:54] mbana commented on #963
Does this work?

[2018-10-24 13:30] limoli opened #1210 "Signing Key as []byte instead of interface?"
### Issue Description
There is no issue, but a very deep perplexity about the use of `interface{}` type instead of `[]byte` / `string` in JWTConfig:

[code]

[2018-10-25 09:30] zxysilent commented on #1185
v3.2.1
![image](https://user-images.githubusercontent.com/19162822/47490253-ec7c9f00-d87a-11e8-8e17-5a2103f10472.png)

3.2.2
![image](https://user-images.githubusercontent.com/19162822/47490291-ff8f6f00-d87a-11e8-888f-070dc0cba0b4.png)

That's the reason.

[2018-10-25 13:10] limoli commented on #1175
Did you fix this? @jney

[2018-10-25 13:57] limoli commented on #1175
Ok, I have just found a little verbose solution to do it, but it works.

[2018-10-26 08:56] zxysilent opened #1213 "go mod"
v3.2.1
![image](https://user-images.githubusercontent.com/19162822/47490253-ec7c9f00-d87a-11e8-8e17-5a2103f10472.png)

3.2.2
![image](https://user-images.githubusercontent.com/19162822/47490291-ff8f6f00-d87a-11e8-888f-070dc0cba0b4.png)

That's the reason.

[2018-10-26 09:44] QuantumGhost opened #1214 "Proposal: Allow user to bind query parameters to structs directly"
### Issue Description

Currently `echo.DefaultBinder#Bind` bind parameters to structs based on request method and content length. More specifically, it only retrieves data from `Context#QueryParams` when  `req.ContentLength == 0` and `req.Method` is `GET` or `DELETE`. So it's impossible for user to bind query parameters to structs when request method is neither `GET` nor `DELETE`.

I hope that `ec

[2018-10-29 02:17] llitfkitfk commented on #1213
https://github.com/labstack/echo/issues/1185

[2018-11-01 17:00] dovys opened #1215 "Next release"
Hey folks, we recently ran into a routing issue at Monzo. Upon further debugging we found it was already fixed with https://github.com/labstack/echo/pull/1201

Would you mind tagging a new release that includes https://github.com/labstack/echo/pull/1201? It would be greatly appreciated!

[2018-11-05 01:35] vishr commented on #1215
It is released https://github.com/labstack/echo/releases/tag/v3.3.7

[2018-11-05 01:35] #1215 closed

[2018-11-08 07:16] passos opened #1217 "raw stack info in recovery"
The stack info is currently output in log format but it will combine everything into one line which is hard to read. I want to see the original stack info.

Can we add an option is recovery config to output the stack in raw format.

[2018-11-08 16:38] jwendel commented on #659
As I stumbled about this on how to test middleware, here's an example of using echo.ServerHTTP, which will end up triggering the router logic along with all middleware you have setup.

**sample.go**
[code]

**sample_test.go**
[code]

[2018-11-10 10:36] xwinie opened #1219 "echo route 获取param 参数异常"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

### Checklist

- [ x] Dependencies installed
- [ x] No typos
- [x ] Searched existing issues and

[2018-11-16 07:21] bwsalmon opened #1221 "Incorrect path parameter names with some route registration orders"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

Depending on the ordering of my route registration, I am sometimes getting what I believe is inc

[2018-11-16 07:24] #1221 closed, assigned to nobody

[2018-11-16 15:00] heat commented on #1183
Hi @rvtarig7  how do you solve this. I got same problem.

[2018-11-16 15:01] heat commented on #1138
Same error here.

[2018-11-16 16:46] faizalpribadi opened #1222 "update docs in middlewares section"
Anyone update the docs about middlewares ? especially in api middlewares section, api has changed in the latest version, middleware must be return `echo.MiddlewareFunc` not `echo.HandlerFunc`, and then, can you updated about `Breaking Changes` and `Backward Compatibility`, when we upgraded to the latest version, thanks !

[2018-11-18 15:45] zerjioang opened #1223 "Add support for Brotli encoding"
As developer I would like to have support for Brotli encoder on server side as we support GZIP. Maybe some external libraries like https://github.com/kothar/brotli-go would be useful

[2018-11-18 17:46] SaulDoesCode commented on #1223
That library is a wrapper around a C++ implementation, introducing this as a dependency might come with some issues for some people. Is there, perhaps, a pure go ``brotli`` implementation that could be used?

[2018-11-21 09:03] lyzhang1999 opened #1224 "内部调用问题"
在handler内怎么调用另外一个router？

[2018-11-21 12:14] lyzhang1999 commented on #406
mark as ResponseWriter

[2018-11-21 13:36] arussellsaw opened #1225 "Path collision for handlers on different methods leading to 404 or Method not allowed responses"
### Issue Description

Hi!

i've encountered a bug where the following routes collide and lead to 404 or Method not allowed responses

`DELETE /:id/foo/:scheme`
`PUT /:id/foo/bar`
`PUT /:id/foo/baz`

i've opened a PR with failing tests that reproduce this bug in our framework here: https://github.com/monzo/typhon/pull/103

(direct link to echo-only test here: https://github.com/monzo/typhon/pull/1

[2018-11-21 16:44] vishr commented on #1213
This is fixed.

[2018-11-21 16:44] #1213 closed

[2018-11-25 23:17] jimsmart commented on #924
That output format here is 'concatenated JSON', used when streaming.
https://en.wikipedia.org/wiki/JSON_streaming#Concatenated_JSON

To parse it in Go, use json.Decoder
https://golang.org/pkg/encoding/json/#example_Decoder

I realise I'm commenting on a closed issue — maybe the info will be useful to someone in future.

[2018-11-27 08:06] xinln opened #1229 "echo go 可以通过配置文件，进行对端口，日志路径等配置吗"
1.比如：logagent.conf  文件内容如下：

[server]
listen_ip = "0.0.0.0"
listen_port = 8888

[logs]
log_level=debug
log_path=/dev/log/log.info

[2018-11-27 08:09] xinln opened #1230 "echo go 为啥设置了日志输入在文件中之后，控制台机没有了， 可不可以两者都输出？"
1、fd, _ := os.OpenFile(
       "/dev/log/log.info",
       os.O_RDWR|os.O_APPEND,
       0666,
    )
    e.Logger.SetOutput(fd)
    e.Logger.SetLevel(log.DEBUG) // 默认日志级别
2、然后控制台就没有了

[2018-11-28 10:59] wangxianzhuo opened #1231 "StartAutoTLS can't work as expectation"
### Issue Description
I use AutoSTL like this docs https://echo.labstack.com/cookbook/auto-tls, but it doesn't work as my expectation. If I change the [func startTLS()](https://github.com/labstack/echo/blob/master/echo.go#L628) to below ,it works.
[code]

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
Print in browser:
[co

[2018-11-28 13:00] zxysilent commented on #1229
你可以自己实现啊，比如程序启动的时候就去读取配置文件

[2018-11-28 13:01] zxysilent commented on #1224
描述明白一点？

[2018-11-29 01:05] skrassiev opened #1233 "Malformed json in default logger config format"
See https://github.com/labstack/echo/pull/1232

[2018-11-29 03:35] xinln commented on #1229
@zxysilent  好吧。

[2018-11-30 02:01] reilg commented on #838
Can someone please confirm that `echo.Static()` this is working for them?

I have a very simple implementation that doesn't seem to be working.
[code]

I save an image file in public and then try to load it on the browser:
`http://localhost:8080/p/img.png`. I'm getting `message: Not Found`.

[2018-11-30 10:21] ericmdantas commented on #838
@reilg can you share your structure? Because you might want `e.Static("/", "public")` instead of `e.Static("/public", "p")`.

Here's an working example:

package main

[code]

[code]

Structure:

[code]

[2018-11-30 14:21] lee123lee123 commented on #295
zaihui

[2018-11-30 18:16] #883 closed

[2018-11-30 19:45] #1170 closed

[2018-12-01 00:00] nekketsuuu commented on #1117
This should be fixed to normalize paths by framework-side. I think it's better to keep this issue open.

[2018-12-07 14:31] #1097 closed

[2018-12-07 14:31] #1080 closed

[2018-12-07 14:31] #1093 closed

[2018-12-07 14:31] #875 closed

[2018-12-07 14:31] #1114 closed

[2018-12-07 14:31] #1095 closed

[2018-12-07 14:31] #1115 closed

[2018-12-07 14:31] #1130 closed

[2018-12-07 14:31] #1132 closed

[2018-12-07 14:31] #1128 closed

[2018-12-07 14:31] #1133 closed

[2018-12-07 14:31] #1135 closed

[2018-12-07 14:31] #1134 closed

[2018-12-07 14:32] #1141 closed

[2018-12-07 14:32] #1142 closed

[2018-12-07 14:32] #1105 closed

[2018-12-07 14:32] #1026 closed

[2018-12-07 14:32] #644 closed

[2018-12-07 14:32] #1038 closed

[2018-12-07 14:32] #1171 closed

[2018-12-07 14:32] #1162 closed

[2018-12-07 14:32] #1174 closed

[2018-12-07 14:32] #1188 closed

[2018-12-07 18:31] #847 closed

[2018-12-07 18:31] #852 closed

[2018-12-07 18:31] #630 closed

[2018-12-07 18:31] #877 closed

[2018-12-07 18:31] #945 closed

[2018-12-07 18:31] #871 closed

[2018-12-07 18:31] #920 closed

[2018-12-07 18:31] #943 closed

[2018-12-07 18:31] #977 closed

[2018-12-07 18:31] #646 closed

[2018-12-07 18:31] #986 closed

[2018-12-07 18:31] #856 closed

[2018-12-07 18:31] #342 closed

[2018-12-07 18:31] #1015 closed

[2018-12-07 18:31] #1004 closed

[2018-12-07 18:31] #1007 closed

[2018-12-07 18:31] #1032 closed

[2018-12-07 18:31] #1024 closed

[2018-12-07 18:31] #422 closed

[2018-12-07 18:31] #1056 closed

[2018-12-07 18:31] #1030 closed

[2018-12-07 18:31] #1037 closed

[2018-12-07 18:31] #874 closed

[2018-12-07 18:31] #1064 closed

[2018-12-07 18:31] #1059 closed

[2018-12-07 18:31] #1077 closed

[2018-12-07 18:31] #1050 closed

[2018-12-07 20:31] #321 closed

[2018-12-07 20:31] #340 closed

[2018-12-07 20:31] #329 closed

[2018-12-07 20:31] #367 closed

[2018-12-07 20:31] #448 closed

[2018-12-07 20:31] #476 closed

[2018-12-07 20:31] #493 closed

[2018-12-07 20:31] #526 closed

[2018-12-07 20:31] #538 closed

[2018-12-07 20:31] #382 closed

[2018-12-07 20:31] #554 closed

[2018-12-07 20:31] #492 closed

[2018-12-07 20:31] #609 closed

[2018-12-07 20:31] #530 closed

[2018-12-07 20:31] #513 closed

[2018-12-07 20:31] #660 closed

[2018-12-07 20:31] #695 closed

[2018-12-07 20:31] #714 closed

[2018-12-07 20:31] #703 closed

[2018-12-07 20:31] #744 closed

[2018-12-07 20:31] #668 closed

[2018-12-07 20:31] #770 closed

[2018-12-07 20:31] #322 closed

[2018-12-07 20:31] #789 closed

[2018-12-07 20:31] #805 closed

[2018-12-07 20:31] #790 closed

[2018-12-07 20:31] #250 closed

[2018-12-07 20:31] #826 closed

[2018-12-07 20:31] #855 closed

[2018-12-07 21:31] #113 closed

[2018-12-07 21:31] #249 closed

[2018-12-07 21:31] #246 closed

[2018-12-07 21:31] #244 closed

[2018-12-07 21:31] #281 closed

[2018-12-07 21:31] #291 closed

[2018-12-07 21:31] #309 closed

[2018-12-07 21:31] #315 closed

[2018-12-08 00:23] djmally opened #1237 "`echo.Reverse` can have nondeterministic output"
### Issue Description

With echo v3.3.8 (and probably other versions), it's possible for `echo.Reverse` to return nondeterministic results due to its implementation. If you define two routes that both map to the same handler function, multiple calls to `echo.Reverse` on the handler function can result in different outputs.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched

[2018-12-12 05:47] tomnattle commented on #1224
通过httpclient

[2018-12-12 14:25] burgesQ opened #1238 "Server auto start on tls"
### Issue Description

Echo auto start the second listing server in `https` mode.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
[code]
### Actual behaviour
[code]
### Steps to reproduce

### Working code to debug

[code]

### Version/commit

v 3.3.5

[2018-12-13 04:08] benyu commented on #1230
github.com/cihub/seelog 可以

[2018-12-14 08:38] xinln commented on #1230
@benyu  哈哈，谢啦， 其实 有一个muti IO 就可以两边输出了

[2018-12-20 10:22] rskumar commented on #1040
I too am having same issue. any workaround?

[2018-12-23 02:30] oemdaro commented on #1213
I still got problem with Go 1.11 modules, start from v3.3.6 to v3.3.8

[code]
and in `go.mod`

[code]

[2018-12-25 16:39] #1214 closed

[2018-12-28 09:42] onrik opened #1240 "Use custom logger on server starting"
### Issue Description
I use custom logger with json format output. But echo don't use this logger on starting.

### Expected logs output
[code]
### Actual logs output
[code]
### Steps to reproduce

### Working code to debug

[code]

### Version/commit

[2018-12-29 09:03] yanyandenuonuo opened #1241 "The Router can't math `/api/test` and `/api/test/` with one rule"
### Issue Description
The Router can't math `/api/test` and `/api/test/` with one rule.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
The Router can match `/api/test` and `/api/test/` with one rule.
`/api/test` is same as `/api/test/`, so which rule had add, the other should matched.

### Actual behaviour
Need add rule f

[2018-12-29 19:00] rskumar commented on #1241
@yanyandenuonuo Hi, why you think it should match to `/api/test/` too with you only provided `/api/test` for routes.
You should look into `middleware.AddTrailingSlash` and `middleware.RemoveTrailingSlash` for your requirement.
IMO, its not a good idea to automatically handle these two, the client should be aware of right endpoint, and fallback to with and without trailing should be avoided.

[2018-12-29 19:07] rskumar commented on #1240
Looking at code  at https://github.com/labstack/echo/blob/3f8b45c8d0dd840198a6b24b3393e5ec553dcb85/echo.go#L658
It looks like skipping logger.
I think, you can skip that log by setting `e.HideBanner` to true, and then print your own using logger before starting server.

[2018-12-30 09:43] yanyandenuonuo commented on #1241
@rskumar
Thanks for your answer and it works. I'm sorry that i hadn't view all the document.
- I had use several web framework and all of them handle the **TrilingSlash** with default. So i think it should match both of them.
- I remember the browser will remove the **TrilingSlash**, i try to reproduce but i failed. Maybe it's config by those website with rewrite.

There is no answer Which of the

[2018-12-30 09:43] #1241 closed

[2018-12-30 21:34] #1210 closed

[2018-12-31 12:03] onrik commented on #1240
Thanks. But i think this is weird and unexpected behaviour.

[2018-12-31 17:55] #1175 closed

[2019-01-02 08:52] Delphier opened #1244 "Update the go.mod file to include a /v3 at the end of the module path in the module directive"
go version: 1.11.4
go.mod enabled.

`go get github.com/labstack/echo`  can't get the correct latest version. to get the version 3.3.5, but latest version is 3.3.8.

in the latest golang modules wiki, need to Update the go.mod file to include a /v3 at the end of the module path in the module directive.

please review:

[https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher](https

[2019-01-03 16:53] hchood opened #1248 "Support enabling `preload` option in HSTS header"
### Issue Description

We would like our domain to be listed on [Chrome's HSTS preload list](https://hstspreload.org/?domain=api.yin.bi), which requires that the `preload` tag be appended to the HSTS header like so, and as described [here](https://www.owasp.org/index.php/HTTP_Strict_Transport_Security_Cheat_Sheet):

[code]

### Desired behaviour

`SecureMiddleware` can be configured to append `pre

[2019-01-09 06:27] Ezxuanxuan opened #1251 "如何获取form中的数组"
/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

Please use forum https://forum.labstack.com to ask questions!

/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\_/\
\/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

### Issue Description

### Checklist

- [ ] Dependencies installed
- [ ] No typos
- [ ] Searched existing issues and do

[2019-01-09 16:23] Nexucis opened #1252 "Add support for yaml encoding response / decoding request"
Hello,

I didn't see anything relative to an automatic binding when someone a POST request with a YAML body. Same thing when the server send the response with YAML format.

Apart from the stream, we could have the same method that the one for JSON, like that

[code]

Are you interesting by this idea ? And by the implementation also ?

Thanks for your amazing work :)

[2019-01-14 17:02] sleagon commented on #1251
title: How to parse var of array type from form data?

type of PostForm is map[string][]string.

[code]

[2019-01-14 23:10] kodabb commented on #1244
pinging @vishr since this is affecting a few of my projects as well ^^

[2019-01-15 08:56] im-kulikov opened #1255 ""http.CloseNotifier" is deprecated"
[Deprecate warning](https://golang.org/pkg/net/http/#CloseNotifier)
[code]

[2019-01-15 18:42] Daniel-Houston opened #1257 "Custom ResponseWriter not used by echo.WrapMiddleware"
### Issue Description
I want to wrap all response writers for my handlers with a custom response writer that also records the status code.

I realize that echo's Response struct records the status code, but I want to write my middleware to target the standard http library so it is usable by multiple muxers, as such I do not want to use the echo.Context or echo.Context.Response, or the Response.Bef

[2019-01-17 04:21] #1219 closed

[2019-01-17 04:21] #1217 closed

[2019-01-17 07:18] andofcourse opened #1258 "Why does Echo use 2 slices for params (pvalues, pnames) instead of a map?"
### Issue Description
It took me a while to realize how params actually function under the hood, and it seems very weird. Echo uses 2 slices (context.pname, context.pvalues) to keep track of params. This is already weird (why not just use a map?), but it actually gets weirder.

Basically, the router goes through all your routes, and increases `e.maxParam` (initially set to 0) to the [highest numbe

[2019-01-17 12:25] tirithen opened #1259 "server.Static() is resolved after server.GET so static files are not served, routing conflict"
### Issue Description
server.Static() is resolved after server.GET so static files are not served

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
GET /script.js should return the file static/static.js
GET /mytheme/mypage should resolve with the server.GET("/:theme/*", ... handler

### Actual behaviour
Both requests resolve

[2019-01-17 13:12] tirithen commented on #1259
For now I'm using the workaround:

[code]