[2016-07-16 15:07] vishr commented on #600
I just pushed a fix on https://github.com/labstack/echo/tree/issue-600. Please check.

[2016-07-16 15:21] yaa110 commented on #600
Thank you @vishr, it works, but what if the cookie is expired between the request of main page and one of its static file (I know it is very rare but it is possible)?

[2016-07-16 15:24] vishr commented on #600
That means the token is expired, moreover the token verification is done only on `POST` `DELETE` like methods.

[2016-07-16 15:31] yaa110 commented on #600
Consider the following scenario:
1- User requests the "/login" at time A
2- The handler function renders its template and passes the current token via view using `c.Get("csrf").(string)` at time B
3- The cookie expires (at time B + epsilon)
4- The rendered view contains STATIC requests such as CSS files at time C
5- Since the cookie has expired at time B + epsilon, a new cookie is generated which

[2016-07-16 16:17] vishr commented on #600
I think if you are using static middleware on top, it will never reach csrf.

[2016-07-16 17:26] yaa110 commented on #600
No, I've used static router on top and it changed csrf.

I checked [Gorilla/CSRF](https://github.com/gorilla/csrf):
- HttpOnly is optional
- Renews token if only it was expired
- It Enforce an origin check (referer) for HTTPS connections
- It sets the Vary: Cookie header to protect clients from caching the response.

[2016-07-16 18:04] vishr commented on #600
I have set it to true as I don't want client to modify it. But I think if cross-domain cookie modification is not-allowed, we are good. (Just double check)

We do it now

No doing

Will do

[2016-07-16 18:15] yaa110 commented on #600
I checked [Django implementation of csrf](https://docs.djangoproject.com/en/1.9/_modules/django/middleware/csrf/) and I'll open a new Pull Request based on that.

[2016-07-16 18:21] vishr commented on #600
How does django csrf handle the case you mentioned earlier?

[2016-07-16 18:24] yaa110 commented on #600
- it sets the CSRF cookie even if it's already set, so we renew  the expiry timer (i.e. it does not change the token but renews the timer)

[2016-07-16 18:27] vishr commented on #600
Does that mean the token never expires?

[2016-07-16 18:36] yaa110 commented on #600
No, token expires when users leave the site (send no requests) for a long time (longer than the expiration time).

The final approach should be as the following:
- For safe requests (GET, HEAD, etc.) renew the token only if there is no valid token in the cookie.
- For each unsafe request (POST, DELETE, etc.) renew the token.
- For all requests (if there is a valid token) renew the timer of the tok

[2016-07-16 18:53] vishr commented on #600
Let me take a stab at it. You can review it?

[2016-07-16 19:00] yaa110 commented on #600
Off course, I do.

[2016-07-16 19:57] yaa110 commented on #600
Dear @vishr, I also opened a new pull request  #602 at which the CSRF was implemented based on Django implementation.

[2016-07-16 22:28] vishr commented on #600
@yaa110 I took changes from your PR and applied to mine. Please verify https://github.com/labstack/echo/tree/issue-600

[2016-07-17 03:13] #600 closed

[2016-07-17 13:20] yaa110 commented on #600
Thank you @vishr for the fix.
Two more things to go:
- the token should be fixed after successful unsafe requests such as POST.
- it is not a good idea to pass error messages to the client in production mode.

[2016-07-17 14:18] vishr commented on #600
I am interested in knowing the reason. I did not see that in other implementation including django.

Error of type `HTTPError` are meant for the clients across the project. All other errors are filtered in the default error handler.

It is not an actual function call but just a return of internal function (closure)

[2016-07-17 15:01] yaa110 commented on #600
I checked Django again, they regenerate the csrf token only [after login](https://github.com/django/django/blob/master/django/middleware/csrf.py#L98-L101), so we need a public method to reset csrf manually.

I know it, but it is not necessary, is it?

[2016-07-17 15:13] vishr commented on #600
I don't think we have a way to expose a function from middleware.

To be honest, I don't like initializing via `var`, I prefer `:=` unless there is no way out and moreover it wasn't a performance issue in this case, lets leave it like that.

[2016-07-17 15:15] yaa110 commented on #600
So we might put token generator in another package which is accessible to all to get a new token and change the cookie manually.

[2016-07-17 15:23] vishr commented on #600
The current implementation has improved a lot. Do we really need it now?

[2016-07-17 15:30] yaa110 commented on #600
We do not need it, we could delete the current token after login.

[2016-07-17 15:31] vishr commented on #600
Cool.

[2016-07-17 15:31] yaa110 commented on #600
No, the current implementation is good and safe, Thank you.

[2016-07-21 16:54] LuisUrrutia commented on #438
+1

[2016-07-23 06:31] DallanQ opened #603 "BodyLimit and fasthttp multipart file upload issue"
### Description

When I use the BodyLimit middleware with the fasthttp engine, and I request a form file; e.g., c.FormFile("..."), I get an error:

[code]

where size = 0 from valyala/fasthttp/http.go line 712

I believe this happens because BodyLimit calls req.SetBody(r), which causes the body to be reset (and closed), and when the bodyBytes are requested on line 629 of valyala/fasthttp/http.go,

[2016-07-25 16:06] scags9876 opened #604 "Custom header is overwritten by c.JSON"
### Description

I want to send  a response using a custom content type header with a json body.  I set the header using the recommended `c.Response().Header().Set(echo.HeaderContentType, customContentType)`  But when c.JSON is called to write the response, the header is overwritten with 'application/json'.

It would be better if the writing functions in Context overwrote the header only if a head

[2016-07-25 16:09] scags9876 commented on #604
Doing the following in context.go is a pretty good fix:

[code]

[2016-07-26 16:58] #604 closed

[2016-07-27 05:57] mewben commented on #604
Sorry but this doesn't make sense. Why use `c.JSON` when you don't want to use json as Content-Type?

[2016-07-27 07:01] leenux commented on #596
@codepushr
 'There's no need to validate exp by hand, the jwt package is doing this automatically.'
How to doing if I want to adjust the exp?

[2016-07-27 09:32] linhtran1989 opened #606 "fasthttp static file"
### Description
Dear labstack,

I did a small implementation of echo + fasthttp which serves static file (html, js, css). However, as observing in http response header, only content-type "text/plain" is returned causing plain text only, not html. Web Browser won't parse those plain text.

Using standard engine, I saw no problem at all. Please find my code below:

### Working code to debug

[code]

[2016-07-27 16:06] #606 closed

[2016-07-27 20:22] dxvgef opened #607 "Session middleware does not support the fasthttp engine?"
I can't find the session middleware that supports the fasthttp engine, so I can't use the echo to develop my project, who has the recommended package?

[2016-07-27 20:24] dxvgef commented on #585
I also need the session middleware to support the fasthttp engine!

[2016-07-28 15:29] scags9876 commented on #604
@vishr Thanks for the quick fix!

@mewben  In our case, we assembling a jwt and sending it along with a content type of `application/jwt; charset=utf-8`.   We are migrating from gin to echo and this was the only time that we discovered a lack of feature parity.

Additionally, it's fairly common practice to define custom proprietary content types as a means of defining the shape of a response.   Th

[2016-07-28 18:23] vishr commented on #604
@scags9876 The change is reverted for now. See https://github.com/labstack/echo/issues/606. Until we figure out the best approach the fix is on hold.

For fasthttp, we can reset `Content-Type` in `ServeHTTP` method somewhere in the engine implementation.

/cc @CaptainCodeman @mtojek @syntaqx

[2016-07-30 16:14] mtojek opened #608 "[Urgent] HTTP connection hangs when using HEAD method"
### Description

The connection stays open because of missing response data (basically hangs).

[code]

### Working code to debug

[code]

### Version/commit
latest

[2016-07-30 16:24] mtojek commented on #608
[code]
Source: https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html

[2016-08-01 20:26] leedstyh opened #609 "Request a new field in middleware.RecoverConfig"
Request a new field in middleware.RecoverConfig like saying `DisableContext` to add more Request related info like URL Path,  querystirngs and formdata. That'll help reproducing the panic.

[2016-08-01 20:35] denyskoch opened #610 "better JSON binder error reporting?"
### Description
When you POST/PUT data to an JSON endpoint and the JSON is not valid (syntax error, or type mismatch) you get something like this:

or

### Expected behaviour

and

### Version/commit
latest version

[2016-08-02 08:40] fundon commented on #479
Maybe:

[code]

[2016-08-02 20:11] #608 closed

[2016-08-04 10:11] bradberger opened #612 "Response Writer does not work as expected"
### Description
The context response writer doesn't work. Using it as a standard io.Writer and writing to it results in blank output, as demonstrated below.

Not sure if it's related, but the [response.size](https://github.com/labstack/echo/blob/master/engine/standard/response.go#L20) is never updated, because it's private. Whereas the response.Write() does almost the same thing, but [updates the

[2016-08-04 10:12] bradberger commented on #612
For what's worth, have also tried flushing the response, but that doesn't seem to help either.

[2016-08-04 15:46] vishr commented on #612
`ctx.Response().Writer()` gives you access to the internal writer and writing to it won't update response size. You should directly use `ctx.Response()` and it will update the size correctly.

[2016-08-04 16:02] bradberger commented on #612
Super, thanks for the quick response! I'll give that a try

[2016-08-04 20:21] bradberger commented on #612
Perfect, that was exactly what I needed. Thanks again!

[2016-08-04 20:21] #612 closed

[2016-08-05 01:49] mreyntjens opened #613 "How to use e.Group ?"
### Description
I would like to apply the same middlewares  for all /admin/* URLs. Is it possible ?
Also, I can't get the e.Group to work even for "/admin"

Am I missing anything (I followed https://echo.labstack.com/middleware/overview)

Thanks

### Working code to debug

[code]

[2016-08-05 04:40] ohohco opened #614 "How to set params ?"
If I want to add params , how to use by `echo.Context`

[2016-08-05 05:29] vishr commented on #614
Which param?

[2016-08-05 05:42] ohohco commented on #614
The url is `/search?q=xxx`, so I can get the value by `c.QueryParam("q")`. Now I want add the param, like the url `name=yyy`, I hope I can use like `c.SetQueryParam("name", yyy)`

[2016-08-05 06:15] vishr commented on #614
Have you tried `c.QueryParams()` and set your params in that map?

[2016-08-05 10:48] diiimo2k11 opened #615 "Test http errors"
Why does this not work?

    // HelloError, forbidden error
    func (ctrl *restController) HelloError(c echo.Context) error {
        return echo.NewHTTPError(http.StatusUnauthorized)
    }

The test:

    func TestHelloError(t *testing.T) {

      // Setup
      e := echo.New()

      // Set logger for test
      elog := e.Logger()
      elog.SetOutput(ioutil.Discard)

      req, _ := http.NewRe

[2016-08-05 11:12] remylab commented on #615
Your controller return an error, check #593 to test the actual status code from the error object.

[2016-08-05 11:17] remylab commented on #615
he, ok := err.(*echo.HTTPError)
        if ok {
            assert.Equal(t, http.StatusNotFound, he.Code)
        }

[2016-08-05 17:06] k2wanko opened #616 "does not work AppEngine/Go on Windows"
can't build because it uses 'syscall' package.

[code]

[code]

### Enviroment
windows 10
go appengine version: 1.9.40

[2016-08-05 17:34] vishr commented on #613
[code]

Now route `/admin/secured` will execute your-middleware.

[2016-08-05 19:47] mreyntjens commented on #613
Thank you !

[2016-08-05 19:47] #613 closed

[2016-08-06 17:56] Anon-Penguin commented on #525
@vishr what are your thoughts?

[2016-08-06 18:05] vishr commented on #525
Sounds good. Can we have a better name for `CustomContentBlob|String` how about just `Blob` and `String`?

[2016-08-06 18:11] Anon-Penguin commented on #525
`Blob` and `String` sound good, except that I don't want to create issues with the current `String` function.

I guess that we could move the content type to be the third variable and just make it `String(int, string, ...string)` so that the current `c.String(200, "Hello World")` calls would still function without issues.

Would you like any help implementing this patch?

[2016-08-06 18:18] vishr commented on #525
Cool. Somehow in this kind of implementations var args seems like a hack to me, what do you say?

[2016-08-06 18:19] Anon-Penguin commented on #525
I agree that it's more hack-ish. However, unless we want to break compatibility, our only options are:

- A new name (`CustomContentBlob`/`CustomContentString` or something else with that name)
- Var args

[2016-08-06 18:19] Anon-Penguin commented on #525
`CustomBlob`/`CustomString`?

[2016-08-06 18:20] vishr commented on #525
I like it. At least it has some meaning.

[2016-08-06 18:22] vishr commented on #525
You can send me a PR.

[2016-08-07 09:06] sezgin opened #617 "https://echo.labstack.com everytime down."
### Description
 https://echo.labstack.com everytime down or Not Found

[2016-08-07 09:34] vishr commented on #617
It is up now. Will look into it in detail, issue open for tracking.

[2016-08-07 20:32] vishr commented on #617
Applied read/write timeout.

More https://blog.cloudflare.com/the-complete-guide-to-golang-net-http-timeouts

[2016-08-07 20:32] #617 closed

[2016-08-08 03:20] chenjie4255 commented on #479
+1, having a same problem :(

[2016-08-10 06:40] thoas opened #620 "Regex match pattern routes"
Hi,

I'm willing to use echo to replace gorilla mux/negroni, is there a way to do pattern route matching based on regex?

Like so:

[code]

Thank you

[2016-08-10 07:14] vishr commented on #620
Not yet but we are open for ideas.

[2016-08-10 07:19] #620 closed

[2016-08-11 12:15] #615 closed

[2016-08-11 20:35] ChrisRx opened #622 "Group middleware not applied to Static or File routes"
### Expected behaviour
Adding route(s) via File and Static methods for Groups apply middleware functions to those routes.

### Actual behaviour
Using File and Static methods on a Group does not apply the middleware functions to those routes.

### Steps to reproduce
This appears to be caused by these methods each calling the Static and File methods directly on the Group field `echo` ([here](https:/

[2016-08-11 23:25] #622 closed

[2016-08-11 23:25] vishr commented on #622
Please verify.

[2016-08-12 18:46] ChrisRx commented on #622
Everything appears to work as expected on my end.  Thank you so much!

[2016-08-14 11:53] etemelkuran commented on #603
Don't understand me wrong but fasthttp is not working for file uploads. You can use net/http for handling files and fasthttp for serving everything.

[2016-08-15 19:12] sokolovstas opened #623 "Static route conflict with dynamic on same level"
Hi,

I have two routes in group:

g.GET("/dictionary/skills", api.GetSkills)
g.GET("/dictionary/:name", api.GetDictionary)

When I call /dictionary/skills or /dictionary/type it work as expected, but when I call /dictionary/status router returns 404. I believe this is because matching work only on first letter for speed sake. When I remove /dictionary/skills route /dictionary/status work normal.

[2016-08-16 06:29] ipfans commented on #623
I think it should be some behaviour due to your code. As example:

[code]

Routers are working fine.

[2016-08-16 06:31] ipfans commented on #616
I think it is a bug from github.com/mattn/go-colorable

[2016-08-16 10:06] sokolovstas commented on #623
Yes your example work as expected! Thank you for it. I will try figure out source of problem and write later.

[2016-08-16 13:20] mattn commented on #616
@ipfans No. it's an issue that gommon/log doesn't handle build constraint for appengine.

https://github.com/labstack/gommon/blob/master/log/log.go

gommon/log is terminal specific package. So if you want to use gommon/log via echo on appengine, gommon/log should separate codes for appengine.

[2016-08-16 13:27] mattn commented on #616
FYI, on appengine, you should use google.golang.org/appengine/log instead of gommon/log

[2016-08-17 03:47] scbizu opened #626 "the context package has been moved from the x/net repository to the standard library as the context package"
### Description
`go get`have an error with `xxx/src/golang.org/x/net/context is not using a known version control system`,I wonder if `echo` will change  `golang.org/x/net/context` to standard library `context` ?

### Expected  #behaviour
import  "context"
### Actual behaviour
import "golang.org/x/net/context"

### Version/commit

go version go1.7 linux/amd64

[2016-08-17 14:03] #614 closed

[2016-08-17 15:07] #610 closed

[2016-08-17 18:14] gpaixao opened #627 "Overwrite my custom HTTPError"
So, my problem is when I implements a `error` in a new `struct` and return in `HandlerFunc`.

Example:

__myerror.go__
[code]

__errorhandler.go__
[code]

This codes not running like I want, my custom error looks that overwrite by echo.HTTPError, but not want this, I want my custom error.

__Output__

* How is it

[code]

* How it should be
[code]

[2016-08-17 23:48] azer commented on #364
@vishr I think it should be disabled by default. The logger is polluting the output rather than being useful, it doesn't make sense to configure something that you don't use as a user. Please have a look at [The Rule of Silence](http://www.linfo.org/rule_of_silence.html) of Unix Philosophy.

[2016-08-17 23:52] vishr commented on #364
Which logs exactly?

[2016-08-17 23:56] azer commented on #364
Every time you hit the API with a browser, you get a 404 log in the output for favicon.ico;

[code]

[2016-08-18 00:03] vishr commented on #364
By disabling log by default we will will miss critical logs in the library. How do we deal with that?

[2016-08-18 00:14] vishr commented on #364
Re-opening

[2016-08-18 03:51] vishr commented on #627
You have to typecast error back into `NewError`

Something like below:

[code]

[2016-08-18 04:26] azer commented on #364
@vishr could you give an example for critical log ? [CRUD](http://github.com/azer/crud) is another library with important loggings, and it lets users enable them by passing an environment variable like LOG=crud. It uses [logger](http://github.com/azer/logger) behind the scenes.

[2016-08-18 04:27] gpaixao commented on #627
Great, I didn't think about it.

[2016-08-18 04:27] #627 closed

[2016-08-18 04:45] vishr commented on #364
I am not sure if we can just swallow errors by default without users getting to know about them. Another solution could be to return error as much as possible and panic (or just print a message) wherever it is not possible. There are various error/warn/critical log message in the library:

- https://github.com/labstack/echo/blob/master/router.go#L57
- https://github.com/labstack/echo/blob/2fab27a3

[2016-08-18 16:20] vishr commented on #609
@leedstyh Happy to accept a PR or even a code snipped to get a better idea.

[2016-08-18 18:27] #364 closed

[2016-08-18 18:27] vishr commented on #364
@azer Default is OFF now.

[2016-08-19 17:18] vishr commented on #616
https://github.com/labstack/echo/pull/628

[2016-08-19 17:18] #616 closed

[2016-08-19 17:56] ansel1 commented on #626
I worked out a solution for a package I wrote which works with either the old context package or the new context package, depending on the version of go.  I basically wrote my own context package which just redeclares the Context interface, and wraps the package level functions like WithValue(), Background(), etc.  The package has one .go file, with the `// +build go1.7` build flag, which uses go1

[2016-08-19 18:36] k2wanko opened #630 "Does not display error log on AppEngine"
### Description

Does not display error log in Terminal and AppEngine console.
The solution is to replace to `google.golang.org/appengine/log`
### Expected behaviour

`google.golang.org/appengine/log`
### Actual behaviour

`github.com/labstack/gommon/log`

log:

[code]
### Steps to reproduce

[code]
### Working code to debug

[code]

[code]
### Version/commit

go version go1.6.2 (appengine-1.9.40)

[2016-08-19 18:46] vishr commented on #630
@k2wanko `gommon/log` just write to `os.Stdout`? How about standard `log` does that work?

[2016-08-19 19:17] k2wanko commented on #630
@vishr Write to os.Stdout is not output in goapp serve.

[code]

[2016-08-19 19:18] vishr commented on #630
Can you set output?

[2016-08-19 19:21] vishr commented on #626
@ansel1 Can you share the code or PR, We might do the same in the library.

[2016-08-19 19:27] k2wanko commented on #630
Can output if use `google.golang.org/appengine/log`

[code]

log:

[code]

[2016-08-19 19:46] ansel1 commented on #626
Here's the idea wrapped in package: https://github.com/ansel1/context

It's a `context` package which is api compatible with the other context packages.  If you import that instead of `context` or `golang.org/x/net/context`, then it will pick the right implementation via build tags.

[2016-08-19 21:06] #626 closed

[2016-08-20 04:40] DallanQ commented on #603
I'm not sure why you say that fasthttp is not working for file uploads? The workaround I mentioned seems to be working ok. How would I configure echo to use net/http for handling files and fasthttp for serving everything else? Currently I include fasthttp in my main run command: `e.Run(fasthttp.New(":" + env.Port))` I'm not sure how to configure echo to use fasthttp for some routes and net/http fo

[2016-08-20 13:40] matcornic opened #631 "Enhance JWT Middleware with custom claims struct"
Echo JWT middleware currently uses [`jwt.Parse`](https://github.com/labstack/echo/blob/27f9b326b80b2fa21a2e6265b00802122ff093f7/middleware/jwt.go#L113)  function to parse the token. Enhancement would be using [`jwt.ParseWithClaims`](https://github.com/dgrijalva/jwt-go/blob/master/http_example_test.go#L107) instead, in order to get the claims as a custom struct instead of a Map.

I think adding a `

[2016-08-20 14:58] vishr commented on #631
@matcornic Looks good to me. Do you want to send a PR?

[2016-08-20 15:01] matcornic commented on #631
I have not written the code yet, but I think I could do it 😄

[2016-08-20 15:09] vishr commented on #631
Not a problem, I will review it before merging.

[2016-08-20 16:02] matcornic commented on #631
@vishr PR done ;)

[2016-08-20 16:12] #631 closed

[2016-08-21 08:02] kyokomi opened #633 "JWT middleware: support RS256 algorithm"
### Description

JWT middleware support RS256 algorithm 🙏

### Checklist

- [x] Dependencies installed
- [x] No typos

### Expected behaviour

[code]

### Test Code

[code]

[2016-08-21 16:52] #633 closed

[2016-08-22 05:09] ohohco opened #634 "A serious bug!"
[code]
if request url is get `/rooms/4`, will out print:
`will id  - [ids] [4]`

[2016-08-22 05:59] TianDaGe opened #635 "Migration from echo.v1 to echo.v2"
Hello,
I am facing below issues meanwhile migrate from echo.v1 to echo.v2
<img width="667" alt="screen shot 2016-08-22 at 9 56 05 am" src="https://cloud.githubusercontent.com/assets/15997235/17844852/3d6c874a-6870-11e6-8136-05f1483027aa.png">

engine := echo.New()

// Initialize the application
	app := &App{
		Conf:   conf,
		Engine: engine,
		API:    &API{},
		React: NewReact(
			conf.UString("du

[2016-08-22 06:49] vishr commented on #635
You should look into examples on the website.

[2016-08-22 15:50] vishr commented on #634
Per router implementation. This is a conflict in param names and would result in unexpected behavior.

The router first looks at the param in the path and then methods attached to it, in this case `ids` wins as it is defined after `id` so the behavior.

[2016-08-22 15:57] ohohco commented on #634
But one is `GET` method, one is `DELETE` method

[2016-08-22 16:01] vishr commented on #634
The methods attached to the route comes into picture later. At the first place `rooms/:id` and `rooms/:ids` is a conflict. May be your case is related to this https://github.com/labstack/echo/issues/479, upvote if need it.

[2016-08-24 06:41] dkondratovych opened #638 "How to retrieve *http.Request not engine.Request"
### Description
In order to make `func DumpRequest(req *http.Request, body bool) ([]byte, error)` (`net/http/httputil`) working I need to have `*http.Request`. Currently `c.Request()` returns `engine.Request` instance, what is not suite in my case. Is the any way I can get native request instance ?

### Checklist

- [ ] Dependencies installed
- [ ] No typos

### Expected behaviour
Need to have som

[2016-08-24 07:39] leedstyh commented on #638
`c.Request().(*standard.Request).Request`

[2016-08-24 16:41] #638 closed

[2016-08-25 13:36] dahankzter opened #639 "Static content from arbitrary location"
### Description
Perhaps I am missing something but how can I serve static content from a specified location?
This does not work:
[code]
This works but wont allow listing
[code]

I am hoping I misunderstood the docs. To my knowledge I am using the latest from master as of this writing.

[2016-08-25 20:15] vishr commented on #639
Code below works for me:

[code]

[2016-08-25 20:36] dahankzter commented on #639
Actually yes it works for me as well. I was stumped by the strip prefix
thing and assumed the declared path would be part of the uri. Forgot to
close, sorry.

On Thu, Aug 25, 2016, 22:15 Vishal Rana <notifications@github.com> wrote:

[2016-08-25 20:36] #639 closed

[2016-08-26 16:33] ccutch commented on #589
👍

[2016-08-26 18:46] hexadecy commented on #471
I'm trying to stream an ogg audio file.
Previously, I was using `http.ServeFile` and it worked really well.
Please add support or if someone have a quick workaround.

[2016-08-26 20:31] hexadecy commented on #471
Ok I've just write the handler the http standard way:
[code]

[2016-08-27 03:58] pavlik commented on #580
Yes. I'm request support of `let's encrypt` too.
It took me integration `Echo` & `Let's Encrypt` and I was faced with the fact that the server implementation of Echo differs from the standard server. And I can't pass to the server the struct `Certificate` (from the crypto/tls package). Only path to cert files.
You can realize integration for example with this package: https://godoc.org/rsc.io/lets

[2016-08-27 11:33] cloudtrends opened #640 "when go get .../echo , error happend : jwt.go:33: undefined: jwt.Claims"
### Description
Hello All ,

I want to upgrade my app echo version to keep newest change in github repo,

so , I remove local copy of echo , and  rerun below command:

go get github.com/labstack/echo/middleware

but there error messages list as below

# github.com/labstack/echo/middleware
labstack/echo/middleware/jwt.go:33: undefined: jwt.Claims

### Steps to reproduce
1) remove local echo copy
2)

[2016-08-27 13:28] cloudtrends commented on #640
solved by   update jwt-go compontent
go get -u github.com/dgrijalva/jwt-go

close this issue .

[2016-08-27 13:28] #640 closed

[2016-08-27 17:53] #635 closed

[2016-08-27 17:53] #586 closed

[2016-08-27 17:55] #589 closed

[2016-08-27 18:01] vishr commented on #634
Tracked in https://github.com/labstack/echo/issues/479

[2016-08-27 18:01] #634 closed

[2016-08-28 16:29] #571 closed

[2016-08-29 02:52] hexadecy commented on #250
You can use nginx proxy pass:

[code]

[2016-08-29 19:57] blockloop opened #641 "Strange NOT FOUND with routing"
### Description

When using the following routing I'm getting a NOT FOUND

[code]

But if I change it to the following, it works

[code]

### Checklist

- [x] Dependencies installed
- [x] No typos

### Version/commit
647c0b4ec6440d7cd6c11606fd4c7150de1e5436

I'm using HTTPie to call the API with the following command:

`http -v POST localhost:3000/cryptography/hsm/keys/us/RSA1_5/encrypt value=1234

[2016-08-31 00:13] vishr commented on #641
The following code works for me

[code]

[code]

[2016-08-31 16:21] noonien commented on #530
Take a look at the [Text and spaces section in text/template](https://golang.org/pkg/text/template/#hdr-Text_and_spaces) which html/template uses.

[2016-09-01 02:37] hugcoday opened #643 "about c.JSON,if one value of struct is null, when to json ,can I remove the key"
about c.json ,if one value of  struct is null, when to json ,can I remove the key.

How to remove the key auto

[2016-09-01 12:27] dahankzter opened #644 "Allow for non html serving when listing static directory content"
When listing a directory in the browser it makes sense to return html but for machine consumption either one line per dir entry or some sort of json would make more sense.

Perhaps dispatching to the correct formatter based on Accept header?

[2016-09-01 19:40] dahankzter commented on #644
I would like a crack at this I think. I will be a bit busy but in a week or so I should be able to do it.

Accept header sounds good?

[2016-09-01 20:26] vishr commented on #644
Yes, `Accept` header sounds good.

[2016-09-01 22:38] #641 closed

[2016-09-02 03:58] karrung commented on #643
You can use json tag omitempty in the field that you want to auto remove key if the key value is null.
[code]

[2016-09-02 08:12] Asoseil commented on #295
we have chosen echo for [Realize](https://github.com/tockins/realize)

[2016-09-04 05:03] andradei commented on #585
Right now, Cookies aren't getting all the way to `echo.Context`. To be more precise, I am able to `cookie := c.Cookie("myCookie")`, but the issue is that `cookie.Value()` is always empty.

`standard` is working as expected though.

[2016-09-05 19:40] JaTochNietDan opened #646 "Function can be used incorrectly to cause an infinite loop in router"
### Description

`c.SetParamValues` if used in a certain way, in certain circumstances can cause an infinite loop to occur in the router's `Find` function. When you initialise echo for the first time, it would seem that the array used in `SetParamValues` is initialised with the length of the most amount of parameters possible and it is reused per context. The danger here is that if you ever change

[2016-09-07 01:13] dgrijalva opened #647 "Potential concurrent access panic in middleware.JWT"
### Description
Reusing `DefaultJWTConfig.Claims` can result both unexpected behavior and a possible panic.

I'd recommend the following change:
`middleware/jwt.go:98-101`
[code]

[2016-09-07 19:31] codekoala opened #648 "Custom Certificate Authority"
Does Echo support custom certificate authorities? I see the engines support TLS configuration using a server cert/key, but I haven't seen anywhere to configure a custom CA.

[2016-09-07 19:39] vishr commented on #648
@codekoala My knowledge is limited to answer this question. If you find that Go `http` supports it, we can definitely implement it.

[2016-09-07 19:47] tcurdt opened #649 "configuration for http2"
### Description

I was following [the example](https://echo.labstack.com/recipes/http2) trying to start a http2 server (and also combine it with `graceful`).

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
If the TLS files are missing it should fail - but doesn't.
I should be able to define whether I want HTTP2 or not.

##

[2016-09-07 19:52] codekoala commented on #648
Thanks for the quick response! I'll do some digging and try to post an example.

[2016-09-07 20:13] codekoala commented on #648
Here's an example program that I just tried out:

[code]

When testing with ``curl``, I was originally just sending the intermediate CA certificate, and that didn't work. It worked when I tried it with the intermediate bundled with the root CA. I'll have to give this a spin with echo a bit later today.

[2016-09-07 20:19] tcurdt commented on #568
It surely would be nice having an example for something like this
https://joeshaw.org/revisiting-context-and-http-handler-for-go-17/

[2016-09-07 21:22] vishr commented on #649
Why it should fail? You can define `engine.Config` without `TLSCertFile` or `TLSKeyFile`, in that case it will run server in non-tls mode. It should fail for invalid or not-found files and it does.

We can work on this, please provide input on providing this flag or option in the config.

PS: The recipe is little off, I will update it soon.

[2016-09-07 21:32] tcurdt commented on #649
I think we are in agreement then - but it does not fail for me.

[2016-09-07 21:33] tcurdt commented on #649
...unless that's maybe because of `graceful`?

[2016-09-07 21:34] vishr commented on #649
@tcurdt can you try without `graceful`?

[2016-09-07 21:42] tcurdt commented on #649
Ha!

[code]

with the files it then works (without graceful):

[code]

I guess then the question is how handle this in a `graceful` scenario.

[2016-09-07 22:01] codekoala commented on #648
It seems that the CA bundle was the missing piece of my puzzle. A custom CA (with client verification) is supported with ``fasthttp.WithConfig(engine.Config{Listener: tlsListener})``. Thanks!

[2016-09-07 22:01] #648 closed

[2016-09-08 00:01] alexzorin opened #650 "RemoveTrailingSlash doesn't do anything"
### Description
The `RemoveTrailingSlash` middleware does not appear to do what it is meant to do: remove trailing slashes from requests so that the request can be matched by HTTP handlers that omit the trailing slash.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
Both `GET /foo` and `GET /foo/` should result in `HTTP 20

[2016-09-08 00:15] vishr commented on #650
From the docs: It should be registered using `e.Pre`.

[2016-09-08 00:17] alexzorin commented on #650
Thanks! Nice to see there is a way to register pre-routing middleware.

The README links to the trailing slash middleware documentation are currently 404. I ended up reading the test code and some old Google cached docs, which misled me.

[2016-09-08 00:17] #650 closed

[2016-09-08 00:21] vishr commented on #650
I update the `README.md`

[2016-09-08 03:09] vishr commented on #295
hello all,

Echo is looking for sponsorship. If Echo has been useful to you in your project/company, please support its development and maintenance.

https://echo.labstack.com/support-echo

Please feel to forward it to right people at your job.

@montanaflynn @benpate @AlekSi @BrandonRomano @polds @Asoseil @chrisseto @caarlos0 @CaptainCodeman @eyberg @patrickdappollonio @ipfans @GeorgeErickson

th

[2016-09-08 06:45] AlekSi commented on #295
It's not a 💰 but: we at @GolangShow podcast love echo so will mention you support program.

[2016-09-08 11:38] dahankzter opened #651 "Can't run glide update"
### Description
Glide update fails with message:

[code]

I thought this was a fixed problem in Glide. I think I have the latest glide v0.12.1.

[2016-09-08 22:41] remylab commented on #295
http://www.yipsum.com

[2016-09-08 23:46] MichelAquino commented on #633
Hi, this is an interesting feature to be added. This can be added to jwt.go (line 126) where the parser is called. The third parameter can return the signing key according to the signing algorithm.

Like this:
`
// getSigningKey returns a interface that represents the signing key based on SigningMethod
func getSigningKey(config JWTConfig) (interface{}, error) {
	if config.SigningMethod == Algorith

[2016-09-09 10:19] lstep opened #652 "Missing symbol: jwt.Claims"
### Description
Cannot compile anymore, because of middleware/jwt.go:
[code]

### Version/commit
Version from Github, dated Sept, 8 2016

[2016-09-09 11:32] vishr commented on #652
Please update jwt library.

[2016-09-09 14:45] jrasanen commented on #513
@vishr my use case for global data would be storing CDN url, so it'd be available for all templates

[2016-09-09 18:52] vishr commented on #652
Feel free to re-open if this does not resolve the problem.

[2016-09-09 18:52] #652 closed

[2016-09-09 19:00] vishr commented on #651
I tried locally and it works. Feel free re-open if needed.

[2016-09-09 19:00] #651 closed

[2016-09-09 19:01] #534 closed

[2016-09-09 20:18] dahankzter commented on #651
Did I try to purge the cache?

On Fri, Sep 9, 2016, 21:00 Vishal Rana <notifications@github.com> wrote:

[2016-09-09 22:30] #525 closed

[2016-09-09 22:30] #566 closed

[2016-09-09 22:34] vishr commented on #525
I am giving up on `string` to `[]byte` and vice versa conversion for now. I have included couple of new functions `Blob` and `Stream` to address other use case.

Now context can be extended to add custom APIs :) https://echo.labstack.com/guide/context#extending-context

[2016-09-10 00:52] Anon-Penguin commented on #525
@vishr there still isn't a way to do a string with a custom content type without manually setting the header, though. Is there any way you can add this?

[2016-09-10 01:24] vishr commented on #525
@Anon-Penguin If you are trying to save on `string` `[]byte` conversion and vice versa then for standard http response we anyways have to convert to `[]byte`.

[2016-09-10 01:27] Anon-Penguin commented on #525
@vishr Fair enough. I was just proposing this since it might be cleaner to use a `StringBlob` type of function, as opposed to `Blob(string())`. But, that's personal preference.

[2016-09-10 03:15] vishr commented on #513
@jrasanen Do you mean application level variable/constant?

[2016-09-10 06:24] jrasanen commented on #513
Yup, those :)

[2016-09-10 13:18] jonnyreeves opened #654 "Feature Request: Conveniece Method for Allowing HEAD Requests"
### Description

I would like to be able to configure echo in such a way that every time I register a `Get` handler, a `Head` handler is automatically added, ie:

_server.go_
[code]

_curl command_
[code]

[2016-09-10 13:32] jonnyreeves commented on #654
My thinking is to add a new Setter on `Echo` to allow HEAD requests; this would then automatically reigster a Head handler alongside a Get handler.

Let me know what you think to this approach; happy to cut a PR for it.

[2016-09-10 14:23] jonnyreeves commented on #654
Ah to be fair, I just fixed this in my own project (using echo_v1) with some custom Middleware:

[code]

Feel free to close this issue unless you would like to extend the public API.

[2016-09-11 12:13] gordallott opened #655 "echo.Engine's should have a .Close() method"
### Description

It's a little ridiculous that the only way of stopping an engine is by creating a listener manually and hoping that the engine lets you pass that in, so that you can manually stop the listener.

This may have a bunch of unintended consequences, for example, i had a short look over the code for the standard server and if you set a custom listener you are required to setup your TLS

[2016-09-11 19:36] vishr commented on #655
@gordallott Can you review the code?

[2016-09-11 20:12] vishr commented on #649
@tcurdt We have `DisableHTTP2` flag in the config now. To you HTTP2 with graceful you need to do like below:

[code]

[2016-09-11 22:43] gordallott commented on #655
hey,

so fundamentally good but the new setup means that *only* http2 is supported, not even http 1.4 is supported anymore (though i'd assume most browsers would just ignore that, it's still important)

i ran [https://github.com/stefanjudis/is-http2-cli](https://github.com/stefanjudis/is-http2-cli) on a simple echo server built using the http2 recipe https://echo.labstack.com/recipes/http2

echo m

[2016-09-12 00:53] vishr commented on #655
Just added http/1.1 to the list. For h2-14, looks like is a intermediate h2 protocol, so probably we can drop it. For tests, I will include them later.

[2016-09-12 08:10] ohohco opened #656 "fatal error: concurrent map writes"
[code]

[2016-09-12 12:34] gordallott commented on #655
nice, the only other thing to mention is that in go 1.8 there should be a .Clone() method on the tlsconfig which should be used in place of creating a new one, but isn't possible for now https://github.com/golang/go/commit/d24f446a90ea94b87591bf16228d7d871fec3d92

[2016-09-12 13:17] vishr commented on #655
I will keep an eye on that.

[2016-09-12 13:19] #649 closed

[2016-09-12 13:19] #655 closed

[2016-09-12 13:19] vishr commented on #656
@ohohco Please provide some details and steps to reproduce.

[2016-09-12 22:07] heynemann opened #658 "How to read the written body in a Response"
### Description
I'm trying to build a middleware that will send an error report if the Status Code is >=500. For that to be effective I need to read the body for the response in the middleware.

Unfortunately in the c.Response() struct I could not find a way to do just that.

Any help will be greatly appreciated.

### Version/commit
fbcdf70c52c155ae9aa58e72ee0532fa2f1cad2e

[2016-09-12 22:17] vishr commented on #658
@heynemann Response is written directly to the socket and we only track the status code. The best way to capture 500's message is to return error from the handler and capture it. Ideally this should be done in http error handler.

[2016-09-12 22:22] heynemann commented on #658
I get that, but what if I have different middleware looking at errors (one of them logs, one of them sends to an error aggregator, etc).

I can check the error, but handling the body seems like a sensible operation. Imagine I want to implement my own GZip middleware. How would I go about that?

Thanks for the quick reply!

[2016-09-12 22:26] vishr commented on #658
You can set custom writer via `Response#SetWriter(io.Writer)`. As you mentioned about gzip, did you look into to built-in gzip middleware?

[2016-09-12 22:45] heynemann commented on #658
You are absolutely right! Sorry. Closing this issue.

[2016-09-12 22:45] #658 closed

[2016-09-12 23:00] heynemann opened #659 "How to test my handlers with middleware"
### Description
Sorry for all the questions, but I'm very new to Echo. Right now I'm writing a test that validates my handler.

The test is passing, but it does not invoke middleware. This is an issue in my scenario because my middleware authenticates that user and store the user in the context.

I'm using the way described in the docs. I've also tried using httptest.NewServer, but echo is not a v

[2016-09-13 01:11] heynemann commented on #659
If anyone wants to do this I figured it out:
[code]
App is a struct I have that has both the Engine I'm running Echo on, as well as the Echo struct.

It's worth noting that this approach only works if you are using the standard engine. But IMHO it's good enough for tests.

Using it is as simple as:

[code]

I simplified the assertions just to show how it's used. Ideally you would assert the conten

[2016-09-13 01:11] #659 closed

[2016-09-13 01:47] ohohco commented on #656
[code]
This function is used to obtain sub, but after jwt middleware, so  there must be a value of `sub` .

[2016-09-13 04:49] vishr commented on #656
Which version are you using?

[2016-09-13 05:19] ohohco commented on #656
The latest!

[2016-09-13 05:51] vishr commented on #656
Can try with version prior to jwt fix - the bug I mentioned earlier?

Sent from my iPhone

[2016-09-14 02:05] ohohco commented on #656
https://github.com/labstack/echo/issues/647 fixed ?

[2016-09-14 02:17] vishr commented on #656
I meant, did you try a version before #647 fix?

[2016-09-14 02:21] ohohco commented on #656
Yeah! I tried, then I updated to the lastest version

[2016-09-14 03:52] vishr commented on #656
Show me the code where you configure JWT middleware.

[2016-09-14 04:12] vishr commented on #656
@matcornic Including you, since I suspect it started coming after your commit to JWT middleware.  JWT config can't have fixed global value for claims, I think this config should be type rather than value, then it should be initialized based on type and passed to `ParseWithClaims`. What are your thoughts?

[2016-09-14 04:14] vishr commented on #656
@ohohco As a temporary solution, you can rollback to a commit prior to https://github.com/labstack/echo/commit/2557d33c4b6608f574be47c500db27d8c021f5f1#diff-e2b5376a04adac0accff0c02e761f89e and confirm if that works.

[2016-09-14 22:35] #647 closed

[2016-09-14 22:35] #656 closed

[2016-09-18 09:14] mtojek opened #660 "Access logs contain invalid number of bytes sent when gzipped"
Hi,

there is an old issue with access logging. If you use access log middleware with a gzip middleware enabled, the access log will contain the ungzipped response size instead of gzipped one.

@vishr do you have any ideas how to solve this one?

[2016-09-20 13:33] #522 closed

[2016-09-21 08:17] yurayko opened #662 "cookie not found"
Hello.

[code]
return "cookie not found". Why?

[2016-09-21 11:02] ericmdantas commented on #662
I suspect it's because you're always overriding the existing cookie in the same request, then you won't be able to read what's really coming from the client.

Changing it to:

[code]

Does the trick.

Just go to `http://localhost:1213/set_cookie` and go back to `http://localhost:1213/` and then you should see `Yo!` on the screen.

[2016-09-21 12:15] yurayko commented on #662
Yes, its works when cookie set and then read in the different requests.
But question is why I cannot set and immediately read cookie in the same request.
Not cookie from client, but my, server cookie.
1. I create cookie
2. I add cookie in the echo.Context
3. I immediately read cookie from echo.Context
4. Oops, no cookie  added in the 2

[2016-09-21 12:51] ericmdantas commented on #662
But then when you refresh the page it does work, right?

You're setting the cookie for the `response` and you're trying to read from the `request`.

So, this is what's happening:
1. When it first hits your server, there's no cookie written yet;
2. Then you write your cookie calling `co.SetName("session_id")` and `co.SetValue("Hello, World!")`;
3. Cookie is then written to the `response`, there's n

[2016-09-21 13:08] yurayko commented on #662
Aaa. That it! Cookie request and cookie response it a different cookie. Thanks you.

[2016-09-21 13:08] #662 closed

[2016-09-21 13:16] ericmdantas commented on #662
:+1:

[2016-09-21 13:36] yurayko commented on #662
Also
[code]
return my lost cookie.

[2016-09-21 16:30] jbrodriguez opened #664 "Access Context from websocket handler function"
Based on a discussion on gitter ---

I'm not sure how to use jwt middleware with a websocket, mostly because I don't know how to access the context (which holds the jwt token set by the middleware) from the websocket handler (using net handler)

for example in the following code .... how do i access the context from handleWs ?

[code]

[code]

@vishr replied with this example
[code]

[2016-09-22 15:07] vishr opened #665 "Echo v3"
### Making Echo as simple as it was in v1
- [x] Drop `fasthttp` support to keep the project simple, easy to maintain, aligned with standard library and compatible with community packages. As simple as it was in v1.
- [x] `Skipper` function to conditionally skip a middleware
- [x] Update docs
- [x] Update recipes
  - [x] Put back WebSocket
  - [x] Put back Graceful shutdown
- [x] Release notes and

[2016-09-22 16:49] mtojek commented on #665
/cc @abador

[2016-09-22 17:41] ericmdantas commented on #665
Thanks for the heads up!

Just out of curiosity: what exactly is holding back the `fasthttp` integration? Is is too complex to maintain two (or more) engines? Is it because some stuff are falling behind the actual go releases/features (like http/2 not being implemented yet) and so on? Or something else?

Just asking because some people, if not most, are attracted to the piece of the graph that sho

[2016-09-22 17:56] vishr commented on #665
Yes, it has been a challenge to maintain two implementation with one interface, we have to compromise on features like you mentioned.

I think we need to find newer way to attract people ;). Probably we will put old routing benchmarks :).

In short, we want to be aligned with Go `http` to benefit from all the features (current and future).

[2016-09-22 18:01] ericmdantas commented on #665
I agree. In my opinion, in the long run maintainability is a better path to follow.

[2016-09-22 18:28] CaptainCodeman commented on #665
fasthttp is an interesting library and although it of course provides some great numbers for the Go-router-benchmark obsessed in reality it's use-cases are rather quite niche and I don't think the touted benefits are really worth the compromises that trying to support it within the one framework introduces.

I found myself using echo less and less with v2 as it just seemed to have become more comp

[2016-09-22 19:09] 01walid commented on #665
That is some serious changes, I'm mostly Ok with. But I'm not sure if the versioning scheme fits and reflects the amount of changes, especially the breaking ones. I'd better issue a 3.0 release.
I'm afraid v2.1 will cause a lot of confusions especially for projects using gopkg.in

[2016-09-22 19:57] ericmdantas commented on #665
Agreed, 3.0 makes more sense.

[2016-09-23 07:49] sokolovstas commented on #623
Please check this exmaple. For me `http://localhost:8001/g/dictionary/status` return `Not Found` but `http://localhost:8001/g/dictionary/type` return `type`. If remove `g.GET("/server",` than status request work as expected.

[code]

[2016-09-23 11:00] lugorian commented on #665
Great decision!
If context still will be interface? It would be nice to implement something like this https://github.com/go-playground/lars#custom-context--avoid-type-casting--custom-handlers and make echo more extensible!?

[2016-09-23 12:58] vishr commented on #665
@lugorian Is it something similar to https://echo.labstack.com/guide/context?

[2016-09-23 13:04] o1egl commented on #665
I think that it's the right way. My opinion is that if someone really needs fasthttp they use it natively.

[2016-09-23 16:06] lugorian commented on #665
@vishr Yes it is similar but with some neat tricks to avoid context casting again and again. Also provide nice api for composing custom framework..

Look at this examples:
https://github.com/go-playground/lars/blob/master/examples/all-in-one/main.go
https://github.com/go-playground/lars#custom-context--avoid-type-casting--custom-handlers
It is really nice way to register custom context, handler an

[2016-09-26 05:18] vishr commented on #665
@lugorian Will look into it soon.

[2016-09-27 03:58] vishr commented on #580
Tracked in #665

[2016-09-27 03:58] #580 closed

[2016-09-27 03:59] vishr commented on #664
Tracked in #665

[2016-09-27 03:59] #664 closed

[2016-09-27 03:59] vishr commented on #471
Tracked in #665

[2016-09-27 03:59] #471 closed

[2016-09-27 04:53] aarondl commented on #665
@vishr If we're talking about simplicity. One of the biggest warts that echov2 has is the ridiculously big Context interface.

I'd like to make a case for simple interfaces and composition. In PR #470, I show how this interface could be greatly reduced in complexity by isolating it's pieces. However in this PR I was trying to be mostly API compatible and so it stayed an interface.

https://github.

[2016-09-27 12:07] joeybloggs commented on #665
Hey @lugorian @vishr

just wanted to mention about using a Context interface for handlers; I recently struggled with this in my package [lars](https://github.com/go-playground/lars). The recent implementation of the `context` package to the native http.Request object has/will throw allot of frameworks for a loop; it almost makes chaining of std middleware mandator eg.
[code]

[nosurf](https://gith

[2016-09-27 15:00] vishr commented on #665
@joeybloggs Thanks for the detailed information. I will definitely keep everything in mind for v3.

[2016-09-27 17:46] vishr commented on #665
@aarondl I am failing to understand the benefit of splitting the context into multiple interfaces. If you need to extend context, you can simply do it as mentioned in this guide https://echo.labstack.com/guide/context

[2016-09-27 18:11] aarondl commented on #665
@vishr It's just about cleaner code. Current implementation goes against everything interfaces should be, small and composed. If people are somehow happy with the way the Context is implemented I'll be quiet. I just wanted to note that v3 is a refactoring opportunity for something I find unpleasant about echo, we could change it to be more idiomatic and cleanly separated. I'll leave it at that :)

[2016-09-28 12:55] tikiatua commented on #665
Would be great if you could also try to keep the functionality provided by echo to a minimum (i.e. Cookie implementation in v2 could be handled almost identically without echo).

[2016-09-29 20:30] mmindenhall commented on #13
I just ran into this issue with code that looks something like the following.

[code]

When I run the code above, I get the following results:

[code]

It seems like there is currently only one path from the root node when trying to match a route.

#### Current matching for `/v1/users/1/new_api_key`:
1.  Static match for `v1` as child of root? yes
    1.  Static match for `users` as child of `v1`?

[2016-09-30 05:19] mmindenhall commented on #599
What about just surrounding with braces if the variable doesn't encompass the entire path segment?

[code]

[2016-10-03 23:43] bunkat commented on #665
I'm starting to use v2 right now, having a hard time understanding exactly what is being considered for v3.  Is echo.Context going away?  I'm currently using things like c.Bind, c.Param, c.Get/c.Set, c.JSON, and c.Attachment  - will all of my handlers need to be rewritten?

[2016-10-03 23:44] vishr commented on #665
@bunkat `Context` mostly remains same, you will have all those methods.

[2016-10-05 13:30] fcristovao opened #668 "Failure to compile v3 due to "github.com/rsc/letsencrypt/lets.go""
### Description

Failure to compile v3 due to `github.com/rsc/letsencrypt/lets.go`:

[code]

In my case I used govendor instead of glide, but it shouldn't matter.

The issue is that the pinned version of xenolf/lego is xenolf/lego@ca0bd606b23a8b50f92915772917bd187ae1491b
However, that version is after xenolf/lego@be785fda33e77a193c5e1428a97b1ef4a0fd8886, where the name is reverted back.

Please no

[2016-10-06 02:24] vishr commented on #668
@fcristovao What's the fix?

[2016-10-07 21:15] ansel1 opened #669 "Embedding golang context can cause stack overflows"
### Description

In a handler:

    c.SetStdContext(context.WithValue(c, "key", "red"))
    c.Value("key")  // that's fine
    c.Value("notkey") // stack overflow!

I don't think you should embed the context unfortunately.  Too easy for this to happen.

It seems like implementations of Context really need to be immutable.

[2016-10-07 22:04] vishr commented on #669
I have been struggling with it for long time now. What are the suggestions?

[2016-10-07 22:29] ansel1 commented on #669
I would resist the temptation to have echo context implement go Context.
Just because they have the same name, they aren't really the same things.
They have different purposes and different semantics.

Go back to just having functions to get and set the go Context as a
property of the echo context. And on go17 if make the setter and getter
just forward to the http.Request context methods.
On Fri,

[2016-10-08 01:54] vishr commented on #669
Just because they have the same name, they aren't really the same things.
They have different purposes and different semantics.

I agree.

property of the echo context. And on go17 if make the setter and getter
just forward to the http.Request context methods.

I will leave it as is but in v3 I will completely remove Go `context`.

[2016-10-08 01:55] vishr commented on #669
@ansel1 Let me know how https://github.com/labstack/echo/commit/4dc771611a3ed6d586abbe436541e75e391e89fe looks and we can merge it.

[2016-10-08 02:09] ansel1 commented on #669
That looks good for v2.

For v3, I'd consider wiring the context methods on echo's context to the
context stored in the http request. Or even remove them entirely... the
request is already accessible. You'll need s method to replace the request
with a new one. So either:

r:= c.Request().WithContext(context.WithValue(c.Request().Context(), k, v))
c.SetRequest(r)

Or expose a convenience method to

[2016-10-08 02:23] vishr commented on #669
Cool, I put that in notes for v3.

[2016-10-08 02:25] #669 closed

[2016-10-08 03:25] leoycx opened #671 "404 Router"
### Description

How about make a new 404 router like Beego?

[2016-10-08 03:27] vishr commented on #671
@leoycx Please explain in detail!

[2016-10-08 03:42] leoycx commented on #671
`
e.GET("Error404", func(c echo.Context) error {
	return ...
})
`

[2016-10-09 18:39] victorhaggqvist opened #672 "Params set to wrong names"
### Description

Registering two routes on different methods with the same path but different param-name results in the last registered param-name wins.

Example:

    GET /:bar
    PUT /:foo

No matter if you request GET or PUT `/hello` param is always set to `foo`

### Expected behavior
Parameter value is set to the registered name

### Actual behavior
Parameter value is set to the last register

[2016-10-09 19:14] vishr commented on #672
@victorhaggqvist Can you confirm if this issue is the same as https://github.com/labstack/echo/issues/634 and https://github.com/labstack/echo/issues/479?

[2016-10-09 20:10] victorhaggqvist commented on #672
Judging from the code examples, yes I believe so. Sorry about the dupe, feel free to close this one.

[2016-10-09 20:29] vishr commented on #672
Tracked in https://github.com/labstack/echo/issues/479

[2016-10-09 20:29] #672 closed

[2016-10-10 22:12] ansel1 commented on #561
Seems like path params with escapes were only messing up the router.  But after routing and parsing out the path params, isn't it desirable to unescape the params before invoking the handlers?

This broke a lot of our tests, because our routes use path params with encoded spaces in them pretty often.  I'm tempted to put in a root middleware like:

    c.SetParamValues(unescapeThemAll(c.ParamValues

[2016-10-11 16:01] lhecker commented on #665
@vishr As you probably already know `x/net/websocket` is kinda unmaintained and has some serious shortcomings, most of which are listed in the Readme of `gorilla/websocket` (especially that it can't deal with messages consisting of multiple frames). So do you think it's feasible to make Echo v3 compatible with `gorilla/websocket` instead of or additional to `x/net/websocket`?

[2016-10-11 16:12] vishr commented on #665
@lhecker Waiting for people's opinion...

[2016-10-11 16:16] andreynering opened #673 "[Feature Request] Ability to get all data of the context"
For applications where HTML is generated in the server, it's useful to share the data of the context with the data accessible inside the HTML templates.

This is possible in Gin, where the data publicly available in map called `Keys`. Take this as an example:

[code]

[code]

All data the application put in the context is accessible in the templates, which is very convenient.

My suggestion is to

[2016-10-11 17:17] leedstyh commented on #665
+1 to `gorilla/websocket`

[2016-10-11 17:37] Puffton opened #674 "Go 1.6 crashes?"
src/github.com/labstack/echo/context/context_pre1.7.go:5:8: cannot find package "golang.org/x/net/context" in any of:
	/usr/lib/go-1.6/src/golang.org/x/net/context (from $GOROOT)
	/cumulus.iau.se/go/src/golang.org/x/net/context (from $GOPATH)

[2016-10-11 17:40] vishr commented on #674
@Puffton  which version?

[2016-10-11 17:44] Puffton commented on #674
The problem is I'm doing "go get ..." on echo on my dev machine (go 1.7), then uploading to the server (go 1.6.2) without the deps necessary. Fixed by forcing it to download "golang.org/x/net/context".

[2016-10-11 18:00] vishr commented on #673
@andreynering What does `c.Keys` return?

[2016-10-11 18:05] andreynering commented on #673
@vishr [It's a `map[string]interface{}`][gincontext]

[gincontext]: https://github.com/gin-gonic/gin/blob/f931d1ea80ae95a6fc739213cdd9399bd2967fb6/context.go#L48

[2016-10-11 18:21] vishr commented on #673
Why don't you pass the whole `Context` as data and use its `Get` function inside?

Based on https://echo.labstack.com/guide/templates

[code]

[2016-10-11 18:32] andreynering commented on #673
Hmm... That works, but I still think having direct access to the map leads to cleaner templates for this use case.

[2016-10-11 18:34] vishr commented on #673
@andreynering IMHO, we should be good. With this approach, we don't have to worry about copying as the map stays immutable.

[2016-10-13 11:09] andreynering commented on #673
Thank you very much for your patience and time. 👍 I think I will keep using Gin that better fit my needs.

[2016-10-13 11:09] #673 closed

[2016-10-13 18:02] asdine opened #675 "Routing fails when using Group + path parameters"
### Description

While matching routes on a given group, if one route includes a path parameter and its value shares the first same letter with another static route, the routing fails with a 404. See the attached code to reproduce the issue.

### Checklist

- [x] Dependencies installed (latest)
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
Should match the right ro

[2016-10-13 20:32] vishr commented on #675
@asdine Please verify.

[2016-10-14 03:59] cnjack opened #676 "创建了一个用于echo表单验证和绑定的middleware (binder)"
[echo-binder](https://github.com/cnjack/echo-binder) 一个提供echo中数据binder和validator功能的middleware

[2016-10-14 08:15] sokolovstas commented on #623
Hi @vishr, do you have any thought about this error?

[2016-10-14 09:27] asdine commented on #675
It works, but can you provide a fix on the v1 branch please? We (and probably others) are still stuck on v1 for now and we can't cherry pick your fix to apply it on v1 because the routing is different

[2016-10-14 10:09] ido50 commented on #675
This commit broke my server. All my static routes are now returning 404.

[2016-10-14 15:16] vishr commented on #623
@sokolovstas I believe this issue is related to #675. I will work on it asap.

[2016-10-14 17:49] vishr commented on #675
@asdine Can you trying to reproduce it with a non-empty group?

[2016-10-14 21:37] #623 closed

[2016-10-14 21:37] vishr commented on #623
@sokolovstas please verify

[2016-10-16 00:02] timvaillancourt opened #678 "Feature request: add support to add/set more TLS config values (or at least ClientAuth=RequireAndVerifyClientCert)"
I'd like to request the addition of support for passing down more TLSConfig info. In my situation I would like to pass down the TLS config flag:

[code]

However I believe echo will not allow me. It seems the TLS config is created and used in these lines below in a way that will not allow TLS overrides:

https://github.com/labstack/echo/blob/master/engine/standard/server.go#L115-L124

Thanks!

[2016-10-16 01:07] timvaillancourt commented on #678
Edit: I will also need to set 'ClientCAs:' to my list of accepted CAs in my use case, so it looks like accepting multiple overrides is best

[2016-10-17 03:58] vishr commented on #678
@timvaillancourt You can supply your custom `Listener` with all the configuration. In Echo v3, you will be able to supply custom TLS config.

[2016-10-17 03:59] #674 closed

[2016-10-17 04:02] #676 closed

[2016-10-17 04:03] vishr commented on #668
Feel free to re-open.

[2016-10-17 04:03] #654 closed

[2016-10-17 04:04] #643 closed

[2016-10-17 08:24] jeromenerf commented on #665
@vishr `echo.SetRenderer` seems to be gone from `Echo`, still mentioned in `Context` though, is it WIP?

[2016-10-17 08:39] asdine commented on #675
@vishr the problem is the same with a non empty group

[2016-10-17 21:14] timvaillancourt commented on #678
Thanks @vishr, I've passed in my own config with .WithConfig() and things are working nicely now. One question though, is there any way for me to reuse the tcpKeepAliveListener from engine/standard/server.go?

Ie: https://github.com/labstack/echo/blob/master/engine/standard/server.go#L194-L206

I'm not an export on go's import/exporting but I get an error when I try to use "standard.tcpKeepAliveLi

[2016-10-17 22:15] vishr commented on #678
Coping it is the only way out. It is originally copied from `Go` standard lib.

[2016-10-17 22:15] #678 closed

[2016-10-18 00:36] benjisg opened #679 "Version v2.1 disappeared"
### Description
Up until about 30 minutes ago there was a tagged v2.1 release of labstack which seems to have been replaced by the listed v2.0 release. Was this release reversed?

#### Previous
<img width="1009" alt="screen shot 2016-10-17 at 5 31 48 pm" src="https://cloud.githubusercontent.com/assets/308887/19460375/df901a50-948f-11e6-9fcf-96d48cb96d9f.png">

#### Current
<img width="1010" alt="s

[2016-10-18 01:15] vishr commented on #679
Now?

[2016-10-18 01:21] benjisg commented on #679
Looks good 👍

[2016-10-18 01:21] #679 closed

[2016-10-18 08:33] jeromenerf opened #680 "v3: do not override the default logger"
### Description

echo changes the default logger options to match its own :

https://github.com/labstack/echo/blob/v3/echo.go#L530
[code]

The function being called by `echo#Start()` makes overriding clumsy at best.

### Expected behaviour

Do not change default behaviour or provide a simple function / configuration bit.

### Steps to reproduce

1. Add these in your code
[code]
2. notice how these

[2016-10-18 20:11] vishr commented on #680
please verify

[2016-10-18 20:11] #680 closed

[2016-10-19 06:42] sokolovstas commented on #623
Yes it working fine now! Many thanks for your efforts!

[2016-10-19 06:52] jeromenerf commented on #680
Thanks @vishr :ok_hand:

[2016-10-20 11:46] luca-moser commented on #561
@ansel1 I second your opinion. Params should be unescaped when the handler is invoked.

[2016-10-20 13:03] ansel1 commented on #561
We have ended up inserting another middleware in our chain which unescapes them all right after routing.

[2016-10-20 14:54] vishr commented on #675
@asdine Can you double check with a non-empty group. It works for me.

[2016-10-20 23:59] vishr commented on #665
@leedstyh We have dropped `WebSocket` API as it is much easier to to write your own handler based on the WebSocket API of your choice.

See: https://github.com/labstack/echo/tree/v3/recipe/websocket

[2016-10-21 05:22] tikiatua commented on #665
This is a great decision in my opinion. With all the discussions about whether or not to use a "webserver framework" with go, it seems like a good idea to keep the functionality directly provided by the echo framework to a minimum in favor of allowing users to use custom - ideally standard library compliant - packages for specific functionalities.

By providing a good documented list of correspond

[2016-10-21 09:02] sarathsp06 commented on #665
But why dropping **_fasthttp_** if it had the performance scale as mentioned in `README` ?

[2016-10-21 09:53] jeromenerf commented on #665
@sarathsp06 many edge cases, no http/2, proved difficult to maintain a multi-engine framework.

[2016-10-21 09:58] jeromenerf commented on #665
@tikiatua Seconded.

1. A simple and robust framework
2. A good set of middlewares and extensions
3. Good docs and recipes

[2016-10-21 18:07] ansel1 opened #681 "Injecting custom context doesn't work if done in Pre() middleware"
Say I use the custom context pattern:

    func UseCustomContext(next echo.HandlerFunc) echo.HandlerFunc {
      return func(c echo.Context) error {
        next(&MyCustomContext{c})
      }
    }

This middleware wraps echo's context in my own implementation.  This pattern comes from the docs.

If I install that custom context using Pre(), my custom context will not flow down to any middleware/ha

[2016-10-21 19:28] ansel1 commented on #681
Looks good

[2016-10-21 19:46] #681 closed

[2016-10-21 19:47] vishr commented on #681
Fixed in #682

[2016-10-21 22:47] woniu369 opened #683 "group cover other route"
### Description
group cover other route
https://github.com/labstack/echo/blob/v3/echo.go#L420
https://github.com/labstack/echo/blob/v3/group.go#L21-L23
group should not be registered as a route, it is just a prefix of the other route.

### Expected behaviour
http://127.0.0.1/test
output:/test*
### Actual behaviour
http://127.0.0.1/test
output:Not Found
### Working code to debug

[code]

### Versio

[2016-10-21 22:57] vishr commented on #683
What happens if you remove `app.Group("/test")`?

As you pointed in `group.go`, we map `Any` with default `*` so that we can execute any group level middleware even if user doesn't specify any route. I simply could not think of any good solution.

[2016-10-21 23:05] woniu369 commented on #683
remove app.Group("/test")
output:/test*

[2016-10-21 23:22] woniu369 commented on #683
一旦路由完全匹配，组级中间件将被执行。
为什么要匹配一个前缀来执行组级中间件？

Google translation:

Once the route is fully matched, the group level middleware will be execute.
Why do match a prefix to execute group level middleware?

[2016-10-21 23:26] vishr commented on #683
Consider a case where you have a group `test` with bunch of middleware but no handler e.g. serving static files using a middleware. All your requests to serve static files will start failing as they are terminated right from the router without executing any middleware.

[2016-10-22 11:19] ericmdantas commented on #295
Now I'm also using `echo` in the live-reloading server for web development: https://github.com/ericmdantas/goliv.

[2016-10-22 19:31] vishr commented on #683
I would advice to handle your `/test*` within the group.

[2016-10-22 19:31] #683 closed

[2016-10-22 19:33] #675 closed

[2016-10-22 21:49] woniu369 opened #684 "panic: echo: path cannot be empty"
https://github.com/labstack/echo/commit/12573cd76d1f054cfd3c5567b52ef9c132714d91#diff-103d48dbdf9e16c6eb09b90668a9e984R23
@vishr After the update with my code can not be normal operation

[code]

### Version/commit
v3

[2016-10-22 22:13] #684 closed

[2016-10-23 15:06] alexedwards opened #685 "Data added using net/http Request.WithContext is lost"
### Description

Data which is added to the `net/http` request context using [Request.WithContext](https://golang.org/pkg/net/http/#Request.WithContext) in 'standard' middleware with the signature `func(http.Handler) http.Handler` is unexpectedly lost.

This seems to make Echo incompatible with third-party middleware that relies on the `net/http` request context.
### Working code to debug

[code]

[2016-10-24 06:36] freWalker commented on #665
@vishr When the v3 official version will be released?

[2016-10-24 14:50] apaganobeleno commented on #665
@vishr is there some doc on how to help to get v3 out ? i would love to help!.

[2016-10-24 15:01] vishr commented on #665
@apaganobeleno @freWalker: Code changes are almost done, however we need support from people:

- Any more changes to the API (e.g. the new request context... are we good?)
- Update docs to reflect v3
- Update recipes

If anyone is interested in updating docs (they are part of the main repo now), please let me know.

[2016-10-24 15:45] apaganobeleno commented on #665
@vishr me too 👍

[2016-10-24 15:49] vishr commented on #665
In docs:

@bluealert: guide/*
@apaganobeleno: recipe/*

As a first round, just update code mentioned in the docs to v3 (make sure the code works!).

[2016-10-24 16:47] apaganobeleno commented on #665
@vishr regarding `recipe/*` should i simply check those work inside `v3` branch ?

[2016-10-24 16:51] vishr commented on #665
@apaganobeleno It is a hugo static site, you can run it locally. I have made sure all recipe code is compiling with v3, we just need to make sure that docs/recipe/* reflect the right version - all in v3 branch. Later if you are interested, you can looking into docs/middleware*.

[2016-10-24 17:01] apaganobeleno commented on #665
@vishr ok, thanks for clarifying, all clear now, just one more thing, by `docs/recipe/*` you mean `https://github.com/labstack/echo/tree/master/website/content/recipes` right ?

[2016-10-24 17:31] vishr commented on #665
Yes.

[2016-10-24 19:12] apaganobeleno commented on #665
@vishr i just went through the `recipes/*docs` examples and runt each of them, i noticed few things to fix:

- On the middleware recipe we should update wording to say Echo3.0 on the server header
- Could not run GAE recipe (tried building the Dockerfile and it failed).
- Don't see graceful shutdown recipe in the codebase.

Also, i noticed that when in a branch, hugo references files from the gith

[2016-10-24 22:46] vishr commented on #665
Once we release v3, master will be pointing to v3. Ideally, we should keep source code reference as is. With that there might not be much change in the docs. In short, we want to make sure all the reference with is written in the docs should be for v3, for instance, `README.md` needs a complete revamp. I am sure there will be much changes in `/docs/guide*` you can to cover that too?

[2016-10-24 22:55] apaganobeleno commented on #665
@vishr Oh, understood the v3 branch references to master, yes, i could cover the `/guide/*` section.

I have a couple of questions i did not get answer from your last comment:
- Should i send a PR with the wording chance on the v3 middleware recipe ?
- What should we do regarding graceful doc? same for GAE ?

I'll start looking on the `/guide*` and send appropriate PR. thanks for the chance to hel

[2016-10-24 23:09] bluealert commented on #665
@vishr  sorry, I am busy for debug my app, which is written by echoV3 and gorm(https://github.com/jinzhu/gorm). @apaganobeleno If you have time now, you can cover the `/guide/*` section. thank you.

[2016-10-24 23:17] bluealert commented on #665
@vishr sorry, I am busy for debug my app, which is written by echoV3 and gorm(https://github.com/jinzhu/gorm). @apaganobeleno If you have time now, you can help me to cover the `/guide/*` section. Thank you.

[2016-10-24 23:23] vishr commented on #665
@apaganobeleno

Yes

Graceful is now part of the core using `graceful` lib. I am still now sure what do we do with the recipes, probably keep both but incase of `graceful` just mention that it is part of the framework and how it works.

[2016-10-24 23:24] apaganobeleno commented on #665
thanks @vishr, i'll give it a shot soon.

[2016-10-25 01:56] freWalker commented on #665
@vishr Thank you.

[2016-10-25 13:35] apaganobeleno commented on #665
@vishr Regarding the graceful description would it be ok do tell something like:

[code]

[2016-10-25 13:51] pfortin-urbn opened #687 "echo.Context undefined (type *echo.Echo has no field or method Context)"
### Description
The code below just gives me an error that it cannot find the echo.Context

### Checklist

- [ X ] Dependencies installed
- [ X ] No typos
- [ X ] Searched existing issues and docs

### Expected behaviour
Should just run

### Actual behaviour
[code]
### Steps to reproduce
run the code below

### Working code to debug

[code]

### Version/commit
go 1.7.3

[2016-10-25 14:21] pfortin-urbn commented on #687
I found it - doh!

[2016-10-25 14:21] #687 closed

[2016-10-25 14:30] vishr commented on #665
Looks good. For future just send me a PR and we can discuss over there.

[2016-10-25 14:56] apaganobeleno commented on #665
@vishr sure, i just created this one https://github.com/labstack/echo/pull/688, LMK if its ok for you, IDK if maintainers section is ok.

[2016-10-25 15:27] apaganobeleno commented on #665
@vishr are we ok to check "Update recipes" > "Put back Gracful shutdown" task or it still needs more work ?

[2016-10-25 15:38] vishr commented on #665
Just updated.

[2016-10-25 19:51] thomasrusche opened #690 "Mime-Type text/css missing to serve css files, not working with strict html Doctype"
I am serving a html page that uses a stylesheet. The stylesheet's content gets send correctly. I tried sending the stylesheet via
Context.Html(int ,string) and Context.String(int, string). Google Chrome F12 Console showed that the mime types did not match. Then I found out that this mime type does not exist in echo??? Hence no Context.Css method.

After adding a Css method to the Context receiver

[2016-10-26 06:36] textproofreading opened #692 "Can not bind json object after read request body"
hi, all

In my environment , I need post json string from client to server ,

by:

[code]

At server , I want to read the post body by:

[code]

After read the post body , I will send a new JsonObject out

[code]

When I comment the line:

[code]

the above error at c.Bind  will gone.

the reason why I use ioutils.ReaddAll(req.Body()) , because , I can get post data by any  others way.

thanks in

[2016-10-26 07:32] dxvgef opened #693 "middleware\jwt.go:34: undefined: jwt.Claims"
github.com\labstack\echo\middleware\jwt.go:34: undefined: jwt.Claims

[code]

[2016-10-26 15:08] vishr commented on #692
You don't need to read the request body, bind function will do it for you.

[2016-10-26 15:10] vishr commented on #693
Can you try to update `github.com/dgrijalva/jwt-go` library?

[2016-10-27 10:09] cnjeff opened #694 "I suspect that I found a bug in context.go#File(string), line: 416"
### Description
I suspect that I found a bug in context.go#File(string), line: 416.
You should add
``` defer f.Close() ```
between line 429 and 430.

### Version/commit
72bfbc3492b3b3db60e7f133bbe891e169e595a4

[2016-10-27 14:34] #694 closed

[2016-10-27 17:59] usmanm opened #695 "Gzip middleware doesn't work with HTTP streaming"
Seems like flushing isn't working as expected, the client just hangs waiting for data

Version: 1dcb7ba9ab8030aeb23e6e4d893a3efe0dc3d7a7

[2016-10-28 04:07] beast opened #696 "GAE recipe on website is cut off"
It appears that the GAE recipe on your website is cut off half way.

![screen shot 2016-10-28 at 12 05 59 pm](https://cloud.githubusercontent.com/assets/929830/19794700/f67c1082-9d06-11e6-8a6f-36505a7add50.png)

[2016-10-28 04:37] #696 closed

[2016-10-28 07:40] cemkiy opened #697 "undefined gommon/log.FATAL error"
### Description
I did update my go version and libs(go 1.7.3). Now echo gives me error. I am working with echo v1.
[code]
### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

[code]

[2016-10-28 20:43] DevotionGeo commented on #665
When is V-3 going to release?

[2016-10-29 00:09] #697 closed

[2016-10-29 00:48] vishr commented on #665
Anyone up for updating the `README.md` for v3?

[2016-10-29 00:51] apaganobeleno commented on #665
I could help but im out the city now, would it be ok starting next week?

On Fri, Oct 28, 2016 at 19:48 Vishal Rana

<
mailto:Vishal Rana <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Anyone up for updating the

README.md

for v3?

—

You are receiving this because you were mentioned.

Reply to this email directly,
https://github.com/labstack/echo/is

[2016-10-29 01:01] vishr commented on #665
@apaganobeleno Sure, also look into https://github.com/labstack/echo/pull/667 PR.

[2016-10-30 01:40] apaganobeleno commented on #665
@vishr just sent a PR that with #667 should cover most of the documentation update for v3, however i have a question regarding the benchmark, as you know it includes fasthttp comparison, should we add a different image that shows only v3 comparison ?

[2016-10-30 17:54] dxvgef opened #699 "I can't view the Echo's guide site using Google Chrome"
The left sidebar covers the content area, and I can't switch content by clicking the left navigation link.

![qq 20161031014954](https://cloud.githubusercontent.com/assets/5192264/19838530/5697e778-9f0c-11e6-9e01-0886fbff387e.png)

[2016-10-30 18:05] vishr commented on #699
OS? Browser?

[2016-10-30 18:08] dxvgef commented on #699
Browser

[2016-10-30 19:18] mtpc opened #700 "Group middleware functions prevent a 404 error"
Using latest master (58166d599b8b4c595d9045bf1d71f7ff005b3485), group middleware functions don't trigger a 404 error  (and get called twice) when request location is equal to the group's base path and no handler exists for that path
[code]

[code]

[2016-10-30 19:19] mtpc commented on #699
Same issue right here, site appears to be broken
(W10, chrome 54)

[2016-10-30 19:30] dxvgef commented on #699
I see this information in the Google Chrome browser developer tool
![bug](https://cloud.githubusercontent.com/assets/5192264/19839289/16e178f2-9f1a-11e6-9335-66d7f939cea9.JPG)

[2016-10-30 20:02] vishr commented on #699
Should be fixed by now. Please verify.

PS: Clear your browser cache.

[2016-10-30 20:02] #699 closed

[2016-10-30 20:08] dxvgef commented on #699
These anchor links is invalid:

- [Installation](https://echo.labstack.com/guide/installation)
- [Migrating](https://echo.labstack.com/guide/migrating)
- [Customization](https://echo.labstack.com/guide/customization)
- [Files Static](https://echo.labstack.com/guide/static-files)

[2016-10-30 20:32] vishr commented on #700
Let me know how this works now.

[2016-10-30 20:32] #700 closed

[2016-10-30 20:53] mtpc commented on #700
Works fine, thanks !

[2016-10-30 21:03] vishr commented on #699
All links are working, please clear your cache.

[2016-10-30 21:04] mtpc opened #701 "Group static handler bypass group defined middlewares"
Yet another issue in v3:

coming from https://github.com/labstack/echo/blob/796df515f3e88c579b07df371d2dfff9fe7c4dd1/group.go#L88 which doesn't follow the group middleware chain since it uses the base instance's `Static` method

[2016-10-30 22:03] vishr commented on #701
Thanks for reporting, please verify the fix.

[2016-10-30 22:03] #701 closed

[2016-10-31 11:01] jchorl opened #702 "Docs are out of date, as echo.Context is no longer compatible with context.Context"
### Description
The context docs state that "Context is 100% compatible with standard context.Context."
Commit 1924528614ba26e99bd7dd91800eddb19364bed6 breaks this. echo.Context is no longer compatible with context.Context.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
I expected not to get the following error: 'cannot u

[2016-10-31 15:04] mtpc commented on #701
Yep, works as expected.

[2016-10-31 18:21] vishr commented on #702
@jchorl Docs need to be fixed. We now just use the standard context as a field.

[2016-11-01 05:50] dxvgef opened #703 "Template changes can't be effective in real time"
In accordance with the guide in the template [examples](https://echo.labstack.com/guide/templates), how to make change to the template in real time?

[2016-11-01 11:49] cassiothadeu opened #704 "Middleware Log can't use headers to log information"
### Description
I have used the Log middleware to log information about the request, but would need to log information about the headers present in the request to perform better trace the request, it would be possible to perform such an implementation?

If it were possible I could make this implementation and submit a Pull Request with change

### Checklist

- [X ] Dependencies installed
- [X ] No

[2016-11-01 15:37] vishr commented on #704
The idea is to extend template in logging middleware to include header, form and query param, something like https://github.com/labstack/armor/blob/master/plugin/plugin.go#L135. I am happy to accept a PR. I am shooting it for v3.

[2016-11-01 16:18] vishr commented on #665
@apaganobeleno We will just have a benchmark chart based on Echo performance for various API set.

[2016-11-01 17:57] cassiothadeu commented on #704
Great, I will developing this funcionality and submit PR, do you when the echo v3 will be released?

[2016-11-01 18:59] cassiothadeu commented on #704
I think that the log format on case of header, path, query and form can be formated like:

`{
   "time":"2016-11-01T16:50:45-02:00",
   "remote_ip":"::1",
   "method":"GET",
   "uri":"/v1/eddie/inventories?branch.id=660&product.sku=213133900",
   "status":200,
   "latency":212099,
   "latency_human":"212.099256ms",
   "bytes_in":0,
   "bytes_out":248,
   "headers":{
     "Content-Type": "applicati

[2016-11-02 01:45] apaganobeleno commented on #644
@vishr should this target `v3` or `v2` ?

[2016-11-02 01:48] vishr commented on #644
Let's wait on some more votes on this one.

[2016-11-02 01:49] vishr commented on #704
You will have single variable for each header like `${header:ContentType}`.

[2016-11-02 01:55] vishr commented on #703
it is hard to understand what you mean by real time?

[2016-11-02 09:08] Puffton opened #705 "Connection refused"
Some clients, seemingly at random, get "Connection refused" when trying to load any webpage, effectively shutting them out of the site. This has been a recurring issue for about a year now.

At first I found some bugs in my code and thought it might be the panic handler not working, causing panics to bring the server down. A reboot fixed the problem and in time I found the bugs and fixed them too.

[2016-11-02 12:05] cassiothadeu commented on #704
So the middleware configuration would be like this

`e.Use(middleware.LoggerWithConfig(middleware.LoggerConfig{ Format:{"time":"${time_rfc3339}","remote_ip":"${remote_ip}",+ "method":"${method}","uri":"${uri}","status":${status}, "latency":${latency},+ "latency_human":"${latency_human}","bytes_in":${bytes_in},+ "bytes_out":${bytes_out},+ "headers":${header:messageid} ${header:authorization}}+ "\n"

[2016-11-02 14:28] vishr commented on #704
Yes, but it is not implemented yet.

[2016-11-02 16:33] apaganobeleno commented on #704
@vishr is the goal here to build a LoggerWithConfig middleware that receives LoggerConfig and uses that config to log accordingly ?

[2016-11-02 16:35] apaganobeleno commented on #704
never mind, i just got it.

[2016-11-02 16:47] apaganobeleno commented on #704
@vishr on the headers would you expect that we add something like: `header_name_of_the_header` tag for each header
same for the query and the form (`query_param_name` and  `form_param_name` respectively)

so for a given request:
[code]
i should have  `query_lastName` and `headers_X-First-Name` available (maybe snake_case?).
is that what you would expect ?

[2016-11-02 17:17] vishr commented on #704
@apaganobeleno There is an implementation for your reference https://github.com/labstack/armor/blob/master/plugin/plugin.go#L135. The idea is to use tag like `${header|form|query:<name>}`. This is should reflect in godoc and website.

[2016-11-02 17:48] apaganobeleno commented on #704
@vishr i just sent #706, would love to get your feedback on it, it adds what we have discussed here.

[2016-11-02 17:50] vishr commented on #704
All your changes so far are in one PR - it's hard to review. Do you mind creating a new branch/PR for each set of work?

[2016-11-02 20:11] vishr commented on #704
Closed in https://github.com/labstack/echo/pull/708

[2016-11-02 20:11] #704 closed

[2016-11-03 07:14] dxvgef commented on #703
I changed the template file, but I can not refresh the browser to see the change immediately, I need to restart the process, how to solve this problem?

[2016-11-03 09:40] bernhardw commented on #702
In v2 context is available through [`StdContext()`](https://github.com/labstack/echo/blob/master/context.go#L28). However, in the upcoming v3, the standard context doesn't seem to be there anymore or fulfill the `context.Context` interface.

@jchorl Are you using the [Google Cloud packages for Go](https://godoc.org/cloud.google.com/go) and asking because they need a `context.Context`?
I have decid

[2016-11-03 09:51] jchorl commented on #702
I am not using Google Cloud stuff at the moment, although I have used App Engine in the past which obviously uses `context.Context`. For my current project, I am following Go's context suggestion `The Context should be the first parameter, typically named ctx`. As for `echo.Context` vs. `context.Context`, I prefer `context.Context` as I prefer not to be deeply tied to specific frameworks. My curre

[2016-11-03 09:54] bernhardw commented on #702
Thanks, that makes sense for v2 :)

[2016-11-03 21:37] #693 closed

[2016-11-04 12:31] SlavaBobik commented on #269
I can create recipe how to user echo v3 with http request limiter.  Do you still need this recipe?

[2016-11-05 04:49] yoheimuta opened #710 "Failed "go vet""
[code]

This causes other projects' "go vet" failures like https://github.com/kotakanbe/go-cve-dictionary/blob/70989b6709c3102924ad8c8483e9bdc99bcb598b/server/server.go#L37-L39

I want to send a PR (it's ready) to fix the failure.

[2016-11-06 09:12] tatsuya-ogawa opened #712 "Access-Control-Allow-Origin should be explicitly set"
The Access-Control-Allow-Origin value should not be wildcard.
So set the origin explicitly.
Otherwise, the chrome ajax requests not works.

[2016-11-06 20:30] maxvi commented on #703
@dxvgef, seems like it can help you.
[code]

[2016-11-06 21:42] maxvi commented on #671
you never need to set up a router of not found error, it's a status of requested page
[code]

also see default error handler https://github.com/labstack/echo/blob/master/echo.go#L276, you can customize it setting own error handler using e.SetHTTPErrorHandler

[2016-11-08 21:56] AA33 commented on #659
@heynemann where do you add your middleware? Is it already added to the `Echo` struct before you use it in `doRequest`?
I'm facing a similar problem with my middleware that wraps request handling in a DB transaction.

[2016-11-08 22:49] heynemann commented on #659
I add my engine to echo.Echo. Not sure what you mean, but you can see it in use in my repo at https://github.com/topfreegames/khan

Hope it helps!

[2016-11-09 03:31] shawnye opened #714 "Routing match question:Match-any pattern do not support query parameters"
### Description
Match-any pattern do not support query parameters

### Checklist

- [x ] Dependencies installed
- [ x] No typos
- [x ] Searched existing issues and docs

### Expected behaviour
match `/users/1?p=on`

### Actual behaviour
do not match the above path

### Steps to reproduce

### Working code to debug

[code]

### Version/commit
latest

[2016-11-09 04:01] shawnye commented on #714
Using `/users/1/?p=on` to workaround it

[2016-11-09 05:47] zouhuigang opened #715 "image/gif"
How to output GIF?Not read the file

[2016-11-09 06:02] vishr commented on #715
what is it about?

[2016-11-09 06:25] zouhuigang commented on #715
github.com/gin-gonic/gin：

    func serveGif(c *gin.Context, g *gif.GIF) {
	    b := new(bytes.Buffer)
	    w := io.Writer(b)
	    gif.EncodeAll(w, g)
	   c.Data(200, "image/gif", b.Bytes())
    }

Similar to this method : c.Data

[2016-11-09 06:26] vishr commented on #715
You have few choices

- c.Attachment
- c.File
- c.Stream

[2016-11-09 13:11] zouhuigang commented on #715
thank you.

[2016-11-09 13:11] #715 closed

[2016-11-09 17:20] CaptainCodeman opened #716 "broken gopkg.in/labstack/echo.v1 tag"
It looks like the https://github.com/labstack/echo/tree/v1.4.4 tag is incorrectly pointing to v2 which causes `go get gopkg.in/labstack/echo.v1` to retrieve the wrong version.

Goto http://gopkg.in/labstack/echo.v1 and click the Source Code button ... branch contains non v1 code.

[2016-11-09 18:29] vishr commented on #716
Thanks for reporting. It is fixed now.

[2016-11-09 18:29] #716 closed

[2016-11-11 02:39] apaganobeleno commented on #714
@shawnye this is on master, not `v3` or `v1`, right ?

[2016-11-11 02:39] apaganobeleno commented on #712
@vishr thoughts on this one ?

[2016-11-11 02:44] apaganobeleno commented on #703
@vishr @maxvi  may this be a feature that allow templates to recompile, like how Jet does here ? https://github.com/CloudyKit/jet/blob/master/example/main.go#L78

[2016-11-11 02:46] apaganobeleno commented on #685
@vishr does this one still open ?

[2016-11-11 03:59] vishr commented on #685
@apaganobeleno In v3 this was resolved by exposing a function to set `Request` in `Context`.

[2016-11-11 03:59] apaganobeleno commented on #685
@vishr should we mark this as closed ?

[2016-11-11 04:00] #685 closed

[2016-11-11 04:01] vishr commented on #712
@tatsuya-ogawa We need more details on this issue.

[2016-11-11 06:37] maxvi commented on #703
In the code above templates will be recompile, You don't neet to restart your application

Jet do almost the same code here.
https://github.com/CloudyKit/jet/blob/master/template.go#L226-L239

[2016-11-11 07:10] tatsuya-ogawa commented on #712
When we use cors middleware with setting AllowOrigins "*", then the echo server reply "Access-Control-Allow-Origin: *".
But this method can not coexist with the method using credential.
So I thought Access-Control-Allow-Origin should be explicitly set.

This is my commit.
https://github.com/tatsuya-ogawa/echo/commit/2e9df5bc5f717cd71d9c4cc3b273d8fe5ee35f2d
This commit can not pass tests.
Since the

[2016-11-11 07:54] dahankzter commented on #146
Sorry to but in on this but how would I go about to use something like go-bindata with Echo? The obvious ways don't seem to work.

F.y.i I tend to embed assets all the time. A static self contained program is awesome.

[2016-11-11 14:59] apaganobeleno commented on #712
@tatsuya-ogawa @vishr please correct me if i'm wrong but Echo allows to configure the "Access-Control-Allow-Origin" domains when you use [`CORSWithConfig()`](https://github.com/tatsuya-ogawa/echo/blob/2e9df5bc5f717cd71d9c4cc3b273d8fe5ee35f2d/middleware/cors.go#L67) function.

By default it sets the CORS with Access-Control-Allow-Origin set to '*' inside [`DefaultCORSConfig` ](https://github.com/ta

[2016-11-12 03:27] tatsuya-ogawa commented on #712
@apaganobeleno
CORSWithConfig do not provide the way of the dynamic  Access-Control-Allow-Origin handling,
so we can not realize CORS with wildcard.

Since other languages, frameworks provides the dynamic  Access-Control-Allow-Origin handling,
I thought it is better to implement it.

[2016-11-12 16:00] vishr commented on #665
A new v2 release is cut from master branch and master now has v3, still not released yet but it makes it easier to develop on master.

[2016-11-12 19:14] robertmeta opened #719 "StartAutoTLS should accept an IP"
The StartAutoTLS function in echo.go should accept an IP address parameter.  This will allow it to be used on machines with HTTPS servers already running on other IPs.

[2016-11-12 19:35] #719 closed

[2016-11-12 22:28] atbaig opened #720 "Swagger UI not working"
### Description
 I love the simplicity of labstack. I am trying to use it. I am having some challenges in getting the swagger ui working. Could you please take a quick look at help

Here is my server: http://54.201.137.59/apispec/
Here is the json am serving: http://54.201.137.59/nutoken/swagger.json

Here is the code I have. I tried several combinations. still no help.

func main() {
        CONF

[2016-11-12 22:30] vishr commented on #720
Please specify version or commit. The recent changes to v2 and v3 should fix this. Please verify.

[2016-11-12 22:31] vishr commented on #712
@tatsuya-ogawa Please verify if this is fixed with the recent changes to v2 and v3.

[2016-11-12 23:21] atbaig commented on #720
Vishal I did a go get a few days ago
Here is my main imports
package main

import (
        "encoding/hex"
        "flag"

        log "github.com/Sirupsen/logrus"
        "github.com/labstack/echo"
        "github.com/labstack/echo/engine/standard"
        "github.com/labstack/echo/middleware"
)

and the issue is still reproducible.

How do I force the use of v2 or v3?

[2016-11-12 23:27] vishr commented on #720
I would advise to use some package manager (like glide) to retain v2 as master now points to v3. It is good to move to v3 if you don't have much change. In short, `go get -u <url>` will get your latest v3 and it should work.

[2016-11-12 23:34] atbaig commented on #720
Thanks Vishal I need some more help.
Do I do
go get https://github.com/labstack/echo/
or
go get https://github.com/labstack/echo/tree/v3.0.0-beta.1

[2016-11-12 23:36] vishr commented on #720
`go get -u https://github.com/labstack/echo` this will get you the latest v3. You might have to change code to adapt to v3 (upgrade to v3), look for examples on the website.

[2016-11-12 23:41] vishr commented on #665
@apaganobeleno I need help in updating the migrating guide and change log, please let me know if you are in.

PS: We will drop v1 mention from the migrating guide.

[2016-11-13 00:07] apaganobeleno commented on #665
@vishr i'm in 👍

[2016-11-13 00:07] atbaig commented on #720
Vishal I upgraded and I still get the same error
Here is my entire main.go
package main

import (
        "encoding/hex"
        "flag"

        log "github.com/Sirupsen/logrus"
        "github.com/labstack/echo"
        "github.com/labstack/echo/middleware"
)

var restLog = log.New()
var Config Configuration

func main() {
        CONFIG := flag.String("config", "", "This is the configuration fil

[2016-11-13 00:34] vishr commented on #720
Yes, it is still an issue, working on it.

[2016-11-13 01:13] vishr commented on #720
Actually it works.

Here is the sample code

[code]

[2016-11-13 01:13] #720 closed

[2016-11-13 02:58] tatsuya-ogawa commented on #712
@vishr
v2 and v3 are same.
AllowOrigins is same []string.
In order to realize dynamic setting, it must have a function field.

[2016-11-13 03:10] vishr commented on #712
@tatsuya-ogawa How about setting allowedOrigin to origin if it is passed in the request otherwise *? I am not sure about the specs but lets double check before make this change.

[2016-11-13 03:16] vishr commented on #712
What credentials are you talking about?

[2016-11-13 03:20] tatsuya-ogawa commented on #712
I'm sorry I did not tell it exactly,Credentials is Access-Control-Allow-Credentials.

[2016-11-13 03:30] tatsuya-ogawa commented on #712
I think so too.
It seems that gin-gonic/gin implementation is like that.
If AllowOrigins value is *, then response's Access-Control-Allow-Credentials become request header's location.

[2016-11-13 03:33] atbaig commented on #720
Thanks a lot Vishal. Yes it works now

[2016-11-13 04:24] #712 closed

[2016-11-14 01:04] vishr commented on #665
@apaganobeleno Update: we still need to retain v1 to v2 migration.

[2016-11-14 02:31] prestonp opened #722 "Website has broken godoc links to the echo/engine packages"
Also, what happened to those packages and why were they removed?

[2016-11-14 02:40] vishr commented on #722
v2 is hosted here https://echo.labstack.com/v2

[2016-11-14 02:40] #722 closed

[2016-11-14 08:18] alfg commented on #479
Same issue here. It would be great for the scenario below:

[code]

In this case, c.Param("name") doesn't work for the 2nd route above. I will use `Context.P(0)` for now, though.

[2016-11-14 15:27] jessemillar opened #723 "Cannot `go get` Echo engine"
### Description
Go can't download either Echo engine. Failure happens on my local machine, through my VPN, and on CircleCI.

### Expected behaviour
Successful install.

### Actual behaviour
[code]

### Steps to reproduce
Run `go install` on any project that uses Echo but doesn't have an engine cached locally.

[2016-11-14 15:29] vishr commented on #723
@jessemillar Because `master` branch now points to v3. You should use a package manager to pin your dependency to v2. e.g. glide / govendor.

[2016-11-14 18:28] #723 closed

[2016-11-14 22:46] #479 closed

[2016-11-15 07:13] vishr commented on #665
Thanks everyone!!!

[2016-11-15 07:13] #665 closed

[2016-11-15 08:40] gavv commented on #665
It seems that fasthttp support was finally dropped, but [Feature Overview](https://github.com/labstack/echo#feature-overview) in README still notes fasthttp:

[2016-11-15 13:04] Puffton opened #727 "StartAutoTLS"
I'm trying to start AutoTLS using:
[code]

The server starts but doesn't seem to serve http anymore? Do I need to manually redirect http -> https? Do I have to set an absolute path for le.cache or will it be created in the server directory? If I have multiple subdomains in "server" but add only one of them in the string array, does it work? I don't need https for my "www" subdomain for example – a

[2016-11-15 15:12] vishr commented on #727
- It has to be port 443 and redirect 80 > 443
- `le.cache` will be created from where you run the server or you can provide absolute path - it should work in either case
- List of hosts is just an added security so it should work for all domains

[2016-11-15 15:12] #727 closed

[2016-11-15 15:37] Puffton commented on #727
Cool, thanks. But isn't "Start"/"StartAutoTLS" blocking calls? How do I start two servers at once?

[2016-11-15 15:43] vishr commented on #727
That is more of Go question. Use goroutine.

[2016-11-15 15:59] NeutronStein opened #728 "Unable to install with glide"
### Description
`glide install` does not work with the currect version
### Expected behaviour
Successful installation
### Actual behaviour
Installation error:
[code]
### Steps to reproduce
`glide get github.com/labstack/echo` or add github.com/labstack/echo to glide.yaml and issue `glide install`
### Version/commit
`master`

[2016-11-15 18:45] vishr commented on #728
Try removing your vendor directory and install

[2016-11-15 19:54] NeutronStein commented on #728
It doesn't work.

[2016-11-15 22:02] NeutronStein commented on #728
I cleared glide's cache (located in `~/.glide`), reran and it worked.

[2016-11-15 22:02] #728 closed

[2016-11-15 22:58] Puffton commented on #727
Yeah, just figured if there was something built-in, was a bit lazy not to check the source, sorry.

[code]

I'm getting:
[code]

[2016-11-15 23:04] vishr commented on #727
Where is the redirect code?

[2016-11-15 23:05] Puffton commented on #727
Sorry, here:
[code]

[2016-11-15 23:06] vishr commented on #727
Why don't you use redirect middleware?

[2016-11-15 23:06] Puffton commented on #727
This felt more lightweight, am I doing it wrong?

[2016-11-15 23:07] vishr commented on #727
You are redirecting everything in a loop. Redirect middleware does proper checks to redirect to https.

[2016-11-15 23:31] Puffton commented on #727
Removed "www", hosts contains the same handler for "www.subdomain.domain.com", "subdomain.domain.com" and "localhost". Same issue still (on the server with DNS subdomain.domain.com, although top domain/domain.com is on another server):
[code]

[2016-11-16 00:57] fat opened #729 "After fix for #479 param names aren't accessible :("
Hi

After upgrading to latest v3 i'm noticing im unable to parse my params on several routes.

Suspecting this may be the change which is causing the pain… https://github.com/labstack/echo/commit/c59b79d45ff4086acfea7129f04742a3e9d8d8b6

At any rate, I have a route like:

[code]

and when loggin:

[code]

i'm getting:

[code]

This is problematic as im nolonger able to access my params by name in

[2016-11-16 00:59] fat commented on #729
whats' really driving me crazy is i have two routes:

[code]
which seemed to be defined almost identically, but only doesn't work for user.

[2016-11-16 01:08] fat commented on #729
if i revert this change specifically: https://github.com/labstack/echo/commit/c59b79d45ff4086acfea7129f04742a3e9d8d8b6#diff-56c3bb2da6c5ecf6872e89a554944453L173

my bug goes away

[2016-11-16 01:14] vishr commented on #729
Can you provide some routes to reproduce the problem? I am not able to reproduce this issue with provided routes.

[2016-11-16 01:19] fat commented on #729
yep…

[code]

[2016-11-16 01:21] fat commented on #729
also, tomorrow i can try to come up with a better test case

[2016-11-16 01:22] vishr commented on #729
Yea, a working example would speed up debugging.

[2016-11-16 01:22] fat commented on #729
yah makes sense…

[2016-11-16 01:43] fat commented on #729
ok i think i've narrowed down why…

so we have two groups:

[code]

and

[code]
if i leave like above, the post and delete don't get the paramnames, but if i comment out those two `gets` above, they work.

Hopefully that helps!

[2016-11-16 01:49] vishr commented on #729
Thank you, I will look into it.

[2016-11-16 01:53] fat commented on #729
dope thanks @vishr

[2016-11-16 04:09] #729 closed

[2016-11-16 04:10] vishr commented on #729
Please verify

[2016-11-16 06:38] #439 closed

[2016-11-16 08:58] appleboy commented on #439
Update [gofight](https://github.com/appleboy/gofight) to [v2.0.0](http://gopkg.in/appleboy/gofight.v2).

[2016-11-16 14:02] cassiothadeu-luizalabs opened #730 "Retrieve Response body sended to client"
### Description

I need retrieve response body sended to client to analyze this information, It's possible?

[2016-11-16 17:15] EliasSMMX opened #731 "Can't run echo after V3 update"
Hi, after the V3 was released, we can't build echo server.

After cloning new version and trying to build, the following error is reported:

We remove

 from our imports and the error desappeared, but now this one rises:

Has anyone come with something like this??

Thanks in advance.

[2016-11-16 17:57] vishr commented on #731
Echo v3 is not backward compatible. You need to do a fresh install.  I am not sure about second error.

[2016-11-16 18:08] fat commented on #729
Awesome, thanks <3 - will test this morning

[2016-11-16 18:24] fat commented on #729
works - thanks again!

[2016-11-16 20:43] #730 closed

[2016-11-16 23:33] ansel1 commented on #561
FYI: our approach to working around this was middleware which called url.QueryUnescape() on the params.  This method is flawed unfortunately.  Query escaped strings may replace spaces with '+', as golang's url.QueryEscape() function does.  So url.QueryUnescape() replaces '+' with spaces.

But URI path segments are allowed to have literal '+' characters in them, so "unescaping" them back into space

[2016-11-17 12:53] calmandniceperson opened #732 "Testing with echo v3"
### Description
Since standard is seemingly gone in v3, what could I replace the code below with? There is no recipe right now, it seems.

### Expected behaviour
Working test of the HTTP route with standard.NewRequest, standard.NewResponse, and e.Logger()

### Actual behaviour
    http/auth_test.go:53: undefined: standard in standard.NewResponse
(obviously, since there is not import for standard)

[2016-11-17 12:57] etnbrd commented on #731
I had the same first error :
`cannot find package "github.com/labstack/echo/engine/standard" ...`
I think it is related to issue #702.

And I am also getting this error :
`go-app-builder: Failed parsing input: parser: bad import "syscall" in github.com/tylerb/graceful/graceful.go from GOPATH`

I think I did a fresh install, because my dev env is in a docker container that I built from scratch.
But

[2016-11-17 13:04] etnbrd commented on #702
I use Google app engine, and need to transform the `echo.Context` into a `context.Context` to generate an `appengine.Context`.
Until now, I used this code :
[code]
But now that `echo/engine` is missing, could I use the following line instead ?
[code]
Otherwise, @jchorl could you share your `toContext` function, or any other solution ?

Thanks :)

[2016-11-17 13:31] jchorl commented on #702
Sure, you can see it here: https://github.com/jchorl/financejc/blob/master/api/handlers/util.go#L49

It pretty much just copies key-value pairs to the new context. Since I use the jwt middleware, I treat the jwt claims differently.

[2016-11-17 15:38] vishr commented on #732
`echo.Logger` is not a function now, it is a field.

You can look into latest test cases to find out more about testing.

[code]

[2016-11-17 15:38] #732 closed

[2016-11-17 18:00] vishr commented on #702
@etnbrd What about `appengine NewContext(ctx.Request())`?

[2016-11-17 18:02] calmandniceperson commented on #732
Thanks a lot for your help, @vishr !

[2016-11-17 18:32] prestonp opened #733 "Add echo.SetHTTPErrorHandler back"
### Description

The echo.SetHTTPErrorHandler method was removed, this was useful for setting custom error handlers.

Could we add this back?

https://github.com/labstack/echo/blob/e08070379af60f5b9c0fb5bb2d1527ba9624fe43/echo.go#L297-L300

[2016-11-17 18:35] prestonp commented on #733
I'm dumb, it's public so we can just do

[code]

[2016-11-17 18:35] #733 closed

[2016-11-17 19:39] vishr commented on #731
Is it on google app engine? https://github.com/tylerb/graceful/pull/94 should resolve it.

[2016-11-17 19:45] fat opened #734 "another router param bug"
If you define routes like this:
[code]

`:promptID` for the second `get` will be "".

defining like this
[code]

appears to fix the issue

[2016-11-17 20:25] etnbrd commented on #731
Yep, resolved, thanks :)

[2016-11-17 20:29] #731 closed

[2016-11-17 20:39] etnbrd commented on #702
Yep, it worked, thanks :)

Also, I had to change the creation of the router.
It was all documented in this recipe : https://echo.labstack.com/recipes/google-app-engine
So, many thanks for your work :)

Cheers

[2016-11-17 21:20] #702 closed

[2016-11-17 21:39] vishr commented on #734
I am not able reproduce it with the following code:

[code]

[2016-11-18 01:29] TianDaGe opened #736 "echo v3 quit speed is very slow in Windows OS Command Prompt"
I deployed echo v3 from echo v2 in my project.
But if I press Ctrl+C in the windows command prompt, echo v3 is not exited immediately.
Only "echo:shutdown initiated", "echo: already shutting down" messages are showing.
After one min, echo was really exited then I can start server again.
What is wrong?

[2016-11-18 01:45] fat commented on #734
dang

[2016-11-18 01:46] fat commented on #734
ill take a look again tomorrow to see whats up

[2016-11-18 05:02] Puffton opened #737 "StartAutoTLS seems broken"
### Description

I can run the server on port 80, but not on port 443 using StartAutoTLS.
### Checklist

- [x ] Dependencies installed
- [x ] No typos
- [x ] Searched existing issues and docs

### Expected behaviour

I get a response on port 443.

### Actual behaviour

I can connect to the machine on port 443 using telnet but as soon as I attempt a GET-request I get:

In the browser (tried Chrome/

[2016-11-18 11:01] scbizu commented on #668
I use `govendor`  too,and this issue also happens to me . Thanks for @fcristovao 's advice ,I think that you'd better note it in the `installation` or somewhere else .  BTW, echo is really an awesome server framework .

[2016-11-18 13:01] calle-gunnarsson commented on #668
I have the exact same issue with echo and govendor, so why is this issue closed?

[2016-11-18 17:01] TianDaGe commented on #736
![echo exit speed](https://cloud.githubusercontent.com/assets/15997235/20438762/b5289b20-adf3-11e6-8c2a-b696ff40e5b6.png)

[2016-11-18 17:32] vishr commented on #736
It is because of the graceful shutdown library. Can you try to set shutdowntiomeout? Also check how graceful lib works on windows. I don't have windows to verify.

[2016-11-18 20:07] jessemillar commented on #570
Since `fasthttp` is no longer a part of Echo, what is the current method for increasing the ReadBufferSize?

[2016-11-18 20:10] vishr commented on #570
You can use `Echo#StartServer` which accepts `http.Server` and set you options.

[2016-11-19 16:50] TianDaGe commented on #736
e := echo.New()
e.Use(middleware.Recover())
e.Use(middleware.CORS())
e.ShutdownTimeout = 3 * time.Second

I set shutdowntimeout like this, but it is not working...what am i wrong?

[2016-11-19 17:06] vishr commented on #736
We use this library https://github.com/tylerb/graceful, can you try to run an example using it directly?

[2016-11-21 01:53] TianDaGe commented on #736
sir, i couldn't try graceful directly.
can you write down simple source to run graceful?
I am using websocket too.

e := echo.New()
... ...
e.GET("/ws", ws.HandleWebsocket)

// Start server
if err := e.Start(":" + config.Port); err != nil {
     e.Logger.Fatal(err)
}
How can I run graceful directly?

[2016-11-21 02:16] vishr commented on #736
Look at the project'' readme, you will find an example. The idea is the run it without Echo and see how it behaves.

[2016-11-21 02:26] wednesdaysunny opened #741 "Why when I go get echo again，I can not get engine folder?"
### Description
When I remove before echo versin and go get again, I can not get engine folder, what is the reason about this? And does the engine still can use ?

### Checklist

- [ ] Dependencies installed
- [ ] No typos
- [ ] Searched existing issues and docs

### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Working code to debug

[code]

### Version/commit

[2016-11-21 02:40] vishr commented on #741
`master` branch is v3, which is not backward compatible. If you want to continue using v2, use a package manager to pin your dependency.

[2016-11-21 02:40] #741 closed

[2016-11-21 02:59] wednesdaysunny commented on #741
Do you still maintain the v2 version?

[2016-11-21 03:13] vishr commented on #741
Yes we do.

[2016-11-21 16:59] leedstyh commented on #737
Do you run your code on a local machine, which don't have a public IP address?

[2016-11-21 17:00] Puffton commented on #737
No, this is in production (on the server with DNS subdomain.domain.com). Not bothering with https on my local dev machine.

[2016-11-21 18:47] flamedmg opened #743 "CORS middleware is not working properly and documentation is wrong"
### Description
I used configuration as described here:  https://echo.labstack.com/middleware/cors and got error message in browser console:
`
The 'Access-Control-Allow-Origin' header contains multiple values 'http://labstack.com,https://labstack.net', but only one is allowed. Origin 'http://labstack.com' is therefore not allowed access.
`

[code]

As stackoverflow says us: http://stackoverflow.co

[2016-11-21 18:49] flamedmg commented on #743
Code to reproduce an issue:

[code]

[2016-11-21 22:43] #743 closed

[2016-11-21 23:07] vishr commented on #734
@fat still a bug?

[2016-11-22 03:27] vishr commented on #737
Following works for me with `Go 1.7.3` and latest `Echo`

`server.go`

[code]

`Output`

[code]

[2016-11-22 03:29] vishr commented on #737
Feel free to re-open.

[2016-11-22 03:29] #737 closed

[2016-11-22 04:57] Puffton commented on #737
This is what I get:
[code]

[2016-11-22 05:16] vishr commented on #737
What exactly is this? Both domains are  same.

	Validation for subdomain.domain.com:443
	Resolved to:
		xxx.yyy.zzz.aa
	Used: xxx.yyy.zzz.aa

[2016-11-22 05:19] Puffton commented on #737
I could as well show:
[code]

[2016-11-22 05:32] vishr commented on #737
This error doesn't seem right to me, both IPs are same. Can you try to run this example from https://github.com/rsc/letsencrypt?

[2016-11-22 06:24] Puffton commented on #737
Will try it later, now people are starting to wake up. I tried your minimal working example but I get the same issues.

[2016-11-22 14:10] mrLSD opened #744 "How to configure SSL OCSP Stapling?"
## Echo v3
How to configure SSL OCSP Stapling?

Details:
https://en.wikipedia.org/wiki/OCSP_stapling

[2016-11-23 07:27] ahmdrz opened #745 "Question: How to access http.Request from echo.Context with fasthttp engine ?"
Hi ,
How to access http.Request from echo.Context with fasthttp engine ?

[2016-11-23 11:14] poweroftrue opened #746 "error when deploy to app engine"
### Description

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
deploy without errors
### Actual behaviour
compile failed:
`Compile failed:
2016/11/23 03:04:00 go-app-builder: Failed parsing input (12 errors)
2016/11/23 03:04:00 golang.org/x/crypto/ocsp/ocsp.go:140:32: composite struct literal encoding/asn1.ObjectIdentifie

[2016-11-23 16:07] vishr commented on #745
@ahmdrz If you are using `fasthttp` you can't have `http.Request`.

[2016-11-23 16:07] #745 closed

[2016-11-23 16:08] vishr commented on #746
Can you provide an example and steps to deploy?

[2016-11-23 16:11] vishr commented on #744
@mrLSD I am not familiar with the concept. If Go supports it, we can extend the API to cover it.

[2016-11-23 22:46] alexzorin commented on #736
I ran into this as well.

(For me) the problem was that the main goroutine was still running even after graceful had stopped the server. So before I had

[code]

Workaround was to do something like:

[code]

HTH

[2016-11-24 20:42] hexadecy opened #748 "HTML5 mode in v3"
### Description
I want to move from v2 to v3, but I don't know how to enable HTML5 mode like in Static middleware.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
Bring back Static middleware please

### Actual behaviour
No HTML5 mode with AngularJS. Not Found when reload.

### Steps to reproduce
[code]

### Working code t

[2016-11-24 20:52] hexadecy opened #749 "No color in cmd with Windows 10 Anniversary Update build 14393"
### Description
Color in terminal have to be enabled per application since Windows 10 build 14393.
ENABLE_VIRTUAL_TERMINAL_PROCESSING is enabled with GetConsoleMode

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
Color for http code 200, 400, 500

### Actual behaviour
No color with logger

### Steps to reproduce
Use Window

[2016-11-25 01:51] TianDaGe commented on #736
Thanks a lot for your reply.
I have just checked your code. but it is not working. same issue
I am not rich experienced in golang. Can you post me full code.
I did like that

var exitCh = make(chan struct{})
// Run ...
func Run() {
	go startServer()
	<-exitCh
}

func startServer() {
	e := echo.New()
        ...  ...
        ...  ...
	// Start server
	if err := e.Start(":8000"); err != nil {
		e.Lo

[2016-11-25 01:56] alexzorin commented on #736
Here is a working example:

[code]

If you commented out the channel send, it would end up with the "already shutting down" problem:

[code]

[2016-11-25 02:02] TianDaGe commented on #736
same issue.

[2016-11-25 02:07] TianDaGe commented on #736
![untitled](https://cloud.githubusercontent.com/assets/15997235/20612637/008d75e2-b2f7-11e6-89dd-69000ea14434.png)

[2016-11-25 02:12] alexzorin commented on #736
Not sure dude. I just tried it on two Windows machines and it worked fine.

Do you have the latest version of echo and the graceful dependency? `go get -u github.com/labstack/echo`.

I have built the above program as a binary if you wanna try it - https://id-rsa.pub/graceful.exe

[2016-11-25 02:32] TianDaGe commented on #736
same issue
![untitled](https://cloud.githubusercontent.com/assets/15997235/20612990/6b621c3a-b2fa-11e6-9b0a-6d1d270cf622.png)

[2016-11-25 02:35] alexzorin commented on #736
Sorry, absolutely no idea. I think you have something stinking up your environment. Anti-virus? Software firewall? Good luck :\.

[2016-11-25 02:37] TianDaGe commented on #736
Thanks for your efforts.

[2016-11-25 02:40] TianDaGe commented on #736
One more, I have just checked other 2 window machines. But not working. :'(

[2016-11-25 02:52] TianDaGe commented on #736
Mr, Vishr
Please resolve this issue asap, Actually there is not problem in the echo running.
But it is strange to develop the project.
Best Regards,

[2016-11-25 08:15] jadegong opened #750 "Make bearer string customizable, such as "Token"?"
### When using jwt middleware, it's better adding an interface to customize the default bearer viriable.

[2016-11-26 15:14] mostafadahab commented on #746
sorry for being late
yes sure:

app engine simple code:
[code]
this main.go file
another file is important for app engine app.yaml:
[code]

and after you download app engine [SDK](https://cloud.google.com/appengine/docs/go/download) you can deploy it using "goapp deploy"

I think the problem in go version because it can serve (test it locally) without any problem "goapp serve" and when I deploy it

[2016-11-26 16:01] painhardcore commented on #585
closed. v3 without fasthttp

[2016-11-26 16:01] #585 closed

[2016-11-26 19:31] Anon-Penguin opened #752 "Can we make Graceful's ShutdownInitiated property public?"
[Graceful's server struct](https://godoc.org/github.com/tylerb/graceful#Server) exposes a `ShutdownInitiated func()` variable that is called when the program is shutting down.

Can we somehow expose this variable to the end user? My software runs several goroutine processes that I'd love to send a channel value to in order to let them clean up safely.

[2016-11-27 01:24] koba-ninkigumi commented on #746
https://github.com/golang/crypto/pull/19/files

I found a way to fix it.
However, the contribution process of Golang is complicated and difficult...

[2016-11-27 08:19] koba-ninkigumi commented on #746
@mostafadahab Are you good at English?
Please help this discussion.
https://github.com/golang/crypto/pull/19/
I am borrowing the power of Google translation.

[2016-11-27 17:21] mostafadahab commented on #746
@koba-ninkigumi  @vishr  thanks guys 😃

as [app engine sdk release notes](https://cloud.google.com/appengine/docs/go/release-notes) says:

and in the latest version of app engine is 1.9.46:

it turns out to be issue in go1.6 but it's as @bradfitz says it already fixed but we should wait until go app engine sdk upgrade to go1.7 😞

@koba-ninkigumi  no worries man I hope google app engine team upgrad

[2016-11-27 23:31] jgillich opened #753 "Static files have incorrect Last-Modified header"
### Description
When I change a file and reload the page, my browser would still load the previous version. Turns out the Last-Modified header is completely wrong.

What I'm getting for a file via curl:
[code]
However, `ls` gives me the correct time:
[code]

Restarting the whole application doesn't fix this, which is really weird. Any idea what could be going on here?
### Checklist

- [X] Dependen

[2016-11-27 23:38] jgillich commented on #753
Nevermind, time zones are hard.

[2016-11-27 23:38] #753 closed

[2016-11-28 02:20] vishr commented on #748
Due to unavoidable reasons, we had to drop static middleware so `html5` mode is not available. You can trap not found error in html error handler and return your `index.html` page. I can keep this issue open to add a recipe for it.

[2016-11-28 02:29] vishr commented on #736
@TianDaGe I am not sure about the issue and I don't have windows to test. Looking at the comments, issue seems to be with the windows setup else it should be reproducible by all users. Closing for now.

[2016-11-28 02:29] #736 closed

[2016-11-28 14:03] nlamirault commented on #668
I'm using govendor. I've got the same issue. Do you know how fix it ?
Thanks

[2016-11-28 14:54] nlamirault commented on #668
@vishr i Think error is already present.

[2016-11-29 05:41] wednesdaysunny opened #754 "How can I go get echo v2?"
### Description

### Checklist

- [ ] Dependencies installed
- [ ] No typos
- [ ] Searched existing issues and docs

### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Working code to debug

[code]

### Version/commit

[2016-11-29 05:42] vishr commented on #754
Use package manager like glide or govendor and specify v2 as version in the config.

[2016-11-29 05:42] #754 closed

[2016-11-29 09:06] nlamirault opened #755 "Failed to run Hello world"
### Description

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour

Run the hello world from documentation

### Actual behaviour

### Steps to reproduce

[code]

### Working code to debug

[code]

### Version/commit

[2016-11-29 11:04] iwag commented on #746
Thank you for sharing very important information @poweroftrue @koba-ninkigumi
Actually I met the same problem this weekend and I wasted my precious two days 😢
I also wish google would upgrade soon 🙏

[2016-11-29 11:48] hfogelberg commented on #755
I had the same problem. You need to import "github.com/labstack/echo/middleware" as well.

Could somebody update the docs, please?

[2016-11-29 16:14] vishr commented on #755
You don't need middleware to run this example. Make sure you have set $GOPATH and your project is within it.

[2016-11-29 16:20] nlamirault commented on #755
Yes it is.

[2016-11-29 16:24] vishr commented on #755
`/home/nlamirault/Apps/golang/src/github.com/nlamirault/toto` should be GOPATH and use the following command to get the framework.

`govendor fetch github.com/labstack/echo@v3.0`

[2016-11-29 17:30] poweroftrue commented on #746
I found a workaround :medal_sports:

after reading [google app engine go group](https://groups.google.com/forum/#!topic/google-appengine-go/3K0gJh8qZUE)  I think it will take some time because maybe they'll skip go1.7 to go1.8 directly

so until then if you need to deploy your app you can just remove github.com/rsc/letsencrypt package from echo.go line 55, and remove line 72:
[code]
and finally re

[2016-11-29 17:30] #746 closed

[2016-11-29 18:26] vishr commented on #746
@poweroftrue We can have a build flag for not including auto TLS for gae. Do they have any issue open for this - just  for tracking, once resolved, we can revert back.

[2016-11-29 20:34] poweroftrue commented on #746
I really get confused!

I tried to build and run standalone simple echo v3 with go1.6.3 and go1.6.2 and even go1.6 and there is no problem

@vishr maybe the problem in the modified version of go (goapp) so I reported the issue [here](https://code.google.com/p/googleappengine/issues/detail?id=13431)

[2016-11-29 23:04] fat commented on #734
yeah still a bug, i ended up just pinning the app to the version before that one commit.

[2016-11-29 23:05] fat commented on #734
haven't had time to track down whats causing it sorry

[2016-11-29 23:38] vishr commented on #734
Please email me routes to reproduce the issue and we can fix it.

Sent from my iPhone

[2016-11-30 09:27] lunemec opened #756 "Newest release is missing gommon as dependency"
### Description

When installing echo with: `glide get github.com/labstack/echo` the code does not run because gommon is missing as dependency.

There are more dependencies missing:
letsencrypt
graceful

[code]

### Expected behaviour
Gommon should be in dependencies.

Or, the docs should mention the need to install ALL the dependencies manually.

### Actual behaviour
It is not.

### Steps to repr

[2016-11-30 09:40] goldmoment opened #757 "How to integrate Echo with go-socket.io"
I try to integrate Echo with https://github.com/googollee/go-socket.io but it don't work
Please help me to resolve

[code]

[code]

[2016-11-30 10:26] leedstyh commented on #757
Not familiar with `googollee/go-socket.io`, but try these code

	func SoServer() (*socketio.Server, error) {
		server, err := socketio.NewServer(nil)
		if err != nil {
			return nil, err
		}

		server.On("", func(so socketio.Socket){
			//...
		})

		// ...

		return server, nil
	}

	func main() {
		var e = echo.Engine

		server, _ := SoServer()

		e.Get("/socket.io/", echo.WrapHandler(server))

[2016-11-30 10:35] goldmoment commented on #757
Thanks @leedstyh but I got an error
`undefined: echo.WrapHandler`

[2016-11-30 10:52] goldmoment commented on #757
Thanks @leedstyh. I got it

[2016-11-30 10:52] #757 closed

[2016-11-30 19:01] vishr commented on #756
It is `glide` issue reported here https://github.com/Masterminds/glide/issues/468. For now you can manually add you dependencies in `glide.yaml`.

[2016-12-02 02:47] koba-ninkigumi commented on #746
This issue is fixed Go SDK version 1.9.48.

https://console.cloud.google.com/storage/browser/appengine-sdks/featured/

[2016-12-02 05:22] vishr commented on #746
👏

[2016-12-02 13:51] nlamirault commented on #755
This is the test :

[code]

[2016-12-02 15:29] scbizu commented on #668
@nlamirault  Just  check [this commit](https://github.com/xenolf/lego/commit/be785fda33e77a193c5e1428a97b1ef4a0fd8886)

[2016-12-02 16:17] vishr commented on #668
Tracking here #755

[2016-12-02 17:20] apaganobeleno commented on #752
@vishr would adding something like:

[code]
to the Echo struct be enough to cover this issue ?

[2016-12-02 17:28] #755 closed

[2016-12-03 17:17] vishr commented on #752
Do we want to expose third-party properties? Tomorrow Go might come up with shutdown process. Is there a better way?

[2016-12-03 17:51] Anon-Penguin commented on #752
@vishr Are there any proposals in progress for such a thing? If not, it's not like anything will happen for at least several months.

[2016-12-03 17:53] Anon-Penguin commented on #752
@apaganobeleno a few issues with that code:

- There is also a HTTPS server that needs to be separately accessed.
- AFAIK, you would need to return a pointer to the function, not the function itself in order to be able to set the function. The better way than returning a pointer, however, would just be an Echo function to set the ShutdownInitiated function directly.

[2016-12-04 00:44] Anon-Penguin commented on #752
@vishr would a PR be accepted?

[2016-12-04 15:25] apaganobeleno commented on #752
@Anon-Penguin thanks for the feedback, you're right, it lacks support for the HTTPS server property.

@vishr i see your point and given Go will come up with shutdown process, how will Echo support < 1.8 versions of Go once 1.8 comes out ?.

[2016-12-05 06:49] vishr commented on #752
@apaganobeleno That's the reason I don't want to expose third party properties via Echo - may be via attraction..

[2016-12-06 03:23] subchen opened #762 "Could you provider an option to use c.JSON as pretty output"
as Commons, I can use `?pretty` in RESTful API to get a pretty JSON output.
But In Echo, only `Echo.Debug = true` to get pretty output, but it is not for production.

Could you can provider another option or let us override the `c.JSON()` func

Example:

1.
[code]

2.
[code]

[2016-12-06 09:12] maxvi commented on #305
Sure I'm a newbie in Go and Echo, but in my opinion it's bad idea because of Echo is just simple router we can validate request (form) using 3rd party package like https://github.com/asaskevich/govalidator or something like that.

[code]

[2016-12-06 11:18] flimzy opened #763 "Improvement suggestion: Support a Scanner interface for Bindings"
The project I'm working on is using a custom Binder to support two datatypes not natively supported by echo's Binder.  When upgrading from echo 2 to echo 3, this has caused some problems.

I'm wondering if any thought has gone into supporting a more general way to extend the Binder's data type translation.  I'm thinking of modifying it to support similar, if not identical to, sql's [Scanner](https

[2016-12-06 16:15] vishr commented on #762
Rather than an option, I would recommend to add two additional functions like `JSONPretty` and `XMLPretty` in Context. Happy to accept a PR.

/cc @apaganobeleno

[2016-12-06 16:33] vishr commented on #763
What kind of problem? In v3 Binder is make public.

Aren't Scanner and Binder interface similar? May be I am missing something.

[2016-12-06 16:42] flimzy commented on #763
The problem isn't that the Binder isn't public, the problem is that it doesn't support arbitrary data types.  For instance, we're using a custom Binder (which is a copy of echo's binder, with our own additions) to handle `time.Time`. My proposal should solve the same problem for any arbitrary data type, by implementing the `Scanner` interface for the data type.

No. I don't believe they're very si

[2016-12-06 17:16] vishr commented on #763
@flimzy You can send a PR to have a better understanding, doesn't have to final PR - just for understanding and we can work through it later.

[2016-12-06 18:13] flimzy commented on #763
PR #764 is not fully functional yet, but should be sufficient to show what I have in mind.

[2016-12-08 04:05] voids opened #766 "how to prevent unescape path in v3.0.3?"
### Description
"%2F" will be convert to slashes before routing.

the closed issues below don't make any sense in v3.0.3.
#587
#561

[2016-12-08 04:52] vishr commented on #766
We have gone back and forth in these issue and I am not sure how it should be addressed. Appreciate everyone's opinion.

@cdfox @yaa110 @Anon-Penguin @ansel1 @luca-moser @CaptainCodeman

[2016-12-08 14:19] ansel1 commented on #766
In #561, I commented that we had added middleware (early in the chain, but after routing) which used QueryUnescape on all the path params.

That turned out to be wrong to, because the rules for query escaping are not the same as for path escaping.  golang 1.8 has acknowledged this by adding new PathEscape and PathUnescape functions.

I think the cleanest solution is:

1. do not unescape the URI.

[2016-12-08 19:22] vishr commented on #766
Agree

can this be done outside the framework? Not in favour of extra calculation inside.

[2016-12-08 20:58] ansel1 commented on #766
path param unescaping could be done with middleware as well (so long as
echo 3 still supports Context.SetParams(), haven't checked).  Perhaps
provide middleware out of the box.

Or, just make this a config flag on the Echo instance.
Echo.UnscapePathParams bool

On Thu, Dec 8, 2016 at 2:23 PM Vishal Rana <notifications@github.com> wrote:

[2016-12-08 21:36] #766 closed

[2016-12-08 21:36] vishr commented on #766
For now, it's even with v2.

[2016-12-09 02:26] Anon-Penguin commented on #766
So are path params currently escaped? Query string values?

[2016-12-09 02:39] vishr commented on #766
Everything is raw.

[2016-12-09 18:24] #762 closed

[2016-12-11 00:20] bep opened #768 "Auto TLS example does not match the real world."
Auto TLS example does not match the real world.
[code]

[2016-12-11 03:33] vishr commented on #768
Can you explain a bit?

[2016-12-11 11:23] bep commented on #768
I was going to say that that method with that signature does not exist ...

https://godoc.org/github.com/labstack/echo#Echo.StartAutoTLS

But it does, now ... Pulling in the latest changes and it appears.

[2016-12-11 11:23] #768 closed

[2016-12-11 18:51] vishr commented on #768
No problem. Thanks for using Echo 👍.

[2016-12-12 07:42] wednesdaysunny opened #770 "echo with protobuf get request bind question"
### Description
when I use protobuf object as my args, I cannot bind data,

### Checklist

- [ ] Dependencies installed
- [ ] No typos
- [ ] Searched existing issues and docs

### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Working code to debug
because I generate protobuf code like this
[code]
but In binder.go,  declare inputFieldName := typeField.Tag.Get("form")
so I ca

[2016-12-12 18:20] atbaig opened #772 "support for starting a custom http.Server with TLS"
### Description
This may be more of a feature question than an issue
Do we have support for starting a Custom https server similar to
func (e *Echo) StartServer(s *http.Server) error ?

[2016-12-12 18:34] vishr commented on #772
@atbaig When you own `http.Server`, it is easy to start HTTPS see https://github.com/labstack/echo/blob/master/echo.go#L544

[2016-12-13 01:19] #298 closed

[2016-12-13 01:19] #305 closed

[2016-12-13 01:19] #438 closed

[2016-12-13 15:12] flimzy commented on #763
Any further thoughts on this, @vishr, after reviewing the PR?

[2016-12-13 16:06] vishr commented on #763
@flimzy It is still under review. I will get back to it soon.

[2016-12-13 16:49] codepushr commented on #498
https://github.com/echo-contrib/sessions is already clearing the handler on line 70 of sessions.go and therefore stable!

[2016-12-13 19:42] Nazariglez commented on #516
Hi guys, someone of you know already how to use nested templates with echo? //cc @briemarie @rand99

Thanks!

[2016-12-13 20:35] codepushr commented on #690
Interesting, I'm experiencing the same issue after migrating from v2 to v3. Might also be some new dependencies that crash my website but this issue sounds reasonable!

[2016-12-13 21:21] vishr commented on #690
@thomasrusche `Context#HTML` is meant to be used for quick html with embedded css. For your case use `Echo#Static` - check static section in the guide.

[2016-12-14 17:05] Nazariglez commented on #516
Sorry guys, I didn't saw this https://gist.github.com/rand99/808e6e9702c00ce64803d94abff65678.

Thanks @rand99

[2016-12-15 19:09] #763 closed

[2016-12-15 22:16] vishr commented on #770
What is  the content type? You can also extend it with your own binder look in the docs.

[2016-12-17 02:14] vishr commented on #750
We need to modify jwt middleware to add `AuthScheme` in the config. The default value will be `Bearer`. I am open for a PR.

[2016-12-18 02:52] hayeah opened #776 "Create BindValidate for context"
Bind and Validate are both customizable. It might be nice to provide a sugar method to do both:

[code]

[2016-12-18 16:31] hayeah commented on #776
I just realized that I can do this easily with CustomBinder:

[code]

[2016-12-18 16:31] #776 closed

[2016-12-19 19:40] #750 closed

[2016-12-20 01:27] tracymacding opened #780 "can echo support url match like '/recource?acl'"

[2016-12-20 01:30] tracymacding commented on #780
Have some urls to match, for example
`PUT /resource?policy`
`PUT /resource?acl`
......

[2016-12-20 01:51] jadegong commented on #750
Thank you so much, that fits my need.

[2016-12-20 01:55] jadegong commented on #780
You can try to make a router including /resource and /resource?policy and get the param policy, see their differences.

[2016-12-20 10:06] mitty1987 opened #781 "send NoContent(code) whit Gzip middleware!!!"
when i use gzip middleware,and send NoContent(code). but there are still has "Content-Encoding :gzip" in response head.
In compress.go ,I found the following code is without effect

[code]
I used like this:
[code]
Is there a problem with the way I use it？

[2016-12-21 02:05] mitty1987 commented on #781
I update code in first time,it's work fo NoConten(code),but it's also affect to the reponse whit Content,the head of "Content-Encoding :gzip" has be removed!!!

[2016-12-21 02:27] mitty1987 commented on #781
@vishr

[2016-12-21 05:09] atbaig commented on #772
Thanks Vishal It works

[2016-12-21 05:09] #772 closed

[2016-12-21 05:14] atbaig opened #782 "having trouble writing a customer logger middleware"
### Description
I am trying to log some custom fields in my custom logger middleware. I took the code from middleware/logger.go and tried to modify it in my own repo. I am getting EOF after I do a c.Bind()

### Expected behaviour
I am expecting it work normally
### Actual behaviour
I get an EOF after I add the c.Bind()
### Steps to reproduce
middleware/logger.go
### Working code to debug
 return f

[2016-12-21 07:00] #489 closed

[2016-12-21 07:00] #781 closed

[2016-12-21 07:02] vishr commented on #781
@mitty1987 Per HTTP spec only status `204` should not send `Content-Encoding` header, see #489 - so we should be good here. Let me know if you have any questions.

[2016-12-21 07:50] mitty1987 commented on #781
Thank you for your reply.
Yes I have one, maybe you can help me.In my android project,I used okHttp for http request,when the response head contains "Content-Encoding :gzip", it's aways read 10bytes, even if my server send NoContent(500), so that will throw EOFException.It makes me a headache.
 so, Your means if I used Gzip I shuldn't send NoContent() when the status not 204?

[2016-12-21 07:50] mitty1987 commented on #781
@vishr

[2016-12-21 07:58] vishr commented on #781
Send some errors with 500, may be json or use drectly write to the response with status code, look into context.go.

[2016-12-21 10:50] lunemec commented on #756
Yes, it looks like `glide` bug, when doing glide up after glide get, it installed the dependencies. Don't understand why glide up didn't. Thx.

[2016-12-21 10:50] #756 closed

[2016-12-21 12:35] lunemec opened #783 "Consider using logxi as logger."
### Description
Logxi seems a better overall solution to logging. It allows to use "key", "value" to log data to stdout/file.

Please note, this is not promoting of my project, I simply think logxi is more practical.

### Current behaviour
Lets consider, I want to tag each request with UUID via middleware. This is so I can tag the flow of the request and pair resulting errors (if any) with the HTT

[2016-12-21 18:16] vishr commented on #783
@lunemec You missed out of `log.Infoj` for printing json output:

[code]

[2016-12-22 08:47] lunemec commented on #783
Oh, you are right, this works (although not as nicely as Logxi, but exactly what I wanted). Thank you.

[2016-12-22 08:47] #783 closed

[2016-12-23 07:05] sluchznak opened #784 "UnmarshalParam doesn't work"
### Description
I want to unmarshal string param to array of strings

### Checklist

- [ ] Dependencies installed
- [ ] No typos
- [ ] Searched existing issues and docs

### Expected behaviour
`&{[city city.country]}`
### Actual behaviour
`&{[city,city.country]}`
### Steps to reproduce

### Working code to debug

[code]

then i try bind param:
[code]

### Version/commit

[2016-12-23 07:08] vishr commented on #784
@flimzy Can you look into his issue?

[2016-12-23 07:28] sluchznak opened #785 "Context#Bind doesn't bind query param"
[code]
`GET http://localhost:1323/hotel?q=chi`
[code]

but if:
[code]
then
`GET http://localhost:1323/hotel?q=chi`
[code]

[2016-12-23 07:37] vishr commented on #785
This has been fixed in master. Wait for next release or grab from the master.

[2016-12-23 07:53] flimzy commented on #784
@vishr I'll take a look.

[2016-12-23 18:01] #784 closed

[2016-12-26 03:36] sandalwing commented on #97
Ah, I wish I saw this, I made same thing.  Mine can be used for default interface of Logger too https://github.com/sandalwing/echo-logrusmiddleware

[2016-12-27 19:25] Noki opened #789 "Suggestions for additional Middlewares and Improvements"
I like echo and I have some ideas regarding middlewares to make it more attractive by reducing the size of transferred data and the speed of the website using various techniques:

- [ ] Add brotli compression (it's now supported by all major browsers)
- [ ] Add minification middleware using https://github.com/tdewolff/minify
  - [ ] HTML
  - [ ] CSS
  - [ ] Javascript
  - [ ] JSON
  - [ ] XML
  -

[2016-12-28 01:07] agad opened #790 "Suggested best approach for hundreds of subdomain"
### Description
I have the need to support hundreds if not thousands of domains per server.  Each domain may have multiple versions (this is for managing REST microservices).  Each domain would also need to have  5 pre-middleware objects and another 5 middleware objects execute per path.

I was looking at the subdomain sample and I am worried that is appears the suggestion is to create a new echo

[2016-12-28 02:12] agad commented on #790
One issue which I came up with is that SSL could not work.  But this won't be an issue as the SSL will be terminated at a front end proxy and ultimate communication with the API won't use SSL.

[2016-12-28 02:15] agad commented on #322
@akonsu I was wondering whether you attempted this approach with the router?  Am looking at possibly swapping in a custom router and was wondering if your approach worked (if you tried it).  Thanks.

[2016-12-29 01:20] akonsu commented on #322
@agad I did not try it, sorry.

[2016-12-29 07:27] binlaniua opened #791 "version 3.0.3 not support gracehttp"
### Description
[the example](https://github.com/labstack/echo/commit/33eb3fb67b5ef647d90bfc7bcc7e265f66858284)
 version 3.0.3 has no method "Server"

[2016-12-29 07:44] binlaniua commented on #791
my bad, this version is use "graceful"

[2016-12-29 07:44] #791 closed

[2016-12-31 16:11] younisshah opened #792 "GraphQL in Echo"
How do I do GraphQL in echo? I want to use this handler type [(graphql-go/handler)](https://github.com/graphql-go/handler)

[code]
in here

[code]
Is there a way I could convert the above graphql handler function type to `handlerFunc` type expected by echo?

[2017-01-02 03:25] tedkornish commented on #792
If `h` satisfies `http.Handler`, looks like you could just use `echo.WrapHandler(h)` – it's a constructor of `echo.HandlerFunc` which takes in an `http.Handler`.

https://godoc.org/github.com/labstack/echo#WrapHandler

[2017-01-02 05:20] younisshah commented on #792
@tedkornish That worked like a charm! One more thing: How would I do a POST request to GraphQL handler using echo.POST?

[2017-01-02 05:23] tedkornish commented on #792
If by "do" you mean "handle an HTTP request", then it would be similar:

[code]

If by "do" you mean "perform an HTTP request", then you'd want to use some sort of function like `http.Post` – https://golang.org/pkg/net/http/#Post.

[2017-01-02 05:32] younisshah commented on #792
Worked like a charm. Thank you :)

[2017-01-02 05:32] #792 closed

[2017-01-02 19:28] Anon-Penguin commented on #790
It looks like you're using a software library to create software for a... library! ***ba doom crash***

****

It seems as the routes are the exact same for `foobar.v1.example.com` and `barfoo.v1.example.com`. If that's not true, the rest of this comment doesn't apply; let me know and I'll help you work something else out. If that *is* true, follow along!

Since the routes are different for each ve

[2017-01-02 20:11] Anon-Penguin commented on #790
Also see: https://github.com/labstack/echo/issues/250

[2017-01-02 20:13] Anon-Penguin commented on #250
@axdg don't know if this is new or not, but you can get the host using `c.Request().Host`. I use this to redirect to `www.`.

[2017-01-02 20:25] Anon-Penguin opened #794 "context.Path() isn't properly set for routes that don't exist"
### Description

`context.Path()` isn't accurate for 404 pages. From playing around, it seems to return whatever was in the context before it was pulled from the pool.

### Checklist

- [X] Dependencies installed **(fresh download of echo AND go1.7.4)**
- [X] No typos
- [X] Searched existing issues and docs

### Working code to debug

[code]

### Steps to reproduce

Go to `localhost:1111/404` (rou

[2017-01-02 22:10] agad commented on #790
Thanks for the suggestions.  #250 describes exactly how we are handling subdomains - they hit the proxy which handles security, enforces throttling, etc. - and the proxy rewrites the URL to send to the correct upstream.  The proxy URL will contain info on the account which translates to the backend the request gets sent to.  So a domain request such as GET:www.mydomain.com/api/v1/books would get t

[2017-01-02 22:38] Anon-Penguin commented on #790
Yeah, if you have totally different routes based on each subdomain it's best to use a proxy. If you're not hitting your latency requirements due to having a proxy, it'd be super simple to mod echo (either through middleware or a fork) to trick echo into thinking that the URL is different than it is.

I wish I could've been of more help to you, but a.) it sounds like you have figured out most of th

[2017-01-03 15:30] awishformore opened #797 "Unexposed graceful server causes integration issues"
First, let me applaud you for great work on version 3 of echo. I like the API changes and the overall feel to it a lot better.

The issue I'm posting about is a new one, however; I was actually just about to build my own wrapper around v2 for graceful shutdowns when I saw you added the graceful library. Unfortunately, you don't expose any of the graceful parameters. In particular, the fact that th

[2017-01-03 15:35] awishformore opened #798 "Uncentralized output makes integration complicated"
One thing I never understood and was hoping to see fixed in version 3 was the usage of different output streams. I don't quite understand the rationale, maybe someone can elaborate? Why do we have three different output sources, `stdLogger`, `Color` and `HTTPErrorLogger`?

In our use case, we really fit echo into microservices for those that expose a REST API, but the rest of the microservices use

[2017-01-03 18:19] vishr commented on #798
We can expose `SetOutput` to control output for `logger` and `color`.  `HTTPErrorHandler` anyways use logger and sends output as HTTP response.

Let me know your thoughts.

/cc @Anon-Penguin

[2017-01-03 18:34] vishr commented on #797
Thanks for reporting.

Related issue https://github.com/labstack/echo/issues/752

Ideas are welcome.

/cc @Anon-Penguin

[2017-01-04 03:34] ansel1 commented on #762
I'm good with adding the XXXPretty methods, which *always* pretty print, but could we go back to when the Debug flag would cause JSON() to pretty print too?  It's a different use case: it's nice in development to have all responses pretty printed.

[2017-01-04 03:53] vishr commented on #762
Sure, we can do it.

[2017-01-04 04:12] Anon-Penguin commented on #797
umMMMmm letmethink.

The core issue here is we are building for two different versions of Go, so without some weird tricks (build tags, global variables, etc.), it's hard to build for both versions.

I don't particularly think that Go's version of Graceful would be much better than the original Graceful (disclaimer: I haven't yet seen the proposed API for Go's version), and maintaining two librari

[2017-01-04 04:17] Anon-Penguin commented on #752
This issue may depend somewhat on #797.

Regardless, here's a proposal:

1. Add a start function that does NOT use Graceful
2. Panic for calls to the shutdown methods (if needed: it might already panic if the pointer is nil—I need to reread the code there)
3. For anyone who wants extra code, they can use the Graceful-free start and wrap it in a Graceful object *outside* of Echo to do all of the ha

[2017-01-04 04:36] Anon-Penguin commented on #798
I think the biggest thing is that both color and logger can send output to the terminal. If color didn't have the ability to directly output (you only could do `logger.Fatal(color.Red("not enough caffeine"))`), I feel like it'd be a lot less confusing (leaving the color object there to easily disable).

Scanning through the code, the color package is only used once to actually send the output to t

[2017-01-04 04:49] ansel1 commented on #797
Two things:

1) It's fairly straightforward to build alternate implementation with build tags referencing go versions.  Implement one in a *.go file with:

    // +build go1.8

and the other in a *.go file with:

    // +build !go1.8

This would be a good approach for switching the internal graceful shutdown implementation between graceful and native.

2) if callers need more control, they can mak

[2017-01-04 05:49] Anon-Penguin commented on #752
I'm going to close this because this has evolved into the same topic as #797. Please continue conversation there (cc @apaganobeleno)

[2017-01-04 05:49] #752 closed

[2017-01-04 05:53] Anon-Penguin commented on #797
1. > It's fairly straightforward to build alternate implementation with build tags referencing go versions. Implement one in a *.go file with:

Thanks! I *thought* I've seen that around before, but I was looking for documentation and apparently wasn't able to Google properly (ironically about a language made by Google).

2. I swear starting the server with Echo directly did some extra magic beside

[2017-01-04 07:44] tommoholmes10 opened #800 "get query and form logger Middleware"
Hai I want to print query and form in when I use logger middleware?

[2017-01-04 14:49] ansel1 commented on #797
I'd lean toward not exposing the graceful package.  Keep it hidden.

* If echo exposes graceful, graceful becomes part of echo's API surface, and echo's backward compatibility becomes dependent on a 3rd party lib
* I'd expect echo to switch over to the native graceful support when widely available
* If power users want to use uncommon or advanced graceful features, it's probably easier for them to

[2017-01-04 19:38] vishr commented on #797
I agree to @ansel1. This can be easily achieved using Echo has `http.Server` handler. I will update the docs to mention about it.

[2017-01-04 20:01] vishr commented on #762
Done.

[2017-01-04 20:46] awishformore commented on #797
An example in the documents would indeed be nice, but it's good to hear there is a way around it. I will look at it again for our use case tomorrow.

I do not completely agree with the conclusion, though. As it is now, there is too much implied behaviour in my opinion. I personally consider catching signals inside a library by default highly questionable.

[2017-01-04 21:29] vishr commented on #800
Tags are available for query, form and header. You will need to change the `Format` property of logger. Simple example below:

[code]

[code]

[2017-01-04 21:29] #800 closed

[2017-01-05 02:28] tommoholmes10 commented on #800
hmmm you code seems like get name value
how about all form data?
or get all data?

[2017-01-05 04:09] vishr commented on #800
Not possible. You will have to write your own middleware.

[2017-01-05 06:50] tommoholmes10 commented on #800
okeee then
thanks

[2017-01-05 09:13] matteosuppo opened #802 "Failure to provide a csrf token in a form results in error 500"
I secure the app with the csrf middleware:

[code]

and then I make a post request without providing the csrf token.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
I would expect a 400 or 401 error, since it's the client fault that the request failed.

### Actual behaviour
I get a 500 error, which is misleading.

### Work

[2017-01-05 20:35] #802 closed

[2017-01-06 03:57] jackluo2012 opened #804 "Logger does not implement Logger"
### Description
### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Working code to debug
# echo-api/vendor/github.com/labstack/echo
vendor/github.com/labstack/echo/echo.go:243: cannot use "echo-api/vendor/github.com/labstack/gommon/log".New("echo") (type *"echo-api/vendor/github.com/labstack/gommon/log".Logger) as type Logger in field value:
	*"echo-api/vendor/github.com/lab

[2017-01-06 04:02] vishr commented on #804
Upgrade your `github.com/labstack/gommon`

[2017-01-06 07:05] #785 closed

[2017-01-06 16:15] freshteapot opened #805 "How to run code "Post server running""
Hello,

I want to make the webserver do a handshake with another webserver.

I am wondering how to trigger such a thing, as I have yet to find a hook in echo or anything in http.Server that could help us.

I wondered about ConnState, but I don't think this is what I am after either.

[2017-01-07 15:23] freshteapot commented on #805
I made a work around, hopefully there is a cleaner way.

- I created a function to handle "after".
- Triggered it via a go routine.
[code]

[2017-01-07 18:17] Puffton opened #806 "Echo compression and WOFF2 font causing ERR_CONTENT_LENGTH_MISMATCH"
### Description

Serving static content (Font Awesome 4.7.0), but having issues transferring the font file to the client browsers using Echo's Gzip compression.

### Checklist

- [ x ] Dependencies installed
- [ x ] No typos
- [ x ] Searched existing issues and docs

### Expected behaviour

File transfers successfully, just like it does when Gzip compression is disabled in Echo.

### Actual behavi

[2017-01-07 19:43] vishr commented on #806
Sample code to debug?

[2017-01-08 00:30] Puffton commented on #806
All files necessary are included in the zip-file:
[test.zip](https://github.com/labstack/echo/files/691810/test.zip)

[code]

[2017-01-09 07:51] wednesdaysunny opened #807 "why now get request binder tag is query?"
Hello, I want ask why now add tag 'query'.

b.bindData(i, c.QueryParams(), "query")
-		inputFieldName := typeField.Tag.Get("form")
 +		inputFieldName := typeField.Tag.Get(tag)

this case many problem, many params now cannot bind,  I think it is not necessary modify.

I think you can add some code in if.
inputFieldName = typeField.Tag.Get("form")

Now it can compatible .

[2017-01-09 19:11] vishr commented on #807
Using `form` tag to bind query parameters is not right so we have introduced a new `query` tag.

[2017-01-09 19:11] #807 closed

[2017-01-10 02:17] wednesdaysunny commented on #807
But I think it should compatible forward, I cause many problem

[2017-01-10 02:55] vishr commented on #807
Will take care of it next time.

[2017-01-10 02:58] vishr commented on #804
Feel free to re-open incase it doesn't fix.

[2017-01-10 02:58] #804 closed

[2017-01-10 08:52] shamaton opened #811 "fix imports for twitter example"
This issue made for PR(#810)
This content is same.

---

This commit has errors in twitter sample.
https://github.com/labstack/echo/commit/63262b2311720cabd9f55432183634fad8860ccf

So this PR fixed theirs.

errors
[code]

[2017-01-10 10:24] djui opened #813 "Server has output not produced by logger"
### Description

The introduction of the `Color` package makes the server print output that was not produced by the logger. No output aside from the logger should be produce. See https://github.com/labstack/echo/blob/master/echo.go#L578

This is slightly related to the latest discussion in https://github.com/labstack/echo/issues/798 but I can't identify the focus nor see a proposed solution.

###

[2017-01-10 10:50] djui opened #814 "How to use http.MaxBytesReader?"
### Description

I would like to use the `http.MaxBytesReader` reader. I wrote my own `Binder` but don't understand how to get the underlying ResponseWriter from/for the context.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour

`http.MaxBytesReader` should be able to be used by a custom Binder.

### Actual behaviour

It se

[2017-01-10 11:00] djui commented on #814
It seems the following might work:

[code]

Is that a valid/correct use?

[2017-01-10 16:45] #811 closed

[2017-01-10 16:58] huyhvq opened #815 "Can't register a custom validator using Echo#Validator"
### Description
I used example code with validate and it's return me some errors.
### Checklist

- [X] Dependencies installed
- [X] No typos
- [X] Searched existing issues and docs

### Expected behaviour
Should validate data with 3rd party suck as [https://github.com/go-playground/validator](https://github.com/go-playground/validator)
### Actual behaviour
[code]
### Steps to reproduce
run the cod

[2017-01-10 17:41] vishr commented on #815
What version of Echo are you using? Try master.

[2017-01-11 05:06] scbizu opened #816 "graceful beforeshutdown"
### Description
Hi,labstack~ I want to do some db and connection operations when some Interrupt sig was caught .Then  I  find that echo was combined with `graceful` .However, I do not  find any graceful `beforeshutdown` implements in `echo.go` . I wonder if  is there any  way to solve the before shutdown problem(i.e.  ^C sig) except using `os.Signal` and `os.Notify`(because graceful has its own im

[2017-01-11 10:19] Puffton opened #817 "Setting "Debug = true" no longer passes errors to client"
### Description

All errors from the server to the client are now "Internal server error" with "server.Debug = true", it used to be detailed error messages, which were very useful in debugging.

### Checklist

- [ x ] Dependencies installed
- [ x ] No typos
- [ x ] Searched existing issues and docs

### Expected behaviour

Detailed error messages.

### Actual behaviour

Only the error type is show

[2017-01-11 15:30] huyhvq commented on #815
hi @vishr,
I see in my glide.lock version is: cd2530ea098106338b888f4fb66e966efa2fd75e

[2017-01-11 15:38] djui opened #818 "Request body not closed when using Binder"
### Description

I can't see in the default binder where the request body reader is closed.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour

Request body reader should be closed after consuming e.g. JSON.

### Actual behaviour

Request body reader is not closed.

### Steps to reproduce

Use the binder.

### Working code to

[2017-01-11 16:14] vishr commented on #815
can you try with latest?

[2017-01-11 16:36] vishr commented on #813
I have suggested a solution  #798. It that works for your, please close this issue.

[2017-01-11 16:47] vishr commented on #797
Similar issues are being raised more often, what's your opinion about separating out graceful from Echo? We can update the graceful shutdown examples as they were earlier.

/cc @ansel1 @Anon-Penguin

[2017-01-11 16:50] vishr commented on #816
Are you talking about Echo v3? This is tracked in #797.

[2017-01-11 16:50] #816 closed

[2017-01-11 17:22] djui commented on #813
I will close this issue and pick up the discussion over at #798.

[2017-01-11 17:22] #813 closed

[2017-01-11 17:26] djui commented on #798
I agree with @Anon-Penguin that the sparse use of Color (for this one line) seems like we have two options:

A. Replace the message with a log message (and if desired let the default Echo logger allow colours etc. to be logged)
B. Move that message up to the caller, which would be a `cmd/myapp/main.go` place.

I think giving access to the `Output` is feels counter-intuitive as if that change is de

[2017-01-11 19:21] ansel1 commented on #797
If there's generally pushback, I'd remove the integrated graceful.  It's so trivial for the developer to add it themselves, especially now that echo v3 is just an http.Handler again.

[2017-01-11 23:18] #798 closed

[2017-01-12 02:57] scbizu commented on #797
If now echo v3 is just an http.Handle again ,I think I can implement the graceful server by myself . And I agree with keeping echo simple and scalable.In this way,developers can easily  use other third packages like graceful server.

[2017-01-12 03:39] steveoc64 commented on #806
Same issue, I have an app that uses gzip in echo, and it also happens to serve up fontawesome.css from  local assets.  Runs fine, no probs.  Deployment is on FreeBSD 11, go 1.7.1, with nginx (minus gzip) sitting on top.

Just today, fired up a new FreeBSD server and installed + built the app on that. Went through "go get -u" on all tools, so that would have pulled in the latest echo as of today.

[2017-01-12 03:46] Puffton commented on #806
WOFF2 is using a certain type of compression algorithm which I don't think for example WOFF is using (it's also compressed, but with another algo)... not sure it has anything to do with it though.

[2017-01-12 03:47] steveoc64 commented on #806
My production server that is working fine, has this release of echo :

[code]

Looks like Vishal has been super busy since then.

[2017-01-12 04:12] steveoc64 commented on #806
All the images that are not working for me are .PNG of different sizes. Nothing always huge - 60k here, 3k there.

I have other larger jpegs in the same stream that work fine.

[2017-01-12 07:19] huyhvq commented on #815
I try to use 0696d555863f15fdea1a80bd7e06ac662a131a96 and it work. Thank you.

[2017-01-12 07:19] #815 closed

[2017-01-12 10:19] #818 closed

[2017-01-12 10:19] djui commented on #814
I just discovered there exists a middleware that has the same semantics, so I could start using that instead.

[2017-01-12 10:19] #814 closed

[2017-01-12 15:05] moorara opened #821 "Change to middleware.LoggerConfig broke my service"
### Description
I noticed that recently a change has been made to `middleware.LoggerConfig`. So, we cannot specify the `Format`, and instead, we can only specify the `Fields`. This is breaking my service and my logging stack due to the fact that I need to rename some of the fields. For example, I need to rename `time` to `timestamp` because my other services are logging `timestamp`.

### Checklist

[2017-01-12 15:53] vishr commented on #821
@moorara Thanks for your feedback, I will look into it.

PS: Remember master is a development branch and your feedback help use to improve.

[2017-01-12 17:09] #821 closed

[2017-01-14 02:40] #797 closed

[2017-01-14 16:24] #671 closed

[2017-01-15 20:06] awishformore commented on #797
Thanks a lot for being so responsive and open to feedback. Indeed, the fact that it's a http.Handler again should make it straight forward and is an elegant solution.

[2017-01-16 13:23] Habu-Kagumba opened #824 "[URGENT] Echo GAE problems"
### Description

Echo dependency, `github.com/valyala/fasttemplate` throws an error on `goapp serve`.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour

Successfully build my application.

### Actual behaviour

Throws this error:

[code]

### Steps to reproduce

Try serving application using `echo` on Google App Engine.

###

[2017-01-16 13:25] andela-hkoske commented on #824
Having the same issue.

[2017-01-16 16:17] vishr commented on #824
For now, you can use this version of the library https://github.com/valyala/fasttemplate/tree/3b874956e03f1636d171bda64b130f9135f42cff.

[2017-01-16 16:46] etnbrd commented on #824
Issue opened : https://github.com/valyala/fasttemplate/issues/3

As far as I understand, @valyala refactored its code to use `unsafe` for performance reason.

[2017-01-16 16:47] vishr commented on #824
I raised a PR https://github.com/valyala/fasttemplate/pull/4/files please verify if that works. I don't have a GAE env.

[2017-01-16 16:52] etnbrd commented on #824
At least, it builds :)

[2017-01-16 17:12] etnbrd commented on #824
I think you just forgot the return on `unsafeString2Bytes`.

[2017-01-16 17:15] vishr commented on #824
ok, I just fixed that.

[2017-01-17 16:37] mdouchement commented on #780
I had the same problem and to makes it work I used something like that:

[code]

I didn't find a native support of this kind of matching.

[2017-01-17 17:23] bobsquito commented on #525
@Anon-Penguin really sorry to contact you this way but I saw a question you asked on stackoverflow about getting pdf.js working to extract text in google apps script. Did you ever get it working? The further I have gone with it I just keep hitting blockers and I'm wondering if I'll ever get to the end of it and get something working or if it will just keep being a drain on my time. Again, I'm real

[2017-01-17 17:41] Anon-Penguin commented on #525
@bobsquito sorry, nope. I'd suggest an alternate route if you can find one, including a MS Word extension (I believe those are more powerful)

Good luck!

[2017-01-18 07:34] andela-hkoske commented on #824
Thanks for the temporary fix @vishr. [This version of fasttemplate](https://github.com/valyala/fasttemplate/tree/3b874956e03f1636d171bda64b130f9135f42cff) works like a charm.

[2017-01-18 18:49] vishr commented on #276
You have a couple of options with latest version:

- Set a custom listener `Echo#Listener`, so you know the address
- Start server in a go routine and get the add from `Echo#Listener`

LMK if you have any questions.

[2017-01-18 18:49] #276 closed

[2017-01-21 18:18] #710 closed

[2017-01-21 18:40] #817 closed

[2017-01-22 06:45] blackbeans opened #826 "echo can't bind ipv6 address"
when i use ipv6 to run my code
error message output:

[code]
and then  i read echo source code find server listen created by default way:

[code]

tcp may be only  bind address  by tcp4

[2017-01-22 19:23] vishr commented on #826
so what's the solution?

[2017-01-24 03:54] blackbeans commented on #826
i will provide a function allow user create echo by passing resolveAddress.
it's ok ?

[2017-01-24 04:58] vishr commented on #826
Send over the code, we will get it reviewed.

[2017-01-24 07:59] devarsh opened #827 "Add Port parameter to Redirect middleware"
### Description
By default https runs on `:443`, but for any reason, if https is not running on port `:443`, this https redirection will fail.
### Expected behavior
It should redirect to configured https port within the HTTPSRedirect middleware
### Actual behavior
It is trying to send `UPGRADE` request to the server running `http`, which will fail

[2017-01-24 21:36] vishr commented on #827
`HTTPSRedirect` is a very generic middleware and it won't be nice to extend it include this specific case. You can easily create a custom middleware and include port in the url.

[2017-01-25 07:05] devarsh commented on #827
Yes, I agree a custom middleware can solve the issue

[2017-01-25 16:17] #827 closed

[2017-01-25 21:05] djui opened #829 "golang/dep fails to build manifest"
### Description

Trying out the new pre-alpha on an Echo v2 projects fails to construct manifest dependency due to d constraints violations.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour

The manifest file should be created.

### Actual behaviour

### Steps to reproduce

[code]

### Working code to debug

### Version/com

[2017-01-26 08:49] absinsekt opened #830 "Is it possible to e.Start on unix socket?"

[2017-01-26 16:18] vishr commented on #830
[code]

[2017-01-26 17:03] #830 closed

[2017-01-27 07:22] absinsekt commented on #830
Thank you, it would be useful to be mentioned in the Cookbook as I feel.

[2017-01-27 07:23] vishr commented on #830
Updated in docs https://echo.labstack.com/guide/faq

[2017-01-27 07:24] absinsekt commented on #830
sexy!

[2017-01-28 13:10] itang opened #831 "Invoke some callbacks before Write Header (for middleware)"
Invoke some callbacks before Write Header (for middleware)

* Scenes to be used

[code]

* Sample code

[code]

Please confirm echo to achieve similar functionality,  what is the best practice?

[2017-01-31 20:17] rskumar commented on #794
I am too stuck with this issue for same reason, conditional response. Tested on Ubuntu.

[2017-01-31 21:55] #794 closed

[2017-02-01 10:09] vfonsecapv opened #832 "Clustering"
Hi guys, there's any ideas on how to use cluster and load balancer just with ECHO.

[2017-02-01 10:42] SmartHoneybee opened #833 "Redirects"
### Description
1. `website/content/middleware/trailing-slash.md` contains a typo `308` should be `301`.
(`301` means "Moved Permanently", while `308` means "Permanent Redirect".)
2. `308 Permanent Redirect` (`http.StatusPermanentRedirect`) is not supported.

### Checklist

- [x] Dependencies installed
- [x] No typos (where?)
- [x] Searched existing issues and docs

### Expected behaviour
1. Docum

[2017-02-01 15:51] vishr commented on #832
Do you mean how to use Echo as load balancer?

[2017-02-01 20:13] rskumar commented on #794
Awesome. This is fixed now.

[2017-02-01 20:17] rskumar commented on #832
Echo should not focus on load balancing, rather be a slick performant framework. For load-balancing, there are good, mature products, like HAProxy, Nginx, F5 (commericial) and lots of other golang apps. Or you can write your own proxy performing RoundRobin or weighted routing to backend servers just using net/http client.

[2017-02-01 20:21] rskumar commented on #826
https://github.com/golang/go/issues/5197

[2017-02-01 20:36] vishr commented on #832
Or if you want to give [Armor](https://armor.labstack.com) a shot

[2017-02-01 20:37] Anon-Penguin commented on #794
👍🏻

[2017-02-02 14:17] ericmdantas opened #838 "[v3 question] - Serving static content"
I have asked this on the gitter chat, but there was no response, so I thought I'd open an issue for it.

Here's the text I posted there:

Any way to serve static from two different folders? In v2 we could do:

[code]

and in the `index.html` you could have:

[code]

With v3 I'm trying something like:

[code]

But it only serves stuff from the `client/dev` - because it's the last one being declared

[2017-02-03 19:14] manfredmann opened #839 "Static files. Spaces in path."
When static path contains spaces, server returns 404 error.

Code:
[code]

"storage" directory structure for example:
[code]

[code]

[2017-02-04 02:34] 15515731931 opened #840 "autocert has been unable to download!!!"
![qq 20170204103344](https://cloud.githubusercontent.com/assets/12362162/22614952/845ef1ce-eac5-11e6-8ed6-45fc133fbdf2.jpg)

[2017-02-07 02:55] shawnye commented on #737
same error for StartAutoTLS():
<pre>
echo: http: TLS handshake error from 221.4.179.11:53750: tls: client offered an unsupported, maximum protocol version of 300
</pre>

[2017-02-07 18:35] PascalLeMerrer commented on #840
The [documentation of the autocert package](https://godoc.org/golang.org/x/crypto/acme/autocert) says:

A workaround is to replace your acme/crypto package with the one at https://github.com/golang/crypto

[2017-02-08 04:51] 15515731931 commented on #840
Thank you.

[2017-02-08 07:37] asg-mojtaba opened #841 "Add ability to handle error returned by HandlerFunc"
Any HandlerFunc can return error but this error handle as panic. Please add ability to catch this errors and react as custom response.

for example if error returned by my HandlerFunc i want return a JSON with custom fields.

[2017-02-08 07:52] tonymtz opened #842 "JWT middleware is not working"
### Description
JWT middleware is not working as expected

### Expected behaviour
Response should match with the provided in example

### Actual behaviour
echo: http: panic serving [::1]:57379: interface conversion: interface {} is *jwt.Token, not *jwt.Token
goroutine 5 [running]:
net/http.(*conn).serve.func1(0xc420076500)
	/usr/local/Cellar/go/1.7.1/libexec/src/net/http/server.go:1491 +0x12a
pani

[2017-02-08 09:59] mitty1987 opened #843 "how to use StartAutoTLS?"
e := echo.New()
	// e.AutoTLSManager.HostPolicy = autocert.HostWhitelist("<DOMAIN>")
	// Cache certificates
	e.AutoTLSManager.Cache = autocert.DirCache(".cache")
	e.Use(middleware.Recover())
	e.Use(middleware.Logger())
	e.GET("/", func(c echo.Context) error {
		return c.HTML(http.StatusOK, `
			<h1>Welcome to Echo!</h1>
			<h3>TLS certificates automatically installed from Let's Encrypt :)</h3>
		`

[2017-02-08 16:00] vishr commented on #843
Look into this docs https://echo.labstack.com/cookbook/auto-tls and make sure your domain maps to your public IP.

[2017-02-08 16:00] #840 closed

[2017-02-08 16:02] vishr commented on #841
Have you looked into this doc https://echo.labstack.com/guide/error-handling?

[2017-02-08 16:49] tonymtz commented on #842
Reinstall the package fixed this. Not sure why

[2017-02-08 16:49] #842 closed

[2017-02-09 12:01] ericmdantas commented on #838
So, I was just taking a look at https://github.com/labstack/armor/blob/master/plugin/static.go and, if I remember correctly, this is pretty much what echo's v2  used to do.

[2017-02-09 22:14] snowzach opened #844 "Logging cannot be turned off"
I want to redirect all logging via logrus...

Even if I do this:

func main() {
        e := echo.New()
        e.Logger.SetOutput(ioutil.Discard)
        e.Start("0.0.0.0:8081")
}

It will still print
 ⇛ http server started on 0.0.0.0:8081

Can I turn off all logging (and then use a handler to redirect to middleware?)

[2017-02-10 01:56] snowzach commented on #844
It looks like this may be somewhat fixed in master. 3.0.3 seems to have code that forces writing to Color which seems to be default to stdout.

[2017-02-11 02:49] citizenrich opened #846 "http2"
Is there any further documentation on how to setup HTTP2? The docs mention engine.Config, but this method is not in the example code, and not referenced in the docs. Just a bit confused.

[2017-02-11 18:08] vishr commented on #846
Are you looking into the right docs https://echo.labstack.com/cookbook/http2?

[2017-02-11 18:17] citizenrich commented on #846
Yes, that's what I found. Is there any more info than that?

On Feb 11, 2017, at 13:08, Vishal Rana <notifications@github.com> wrote:

Are you looking into the right docs https://echo.labstack.com/cookbook/http2?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-02-11 19:28] siredwin opened #847 "HTTPS Redirect not working"
i am using

e := echo.New()
e.Pre(middleware.HTTPSRedirect())

and i keep getting

/usr/local/go/src/net/http/server.go:1862 +0x19e
net/http.(*conn).serve(0xc82052ba20)
	/usr/local/go/src/net/http/server.go:1361 +0xbee
created by net/http.(*Server).Serve
	/usr/local/go/src/net/http/server.go:1910 +0x3f6
echo: http: panic serving 127.9.171.1:33860: runtime error: slice bounds out of range
goroutine

[2017-02-11 23:28] anisimovsergey commented on #824
I've got similar problem but with `go-colorable`:
[code]

[2017-02-12 02:59] vishr commented on #847
Please provider a working code with relevant client request.

[2017-02-12 03:14] vishr commented on #846
There is a type about engine.Config but rest all works good, I just ran it. Where are you stuck?

[2017-02-12 18:17] vishr commented on #846
What are your results with Chrome?

[2017-02-12 18:27] citizenrich commented on #846
Works fine in Chrome! Thanks. Clearly, I need to get my head around Echo and Go. Thanks!

Request Information

Protocol: HTTP/2.0
Host: localhost:1323
Remote Address: [::1]:61521
Method: GET
Path: /request

[2017-02-12 18:28] #846 closed

[2017-02-12 18:37] citizenrich commented on #846
FWIW, it was my error with curl. I updated curl and then it used HTTP/2. curl will support HTTP/2 by default but this assumes it is compiled with the correct support. On macOS:
brew reinstall curl --with-openssl --with-nghttp2

[2017-02-13 07:55] Code-Hex opened #848 "Suggest csrf-token for jwt"
### Description
I thought that the best way to use jwt was to save jwt as an HttpOnly cookie on the client side. However, csrf attack is considered as a security problem at that time.  As a workaround, AngularJS seems to have created the following claim and key as `"xsrfToken"`.
[code]
This source is [here](https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage).

So I th

[2017-02-14 08:07] qianguozheng opened #852 "How to use multi-template in Echo ？"
### Description
How to use multi-template in Echo ?
### Checklist

- [ * ] Dependencies installed
- [ * ] No typos
- [ * ] Searched existing issues and docs

### Expected behaviour
Multi-template usage introduction.
### Actual behaviour
None
### Steps to reproduce
None
### Working code to debug

[code]

### Version/commit

[2017-02-14 08:24] qianguozheng commented on #466
@panjunjie  I encounter this problem too.
But what I am confused, is how to call the desired template ?

if write like below, server will return 500 Internal error.
[code]

[2017-02-14 18:44] Siredwin commented on #847
`func main() {
	session.Global.Close()
	session.Global = session.NewCookieManagerOptions(session.NewInMemStore(), &session.CookieMngrOptions{AllowHTTP: true})

	renderer := Renderer{
		Debug: false,
	}
	e := echo.New()
	//e.Pre(middleware.NonWWWRedirect())

	// Middleware
	e.Use(middleware.Logger())
	e.Use(middleware.Recover())

	e.Renderer = renderer
	e.Static("/static", "static")
	e.Static("/ass

[2017-02-14 22:11] #806 closed

[2017-02-14 22:13] vishr commented on #806
@Puffton please verify.

[2017-02-14 22:17] Puffton commented on #806
Looks like it worked, thanks!

[2017-02-15 10:28] justmd5 opened #853 "ERR_CONTENT_LENGTH_MISMATCH"
[code]
the browser will report ERR_CONTENT_LENGTH_MISMATCH

[2017-02-15 11:12] #853 closed

[2017-02-15 14:18] Code-Hex commented on #848
Closing because it was my misunderstanding.

[2017-02-15 14:18] #848 closed

[2017-02-15 20:44] aboukirev commented on #847
It means that host part of the URI is shorter than 3 characters.  It also means `echo` needs to check host name length before trying to take a 3-character long slice of it.
But also, you don't want to introduce redirects for ACME webroot challenge. Since non-www redirect is pre-middleware, you'll want to move ACME challenge processing code from GET() handler to pre-middleware invoked before the no

[2017-02-17 02:46] Siredwin commented on #847
I think for safety purposes redirect.go should use
    ` req.Host + req.URL.Path `
instead of
    `host := req.Host
     uri := req.RequestURI`

[2017-02-17 19:10] vishr commented on #838
@ericmdantas I have added static middleware in master, can you check if it covers all your cases?

[2017-02-18 23:04] alenbhclynpblc opened #855 "Security Topic // Proxy Headers Trust Issue // Unconditional Trust Of X-Fowarded Headers"
### Description

Application has an X-Forwarded-For (and various names) detection but there is no any 'trusted proxy' setting. This will be a security issue, when an attacker sends non-owned ip addresses.

This can be checked with an middleware but developers (who don't know this types of attack vectors) will use this function without any doubt, framework can force to use an method (e.g. 'resolveP

[2017-02-19 10:33] runner-mei opened #856 "Can add NoRoute(h HandlerFunc, m ...MiddlewareFunc) to Group and Echo?"
### Description
Can add NoRoute(h HandlerFunc, m ...MiddlewareFunc) to Group and Echo?
There are NoRoute() in https://github.com/gin-gonic/gin.

NoRoute() usage:

[code]

[2017-02-19 16:58] ericmdantas commented on #838
Sure, I'll take a look tomorrow morning.

Thank you for all the hard work, @vishr.

[2017-02-19 21:13] vishr commented on #844
Please wait for the next release or use the master.

[2017-02-19 21:13] #844 closed

[2017-02-19 21:17] vishr commented on #856
What is the function of `NoRoute`? If you are looking for handling route not found requests look at https://echo.labstack.com/guide/error-handling. `Echo#DefaultErrorHandler` captures all the errors and it can also be customized.

[2017-02-19 21:32] #832 closed

[2017-02-20 04:47] runner-mei commented on #856
NoRoute() have more advantage than ErrorHandler!
1. NoRoute() can add middleware handler, ErrorHandler can't.
2. NoRoute() more user-friendly。

[2017-02-20 08:52] #780 closed

[2017-02-20 09:21] Arch-Mage commented on #228
Is this fixed? I got same problem with echo 3.0.3

[2017-02-20 10:35] ericmdantas commented on #838
Seems to be working perfectly. Thanks once again!

[2017-02-20 15:39] imroc opened #857 "Echo#Group Bug"
### Description
this is not work:
[code]
but this works:
[code]
it`s the newes commit,this is wired,why?

[2017-02-21 22:57] krypton97 opened #859 "Post method not working with graphql"
### Description
I'm trying to make an graphql api and unde the handler with echo but I get "Method not allowed"..here's is my code

package main

import (
	"encoding/json"
	"io/ioutil"
	"net/http"

	"fmt"

	"github.com/labstack/echo"
	"github.com/playlyfe/go-graphql"
)

func main() {

	schema := `
    interface Pet {
        name: String
    }
    type Dog implements Pet {
        name: String

[2017-02-21 23:23] vishr commented on #857
Below below works for me:

[code]

Please check your middleware.

[2017-02-21 23:24] vishr commented on #838
@ericmdantas Awesome!

[2017-02-22 11:19] ericmdantas commented on #838
Hmm, actually, it's not working right now.

Given the server:

[code]

After running `go run main.go`, and navigating to `http://localhost:3000/api`, you'll get a page with the error:

[code]

Even if you try to access the `/api`, you'll also the the error above.

Here's the updated repo: https://github.com/ericmdantas/echo-static

Let me know if you'd like me to open another issue to cover this.

[2017-02-22 15:36] MaxVoronov opened #860 "http > https redirect"
### Description
I have a problem with redirect from http to https. In logs I see error:
[code]
Used middleware: ``HTTPSRedirect``.
I'm not sure that is bug. But I don't know how to fix it. Can you advice?

### Checklist
- [+] Dependencies installed
- [+] No typos
- [+] Searched existing issues and docs

### Expected behaviour
No redirect, incorrect response in browser and error in logs.

### Actua

[2017-02-22 21:04] #838 closed

[2017-02-22 21:04] vishr commented on #838
@ericmdantas Can you verify this?

[2017-02-22 21:05] vishr commented on #228
@Arch-Mage Can you check if this works in master?

[2017-02-23 09:58] ericmdantas commented on #838
Thanks for the quick fix, @vishr.

Now the `/api` works, but the static serving doesn't. I've run both `go get -u` and deleted the `echo` folder and installed it again - no luck.

[2017-02-23 16:26] vishr commented on #838
@ericmdantas You html code makes requests to the following files:

GET http://localhost:3000/client/index.css
GET http://localhost:3000/client/index2.css

Which doesn't exists, so if you include them with `/` - it works.

[2017-02-23 18:19] ericmdantas commented on #838
The problem I'm seeing is that the `index.html` is not being served.

The following works:
- `http://localhost:3000/api` - shows 1
- `http://localhost:3000/index2.css` - the css that lives in the `root`
- `http://localhost:3000/client/dev/index.css` - the css that lives in the `client/dev`

The following doesn't work:
- Opening the app doesn't show the `index.html` and its dependencies.

[2017-02-23 18:20] ericmdantas commented on #838
To get it to work I had to add the following snippet (which is before the `middleware.Static` calls):

[code]

Just pointing it out, I'm ok if that's the new way to get it to work.

[2017-02-23 18:45] vishr commented on #838
@ericmdantas Can you check with the very latest commit. For it works.

[2017-02-23 18:52] ericmdantas commented on #838
@vishr, nope - doesn't work.

I ran `go get -u`, removed the `labstack` folder and ran `go get`, and it still won't serve the `index.html`.

This works:

[code]

This doesn't:

[code]

[2017-02-23 19:03] vishr commented on #838
looking into it.

[2017-02-23 19:07] ericmdantas commented on #838
Not sure if it helps, but I'm on Windows, by the way.

[2017-02-23 19:30] vishr commented on #838
I have that problem too - env issues.

[2017-02-23 20:28] vishr commented on #838
@ericmdantas It should be fixed now, please verify.

[2017-02-24 10:05] ericmdantas commented on #838
Working as expected, thanks, @vishr!

[2017-02-25 01:53] siredwin commented on #860
I have the same issue too. Unfortunately i can't do much to change my situation.
Try updating the version of OpenSSL & curl you are using.
Refer to: https://groups.google.com/forum/#!topic/vault-tool/P7iGkH0DfnI and https://groups.google.com/forum/#!topic/vault-tool/gczD8kvDRIc

[2017-02-25 03:54] mewben commented on #852
Please be specific.

[2017-02-25 18:11] justinruggles opened #862 "Need tagged version for Context.JSONPretty()"
### Description

Can you please tag a new point release that includes the addition of `Context.JSONPretty()` to the API? When using vendor tools such as Glide, it is useful to specify release versions rather than `master`. `JSONPretty()` was a nice addition, and I would like to be able to use it without having to always use `master`.

[2017-02-26 08:28] koba-ninkigumi commented on #824
@vishr This PR is merged.
https://github.com/valyala/fasttemplate/pull/4/files

I use Google Cloud SDK 145.0.0 (2017-02-22).
No problem.

Please close this issue.

[2017-02-26 18:48] #824 closed

[2017-02-27 10:58] Charrette opened #863 "How to handle proxying to multiple services"
### Description

I have 3 services:
- a users service available at: `localhost:8081`
- an events service available at: `localhost:8082`
- a gateway available at: `localhost:8080`

When requesting `localhost:8080/users` I want to forward it to the users service, and when requesting `localhost:8080/events` I want to forward it to the events service.
See my stackoverflow post: http://stackoverflow.co

[2017-02-27 11:06] qianguozheng opened #864 "How to make Echo support media type `text/xml` ?"
### Description
When I using echo to build my own web server, I find that when the client request with none standard http `Content-Type`, echo will just return 415 media type unsupported,

For the packet captured as below, the `Content-Type` is `text/xml`.
[code]
### Checklist

- [ * ] Dependencies installed
- [ * ] No typos
- [ * ] Searched existing issues and docs

### Expected behaviour

We wan

[2017-02-27 15:32] justinruggles commented on #863
`httputil.ReverseProxy` implements `http.Handler`, so you could probably do something like:
[code]

[2017-02-27 16:57] Charrette commented on #863
exactly what I needed, thank you :)

Exact syntax is `e.Any("/users", echo.WrapHandler(proxy))`

[2017-02-27 16:57] #863 closed

[2017-02-27 18:10] nigeon commented on #494
I'm currently having this issue and no idea how to fix it.
Trying to:
[code]

But getting this error too: `appengine: NewContext passed an unknown http.Request`

I also tried using (with no luck) `new(http.Request)`

Can anyone help me?

[2017-02-27 19:18] vishr commented on #864
It seems like you are using `Contex#Bind` to decode an xml payload, if that is the case, we only check for `application/xml`. Not sure if we would like to include `text/xml`?

@Anon-Penguin @ansel1

http://stackoverflow.com/questions/4832357/whats-the-difference-between-text-xml-vs-application-xml-for-webservice-respons

[2017-02-27 20:08] fabiorphp commented on #815
I'm in the same situation. Why not create a release tag?

[2017-02-28 01:33] qianguozheng commented on #864
@vishr  could we make it support adding middleware to make it support any media type user want to use ?

[2017-02-28 06:51] adred commented on #864
I'm experiencing this too. The same code works with Gin. I'm switching to Echo and I can't move forward with this basic stuff broken.

[2017-02-28 11:32] adred commented on #141
I'm experiencing this too. The same code works with Gin. I'm switching to Echo and I can't move forward with this basic stuff broken. I can't show my code cos I'm at work right now but I'm pretty sure the payload I sent using Postman was JSON.

[2017-02-28 14:18] ansel1 commented on #864
Wouldn't using a custom binder accomplish this?  Perhaps by wrapping the DefaultBinder?

[2017-02-28 20:04] vishr commented on #864
As @ansel1 stated, for any custom content type you should use set a custom binder which wraps the default binder, however this is just an alias for `application/xml` so I have included it in default binder.

I will update document on how to use customer binder (if it's not there ;)

[2017-02-28 20:04] #864 closed

[2017-03-01 02:40] adred opened #866 "Use rsa pub and private keys for jwt"
I don't entirely understand how JWT works yet but I noticed that Echo middleware for JWT only uses one key(I assume for both generation and validation). However, `github.com/SermoDigital/jose` encourages us to use rsa private key for generating token and rsa pub key for validating token. Should I be concerned that Echo's implementation is different? I have Echo jwt integrated and working in my app

[2017-03-01 02:47] qianguozheng commented on #864
Thanks, I would like to learn how to use customer binder.

[2017-03-01 15:09] #866 closed

[2017-03-01 23:34] cocodrino commented on #18
Hi...this is available right now?..I'm trying to handle a form without luck...what annotation must I use?..thank you

[2017-03-03 03:54] yobyzal opened #867 "How to customize mime type?"
### Description
When serving `.f4v` files, the Content-Type returned in header is `Content-Type:application/octet-stream`. How to change this to `video/x-f4v`?
### Checklist

- [√] Dependencies installed
- [√] No typos
- [√] Searched existing issues and docs

### Expected behaviour
Serving `.f4v` files with `Content-Type:video/x-f4v`
### Actual behaviour
Get `Content-Type:application/octet-stream`

[2017-03-03 07:55] cthackers commented on #867
[code]

I usually need to do this for `.svg` since on linux it sends svg's as xmls not as `image/svg+xml`. And this is Go in general not echo.
Hope it helps.

[2017-03-03 10:08] huyhvq commented on #856
I think you can use: DefaultHTTPErrorHandler

[2017-03-03 10:22] ljyf5593 opened #869 "the router rule is wrong ?"
### code

[code]

### Expected behaviour
request http://localhost:8082/social/user  return 404
### Actual behaviour
request http://localhost:8082/social/user  return "any"
### Steps to reproduce
request any other url like http://localhost:8082/social/uXXXX  will be return 404
request any other url like http://localhost:8082/social/XXXX not "u" will be return "any"

### Version/commit
go env
set GO

[2017-03-03 12:51] yobyzal commented on #867
@cthackers That works. Think you!

[2017-03-03 12:51] #867 closed

[2017-03-03 22:44] vishr commented on #869
This is the behaviour with current implementation of the router. You probably need to add `/social/*` route to capture that request and all other requests e.g. `/users/joe` will go via `/*` route.
Please re-open if you have any questions.

[2017-03-03 22:44] #869 closed

[2017-03-04 10:52] virnos opened #870 "can't get"
github.com/labstack/echo/engine/fasthttp

github.com/labstack/echo/engine/standard

github.com/echo-contrib/echopprof

please help me

[2017-03-04 17:29] justinruggles commented on #870
`engine` was removed with v3. you need to use the `v2` branch or one of the `v2.x.x` tags.

[2017-03-04 19:47] #870 closed

[2017-03-04 20:58] vishr commented on #862
Please use https://github.com/labstack/echo/releases/tag/v3.1.0-rc.1

[2017-03-04 20:58] #862 closed

[2017-03-05 07:18] adred opened #871 "Logger always writes to os.Stderr"
[code]
Regardless of the value of `debug` it always writes to `os.Stderr`. I ditched Logrus for Echo's logger. Thanks for the awesome framework!

[2017-03-05 07:40] adred opened #872 "Is there any plan to support "binding" struct tag for Bind() method?"
Echo is awesome in its own way and I don't want to compare it to another framework. But I'd like it to adapt the `binding` tag in Gin:
[code]
If you send a payload with empty `User`, the binding will fail.

[2017-03-05 08:11] adred commented on #872
Never mind. I found out that there are packages out that handles case like this including validation.

[2017-03-05 08:11] #872 closed

[2017-03-05 18:38] kaainet opened #873 "Gzip with streaming (Flushing)"
### Description
Streaming (Flushing) fails with Gzip enabled.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour

### Actual behaviour
Fails to flush because gzipResponseWriter's method doesn't conform:
[code]
but also `return w.Writer.(*gzip.Writer).Flush()` flushes only gzip buffer while `gzipResponseWriter.ResponseWriter`

[2017-03-06 18:52] vishr commented on #871
@adred Regardless of this logic, have you tried writing to a file directly?

[2017-03-08 02:04] adred commented on #871
Sorry for the late reply. It still does not work.

[2017-03-08 04:26] vishr commented on #871
Can you make sure your gommon is update to date? I test this code on mac.

[2017-03-09 02:42] adred commented on #871
This is my current code. It now creates the file. I thought that was the issue but still no logs are written. I'm using Fedora 25. I'll try updating the package tonight. Thanks for taking time to reply.
[code]

[2017-03-09 03:01] adred opened #874 "Validator implementation"
Hi guys, I'd like to ask your opinion with regards to validation. Echo has a `Validator` interface and I tried implementing it and used a third party package called [validator](https://github.com/go-playground/validator) for the actual validation. It works really well.. until I found the need to validate query params. Since Echo's `Bind()` method doesn't bind query params  I couldn't use my `Valid

[2017-03-09 16:47] vishr commented on #748
This is fixed in latest code.

[2017-03-09 16:47] #748 closed

[2017-03-09 16:51] vishr commented on #111
Fixed.

[2017-03-09 16:51] #111 closed

[2017-03-09 16:54] vishr commented on #196
Inactive, closing.

[2017-03-09 16:54] #196 closed

[2017-03-10 02:07] mmindenhall opened #875 "Route conflict"
### Description

If I have two routes defined, one with a static value and one with a path param, the static value cannot be used as the path param even if the two routes do not have the same number of path segments.

For example, if I define these two routes:

[code]

The second route fails when `:resourceId` is `users` (but works for any other value).  I'm confused by this behavior.  I know the

[2017-03-10 02:19] adred commented on #875
[httprouter](https://github.com/julienschmidt/httprouter) has this problem which is a radix tree based router also.

[2017-03-10 05:59] mmindenhall commented on #875
Echo already does better than httprouter in this regard.  From [httprouter README](https://github.com/julienschmidt/httprouter#named-parameters):

Echo uses the same patterns as a _working_ example on the [Routing](https://echo.labstack.com/guide/routing) page of the guide:

[code]

[2017-03-10 22:13] kaainet commented on #873
Guys? Isn't it a bug?) Or it's me doing something wrong ?

[2017-03-11 00:10] #873 closed

[2017-03-11 00:10] vishr commented on #873
Please verify

[2017-03-11 11:05] adred opened #876 "Named param does not work in testing"
I'm using Ginkgo+Gomega for testing. `POST` and `ctx.QueryParam()` work but `ctx.Param()` doesn't in testing. The param is always empty in the handler. Please note that the endpoint works when testing using Postman.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Test result
[code]
### Here's the `Request`
[code]

### Test code

[code]

###

[2017-03-12 06:41] #692 closed

[2017-03-12 13:40] adred commented on #876
So the test code should be like this:
[code]
It's in the docs. Apologies.

[2017-03-12 13:40] #876 closed

[2017-03-15 09:52] sourcesoft opened #877 "Problem implementing CORS with websocket"
### Description
I'm using websocket with echo and it's working fine receiving messages:
[code]
This worked fine.
Problem rises after adding libraries other than default browser websocket implementation like socket.io or sockjs that respect CORS:
[code]
gives me CORS error in browser:
[code]

Back in Go, adding CORS middleware doesn't add the headers to socket handler.
I guess the reason is that I'

[2017-03-15 11:13] mr-tron opened #878 "broken auto-decoding urlencoded named path parameters"
### Description

### Checklist

- [ +] Dependencies installed
- [ +] No typos
- [ +] Searched existing issues and docs

### Expected behaviour

### Actual behaviour
c.Param("s") don't decode param if it encoded with urlencode

### Steps to reproduce

### Working code to debug

[code]
curl 'http://localhost:9090/ыыыы'
in stdout you can see %D1%8B%D1%8B%D1%8B%D1%8B (not ыыыы as expected)

### Versio

[2017-03-15 11:14] mr-tron commented on #878
i think #839 is the same problem

[2017-03-15 15:34] xrayid opened #879 "Getting X-Auth-Token from header."
Hello!
Thanks you for awesom framework.
How can i get X-Auth-Token for authorisation?

[2017-03-15 16:32] vishr commented on #879
`c.Request().Header.Get('X-Auth-Token')`

[2017-03-15 16:55] xrayid commented on #879
Thanks you!

[2017-03-15 16:55] #879 closed

[2017-03-15 17:19] vishr commented on #878
https://github.com/labstack/echo/issues/766

[2017-03-15 18:38] #839 closed

[2017-03-15 18:43] vishr commented on #878
@mr-tron This has been discussed many times in the above mentioned issues and finally we decided to move the unescaping logic for any kind of parameter outside the framework. So in your case you can simply unescape the parameter using `url.QueryUnescape(c.Param("s"))`. Don't hesitate to continue the discussion.

[2017-03-15 18:43] #878 closed

[2017-03-15 19:13] vishr commented on #878
Okay, we got it resolved in b2430fc4a8c023dd6a07fd3f7be19f3747861dca.

[2017-03-16 03:26] benbjurstrom commented on #866
See #633 for a JWT middleware example using the RS256 algorithm.

[2017-03-16 07:15] bsed commented on #877
i  yet think known

[2017-03-16 07:23] yoshi42662 commented on #857
This should work. I think `Group()` itself provides namespace for url, not endpoint.

[code]

when you access to `localhost:1323/v1/echo` , you'll get string like `echo V1 API` .

[2017-03-16 15:47] zer0xtgs opened #880 "cannot find package "github.com/labstack/echo/engine/standard""
### Description
Hi, I'm trying to build this project https://github.com/scotch-io/go-echo-vue-single-page-app
but go get, doesn't download some components from echo framework.
Is there any way how to solve it?
### Actual behavior
todo.go:9:2: cannot find package "github.com/labstack/echo/engine/standard" in any of:
	/usr/local/Cellar/go/1.7.3/libexec/src/github.com/labstack/echo/engine/standard (f

[2017-03-16 16:59] RyanCopley commented on #880
I'm noticing this too.

[2017-03-16 17:52] vishr commented on #880
The tutorial on the website uses Echo v2. You have to use a Go version manager to pin the dependencies as the master branch points to Echo v3.